<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="componentInfoFragment">
	<div class="chat-room mt" >
		<aside class="mid-side container">
			<div class="chat-room-head">
            		<h3>부품 정보</h3>
          		</div>
         	<div class="group-rom">
	            <div class="first-part odd">부품 이름</div>
	            <div class="second-part" th:text="${componentDTO.cpName}"></div>
			</div>
			<div class="group-rom">
	           <div class="first-part odd">부품 정보</div>
	           <div class="second-part" th:text="${componentDTO.cpInfo}"></div>
	        </div>
          	<div class="group-rom">
	           <div class="first-part odd">제조일</div>
	           <div class="second-part" th:text="${componentDTO.cpMakedate}"></div>
          	</div>
          	<div class="group-rom">
	           <div class="first-part odd">제조사</div>
	           <div class="second-part" th:text="${componentDTO.cpMaker}"></div>
          	</div>
          	<div class="group-rom">
	           <div class="first-part odd">부품사용시작일</div>
	           <div class="second-part" th:text="${componentDTO.cpUsedate}"></div>
          	</div>
        </aside>
	</div>
</div>

</html>