<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>나의 입찰 목록</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>나의 입찰 목록</strong></div>
		<div id="container-header-path">
			<a href="/" style="text-decoration: none;"> 메인화면 </a>>
			<a href="#" style="text-decoration: none;">구매관리 </a>>
			<a href="/buy/myHistory" style="text-decoration: none;"> 나의 입찰 목록</a>
		</div>
		<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-md-12 container">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i>입찰한 부품 공고</h4>
                <hr>
            	<div style="text-align : right; margin-bottom: 10px;">
	              <form th:action="@{/buy/myHistory}">
	            	<select name="searchKeyCp">
	            		<option >카테고리</option>
	            		<option value="bTitle">공고명</option>
	            		<option value="bCpStatus">공고 진행</option>
	            		<option value="trTypeName">나의 진행</option>
	            		<option value="mId">판매자</option>
	            	</select>
	            	<input type="text" placeholder="검색어" name="searchValueCp" th:value="${searchValueCp}">
	            	<input type="hidden" name="searchKeyPl" th:value="${searchKeyPl}">
		            <input type="hidden" name="searchValuePl" th:value="${searchValuePl}">
	            	<input type="submit" value = "검색" class="btn btn-default btn-sm">
	               </form>
               </div>
              <table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                    <th class="col-md-1">번호</th>
                    <th class="col-md-5"><i class="fa fa-bullhorn"></i>공고 제목</th>
                    <th class="col-md-2"><i class="fa fa-bullhorn"></i>판매자</th>
                    <th class="col-md-2" style="width: 100px;"><i class="fa fa-question-circle"></i>나의 진행</th>
   	                <th class="col-md-1"><i class="fa fa-bookmark"></i>공고 진행</th>
       	            <th class="col-md-2"><i class="fa fa-bookmark"></i>입찰신청 날짜 </th>
                  </tr>
                </thead>
                <tbody>
                	<th:block th:if="${bidComponentList!=null or bidComponentList.size()>0}" th:each="l:${bidComponentList}">
                		<th:block th:if="${bidComponentList!=null or bidComponentList.size()>0}" th:each="j:${l.bidListDTOList}">
		                  <tr>
		                    <td th:text="${j.num}"></td>
		                    <td>
		                    	<form th:action="@{/notice/announcement}" method="post">
			                      	<a class="announceTitle">[[${l.bCpTitle}]]</a>
			                      	<input type="hidden" name="announceCode" th:value="${l.bCpCode}">
			                      	<input type="hidden" name="announceType" value="부품">
		                    	</form>
		                    </td>
		                    <td th:text="${l.mId}"></td>
		                    <td th:text="${j.trTypeName}"></td>
		                    <td th:text="${l.bCpStatus}"></td>
		                    <td th:text="${j.bDate}"></td>
		                  </tr>
		                  </th:block>
                	</th:block>
                	<th:block th:if="${bidComponentList==null or bidComponentList.size()==0}">
		                  <tr>
		                    <td colspan="6" style="text-align: center;">입찰 신청한 부품 공고가 없습니다.</td>		                 
		                  </tr>
                	</th:block>
                </tbody>
                <tfoot>
                   <tr>
                   	<td colspan ="6" style="text-align:center;">
	                 	<th:block layout:fragment="paging">
                  			<nav th:replace="fragments/pagination2 :: pagination"></nav>
                  		</th:block>
                  	</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
        
		<div class="row mt">
          <div class="col-md-12 container">
            <div class="content-panel">
                <h4><i class="fa fa-angle-right"></i>입찰한 발전소 공고</h4>
                <hr>
	            <div style="text-align : right; margin-bottom: 10px;">
		              <form th:action="@{/buy/myHistory}">
		            	<select name="searchKeyPl">
		            		<option >카테고리</option>
		            		<option value="bTitle">공고명</option>
		            		<option value="bCpStatus">공고 진행</option>
		            		<option value="trTypeName">나의 진행</option>
		            		<option value="mId">판매자</option>
		            	</select>
		            	<input type="text" placeholder="검색어" name="searchValuePl" th:value="${searchValuePl}">
		            	<input type="hidden" name="searchKeyCp" th:value="${searchKeyCp}">
		            	<input type="hidden" name="searchValueCp" th:value="${searchValueCp}">
		            	<input type="submit" value = "검색" class="btn btn-default btn-sm">
		               </form>
	             </div>
              <table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                    <th class="col-md-1">번호</th>
                    <th class="col-md-5"><i class="fa fa-bullhorn"></i>공고 제목</th>
                    <th class="col-md-2"><i class="fa fa-bullhorn"></i>판매자</th>
                    <th class="col-md-2" style="width: 100px;"><i class="fa fa-question-circle"></i>나의 진행</th>
   	                <th class="col-md-1"><i class="fa fa-bookmark"></i>공고 진행</th>
       	            <th class="col-md-2"><i class="fa fa-bookmark"></i>입찰신청 날짜 </th>
                  </tr>
                </thead>
                <tbody>
                	<th:block th:if="${bidPlantList!=null or bidPlantList.size()>0}" th:each="l:${bidPlantList}">
	                	<th:block th:if="${bidPlantList!=null or bidPlantList.size()>0}" th:each="j:${l.bidListDTOList}">
		                  <tr>
		                    <td th:text="${j.num}"></td>
		                    <td>
		                    	<form th:action="@{/notice/announcement}" method="post">
			                      	<a class="announceTitle">[[${l.bPlTitle}]]</a>
			                      	<input type="hidden" name="announceCode" th:value="${l.bPlCode}">
			                      	<input type="hidden" name="announceType" value="발전소">
		                    	</form>
		                    </td>
		                    <td th:text="${l.mId}"></td>
		                    <td th:text="${j.trTypeName}"></td>
		                    <td th:text="${l.bPlStatus}"></td>
		                    <td th:text="${j.bDate}"></td>
		                  </tr>
	                	</th:block>
                	</th:block>
                	<th:block th:if="${bidPlantList==null or bidPlantList.size()==0}">
		                  <tr>
		                    <td colspan="6" style="text-align: center;">입찰 신청한 발전소 공고가 없습니다.</td>		                 
		                  </tr>
                	</th:block>
                </tbody>
                <tfoot>
                  <tr>
                  	<td colspan ="6" style="text-align:center;">
                  		<th:block layout:fragment="paging">
                  			<nav th:replace="fragments/pagination :: pagination"></nav>
                  		</th:block>
                  	</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
	</th:block>
	<!-- + '&'+'searchKeyCp='+ /*[[ ${searchKeyCp} ]]*/+ '&'+'searchValueCp='+ /*[[ ${searchValueCp} ]]*/ -->
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var buy = $('#buy');
			buy.addClass('active');
			buy.parent().find('.sub').css('display','block');
			buy.parent().find('.sub').children().eq(0).addClass('active');
			
			$('.announceTitle').click(function(){
				$(this).parent().submit();
			});
		</script>
		<script th:inline="javascript">
			/*<![CDATA[*/
			var searchKeyCp = /*[[ ${searchKeyCp} ]]*/;
			var searchValueCp = /*[[ ${searchValueCp} ]]*/;
			var searchKeyPl = /*[[ ${searchKeyPl} ]]*/;
			var searchValuePl = /*[[ ${searchValuePl} ]]*/;
			var selectCp = $('select[name="searchKeyCp"]');
			var selectPl = $('select[name="searchKeyPl"]');
			selectCp.children().each(function(){
				if($(this).val()==searchKeyCp){
					$(this).prop('selected',true);
				}
			})
			selectPl.children().each(function(){
				if($(this).val()==searchKeyPl){
					$(this).prop('selected',true);
				}
			})
			console.log(searchKeyCp)
			function movePage(uri, queryString) {
				location.href = uri + queryString + '&searchKeyCp='+ searchKeyCp+ '&searchValueCp=' + searchValueCp + '&searchKeyPl='+ searchKeyPl+ '&searchValuePl=' + searchValuePl;
			}
			
			function movePage2(uri, queryString) {
				location.href = uri + queryString + '&searchKeyCp='+ searchKeyCp+ '&searchValueCp=' + searchValueCp + '&searchKeyPl='+ searchKeyPl+ '&searchValuePl=' + searchValuePl;
			}

			/*]]>*/
		</script>
	</th:block>
</html>