<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
		이곳에 내용을 쓰세요	
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var buy = $('#buy');
			buy.addClass('active');
			buy.parent().find('.sub').css('display','block');
			buy.parent().find('.sub').children().eq(3).addClass('active');
		</script>
	</th:block>
</html>