<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>예치금 환불 신청</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>발전소 리스트</strong></div>
		<div id="container-header-path">
			<a href="/" style="text-decoration: none;">메인화면 </a>>
			<a href="/plant/plantList" style="text-decoration: none;"> 내 발전소 관리 </a>>
			<a href="/plant/plantList" style="text-decoration: none;"> 발전소 리스트 </a>
		</div>
		<div id="container-header-space"></div>
		<div class="chat-room mt">
          <aside class="mid-side container">
            <div class="chat-room-head">
              <h3>예치금 환불 신청</h3>
            </div>
            <div class="group-rom">
              <div class="first-part odd">공고 제목</div>
              <div class="second-part" >짱좋은 부품 팝니다</div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">입찰금액</div>
              <div class="second-part" >110,000,000</div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">예치금</div>
              <div class="second-part" >5,500,000</div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">은행</div>
              <div class="second-part" >
              	<select>
              		<option>:::::은행선택:::::</option>
              		<option>국민</option>
              		<option>농협</option>
              		<option>신한</option>
              		<option>전북</option>
              		<option>기업</option>
              		<option>새마을</option>
              	</select>
              </div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">계좌번호</div>
              <div class="second-part" ><input type="text"></div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">예금주이름</div>
              <div class="second-part" ><input type="text"></div>
            </div>
          </aside>
        </div>
		<div class="row" style="margin: 5px 0px;">
			<div class="form-inline" style="text-align: center;">
				<a href="/buy/depositList">
					<button class="btn btn-default" type="submit" style="width: 80px;">환불신청</button>
				</a>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		
		<script type="text/javascript">
			var buy = $('#buy');
			buy.addClass('active');
			buy.parent().find('.sub').css('display','block');
			buy.parent().find('.sub').children().eq(1).addClass('active');
		</script>
	</th:block>
</html>