<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="tradePaymentFragment">
	<div class="chat-room mt" >
		<aside class="mid-side container">
			<div class="chat-room-head">
            		<h3>거래 정보</h3>
          		</div>
			<div class="group-rom">
	           <div class="first-part odd">거래 순위</div>
	           <div class="second-part" th:unless="${status == '계약대기'}">1</div>
	           <div class="second-part" th:if="${status == '계약대기'}">2</div>
	        </div>
			<div class="group-rom">
	           <div class="first-part odd">입찰금액</div>
	           <div class="second-part" ></div>
	        </div>
	        <div th:if="${status=='계약중' 
				        or status=='계약취소' 
				        or status=='계약완료' 
				        or status=='계약종료' 
				        or status=='대금처리중' 
				        or status=='대금미납' 
				        or status=='대금완료' 
				        or status=='공고 최종 완료'}">
	          	<div class="group-rom">
		           <div class="first-part odd">계약체결시작일</div>
		           <div class="second-part" >2021-03-20</div>
	          	</div>
	          	<div class="group-rom">
		           <div class="first-part odd">계약체결마감일</div>
		           <div class="second-part">2021-03-30</div>
	          	</div>
	          	<div class="group-rom">
		           <div class="first-part odd">대금납부 기간</div>
		           <div class="second-part">2021-03-30 ~ 2021-04-09</div>
	          	</div>
	        </div>
        </aside>
	</div>
</div>

</html>