<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
		<title>개인 계좌수정</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	</th:block>
	
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>계좌수정</strong></div>
     	<div id="container-header-path">
	   		<a href="/" style="text-decoration: none;"> 메인화면 </a>> MY PAGE > 
	   		<a href="/mypage/myAccount" style="text-decoration: none;"> 내 계좌관리 </a>> 계좌수정
     	</div>
     	<div id="container-header-space"></div>	
		
		<div class="row mt">
          <div class="col-lg-12">
             <div class="content-panel" style="padding: 30px;">
              <h4 class="mb"><i class="fa fa-angle-right"></i>개인 정보 수정</h4>
              <form th:action="@{/mypage/modifyAccount}" method="post" class="form-horizontal style-form">
            	<input type="text" name="mAccountIdx" th:value="${memberAccountDTO.mAccountIdx}" hidden="hidden">
				<input type="text" name="mId" th:value="${memberAccountDTO.mId}" hidden="hidden">
				<input type="text" name="mAccountRegDate" th:value="${memberAccountDTO.mAccountRegDate}" hidden="hidden">
				
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">계좌번호</label>
                  <div class="col-lg-10">
                  	<input type="text" th:value="${memberAccountDTO.mAccountNumber}" name="mAccountNumber" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">예금주명</label>
                  <div class="col-lg-10">
                  	<input type="text" th:value="${memberAccountDTO.mAccountName}" name="mAccountName" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">은행명</label>
                  <div class="col-lg-10">
                  	<input type="text" th:value="${memberAccountDTO.mAccountBank}" name="mAccountBank" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">사용여부</label>
                  <div class="col-lg-10">
                  	<label>
					Y  <input type="radio" value="Y" name="mAccountCheck" th:checked="${memberAccountDTO.mAccountCheck == 'Y'}">
					</label>
					<label>
					N  <input type="radio" value="N" name="mAccountCheck" th:checked="${memberAccountDTO.mAccountCheck == 'N'}">
					</label>
                  </div>
                </div>
                <div class="form-group" text-align="center">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button id="accountBtn" type="submit" class="btn btn-info">계좌수정</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
	</th:block>
	
	<th:block layout:fragment="customScript">
	
		<script type="text/javascript">
			//메뉴탭
			var mypage = $('#mypage');
			mypage.addClass('active');
			mypage.parent().find('.sub').css('display','block');
			mypage.parent().find('.sub').children().eq(0).addClass('active');
			
			//유효성검사
			 $('#accountBtn').click(function(){
			 	if($('[name="mAccountNumber"]').val()==''){
					alert('계좌번호를 입력해주세요.');
					$('[name="mAccountNumber"]').focus();
					return false;
				}if($('[name="mAccountName"]').val()==''){
					alert('예금주명을 입력해주세요.')
					$('[name="mAccountName"]').focus();
					return false;
				}if($('[name="mAccountBank"]').val()==''){
					alert('은행명을 입력해주세요.')
					$('[name="mAccountBank"]').focus();
					return false;
				}if($('[name="mAccountCheck"]:checked').length==0){
					alert('사용여부를 체크해주세요.');
					return false;
				}
			 })	

		</script>
	</th:block>
</html>