<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>내 회원 정보수정</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>회원정보 수정</strong></div>
     	<div id="container-header-path">마이페이지 > 내 정보관리 > 회원정보 수정</div>
     	<div id="container-header-space"></div>	
     		<form th:action="@{/mypage/ModifyMyInfo}" method="post" enctype="multipart/form-data">
				<table border="1">
					<input type="text" name="mId" th:value="${memberDTO.mId}" hidden="hidden">
					<tr>
						<td>이름</td>
						<td>
							<input type="text" name="mName" th:value="${memberDTO.mName}"/>
						</td>
					</tr>
					<tr>
						<td>이메일</td>
						<td>
							<input type="text" name="mEmail" th:value="${memberDTO.mEmail}"/>
						</td>
					</tr>
					<tr>
						<td>전화번호</td>
						<td>
							<input type="text" name="mPhone" th:value="${memberDTO.mPhone}"/>
						</td>
					</tr>
					<tr>
						<td>우편번호</td>
						<td>
							<input type="text" name="mZipcode" th:value="${memberDTO.mZipcode}"/>
						</td>
					</tr>
					<tr>
						<td>도로명주소</td>
						<td>
							<input type="text" name="mAddr" th:value="${memberDTO.mAddr}"/>
						</td>
					</tr>
					<tr>
						<td>상세주소</td>
						<td>
							<input type="text" name="mDetailAddr" th:value="${memberDTO.mDetailAddr}"/>
						</td>
					</tr>
					<tr>
						<td>프로필사진 첨부파일</td>
						<td>
							<input type="text" name="mPhoto" th:value="${memberDTO.mPhoto}"/>
						</td>
					</tr>
					<tr>
						<td colspan="2" style="text-align: center;">
							<button type="submit">회원수정</button>
						</td>
					</tr>
				</table>
			</form>	
	</th:block>
	
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var mypage = $('#mypage');
			mypage.addClass('active');
			mypage.parent().find('.sub').css('display', 'block');
			mypage.parent().find('.sub').children().eq(3).addClass('active');
		</script>
	</th:block>
</html>
