<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>개인 프로필수정</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	
	</th:block>
	
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>프로필수정</strong></div>
     	<div id="container-header-path">마이페이지 > 내 정보관리 > 프로필수정</div>
     	<div id="container-header-space"></div>	
		
		<div class="row mt">
          <div class="col-lg-12">
             <div class="content-panel" style="padding: 30px;">
              <h4 class="mb"><i class="fa fa-angle-right"></i>개인 프로필수정</h4>
              <form th:action="@{/mypage/ModifyMyInfo}" method="post" class="form-horizontal style-form" >
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">프로필 사진</label>
                  <div class="col-sm-10">
	                  <div class="col-md-9">
	                    <div class="fileupload fileupload-new" data-provides="fileupload">
	                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
	                      	<input type="file"  name="mPhoto" class="form-control">
	                        <img th:if="${memberDTO.mPhoto} == null" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
	                        <img th:if="${memberDTO.mPhoto} != null" src="${memberDTO.mPhoto}" alt="" />
	                      </div>
	                    </div>
	                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">아이디</label>
                  <div class="col-lg-10">
                  	<input type="text"  name="mId" th:value="${memberDTO.mId}" class="form-control" readonly="readonly">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">이름</label>
                  <div class="col-lg-10">
                  	<input type="text" name="mName" th:value="${memberDTO.mName}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">연락처</label>
                  <div class="col-lg-10">
                  	<input type="text" name="mPhone" th:value="${memberDTO.mPhone}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">이메일</label>
                  <div class="col-lg-10">
                  	<input type="text" name="mEmail" th:value="${memberDTO.mEmail}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">우편번호</label>
                  <div class="col-lg-10">
                  	<input type="text" name="mZipcode" th:value="${memberDTO.mZipcode}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">도로명주소</label>
                  <div class="col-lg-10">
                  	<input type="text" name="mAddr" th:value="${memberDTO.mAddr}" class="form-control">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">상세주소</label>
                  <div class="col-lg-10">
                  	<input type="text" name="mDetailAddr" th:value="${memberDTO.mDetailAddr}" class="form-control">
                  </div>
                </div>
                <div class="form-group" text-align="center">
                  <div class="col-lg-offset-2 col-lg-10">
                    <button id="modifyBtn" type="submit" class="btn btn-info">수정</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
	</th:block>
	
	<th:block layout:fragment="customScript">
	
		<script type="text/javascript">
			//메뉴 버튼
			var mypage = $('#mypage');
			mypage.addClass('active');
			mypage.parent().find('.sub').css('display','block');
			mypage.parent().find('.sub').children().eq(0).addClass('active');
			
			
			/* 
			//유효성 검사
			var mPw = $('[name="mPw"]');
			
			$('#modifyBtn').click(function(){
				if(mPw.val()==''){
					alert('현재 비밀번호를 입력해주세요.');
					mPw.focus();
					return false;
				}
			 */
		</script>
	</th:block>
</html>