<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
			<title>개인 프로필수정</title>
	</th:block>
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>프로필수정</strong></div>
	
	<div id="container-header-path">
	<a href="/" style="text-decoration: none;"> 메인화면 </a>> MY PAGE > 
	<a href="/mypage/myInfo" style="text-decoration: none;"> 내 정보관리 </a>>
		프로필 수정
	</div>
	
	<div id="container-header-space"></div>
	<div class="row mt">
		<div class="col-lg-12">
			<div class="content-panel" style="padding: 30px;">
				<div class="form-horizontal style-form">
					<h4 class="mb"><i class="fa fa-angle-right"></i>프로필수정</h4>
					
					<div class="form-group">
	                  	<label class="col-sm-2 control-label">프로필 사진</label>
	                  		<form>
		               			<input type="file" id="inputFile"/>
		               		</form>
		                  <div class="col-md-1">
		                  	<div th:if="${session.SID ne null and session.SPHOTO ne ''}" class="selectImg"><img class="img-circle" th:src="${memberDTO.mPhoto}" width="80" src=""  /></div>
		        			<p class="centered" th:if="${session.SID ne null and session.SPHOTO eq null or session.SPHOTO eq ''}"><img src="/img/basicMemberPicture.jpg" onerror="/img/basicMemberPicture.jpg" class="img-circle" width="40"></p>
		                  </div>						
					</div>
					<div class="form-group">
					  <input type="text" readonly="readonly" hidden="hidden" id="memberCodeCheckValue" value="">
					  <label for="memberId" style="margin-top: 13px;" class="col-sm-2 col-sm-2 control-label">아이디</label><br>
					  <div class="col-lg-10">
					  	<input type="text" class="form-control" id="memberId"  th:value="${memberDTO.mId}" readonly="readonly">
					  </div>
					</div> 
					<div class="form-group">
					    <label for="memberName" class="col-sm-2 col-sm-2 control-label">이름</label>
						<div class="col-lg-10">
							<input type="text" name="mName" id="memberName" th:value="${memberDTO.mName}" class="form-control">
						</div>					    
					</div>					  
					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label">연락처</label>
						<div class="col-lg-10">
							<input type="text" name="mPhone" th:value="${memberDTO.mPhone}" class="form-control" id="memberPhone">
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label" for="memberEmail">이메일</label>
						<div class="col-lg-10">
							<input type="email" name="mEmail" id="memberEmail" th:value="${memberDTO.mEmail}" class="form-control">
						</div>
					</div>	
					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label">우편번호</label>
						<div class="col-lg-10">
							<div class="form-inline">
								<input type="text" name="mZipcode" th:value="${memberDTO.mZipcode}" id="postcode" class="form-control col-md-12" placeholder="우편번호" readonly="readonly">
								<input type="button" onclick="execDaumPostcode()" class="btn btn-default" value="우편번호 찾기">
							</div>
						</div>	
					</div>					
					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label">도로명주소</label>
						<div class="col-lg-10">
							<input type="text" name="mAddr" id="roadAddress" th:value="${memberDTO.mAddr}" class="form-control" placeholder="도로명주소"> 
						</div>							
						<input type="hidden" id="jibunAddress" class="form-control" placeholder="">
					</div>
					<div class="form-group">
						<label class="col-sm-2 col-sm-2 control-label">상세주소</label>
						<div class="col-lg-10">
							<input type="text" name="mDetailAddr" id="detailAddress" th:value="${memberDTO.mDetailAddr}" class="form-control" placeholder="상세주소">
						</div>
					</div>											
					<div class="form-group">
						<div class="col-lg-offset-2 col-lg-10">
							<button type="button" class="btn standardBtn" onclick="modify()">수정</button>
						</div>
					</div>						
				</div>
			</div>
		</div>	
	</div>	
		
		
	<th:block layout:fragment="customScript">
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript">
		
		//메뉴탭
		var mypage = $('#mypage');
		mypage.addClass('active');
		mypage.parent().find('.sub').css('display', 'block');
		mypage.parent().find('.sub').children().eq(0).addClass('active');
		
		
		
			
			//유효성 검사 & 회원수정AJAX
			function modify(){
				var memberCodeCheckValue = $('#memberCodeCheckValue');
				var memberId = $('#memberId');
				var postcode = $('#postcode');
				var roadAddress = $('#roadAddress');
				var jibunAddress = $('#jibunAddress');
				var detailAddress = $('#detailAddress');
				var memberEmail = $('#memberEmail');
				var memberName = $('#memberName');
				var memberPhone = $('#memberPhone');
				var memberPhoneSum = ($(memberPhone[0]).val() + '-' +  $(memberPhone[1]).val() + '-' + $(memberPhone[2]).val());

				
				if(memberName.val() == null || memberName.val() == "" || memberName.val() == 'undefined'){
					Swal.fire({
						  title: '이름을 입력해주세요!',
						  icon: 'info'
						})
					memberName.focus();
					return;
				}else if(memberEmail.val() == null || memberEmail.val() == "" || memberEmail.val() == 'undefined'){
					Swal.fire({
						  title: '이메일을 입력해주세요!',
						  icon: 'info'
						})
					memberEmail.focus();
					return;
				}else if(memberPhone.val() == ""){
					Swal.fire({
						  title: '연락처를 입력해주세요!',
						  icon: 'info'
						})
					memberPhone.focus();
					return;				
				}else if(postcode.val() == ""){
					Swal.fire({
						  title: '우편번호를 입력해주세요!',
						  icon: 'info'
						})
					postcode.focus();
					return;
				}else if(detailAddress.val() == ""){
					Swal.fire({
						  title: '상세주소를 입력해주세요!',
						  icon: 'info'
						})
					detailAddress.focus();
					return;
				}	
				
				
				////////////////////////이메일 유효성검사//////////////////////////
				 var regex=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
				 if(regex.test(memberEmail.val()) === false){
					 Swal.fire({
						  title: '잘못된 이메일 형식입니다!',
						  text: '이메일을 다시 입력 해주세요.',
						  icon: 'error'
						});
					 memberEmail.focus();
					 return false;
				 }
				

				
				//파일 업로드 ImgBB
				var file = document.getElementById('inputFile');
				var form = new FormData();
				var fileURL = '';
				form.append("image", file.files[0])
				
				var settings = {
				  "url": "https://api.imgbb.com/1/upload?key=0b3bc29eab18a6d8178b0e736b391d93",
				  "method": "POST",
				  "timeout": 0,
				  "processData": false,
				  "mimeType": "multipart/form-data",
				  "contentType": false,
				  "data": form
				};
					
					
				$.ajax(settings).done(function (response) {
					console.log(response);
					var jx = JSON.parse(response);
					fileURL = jx.data.url;	
					fileDeleteURL = jx.data.delete_url;
					$.ajax({
				        url     : '/ajax/modifyMyInfo',
				        type    : 'POST',
				        data    :   {memberId:memberId.val()
				        			,memberName:memberName.val()
				        			,memberPhone:memberPhone.val()
				        			,memberEmail:memberEmail.val()
				        			,postcode:postcode.val()
				        			,roadAddress:roadAddress.val()
				        			,detailAddress:detailAddress.val()
				        			,inputFile:fileURL},
				        success : function(data) {
				        	if(data){
				        		Swal.fire({
									  title: '회원수정이 완료되었습니다!',
									  icon: 'success'
									});
				        		setTimeout(function(){
					        		document.location.href = '/mypage/myInfo';
				        		}, 800);
				        	}else{
				        		Swal.fire({
									  title: '회원수정을 실패했습니다!',
									  icon: 'error'
									});
				        		setTimeout(function(){
					        		document.location.href = '/mypage/myInfo';
				        		}, 800);
				        	}
				        },
				        error : function(xhr,status,error) {
				        	console.log("xhr: " + xhr);
				        	console.log("status: " + status);
				        	console.log("error: " + error);
				        }
				    });
				});
			}
			
			//우편번호 api
			function execDaumPostcode() {
			    new daum.Postcode({
			        oncomplete: function(data) {
			            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

			            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
			            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			            var roadAddr = data.roadAddress; // 도로명 주소 변수
			            var extraRoadAddr = ''; // 참고 항목 변수

			            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
			            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
			            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
			                extraRoadAddr += data.bname;
			            }
			            // 건물명이 있고, 공동주택일 경우 추가한다.
			            if(data.buildingName !== '' && data.apartment === 'Y'){
			               extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
			            }
			            // 우편번호와 주소 정보를 해당 필드에 넣는다.
			            document.getElementById('postcode').value = data.zonecode;
			            document.getElementById("roadAddress").value = roadAddr;
			            document.getElementById("jibunAddress").value = data.jibunAddress;

			        }
			    }).open();
			}
			
			
			//프로필 썸네일 
			  $("#inputFile").change(function(){
			   if(this.files && this.files[0]) {
			    var reader = new FileReader;
			    reader.onload = function(data) {
			     $(".selectImg img").attr("src", data.target.result).width(150);        
			    }
			    reader.readAsDataURL(this.files[0]);
			   }
			  });		
		</script>
	</th:block>
</html>
