<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>개인 계좌 조회</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	
	<style>
	th, tbody {
		text-align:center;
	}
	</style>		  
	
	</th:block>
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>내 계좌관리</strong></div>
      <div id="container-header-path">
   		<a href="/" style="text-decoration: none;"> 메인화면 </a>> MY PAGE > 
   		<a href="/mypage/myAccount" style="text-decoration: none;"> 내 계좌관리 </a>
      </div>
      <div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
             <div class="content-panel" style="padding: 30px;">
				<h4><i class="fa fa-angle-right"></i> 내 계좌리스트</h4>
	              <section id="no-more-tables">
	                <table class="table table-bordered table-striped table-condensed cf">
	                  <thead class="cf">
						<tr>
							<th class="col-md-4">계좌번호</th>
							<th class="col-md-1">은행명</th>
							<th class="col-md-1">예금주명</th>
							<th class="col-md-3">계좌 등록일</th>
							<th class="col-md-1">사용여부</th>
							<th class="col-md-1">사용여부변경</th>
							<th class="col-md-1">삭제</th>
						</tr>
					</thead>
					<tbody>
						<th:block th:if="${memberAccountDTOList != null}" th:each="l : ${memberAccountDTOList}">
							<tr>
								<td data-title="계좌번호" th:text="${l.mAccountNumber}"></td>
								<td data-title="은행명" th:text="${l.mAccountBank}"></td>
								<td data-title="예금주명" th:text="${l.mAccountName}"></td>
								<td data-title="계좌 등록일" th:text="${l.mAccountRegDate}"></td>
								<td data-title="사용여부" class="useCheck" th:text="${l.mAccountCheck}"></td>
								<td data-title="사용 여부변경">
									<button id="useBtn" type="button" class="btn btn-default btn-xs">
									  <span class="glyphicon glyphicon-random" aria-hidden="true"></span>
									</button>
								</td>
								<td data-title="삭제">
									<a class="btn btn-danger btn-xs" th:href="@{/mypage/removeAccount(mAccountIdx=${l.mAccountIdx})}">삭제</a>
								</td>
							</tr>
						</th:block>
						
						<th:block th:if="${memberAccountDTOList == null || memberAccountDTOList.size() == 0}">
		                  <tr>
		                    <td colspan="7" style="text-align: center;">등록된 계좌가 없습니다.</td>		                 
		                  </tr>
                		</th:block>
					</tbody>
				</table>
				<div class="form-group" style="text-align: center;">
					<a th:href="@{/mypage/addAccount}" class="btn btn-theme">계좌추가</a>
				</div>
				</section>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			//메뉴 탭
			var mypage = $('#mypage');
			mypage.addClass('active');
			mypage.parent().find('.sub').css('display','block');
			mypage.parent().find('.sub').children().eq(1).addClass('active');
			
			
		/* 	//사용여부 변경
			$(document).on('click','#useBtn',function(){
				${'.useCheck'}.text{'qwe'};		
			}); */
		</script>
	</th:block>
</html>