<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>개인 정보 조회</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>내 정보관리</strong></div>
     	<div id="container-header-path">마이페이지 > 내 정보관리</div>
     	<div id="container-header-space"></div>	
		<table border="1">
			<tr>
				<td>이름</td>
				<td>
					<input type="text" name="mName" th:value="${memberDTO.mName}" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td>이메일</td>
				<td>
					<input type="text" name="mEmail" th:value="${memberDTO.mEmail}" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td>전화번호</td>
				<td>
					<input type="text" name="mPhone" th:value="${memberDTO.mPhone}" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td>우편번호</td>
				<td>
					<input type="text" name="mZipcode" th:value="${memberDTO.mZipcode}" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td>도로명주소</td>
				<td>
					<input type="text" name="mAddr" th:value="${memberDTO.mAddr}" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td>상세주소</td>
				<td>
					<input type="text" name="mDetailAddr" th:value="${memberDTO.mDetailAddr}" readonly="readonly"/>
				</td>
			</tr>
			<tr>
				<td>프로필사진 첨부파일</td>
				<td>
					<input type="text" name="mPhoto" th:value="${memberDTO.mPhoto}" readonly="readonly"/>
				</td>
			</tr>
		</table>
		<a th:href="@{/mypage/ModifyMyInfo}">회원정보 수정</a> 
	</th:block>
	
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var mypage = $('#mypage');
			mypage.addClass('active');
			mypage.parent().find('.sub').css('display', 'block');
			mypage.parent().find('.sub').children().eq(3).addClass('active');
		</script>
	</th:block>
</html>