<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>회원 탈퇴신청</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>회원탈퇴 신청</strong></div>
     	<div id="container-header-path">마이페이지 > 회원탈퇴</div>
     	<div id="container-header-space"></div>	
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var mypage = $('#mypage');
			mypage.addClass('active');
			mypage.parent().find('.sub').css('display','block');
			mypage.parent().find('.sub').children().eq(2).addClass('active');
		</script>
	</th:block>
</html>