<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

		<th:block layout:fragment="customTitle">
			<title>타이틀 입력</title>
		</th:block>
		<th:block layout:fragment="Contents">
		  <!--main content start-->
		  	<div class="container">
				<h2>게시판 글쓰기</h2>
				<form th:action="@{/board/updateBoard}" method ="post">
					제목 <input type="text" name="title" th:value="${update.title}">
					내용 	<textarea name="contents">[[${update.contents}]]</textarea>
					작성자 <input type="text" name="creatorId" th:value="${update.creatorId}" readonly>
					<input type="hidden" th:value="${update.boardIdx}">
					<input type="submit" value ="수정">
				</form>
			</div>

	</th:block>
	<th:block layout:fragment="customScript">

		 
	</th:block>
</html>
