<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.BankAccountMapper">
	<resultMap type="MemberAccountDTO" id="MemberAccountDTOMap">
		<result property="mAccountIdx" 		column="m_account_idx" />
		<result property="mId" 				column="m_id" />
		<result property="mAccountNumber" 	column="m_account_number" />
		<result property="mAccountName" 	column="m_account_name" />
		<result property="mAccountBank" 	column="m_account_bank" />
		<result property="mAccountRegDate" 	column="m_account_reg_date" />
		<result property="mAccountCheck" 	column="m_account_check" />
	</resultMap>


	<!-- 계좌 삭제처리  -->
	<delete id="removeAccount" parameterType="int">
		DELETE FROM tb_member_account
		WHERE 
			m_account_idx = #{mAccountIdx};
	</delete>

	<!-- 계좌 수정처리  -->
	<update id="modifyAccount" parameterType="MemberAccountDTO">
		UPDATE tb_member_account
		SET
			m_account_number=#{mAccountNumber},
			m_account_name=#{mAccountName},
			m_account_bank=#{mAccountBank},
			m_account_reg_date=NOW(),
			m_account_check=#{mAccountCheck}
		WHERE
			m_account_idx = #{mAccountIdx};
	</update>
	
	<!-- 개인계좌 수정화면 -->
	<select id="modifyAccountByIdx" parameterType="int" resultMap="MemberAccountDTOMap">
		SELECT 
			  m_account_idx
			, m_id
			, m_account_number
			, m_account_name
			, m_account_bank
			, m_account_check
			, m_account_reg_date
		FROM 
			tb_member_account
		WHERE
			m_account_idx = #{mAccountIdx};
		
	</select>

	<!-- 개인 계좌등록 -->
	<insert id="addAccout" parameterType="MemberAccountDTO">
		INSERT INTO tb_member_account
			( m_account_idx
			, m_id
			, m_account_number
			, m_account_name
			, m_account_bank
			, m_account_reg_date
			, m_account_check)
		VALUES 
			( sf_new_account_idx()
			, #{mId}
			, #{mAccountNumber}
			, #{mAccountName}
			, #{mAccountBank}
			, NOW()
			, #{mAccountCheck})
	</insert>
	
	
	<!-- 개인 계좌조회 -->
	<select id="getAccountListById" parameterType="String" resultMap="MemberAccountDTOMap">
		SELECT
			  m_account_idx	
			, m_account_number
			, m_account_name
			, m_account_bank
			, m_account_reg_date
			, m_account_check
		FROM
			tb_member_account
		WHERE
			 m_id= #{login_id};
	</select>
	
	<select id="getAccountListByManager" parameterType="String" resultMap="MemberAccountDTOMap">
		SELECT
			  m_account_idx	
			, m_account_number
			, m_account_name
			, m_account_bank
			, m_account_reg_date
			, m_account_check
		FROM
			tb_member_account
		WHERE m_id in
		<foreach item="item" index="index" collection="list"
	      open="(" separator="," close=")">
			 #{item}
	  	</foreach>
	</select>

</mapper>
