<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.BankAccountMapper">
	<resultMap type="MemberAccountDTO" id="MemberAccountDTOMap">
		<result property="mAccountIdx" 		column="m_account_idx" />
		<result property="mId" 				column="m_id" />
		<result property="mAccountNumber" 	column="m_account_number" />
		<result property="mAccountName" 	column="m_account_name" />
		<result property="mAccountBank" 	column="m_account_bank" />
		<result property="mAccountRegDate" 	column="m_account_reg_date" />
		<result property="mAccountCheck" 	column="m_account_check" />
	</resultMap>


	<!--  -->

	<!-- 계좌 삭제처리  -->
	<delete id="removeAccount" parameterType="int">
		DELETE FROM tb_member_account
		WHERE 
			m_account_idx = #{mAccountIdx};
	</delete>


	<!-- 계좌 사용여부 변경처리 -->
	<update id="modifyAccountUse" parameterType="map">
		UPDATE tb_member_account
		SET
		<if test="mAccountCheck == 'Y'">
			m_account_check = 'N'
		</if>
		<if test="mAccountCheck == 'N'">
			m_account_check = 'Y'
		</if>
			WHERE m_account_idx = #{mAccountIdx} 
	</update>
	

	<!-- 개인 계좌등록 -->
	<insert id="addAccout" parameterType="MemberAccountDTO">
		INSERT INTO tb_member_account
			( m_id
			, m_account_number
			, m_account_name
			, m_account_bank
			, m_account_reg_date
			, m_account_check)
		VALUES 
			( #{mId}
			, #{mAccountNumber}
			, #{mAccountName}
			, #{mAccountBank}
			, NOW()
			, #{mAccountCheck})
	</insert>
	
	
	<!-- 개인 계좌조회 -->
	<select id="getAccountListById" parameterType="String" resultMap="MemberAccountDTOMap">
		SELECT
			  m_account_idx	
			, m_account_number
			, m_account_name
			, m_account_bank
			, m_account_reg_date
			, m_account_check
		FROM
			tb_member_account
		WHERE
			 m_id= #{login_id};
	</select>
	
	
	<select id="getAccountListByIdx" parameterType="String" resultMap="MemberAccountDTOMap">
		SELECT
			  m_account_idx	
			, m_account_number
			, m_account_name
			, m_account_bank
			, m_account_reg_date
			, m_account_check
		FROM
			tb_member_account
		WHERE
			m_account_idx = #{mAccountIdx};
	</select>
	
	<select id="getAccountListByManager" parameterType="String" resultMap="MemberAccountDTOMap">
		SELECT
			  m_account_idx	
			, m_account_number
			, m_account_name
			, m_account_bank
			, m_account_reg_date
			, m_account_check
		FROM
			tb_member_account
		WHERE 
			m_id in
			<foreach item="item" index="index" collection="list"
		      open="(" separator="," close=")">
				 #{item}
		  	</foreach>
	  		and m_account_check = 'Y'
	  	group by m_account_bank
	</select>

</mapper>
