<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.BidComponentMapper">
	<resultMap type="BidComponentDTO" id="BidComponentDTOMap">
		<result property="bCpCode" 			column="b_cp_code" />
		<result property="mId" 				column="sell_id" />
		<result property="bCpTitle" 		column="b_cp_title" />
		<result property="cpCode" 			column="cp_code" />
		<result property="bCpContents"		column="b_cp_contents" />		
		<result property="bCpPrice" 		column="b_cp_price" />	
		<result property="cpUsedate" 		column="cp_usedate" />	
		<result property="bCpStatus" 		column="b_cp_status" />	
		<result property="bCpDate" 			column="b_cp_date" />	
		<result property="bCpDateBidding1" 	column="b_cp_date_bidding1" />	
		<result property="bCpDateBidding2" 	column="b_cp_date_bidding2" />	
		<result property="bCpDateDecision1" column="b_cp_date_decision1" />	
		<result property="bCpDateDecision2" column="b_cp_date_decision2" />	
		<result property="bCpGroupcode" 	column="b_cp_groupcode" />	
		<result property="bCpReCount" 		column="b_cp_re_count" />	
		<result property="bCpConfirm" 		column="b_cp_confirm" />	
		<result property="bCpConfirmStatus" column="b_cp_confirm_status" />	
		<result property="bCpRejectReason" 	column="b_cp_reject_reason" />	
		<result property="bCpCancelReason" 	column="b_cp_cancel_reason" />	
		<result property="bCpCancelDate" 	column="b_cp_cancel_date" />	
		<result property="acStatusCode" 	column="ac_status_code" />
		<collection property="bidListDTOList" 		ofType="BidListDTO">
    		<id 	property="bCode" 				column="b_code"/>
			<result property="announcedCode" 		column="announced_code" />
			<result property="bTypeCode" 			column="b_type_code" />
			<result property="mId"					column="buy_id" />
			<result property="bPrice" 				column="b_price" />
			<result property="sDepositRate" 		column="s_dep_rate" />
			<result property="bDeposit" 			column="b_deposit" />
			<result property="bDepositCheck" 		column="b_deposit_check" />
			<result property="bMoCode" 				column="b_mo_code" />
			<result property="bDepositDate" 		column="b_deposit_date" />
			<result property="trTypeCode" 			column="tr_type_code" />
			<result property="trTypeName" 			column="tr_type_name" />
			<result property="bDate" 				column="b_date" />
			<result property="bCheck" 				column="b_check" />
			<result property="bRank" 				column="b_rank" />
			<result property="bDepositAvailable" 	column="b_deposit_available" />
			<result property="bDepositRefund" 		column="b_deposit_refund" />
			<result property="bDateUp" 				column="b_date_up" />
   		</collection>
		<collection property="bidListDTO" 		resultMap="bidListDTOMap" />
	</resultMap>
	<resultMap type="BidListDTO" id="bidListDTOMap">
		<id 	property="bCode" 				column="b_code"/>
		<result property="announcedCode" 		column="announced_code" />
		<result property="bTypeCode" 			column="b_type_code" />
		<result property="mId"					column="buy_id" />
		<result property="bPrice" 				column="b_price" />
		<result property="bTitle" 				column="b_title" />
		<result property="sDepositRate" 		column="s_dep_rate" />
		<result property="bDeposit" 			column="b_deposit" />
		<result property="bDepositCheck" 		column="b_deposit_check" />
		<result property="bMoCode" 				column="b_mo_code" />
		<result property="bDepositDate" 		column="b_deposit_date" />
		<result property="trTypeCode" 			column="tr_type_code" />
		<result property="trTypeName" 			column="tr_type_name" />
		<result property="bDate" 				column="b_date" />
		<result property="bCheck" 				column="b_check" />
		<result property="bRank" 				column="b_rank" />
		<result property="bDepositAvailable" 	column="b_deposit_available" />
		<result property="bDepositRefund" 		column="b_deposit_refund" />
		<result property="bDateUp" 				column="b_date_up" />
	</resultMap>
	<resultMap type="ComponentDTO" id="ComponentDTOMap">
		<result property="cpCode" 			column="cp_code" />
		<result property="mId" 				column="m_id" />
		<result property="cpName" 			column="cp_name" />
		<result property="cpInfo" 			column="cp_info" />
		<result property="cpMaker"			column="cp_maker" />		
		<result property="cpMakedate" 		column="cp_makedate" />	
		<result property="cpUsedate" 		column="cp_usedate" />	
		<result property="cpDate" 			column="cp_date" />	
		<result property="cpPhoto" 			column="cp_photo" />	
	</resultMap>
	
	
		<!-- 공고신청 발전소 반려처리  -->
	<update id="bidComponentReturn" parameterType="String">
		UPDATE tb_bid_component
			SET
				b_cp_status='공고반려',
				ac_status_code=3,
				b_cp_confirm=NOW(),
				b_cp_confirm_status='Y',
				b_cp_reject_reason = #{bCpRejectReason}
			WHERE 
				b_cp_code = #{bCpCode}
	</update>
	
	<!-- 공고신청 발전소 승인처리 -->
	<update id="bidComponentAdmit" parameterType="String">
		UPDATE tb_bid_component
			SET
				b_cp_status='공고승인',
				ac_status_code=2,
				b_cp_confirm=NOW(),
				b_cp_confirm_status='Y'
			WHERE 
				b_cp_code = #{bCpCode}	
	</update>
	
	<!-- 공고신청 부품 상세보기 -->
	<select id="getNotice" parameterType="String" resultMap="BidComponentDTOMap">
		SELECT 
			  b_cp_code
			, cp_code
			, m_id as sell_id
			, b_cp_title
			, b_cp_contents
			, b_cp_price
			, cp_usedate
			, b_cp_bidder_number
			, b_cp_status
			, ac_status_code
			, b_cp_date
			, b_cp_date_bidding1
			, b_cp_date_bidding2
			, b_cp_date_decision1
			, b_cp_date_decision2
			, b_cp_groupcode
			, b_cp_re_count
			, b_cp_confirm
			, b_cp_confirm_status
			, b_cp_reject_reason
			, b_cp_cancel_reason
			, b_cp_cancel_date
			, b_recently
		FROM 
			tb_bid_component
		WHERE
			b_cp_code = #{bCpCode}	
	</select>
	
	<!-- 전체 공고신청 부품 조회 -->
	<select id="getComponentNoticeAdmitList" resultMap="BidComponentDTOMap">
		SELECT 
			  b_cp_code
			, cp_code
			, m_id as sell_id
			, b_cp_title
			, b_cp_contents
			, b_cp_price
			, cp_usedate
			, b_cp_bidder_number
			, b_cp_status
			, ac_status_code
			, b_cp_date
			, b_cp_date_bidding1
			, b_cp_date_bidding2
			, b_cp_date_decision1
			, b_cp_date_decision2
			, b_cp_groupcode
			, b_cp_re_count
			, b_cp_confirm
			, b_cp_confirm_status
			, b_cp_reject_reason
			, b_cp_cancel_reason
			, b_cp_cancel_date
			, b_recently
		FROM 
			tb_bid_component
			WHERE ac_status_code IN (1,2,3)
			ORDER BY b_cp_date DESC
		<if test="searchKey == null or searchKey == ''.toString()">
			LIMIT #{start},#{end}
		</if>
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchKey != null and searchKey != ''.toString()">
				${searchKey} LIKE CONCAT('%',#{searchValue},'%')
				LIMIT #{start},#{end}
			</if>
		</trim>
	</select>
	
	<!-- 공고신청 부품 리스트 수 -->
	<select id="getComponentNoticeAdmitListCnt" resultType="int">
		SELECT 
			COUNT(*)
		FROM 
			tb_bid_component
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchKey != null and searchKey != ''.toString()">
				${searchKey} LIKE CONCAT('%',#{searchValue},'%')
			</if>
		</trim>
	</select>
	
	<select id="getBidComponent" resultMap="BidComponentDTOMap" parameterType="map">
		SELECT 
			b_cp_code, 
			cp_code, 
			m_id as sell_id, 
			b_cp_title, 
			b_cp_contents, 
			b_cp_price, 
			cp_usedate, 
			b_cp_status, 
			b_cp_date, 
			b_cp_date_bidding1, 
			b_cp_date_bidding2, 
			b_cp_date_decision1, 
			b_cp_date_decision2, 
			b_cp_groupcode, 
			b_cp_re_count, 
			b_cp_confirm, 
			b_cp_confirm_status, 
			b_cp_reject_reason, 
			b_cp_cancel_reason, 
			b_cp_cancel_date			
		FROM tb_bid_component
		<trim prefix="where">
			<if test="status != null and status.toString() == '종료'.toString() ">		
				ac_status_code > 4						
			</if>
			<if test="status != null and status.toString() == '진행'.toString() ">		
				ac_status_code = 4						
			</if>
			<if test="searchValueCp!=null and searchKeyCp!=null">
				and ${searchKeyCp} LIKE CONCAT ('%',#{searchValueCp},'%')
			</if>
		</trim>	
		ORDER BY b_cp_date_bidding1 DESC
		<if test="bidComponentDTO!=null">
			LIMIT
				#{bidComponentDTO.pagination.firstRecordIndex},#{bidComponentDTO.recordsPerPage}
		</if>
	</select>
	<select id="getBidComponentListCount" resultType="int" parameterType="map">
		SELECT 
			COUNT(1)		
		FROM tb_bid_component
		<trim prefix="where">
			<if test="status != null and status.toString() == '종료'.toString() ">		
				ac_status_code > 4						
			</if>
			<if test="status != null and status.toString() == '진행'.toString() ">		
				ac_status_code = 4						
			</if>
			<if test="searchValueCp!=null and searchKeyCp!=null">
				and ${searchKeyCp} LIKE CONCAT ('%',#{searchValueCp},'%')
			</if>
		</trim>	
		ORDER BY b_cp_date_bidding1 DESC
	</select>
	
	<select id="getBidComponentByInfo" resultMap="BidComponentDTOMap" parameterType="String">
		SELECT 
			b_cp_code, 
			cp_code, 
			m_id as sell_id, 
			b_cp_title, 
			b_cp_contents, 
			b_cp_price, 
			cp_usedate, 
			b_cp_status, 
			b_cp_date, 
			b_cp_date_bidding1, 
			b_cp_date_bidding2, 
			b_cp_date_decision1, 
			b_cp_date_decision2, 
			b_cp_groupcode, 
			b_cp_re_count, 
			b_cp_confirm, 
			b_cp_confirm_status, 
			b_cp_reject_reason, 
			b_cp_cancel_reason, 
			b_cp_cancel_date,
			ac_status_code			
		FROM tb_bid_component
		WHERE b_cp_code =#{announceCode}
		ORDER BY b_cp_date_bidding1 DESC
	</select>
	<select id="getBidComponentMyBid" resultMap="BidComponentDTOMap" parameterType="map">
		SELECT 
			li.b_code,
			com.b_cp_title,
			com.b_cp_code,
			li.tr_type_name,
			li.b_date,
			com.b_cp_status,
			com.m_id as sell_id
		FROM 
			tb_bid_component AS com
		INNER JOIN
			tb_bid_list AS li
		ON li.announced_code = com.b_cp_code
		<trim prefix="WHERE" prefixOverrides="AND / OR ">
			<if test="mId!=null">
				li.m_id = #{mId}
			</if>
			<if test="searchValueCp!=null and searchKeyCp!=null">
				and ${searchKeyCp} LIKE CONCAT ('%',#{searchValueCp},'%')
			</if>
		</trim>
		ORDER BY li.b_date DESC
		<if test="bidComponentDTO!=null">
			LIMIT
				#{bidComponentDTO.pagination.firstRecordIndex},#{bidComponentDTO.recordsPerPage}
		</if>
	</select>
	<select id="getBidComponentCount" resultType="int" parameterType="String">
		SELECT 
			count(1)
		FROM 
			tb_bid_component AS com
		INNER JOIN
			tb_bid_list AS li
		ON li.announced_code = com.b_cp_code
		<trim prefix="WHERE" prefixOverrides="AND / OR ">
			<if test="mId!=null">
				li.m_id = #{mId}
			</if>
			<if test="searchValueCp!=null and searchKeyCp!=null">
				and ${searchKeyCp} LIKE CONCAT ('%',#{searchValueCp},'%')
			</if>
		</trim>
		ORDER BY li.b_date DESC	
	</select>
	<select id="getComponent" parameterType="String" resultMap="ComponentDTOMap">
		SELECT 
			cp_code, 
			m_id, 
			cp_name, 
			cp_info, 
			cp_maker, 
			cp_makedate, 
			cp_usedate, 
			cp_date,
			cp_photo
		FROM 
			tb_component
		WHERE 
			cp_code=#{CpCode}
	</select>
	<select id="getComponentSatusList" parameterType="map" resultType="String">
		SELECT
			b_cp_code
		FROM
			tb_bid_component
		WHERE
		<if test="bStatus!=null and bStatus.toString()=='공고마감'.toString()">
			CAST(b_cp_date_bidding2 AS DATE) = CURDATE()
		</if>
		<if test="bStatus!=null and bStatus.toString()=='거래진행중'.toString()">
			CAST(b_cp_date_decision2 AS DATE) = CURDATE()
		</if>
		<if test="bStatus!=null and bStatus.toString()=='거래실패'.toString()">
			CAST(b_cp_date_decision1 AS DATE) = CURDATE()
		</if>
			AND ac_status_code = #{status}
	</select>
	<!-- 낙찰자 선택 마감날 1순위로 선정된 사람 -->
	<select id="getBidComTradeList" parameterType="String" resultMap="BidComponentDTOMap">
		SELECT
			cp.m_id AS sell_id,
			cp.*,
			bl.m_id AS buy_id,
			bl.*
		FROM
			tb_bid_component AS cp
		JOIN
			tb_bid_list AS bl
		ON cp.b_cp_code = bl.announced_code
		WHERE
			bl.tr_type_code = 6
		AND
			bl.b_rank = 1
		AND
			bl.announced_code in
			<foreach item="item" index="index" collection="list"
		      open="(" separator="," close=")">
				 #{item}
		  	</foreach>
	</select>
	<select id="getBidComTradeNext" parameterType="map" resultMap="BidComponentDTOMap">
		SELECT
			cp.m_id AS sell_id,
			cp.*,
			bl.m_id AS buy_id,
			bl.*
		FROM
			tb_bid_component AS cp
		JOIN
			tb_bid_list AS bl
		ON cp.b_cp_code = bl.announced_code
		WHERE
			bl.b_rank = #{rank}
		AND
			bl.announced_code =#{announcedCode}
	</select>
	<select id="getComponentBidList" resultType="int">
		SELECT
			COUNT(1)
		FROM
			tb_bid_list AS bl
		JOIN
			tb_bid_component AS cp
		ON bl.announced_code = cp.b_cp_code
		WHERE
			announced_code = #{announcedCode}
			AND b_rank IS NOT null
	</select>
	<update id="updateComponentFail" parameterType="String">
		UPDATE tb_bid_component
		SET
			ac_status_code=9,
			b_cp_status = '거래실패'
		WHERE 
			b_cp_code = #{announcedCode}
	</update>
</mapper>