<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.BidComponentMapper">
	<resultMap type="BidComponentDTO" id="BidComponentDTOMap">
		<result property="num" 			column="num" />
		<result property="bCpCode" 			column="b_cp_code" />
		<result property="mId" 				column="m_id" />
		<result property="bCpTitle" 		column="b_cp_title" />
		<result property="cpCode" 			column="cp_code" />
		<result property="bCpCotents"		column="b_cp_contents" />		
		<result property="bCpPrice" 		column="b_cp_price" />	
		<result property="bCpSpecs" 		column="b_cp_specs" />	
		<result property="cpUsedate" 		column="cp_usedate" />	
		<result property="bCpDocument" 		column="b_cp_document" />	
		<result property="bCpStatus" 		column="b_cp_status" />	
		<result property="bCpDate" 			column="b_cp_date" />	
		<result property="bCpDateBidding1" 	column="b_cp_date_bidding1" />	
		<result property="bCpDateBidding2" 	column="b_cp_date_bidding2" />	
		<result property="bCpDateDecision1" column="b_cp_date_decision1" />	
		<result property="bCpDateDecision2" column="b_cp_date_decision2" />	
		<result property="bCpGroupcode" 	column="b_cp_groupcode" />	
		<result property="bCpReCount" 		column="b_cp_re_count" />	
		<result property="bCpConfirm" 		column="b_cp_confirm" />	
		<result property="bCpConfirmStatus" column="b_cp_confirm_status" />	
		<result property="bCpRejectReason" 	column="b_cp_reject_reason" />	
		<result property="bCpCancelReason" 	column="b_cp_cancel_reason" />	
		<result property="bCpCancelDate" 	column="b_cp_cancel_date" />	
		<result property="acStatusCode" 	column="ac_status_code" />	
	</resultMap>
	<select id="getBidComponent" resultMap="BidComponentDTOMap">
		SELECT 
			(@rowNum := @rowNum + 1) as num,
			b_cp_code, 
			cp_code, 
			m_id, 
			b_cp_title, 
			b_cp_contents, 
			b_cp_price, 
			cp_usedate, 
			b_cp_specs, 
			b_cp_document, 
			b_cp_status, 
			b_cp_date, 
			b_cp_date_bidding1, 
			b_cp_date_bidding2, 
			b_cp_date_decision1, 
			b_cp_date_decision2, 
			b_cp_groupcode, 
			b_cp_re_count, 
			b_cp_confirm, 
			b_cp_confirm_status, 
			b_cp_reject_reason, 
			b_cp_cancel_reason, 
			b_cp_cancel_date			
		FROM tb_bid_component
		join (
			select
				@rowNum := 0) AS r
		WHERE ac_status_code = 4
		ORDER BY b_cp_date_bidding1 desc
					
	</select>

</mapper>