<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.BidListMapper">
	<resultMap type="BidListDTO" id="BidListDTOMap">
		<result property="bCode" 					column="b_code" />
		<result property="announcedCode" 			column="announced_code" />
		<result property="bTypeCode" 				column="b_type_code" />
		<result property="mId" 						column="m_id" />
		<result property="bPrice" 					column="b_price" />
		<result property="bTitle"					column="b_title" />		
		<result property="sDepositRate" 			column="s_dep_rate" />	
		<result property="bDeposit" 				column="b_deposit" />	
		<result property="bDepositCheck" 			column="b_deposit_check" />	
		<result property="bMoCode" 					column="b_mo_code" />	
		<result property="bDepositDate" 			column="b_deposit_date" />	
		<result property="trTypeCode" 				column="tr_type_code" />	
		<result property="trTypeName" 				column="tr_type_name" />	
		<result property="dcInstructions" 			column="dc_instructions" />	
		<result property="dcApplication" 			column="dc_application" />	
		<result property="dcProposal" 				column="dc_proposal" />	
		<result property="bDate" 					column="b_date" />	
		<result property="bCheck"					column="b_check" />	
		<result property="bRank" 					column="b_rank" />	
		<result property="bDepositAvailable" 		column="b_deposit_available" />	
		<result property="bDepositRefund" 			column="b_deposit_refund" />	
		<result property="bDateUp" 					column="b_date_up" />
		<result property="mAccountBankName" 		column="m_account_bank_name" />
		<result property="mAccountNumber" 			column="m_account_number" />
		<result property="mPaymentName" 			column="m_payment_name" />
		<collection property="tradeDepositOutDTO" 	resultMap="TradeDepositOutDTOMap" />
	</resultMap>
	<resultMap type="TradeDepositOutDTO" id="TradeDepositOutDTOMap">
		<id 	property="trDepCode" 				column="tr_dep_code"/>
		<result property="bCode" 					column="b_code" />
		<result property="mId" 						column="m_id" />
		<result property="bDeposit"					column="b_deposit" />
		<result property="trDepDeposit" 			column="tr_dep_deposit" />
		<result property="mAccountBankName" 		column="m_account_bank_name" />
		<result property="mAccountNumber" 			column="m_account_number" />
		<result property="trDepAccountCheck" 		column="tr_dep_account_check" />
		<result property="mAccountName" 			column="m_account_name" />
		<result property="trDepDate" 				column="tr_dep_date" />
		<result property="trDepCheck" 				column="tr_dep_check" />
		<result property="trDepWdDate" 				column="tr_dep_wd_date" />
		<result property="bMoCode" 					column="b_mo_code" />
	</resultMap>
	<resultMap type = "FileDTO" id = "fileResultMap">
	  		<result property="relatedTableCode"		column="related_table_code"/>
	  	  	<result property="originalFileName" 	column="original_file_name"/>
	  	  	<result property="storedFilePath"		column="stored_file_path"/>
	  	  	<result property="fileSize" 			column="file_size"/>
			<result property="createdDatetime" 		column="created_datetime"/>
	  		<result property="creatorId" 			column="creator_id"/>
	</resultMap>
	<select id="getDepositRate" resultType="double">
		SELECT
			s_deposit_rate
		from
			tb_standard_deposit
		WHERE 
			s_deposit_use ='Y'
		AND
			s_deposit_type='입찰예치금'
		LIMIT 1;
	</select>
	<insert id="addbidList" parameterType="BidListDTO">
		INSERT INTO tb_bid_list
			(b_code,
			 announced_code,
			 b_type_code,
			 m_id,
			 b_price,
			 b_title,
			 s_dep_rate,
		 	 b_deposit,
			 b_date,
			 m_account_bank_name,
			 m_account_number,
			 m_payment_name)
		VALUES 
			(sf_b_code(),
			#{announcedCode},
			#{bTypeCode},
			#{mId},
			#{bPrice},
			#{bTitle},
			#{sDepositRate},
			#{bDeposit},
			NOW(),
			#{mAccountBankName},
			#{mAccountNumber},
			#{mPaymentName})
	</insert>
	<select id="getBidListCount" resultType="int">
		select
			COUNT(1)
		FROM
			tb_bid_list AS bl
		WHERE 
			bl.announced_code = #{announceCode}
		and
			bl.m_id=#{id}
	</select>
	<select id="getBidList" parameterType="String" resultMap="BidListDTOMap">
		SELECT 
			b_code, 
			announced_code, 
			b_type_code, 
			m_id, 
			b_price, 
			b_title, 
			s_dep_rate, 
			b_deposit, 
			b_deposit_check,
			b_mo_code, 
			b_deposit_date, 
			tr_type_code, 
			tr_type_name, 
			dc_instructions, 
			dc_application, 
			dc_proposal, 
			b_date, 
			b_check, 
			b_rank, 
			b_deposit_available, 
			b_deposit_refund, 
			b_date_up, 
			m_account_bank_name, 
			m_account_number,
			m_payment_name
		FROM 
			tb_bid_list
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="id != null">
				and m_id = #{id} 
			</if>
			<if test="announceCode != null">
				and announced_code = #{announceCode}
			</if>
			<if test="bCode!=null">
				and b_code = #{bCode}
			</if>
		</trim>
		ORDER BY b_date desc
		LIMIT 1
	</select>
	<select id="getBidCode" resultType="String">
		SELECT 
			b_code
		FROM 
			tb_bid_list
		WHERE 
			announced_code = #{announceCode} and
			m_id=#{id} and
			tr_type_code = 1
	</select>
	<update id="bidCancel" parameterType="String">
		UPDATE tb_bid_list
		SET
		<if test="status.toString()=='입찰'.toString()">
			tr_type_code=4,
			tr_type_name='입찰취소',
			b_deposit_available='Y'
		</if>
		<if test="status.toString()=='공고취소'.toString()">
			tr_type_code=15,
			tr_type_name='공고취소',
			b_deposit_available='Y'
		</if>
		<if test="status.toString()=='계약'.toString()">
			tr_type_code=8,
			tr_type_name='계약취소'
		</if>
		WHERE
			<if test="status.toString()=='계약'.toString() or status.toString()=='입찰'.toString()">
				b_code = #{bCode}
			</if>
			<if test="status.toString()=='공고취소'.toString()">
				announced_code = #{bCode}
				and tr_type_code = 3
			</if>
	</update>
	<update id="bidPlantMemberMinus">
		UPDATE tb_bid_plant
		SET
			b_pl_number_of_bidder=b_pl_number_of_bidder-1
		WHERE 
			b_pl_code = #{plCode}
	</update>
	<update id="bidComponentMemberMinus">
		UPDATE tb_bid_component
		SET
			b_cp_bidder_number=b_cp_bidder_number-1
		WHERE 
			b_cp_code = #{cpCode}
	</update>
	<!-- 재공고시 이전공고에서 계약을 취소한 적이 있는지 -->
	<select id="reBidCount" parameterType="String" resultType="int">
	SELECT
		COUNT(1)
	FROM
		tb_trade_priority AS tp
	WHERE 
		b_groupcode = #{groupCode}
		AND m_id_buyer = #{id}
		AND (tr_type_code = 8 OR tr_type_code = 12)
	</select>
	<select id="getBidFileList" resultMap="fileResultMap">
		SELECT 
			f.idx,
			f.file_sort_name,
			f.original_file_name, 
			f.creator_id,
			f.created_datetime,
			format(ROUND(f.file_size/1024),0) AS file_size
		FROM 
			tb_file AS f
		WHERE 
			f.deleted_yn ='N' 
		AND
			f.file_sort_idx = '2'
		AND 
			f.related_table_code='입찰서류'
	</select>
	<update id="modifyBidList" parameterType="BidListDTO">
		UPDATE tb_bid_list
		SET
			b_price=#{bPrice},
			s_dep_rate=#{sDepositRate},
			b_deposit=#{bDeposit},
			m_account_bank_name=#{mAccountBankName},
			m_account_number=#{mAccountNumber},
			m_payment_name=#{mPaymentName}
		WHERE 
			b_code=#{bCode}
	</update>
	<update id="tradeCancel" parameterType="String">
		UPDATE tb_trade_priority
		SET
			tr_type_code=8,
			tr_type_name='계약취소'
		WHERE 
			b_code = #{bCode}
	</update>
	<!-- 환불가능 목록 -->
	<select id="getApplyRefundList" parameterType="map" resultMap="BidListDTOMap">
		SELECT
			bl.*,
			td.*
		FROM
			tb_bid_list AS bl
		LEFT JOIN
			tb_trade_deposit_out AS td
		ON td.b_code=bl.b_code
		<trim prefix="where" prefixOverrides="AND |OR ">
			bl.b_deposit_available='Y'
			<if test="id!=null">
				AND bl.m_id=#{id}
			</if>
			<if test="searchValue!=null and searchKey!=null">
				and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
			</if>
			<if test="status!=null and id!=null and status.toString()=='가능'.toString()">
				AND bl.b_deposit_refund='N'
				AND td.tr_dep_code IS null
				order by bl.b_date desc
			</if>
			<if test="status!=null and id!=null and status.toString()=='완료'.toString()">
				AND bl.b_deposit_refund='Y'
				order by td.tr_dep_wd_date desc
			</if>
			<if test="status!=null and id!=null and status.toString()=='신청'.toString()">
				AND td.tr_dep_code IS not null
				AND bl.b_deposit_refund='N'
				order by td.tr_dep_date desc
			</if>
		</trim>
		<if test="bidListDTO!=null">
			LIMIT
				#{bidListDTO.pagination.firstRecordIndex},#{bidListDTO.recordsPerPage}	
		</if>
	</select>
	<select id="getApplyRefundListCount" parameterType="map" resultType="int">
		SELECT
			count(1)
		FROM
			tb_bid_list AS bl
		LEFT JOIN
			tb_trade_deposit_out AS td
		ON td.b_code=bl.b_code
		<trim prefix="where" prefixOverrides="AND |OR ">
			bl.b_deposit_available='Y'
			<if test="id!=null">
				AND bl.m_id=#{id}
			</if>
			<if test="searchValue!=null and searchKey!=null">
				and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
			</if>
			<if test="status!=null and id!=null and status.toString()=='가능'.toString()">
				AND bl.b_deposit_refund='N'
				AND td.tr_dep_code IS null
			</if>
			<if test="status!=null and id!=null and status.toString()=='완료'.toString()">
				AND bl.b_deposit_refund='Y'
			</if>
			<if test="status!=null and id!=null and status.toString()=='신청'.toString()">
				AND td.tr_dep_code IS not null
				AND bl.b_deposit_refund='N'
			</if>
		</trim>
	</select>
	<update id="updateBidStatus" parameterType="map">
		UPDATE tb_bid_list
		SET
			tr_type_code = #{updateStatus},
			tr_type_name = #{updateStatusName},
			b_date_up = NOW()
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="BList!=null">
				announced_code in
				<foreach item="item" index="index" collection="BList"
			      open="(" separator="," close=")">
					 #{item}
			  	</foreach>
			</if>
			AND tr_type_code = #{status}
		</trim>
	</update>
	<!-- 입찰 성공 -> 입찰 종료 -->
	<update id="updateBidEnd" parameterType="map">
		UPDATE tb_bid_list
		SET
			tr_type_code = 5,
			tr_type_name = '입찰종료',
			b_date_up = NOW(),
			b_deposit_available='Y'
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="BList!=null">
				announced_code in
				<foreach item="item" index="index" collection="BList"
			      open="(" separator="," close=")">
					 #{item}
			  	</foreach>
			</if>
			AND tr_type_code = #{status}
			AND b_rank is null
		</trim>
	</update>
	<!-- 입찰 성공 -> 계약중 -->
	<update id="updateBidTrade" parameterType="map">
		UPDATE tb_bid_list
		SET
			tr_type_code = 6,
			tr_type_name = '계약중',
			b_date_up = NOW()
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="BList!=null">
				announced_code in
				<foreach item="item" index="index" collection="BList"
			      open="(" separator="," close=")">
					 #{item}
			  	</foreach>
			</if>
			AND tr_type_code = #{status}
			AND b_rank =1
			and b_check ='Y'
		</trim>
	</update>
	<!-- 입찰 성공 -> 계약대기 -->
	<update id="updateBidTradeWait" parameterType="map">
		UPDATE tb_bid_list
		SET
			tr_type_code = 7,
			tr_type_name = '계약대기',
			b_date_up = NOW()
		<trim prefix="where" prefixOverrides="AND |OR ">
			<if test="BList!=null">
				announced_code in
				<foreach item="item" index="index" collection="BList"
			      open="(" separator="," close=")">
					 #{item}
			  	</foreach>
			</if>
			AND tr_type_code = #{status}
			AND b_rank >1
			and b_check ='Y'
		</trim>
	</update>
	<insert id="addqnaRequest" parameterType="BoardSellerDTO">
		INSERT INTO tb_board_seller
			( 
			b_subject, 
			b_contents, 
			m_id_buyer, 
			m_id_seller,
			announced_code, 
			b_photo, 
			b_reg_date, 
			b_bid_type)
		VALUES 
			(
			#{bSubject}, 
			#{bContents}, 
			#{mIdBuyer}, 
			#{mIdSeller}, 
			#{announcedCode}, 
			#{bPhoto}, 
			NOW(), 
			#{bBidType})
	</insert>
	<update id="modifyQna" parameterType="map">
		UPDATE tb_board_seller
		SET
			b_subject=#{bSubject},
			b_contents=#{bContents}
		WHERE
			b_idx = #{bIdx}
			and m_id_buyer = #{mIdBuyer}
	</update>
	<delete id="removeQna" parameterType="int">
		DELETE FROM tb_board_seller WHERE b_idx=#{bIdx}
	</delete>
	<delete id="removeQnaCo" parameterType="int">
		DELETE FROM tb_comment WHERE b_idx=#{bIdx}
	</delete>
</mapper>
