<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.BidPlantMapper">
	<resultMap type="BidPlantDTO" id="BidPlantDTOMap">
		<result property="num" 					column="num" />
		<result property="bPlCode" 				column="b_pl_code" />
		<result property="mId" 					column="m_id" />
		<result property="bPlTitle" 			column="b_pl_title" />
		<result property="bzPlCode" 			column="bz_pl_code" />
		<result property="bPlContents"			column="b_pl_contents" />		
		<result property="bPlPrice" 			column="b_pl_price" />	
		<result property="plResidual" 			column="pl_residual" />	
		<result property="plDepPrice" 			column="pl_dep_price" />	
		<result property="plDepStartDate" 		column="pl_dep_start_date" />	
		<result property="bPlStatus" 			column="b_pl_status" />	
		<result property="bPlDateRequest" 		column="b_pl_date_request" />	
		<result property="bPlDateBidding1" 		column="b_pl_date_bidding1" />	
		<result property="bPlDateBidding2" 		column="b_pl_date_bidding2" />	
		<result property="bPlDateDecision1" 	column="b_pl_date_decision1" />	
		<result property="bPlDateDecision2" 	column="b_pl_date_decision2" />	
		<result property="bPlGroupcode" 		column="b_pl_groupcode" />	
		<result property="bPlReCount" 			column="b_pl_re_count" />	
		<result property="bPlConfirm" 			column="b_pl_confirm" />	
		<result property="bPlConfirmStatus" 	column="b_pl_confirm_status" />	
		<result property="bPlRejectReason" 		column="b_pl_reject_reason" />	
		<result property="bPlCancelReason" 		column="b_pl_cancel_reason" />	
		<result property="bPlCancelDate" 		column="b_pl_cancel_date" />	
		<result property="acStatusCode" 		column="ac_status_code" />
		<association property="bidListDTO" javaType="BidListDTO">
			<id 	property="b_code" 		column="m_id"/>
			<result property="announced_code" 		column="m_id" />
			<result property="b_type_code" 		column="m_pw" />
			<result property="m_id"		column="m_name" />
			<result property="memberLevel" 		column="m_level" />
			<result property="memberEmail" 		column="m_email" />
			<result property="memberAddr" 		column="m_addr" />
			<result property="memberRegDate" 	column="m_reg_date" />
		</association>
	</resultMap>
	<select id="getBidPlant" resultMap="BidPlantDTOMap" parameterType="String">
		SELECT
			(@rowNum := @rowNum + 1) as num,
			b_pl_code,
			bz_pl_code, 
			m_id, 
			b_pl_title,
			b_pl_contents, 
			b_pl_price, 
			pl_residual, 
			pl_dep_price, 
			pl_dep_start_date, 
			b_pl_status, 
			b_pl_date_request, 
			b_pl_date_bidding1, 
			b_pl_date_bidding2, 
			b_pl_date_decision1, 
			b_pl_date_decision2, 
			b_pl_groupcode, 
			b_pl_re_count, 
			b_pl_confirm, 
			b_pl_confirm_status, 
			b_pl_reject_reason, 
			b_pl_cancel_reason, 
			b_pl_cancel_date
		FROM 
			tb_bid_plant
		join (
				select
					@rowNum := 0) AS r
		<trim prefix="where">
			<if test="status != null and status.toString() == '종료'.toString() ">		
				ac_status_code > 4						
			</if>
			<if test="status != null and status.toString() == '진행'.toString() ">		
				ac_status_code = 4						
			</if>
		</trim>	
		ORDER BY b_pl_date_bidding1 DESC
	</select>
	<select id="getBidPlantByInfo" resultMap="BidPlantDTOMap" parameterType="String">
		SELECT
			b_pl_code,
			bz_pl_code, 
			m_id, 
			b_pl_title,
			b_pl_contents, 
			b_pl_price, 
			pl_residual, 
			pl_dep_price, 
			pl_dep_start_date, 
			b_pl_status, 
			b_pl_date_request, 
			b_pl_date_bidding1, 
			b_pl_date_bidding2, 
			b_pl_date_decision1, 
			b_pl_date_decision2, 
			b_pl_groupcode, 
			b_pl_re_count, 
			b_pl_confirm, 
			b_pl_confirm_status, 
			b_pl_reject_reason, 
			b_pl_cancel_reason, 
			b_pl_cancel_date,
			ac_status_code
		FROM 
			tb_bid_plant
		WHERE 
			b_pl_code = #{announceTitle}
	</select>

</mapper>