<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="com.cafe24.kangk0269.dao.BoardSellerMapper">
  	
  	
  		<resultMap type = "BoardSellerDTO" id = "boardSellerResultMap">
  		  		<result property="bIdx" column="b_idx"/>
  		  	  	<result property="bSubject" column="b_subject"/>
  		  	  	<result property="bContents" column="b_contents"/>
  		  	  	<result property="mIdBuyer" column="m_id_buyer"/>
  				<result property="mIdSeller" column="m_id_seller"/>
  		  		<result property="announcedCode" column="announced_code"/>
  		  		<result property="bView" column="b_view"/>
  		  		<result property="bPhoto" column="b_photo"/>
  		  		<result property="bRegDate" column="b_reg_date"/>
  		  		<result property="bAnswer" column="b_answer"/>
  		  		<result property="bBidType" column="b_bid_type"/>
  		</resultMap>
  		
  		<resultMap type = "CommentDTO" id = "commentResultMap">
  		  		<result property="cmtIdx" column="cmt_idx"/>
  		  	  	<result property="bIdx" column="b_idx"/>
  		  	  	<result property="cmtClass" column="cmt_class"/>
  		  	  	<result property="mId" column="m_id"/>
  		  	  	<result property="targetId" column="target_id"/>
  		  	  	<result property="cmtOrder" column="cmt_order"/>
  				<result property="cmtSecret" column="cmt_secret"/>
  		  		<result property="cmtComment" column="cmt_comment"/>
  		  		<result property="cmtRegDate" column="cmt_reg_date"/>
  		  		<result property="cmtUpdateDate" column="cmt_update_date"/>
  		  		<result property="cmtDeleteYn" column="cmt_delete_yn"/>
  		  		<result property="cmtGroupCode" column="cmt_group_code"/>
  		</resultMap>
  		
  		
  		
  		<!-- 문의글 갯수 가져오기 by천인정 -->
  		<select id="getQnaListCount" parameterType="map" resultType="int">
  			SELECT 
  				COUNT(1)	
  			FROM 
  				tb_board_seller 
  			<trim prefix="WHERE" prefixOverrides="AND / OR ">
					<if test="state!=null and state.toString() == 'sell'.toString()">
						<if test="mId!=null and ''.toString()">
							m_id_seller = #{mId}
						
						</if>
					</if>
					<if test="state!=null and state.toString() == 'buy'.toString()">
						<if test="mId!=null and ''.toString()">
							m_id_buyer = #{mId}
						
						</if>
					</if>
					<if test="searchValue!=null and ''.toString()">
						and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
					</if>
			</trim>
  		</select>
  		
  		<!-- 게시글 조회수 +1 by 천인정 -->
		<update id="updateView" parameterType="int">
			UPDATE 
				tb_board_seller
			SET
				b_view = b_view+1
			WHERE 
				b_idx = #{bIdx}
		</update>
  		
  		
  		<!--아이디로 문의글 가져오기 by 천인정 -->
  		<select id="getQnaListById" parameterType="map" resultMap = "boardSellerResultMap">
  			SELECT 
  				b_idx, 
  				b_subject,
  				b_contents,
  				m_id_buyer, 
  				m_id_seller, 
  				announced_code, 
  				b_view,
  				b_bid_type,
  				b_reg_date
			FROM 
				tb_board_seller 
			<trim prefix="WHERE" prefixOverrides="AND / OR ">
					<if test="state!=null and state.toString() == 'sell'.toString()">
						<if test="mId!=null and ''.toString()">
							m_id_seller = #{mId}
						
						</if>
					</if>
					<if test="state!=null and state.toString() == 'buy'.toString()">
						<if test="mId!=null and ''.toString()">
							m_id_buyer = #{mId}
						
						</if>
					</if>
					<if test="searchValue!=null and ''.toString()">
						and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
					</if>
			</trim>
			LIMIT
					#{boardSellerDTO.pagination.firstRecordIndex},#{boardSellerDTO.recordsPerPage}
			
  		</select>
  		
  		
  		<update id="modifyCmt" parameterType="map">
  			UPDATE 
  				tb_comment
			SET
				cmt_comment=#{cmtComment},
				cmt_update_date=NOW()
			WHERE cmt_idx=#{cmtIdx}
  		
  		</update>
  		
  		<!-- 댓글의 그룹코드 가져오기 by 천인정 -->
  		<select id="getCmtGroupCode" parameterType="int" resultType="int">
  			SELECT ifnull(cmt_group_code,(select cmt_idx from tb_comment where cmt_idx=#{cmtIdx})) FROM tb_comment where cmt_idx = #{cmtIdx}
  		</select>
  		
  		<!--댓글 계층의 최댓값 가져오기 by천인정  -->
  		<select id="getCmtClass" parameterType="int" resultType="int">
  			SELECT max(cmt_class) FROM tb_comment WHERE cmt_idx = #{cmtIdx}
  		</select>
  		
  		<!--댓글순서의 최댓값 가져오기 by 천인정  -->
  		<select id="getCmtOrder" parameterType="int" resultType="int">
  		SELECT ifnull(MAX(cmt_order),0) FROM tb_comment WHERE cmt_group_code = #{cmtIdx}
  		
  		</select>
  		<!-- 대댓글작성 by 천인정-->
  		<insert id="addReCmt" parameterType="CommentDTO" >
  			INSERT 
  			INTO 
  				tb_comment(
  					b_idx, 
					cmt_class, 
					m_id, 
					target_id, 
					cmt_secret, 
					cmt_comment, 
					cmt_reg_date, 
					cmt_group_code,
					cmt_order)
			VALUES (
					#{bIdx}, 
					#{cmtClass},
					#{mId},
					#{targetId},
					'N',
					#{cmtComment}, 
					NOW(), 
					#{cmtGroupCode}, 
					#{cmtOrder}
					)
  		
  		</insert>
  		
  		<!-- 댓글 등록 by 천인정 -->
  		<insert id="addCmt" parameterType="map">
  			INSERT 
  			INTO 
  				tb_comment
				(b_idx,  m_id, target_id, cmt_secret, cmt_comment, cmt_reg_date, cmt_order)
			VALUES
				 (#{bIdx}, #{mId}, #{targetId}, 'N', #{cmtComment},NOW(),  0)
  		
  		</insert>
  		
	  	<!-- 댓글 삭제 by 천인정 -->
  		<update id="removeCmt" parameterType="int">
  			UPDATE tb_comment
				SET
					cmt_delete_yn='Y'
				WHERE cmt_idx = #{cmtIdx}
  		
  		</update>
  		
  		<!-- 해당 게시글의 댓글 총 수 가져오기 by 천인정  -->
  		<select id="getCmtCount" resultType="int" parameterType="map">
  			SELECT 
	  			count(1)
			FROM 
				tb_comment
			WHERE 
				b_idx=#{bIdx}
			AND 
				cmt_delete_yn = 'N' 
  		</select>
  		
  		
  		<!-- 해당 게시글의 댓글 가져오기 by 천인정 -->
  		<select id="getCommentList" resultMap="commentResultMap" parameterType = "map">
  			SELECT 
  				cmt_idx, 
  				b_idx, 
  				cmt_class, 
  				m_id, 
  				target_id, 
  				cmt_secret, 
  				cmt_comment, 
  				cmt_reg_date,  
  				cmt_group_code, 
  				cmt_order
			FROM 
				tb_comment
			WHERE 
				b_idx=#{bIdx}
			AND 
				cmt_delete_yn = 'N' 
			order by
				cmt_reg_date asc
			<!-- LIMIT
				#{commentDTO.pagination.firstRecordIndex},#{commentDTO.recordsPerPage} -->
		
  			
  		
  		</select>
  		<!-- 발전소 문의글 상세내용 가져오기 by 천인정 -->
  		<select id ="getQnaDetailForSeller"  resultMap = "boardSellerResultMap" parameterType="int">
  			SELECT 
	  			b_idx, 
	  			b_subject,
	  			b_contents, 
	  			m_id_buyer, 
	  			m_id_seller, 
	  			announced_code, 
	  			b_view, 
	  			b_photo, 
	  			b_reg_date
			FROM tb_board_seller WHERE b_idx=#{bIdx}
  		
  		</select>
		 <!-- 발전소 코드로 문의글 리스트 가져오기 by 천인정 -->
		<select id="getQnaListForSeller" resultMap = "boardSellerResultMap" parameterType="String">
		
			SELECT 
				b_idx, 
				b_subject, 
				b_contents, 
				m_id_buyer, 
				m_id_seller, 
				announced_code, 
				b_view, 
				b_photo, 
				b_reg_date,
				b_answer
			FROM 
				tb_board_seller 
			WHERE 
				announced_code = #{announcedCode}
		
		</select>	  
  	</mapper>