<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.BoardQnaMapper">
	<resultMap type="BoardQnaDTO" id="BoardQnaDTOMap">
		<result property="bQnaIdx"			column="b_qna_idx"/>
		<result property="bQnaSubject"		column="b_qna_subject"/>
		<result property="bQnaContents"		column="b_qna_contents"/>
		<result property="mId"				column="m_id"/>
		<result property="bQnaRegDate"		column="b_qna_reg_date"/>
		<result property="bQnaViews"		column="b_qna_views"/>
		<result property="bQnaOpen"			column="b_qna_open"/>
		<result property="bQnaPassword"		column="b_qna_password"/>
		<result property="bQnaRefCode"		column="b_qna_ref_code"/>
		<result property="bQnaReLev"		column="b_qna_re_lev"/>
		<result property="bQnaReSeq"		column="b_qna_re_seq"/>
		<result property="bQnaTemp"			column="b_qna_temp"/>
	</resultMap>
	
	<!-- 임시저장 불러오기  -->
	<select id="loadQna" parameterType="String" resultMap="BoardQnaDTOMap">
		SELECT 
		  b_qna_idx
		, b_qna_subject
		, b_qna_reg_date
		FROM 
			tb_board_qna
		WHERE 
			b_qna_temp = 'Y'
		AND
			m_id = #{log_id}
	</select>
	
	<!-- 문의 조회수 증가  -->	 
	<update id="addQnaViews">
		UPDATE 
			tb_board_qna
		SET
			b_qna_views = b_qna_views + 1
		WHERE 
			b_qna_idx = #{bQnaIdx}
	</update>		 
			 
	<!-- 문의 삭제 -->
	<delete id="removeQna" parameterType="int">
		DELETE FROM 
			tb_board_qna 
		WHERE 
			b_qna_idx = #{bQnaIdx}
	</delete>
	
	<!-- 문의 수정 -->
	<update id="modifyQna" parameterType="BoardQnaDTO">
			UPDATE tb_board_qna
		SET
			 b_qna_subject = #{bQnaSubject}
			,b_qna_contents = #{bQnaContents}
			,m_id = #{mId}
			,b_qna_reg_date = NOW()
			,b_qna_views = 0
			,b_qna_open = #{bQnaOpen}
			,b_qna_password = #{bQnaPassword}
		WHERE 
			b_qna_idx= #{bQnaIdx}
	</update>
	
	<!-- 문의답글 등록  -->
		<insert id="addReQna" parameterType="BoardQnaDTO">
			INSERT INTO tb_board_qna
				( b_qna_subject
				, b_qna_contents
				, m_id
				, b_qna_reg_date
				, b_qna_views
				, b_qna_open
				, b_qna_password
				, b_qna_temp
				, b_qna_ref_code
				, b_qna_re_lev
				, b_qna_re_seq)
			VALUES 
				( #{bQnaSubject}
				, #{bQnaContents}
				, #{mId}
				, NOW()
				, 0
				, #{bQnaOpen}
				, #{bQnaPassword}
				, #{bQnaTemp}
				, #{bQnaIdx}
				, ${bQnaReLev} + 1
				, ${bQnaReSeq} + 1)
		</insert>
	
	<!-- 부모글 참조번호 추가 -->
		<update id="addRefCode" parameterType="int">
			UPDATE tb_board_qna
			SET
				b_qna_ref_code = #{bQnaIdx}
			WHERE
			 b_qna_idx = #{bQnaIdx}
		</update>
		
		
	<!-- 문의 등록 -->
	<insert id="addQna" parameterType="BoardQnaDTO">
		INSERT INTO tb_board_qna
			( b_qna_subject
			, b_qna_contents
			, m_id
			, b_qna_reg_date
			, b_qna_views
			, b_qna_open
			, b_qna_password
			, b_qna_ref_code
			, b_qna_re_lev
			, b_qna_re_seq
			, b_qna_temp)
		VALUES 
			( #{bQnaSubject}
			, #{bQnaContents}
			, #{mId}
			, NOW()
			, 0
			, #{bQnaOpen}
			, #{bQnaPassword}
			, 0
			, 0
			, 0
			, 'N')
	</insert>
	
	<!-- 문의 상세조회  -->
	<select id="getQna" parameterType="int" resultMap="BoardQnaDTOMap">
		SELECT 
			  b_qna_idx
			, b_qna_subject
			, b_qna_contents
			, m_id
			, b_qna_reg_date
			, b_qna_views
			, b_qna_open
			, b_qna_password
			, b_qna_ref_code
			, b_qna_re_lev
			, b_qna_re_seq
			, b_qna_temp
		FROM 
			tb_board_qna
		WHERE
			b_qna_idx = #{bQnaIdx}
	
	</select>
	
	<!-- 문의 조회  -->
	<select id="getQnaList" parameterType="string" resultMap="BoardQnaDTOMap">
		SELECT 
			  b_qna_idx
			, b_qna_subject
			, b_qna_contents
			, m_id
			, b_qna_reg_date
			, b_qna_views
			, b_qna_open
			, b_qna_password
			, b_qna_ref_code
			, b_qna_re_lev
			, b_qna_re_seq
			, b_qna_temp
		FROM 
			tb_board_qna
		<trim prefix="WHERE" prefixOverrides="AND | OR ">
			<if test="searchValue!=null and ''.toString()">
				${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
			</if>
		</trim>
		ORDER BY b_qna_ref_code DESC, b_qna_re_seq ASC
	</select>
</mapper>