<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.BusinessMapper">
	<resultMap type="BusinessDTO" id="businessResultMap">
		<result property="bzCode" 			column="bz_code"/>
		<result property="mId" 				column="m_id"/>
		<result property="bzCompanyName" 	column="bz_company_name"/>
		<result property="bzCeoName" 		column="bz_ceo_name"/>
		<result property="bzZipcode" 		column="bz_zipcode"/>
		<result property="bzAddr" 			column="bz_addr"/>
		<result property="bzDetailAddr" 	column="bz_detail_addr"/>
		<result property="bzPlace" 			column="bz_place"/>
		<result property="bzLicense" 		column="bz_license"/>
		<result property="bzType" 			column="bz_type"/>
		<result property="bzRequestDate" 	column="bz_request_date"/>
		<result property="bzCheckDate" 		column="bz_check_date"/>
		<result property="bzCheck" 			column="bz_check"/>
		<result property="bzCheckReason" 	column="bz_check_reason"/>
	</resultMap>

	<select id="getAllBusinessAdmitList" resultMap="businessResultMap">
		SELECT 
			bz_code
			, m_id
			, bz_company_name
			, bz_ceo_name
			, bz_zipcode
			, bz_addr
			, bz_detail_addr
			, bz_place
			, bz_license
			, bz_type
			, bz_request_date
			, bz_check_date
			, bz_check
			, bz_check_reason
		FROM 
			tb_business;
	</select>
</mapper> 