<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.NoticeMapper">
	<resultMap type="NoticeDTO" id="NoticeDTOMap">
		<result property="noticeIdx"		column="not_idx"/>
		<result property="notSubject"		column="not_subject"/>
		<result property="notContents"		column="not_contents"/>
		<result property="mId"				column="m_id"/>
		<result property="notRegDate"		column="not_reg_date"/>
		<result property="notViews"			column="not_views"/>
		<result property="notTemp"			column="not_temp"/>
	</resultMap>

	<resultMap type = "FileDTO" id = "fileResultMap">
  		<result property="relatedTableCode" column="related_table_code"/>
  	  	<result property="originalFileName" column="original_file_name"/>
  	  	<result property="storedFilePath" 	column="stored_file_path"/>
  	  	<result property="fileSize" 		column="file_size"/>
		<result property="createdDatetime" 	column="created_datetime"/>
  		<result property="creatorId" 		column="creator_id"/>
	</resultMap>

	
	
	<!-- 조회 공지리스트 수 -->
	<select id="getNoticeCnt" resultType="int">
		SELECT
			COUNT(*)
		FROM
			tb_notice
		<trim prefix="WHERE" prefixOverrides="AND |OR ">
			<if test="searchKey != null and searchKey != ''.toString()">
				${searchKey} LIKE CONCAT('%',#{searchValue},'%')
			</if>
		</trim>
	</select>	
	
	<!-- 공지 조회수 증가  -->
	<update id="addNoticeViews">
		UPDATE 
			tb_notice
		SET
			not_views = not_views + 1
		WHERE not_idx = #{noticeIdx}
	</update>
	
	<!-- 공지사항 삭제  -->
	<delete id="removeNotice" parameterType="int">
		DELETE FROM 
			tb_notice 
		WHERE
		 	not_idx = #{noticeIdx}
	</delete>
	
	<!-- 공지사항 상세조회 -->
	<select id="getNotice" parameterType="int" resultMap="NoticeDTOMap">
		SELECT 
			  not_idx
			, not_subject
			, not_contents
			, m_id
			, not_reg_date
			, not_views
			, not_temp
		FROM 
			tb_notice
		WHERE 
			not_idx = #{noticeIdx}
	</select>

	<!-- 공지사항 수정처리  -->
	<update id="modifyNotice" parameterType="NoticeDTO">
		UPDATE tb_notice
		SET
			not_subject = #{notSubject},
			not_contents = #{notContents},
			not_reg_date = NOW()
		WHERE 
			not_idx = #{noticeIdx}
	
	</update>

	<!-- 공지사항 수정화면 -->
	<select id="modifyNoticeByIdx" parameterType="int" resultMap="NoticeDTOMap">
		SELECT 
			  not_idx
			, not_subject
			, not_contents
			, m_id
			, not_reg_date
			, not_views
			, not_temp
		FROM 
			tb_notice
		WHERE 
			not_idx = #{noticeIdx}
	</select>
	
	<!-- 공지사항 파일조회  -->
	<select id="getNoticeFileList"  resultMap="fileResultMap" parameterType="int">
		SELECT 
			f.idx,
			f.file_sort_name,
			f.original_file_name, 
			f.creator_id,
			f.created_datetime,
			format(ROUND(f.file_size/1024),0) AS file_size
		FROM 
			tb_file AS f
		inner JOIN 
			tb_member AS m	
		ON f.creator_id = m.m_id
		WHERE 
			f.deleted_yn ='N' 
		AND
			f.file_sort_idx = '3'
		AND 
			m.m_level=1
		AND 
			f.related_table_code= #{noticeIdx}	
	</select>
	
	
	<!-- 공지파일 등록  -->
	<insert id="addFile" parameterType="FileDTO">
		INSERT 
  		INTO
			tb_file(related_table_code, original_file_name, stored_file_path, file_size, creator_id, created_datetime, file_sort_idx, file_sort_name)
		VALUES
	<foreach collection = "list" item="item" separator=",">
			 (#{item.relatedTableCode}, #{item.originalFileName}, #{item.storedFilePath}, #{item.fileSize}, #{item.creatorId}, NOW() ,#{item.fileSortIdx},#{item.fileSortName})
	</foreach>
		
  	</insert>	
	
	
	<!-- 공지사항 파일 참조번호 수정  -->
	<update id="modifyFileReference" parameterType="int">
		UPDATE tb_file
		SET
			related_table_code = #{noticeIdx}
		WHERE related_table_code='공지서류'
	</update>
	
	
	<!-- 공지사항 등록 -->
	<insert id="addNotice" parameterType="NoticeDTO">
		INSERT INTO tb_notice
			( not_subject
			, not_contents
			, m_id
			, not_reg_date
			, not_views
			, not_temp)
		VALUES 
			( #{notSubject}
			, #{notContents}
			, #{mId}
			, NOW()
			, 0
			, 'N')
					
		<selectKey keyProperty="noticeIdx" keyColumn="not_idx" resultType="int" order="AFTER">
		    SELECT 
		    	not_idx 
		    FROM 
		    	tb_notice
		   order by not_idx desc limit 1
		</selectKey>
	</insert>
	
	
	
	<!-- 공지사항 조회 -->
	<select id="getNoticeList" resultMap="NoticeDTOMap">
		SELECT 
			  not_idx
			, not_subject
			, not_contents
			, m_id
			, not_reg_date
			, not_views
			, not_temp
		FROM tb_notice
		<if test="searchKey == null or searchKey == ''.toString()">
			ORDER BY not_reg_date DESC
			LIMIT #{start},#{end}
		</if>			
						
		<if test="searchKey != null and searchKey != ''.toString()">
			WHERE ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
			ORDER BY not_reg_date DESC
			LIMIT #{start},#{end}				
		</if>		
	</select>
	
</mapper>