<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.PickMapper">
	<resultMap type="PickDTO" id="PickDTOMap">
		<result property="pIdx"					column="p_idx"/>
		<result property="pCode"				column="p_code"/>
		<result property="mId"					column="m_id"/>
		<result property="pRegDate"				column="p_reg_date"/>
		<association property="bidPlantDTO" javaType="BidPlantDTO">
			<id		property="bPlCode"				column="b_pl_code"/>
			<result property="bPlTitle"				column="b_pl_title"/>
			<result property="bPlPrice"				column="b_pl_price"/>
			<result property="bPlDateBidding2"		column="b_pl_date_bidding2"/>
		</association>
		<association property="bidComponentDTO" javaType="BidComponentDTO">
			<id		property="bCpCode"				column="b_cp_code"/>
			<result property="bCpTitle"				column="b_cp_title"/>
			<result property="bCpPrice"				column="b_cp_price"/>
			<result property="bCpDateBidding2"		column="b_cp_date_bidding2"/>
		
		</association>
	</resultMap>
	
	<!-- 중복등록 확인  -->
	<select id="pickCheck" parameterType="string" resultType="int">
		SELECT
		 	COUNT(1)
		FROM 
			tb_pick
		WHERE 
			p_code = #{announcedCode}
		AND
			m_id = #{log_id}
	</select>
	
	<!-- 관심목록 등록  -->
	<insert id="addWishlist" parameterType="String">
		INSERT INTO tb_pick
			( p_code
			, m_id
			, p_reg_date)
		VALUES
			 ( #{announcedCode}
			 , #{login_id}
			 , NOW())	
	</insert>
	
	<!-- 관심목록 삭제 -->
	<delete id="removeWishlist" parameterType="int">
		DELETE 
		FROM
			 tb_pick
		WHERE
			p_idx = #{pIdx}
	</delete>
	
	<!-- 관심 부품목록 조회 -->
	<select id="getCpWishList" parameterType="String" resultMap="PickDTOMap">
		SELECT 
			  p.p_idx
			, p.p_code
			, p.m_id
			, bc.b_cp_price
			, bc.b_cp_title
			, bc.b_cp_date_bidding2
		FROM 
			tb_pick AS p
		INNER JOIN
			tb_bid_component AS bc
		ON 
			p.p_code = bc.b_cp_code
		WHERE
			p.m_id = #{login_id}
	</select>
	
	
	<!-- 관심 발전소목록 조회  -->
	<select id="getPlWishList" parameterType="String" resultMap="PickDTOMap">
		SELECT 
			  p.p_idx
			, p.p_code
			, p.m_id
			, bp.b_pl_price
			, bp.b_pl_title
			, bp.b_pl_date_bidding2
		FROM 
			tb_pick AS p
		INNER JOIN
			tb_bid_plant AS bp
		ON 
			p.p_code = bp.b_pl_code
		WHERE
			p.m_id = #{login_id}
	</select>

</mapper>