<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.PlantMapper">
	<resultMap type="BusinessPlantDTO" id="plantResultMap">
		<result property="bzPlCode" 		column="bz_pl_code"/>
		<result property="mId" 				column="m_id"/>
		<result property="bzPlCheck" 		column="bz_pl_check"/>
		<result property="bzPlName" 		column="bz_pl_name"/>
		<result property="bzPlZipcode" 		column="bz_pl_zipcode"/>
		<result property="bzPlAddr" 		column="bz_pl_addr"/>
		<result property="bzPlDetailAddr" 	column="bz_pl_detail_addr"/>
		<result property="bzPlPhoto" 		column="bz_pl_photo"/>
		<result property="bzPlPower" 		column="bz_pl_power"/>
		<result property="bzPlHardware" 	column="bz_pl_hardware"/>
		<result property="bzPlArea" 		column="bz_pl_area"/>
		<result property="bzPlInvPower" 	column="bz_pl_inv_power"/>
		<result property="bzPlInvCount" 	column="bz_pl_inv_count"/>
		<result property="bzPlInvMaker" 	column="bz_pl_inv_maker"/>
		<result property="bzPlRec" 			column="bz_pl_rec"/>
	</resultMap>

	<update id="plantReturn" parameterType="BusinessPlantDTO">
		UPDATE tb_business_plant
		SET
			bz_pl_check = 'F'
		WHERE 
			bz_pl_code = #{bzPlCode}
	</update>
	
	<update id="plantAdmit" parameterType="BusinessPlantDTO">
		UPDATE tb_business_plant
		SET
			bz_pl_check = 'Y'
		WHERE 
			bz_pl_code = #{bzPlCode}
	</update>

	<select id="getPlantInfoBybzPlCode" resultMap="plantResultMap">
		SELECT 
			bz_pl_code
			, m_id
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
		FROM 
			tb_business_plant
		WHERE
			bz_pl_code = #{bzPlCode}
	</select>
	
	<select id="getAllPlantAdmitList" resultMap="plantResultMap">
		SELECT 
			bz_pl_code
			, m_id
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
		FROM 
			tb_business_plant;
	</select>
	<select id="getPlantListById" resultMap="plantResultMap" parameterType="String">
		SELECT 
			bz_pl_code
			, m_id
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
		FROM 
			tb_business_plant
		WHERE
			m_id = #{SID};
	</select>
	<select id="getPlantListByCode" resultMap="plantResultMap" parameterType="String">
		SELECT 
			bz_pl_code
			, m_id
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
		FROM 
			tb_business_plant
		WHERE
			bz_pl_code = #{bzCode};
	</select>
	
	
</mapper> 