<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.PlantMapper">
	<resultMap type="BusinessPlantDTO" id="plantResultMap">
		<result property="bzPlCode" 		column="bz_pl_code"/>
		<result property="mId" 				column="m_id"/>
		<result property="bzPlCheck" 		column="bz_pl_check"/>
		<result property="bzPlName" 		column="bz_pl_name"/>
		<result property="bzPlZipcode" 		column="bz_pl_zipcode"/>
		<result property="bzPlAddr" 		column="bz_pl_addr"/>
		<result property="bzPlDetailAddr" 	column="bz_pl_detail_addr"/>
		<result property="bzPlPhoto" 		column="bz_pl_photo"/>
		<result property="bzPlPower" 		column="bz_pl_power"/>
		<result property="bzPlHardware" 	column="bz_pl_hardware"/>
		<result property="bzPlArea" 		column="bz_pl_area"/>
		<result property="bzPlInvPower" 	column="bz_pl_inv_power"/>
		<result property="bzPlInvCount" 	column="bz_pl_inv_count"/>
		<result property="bzPlInvMaker" 	column="bz_pl_inv_maker"/>
		<result property="bzPlRec" 			column="bz_pl_rec"/>
	</resultMap>
	<resultMap type="PlantKpxDTO" id="plantKpxResultMap">
		<result property="plKpxIdx" 			column="pl_kpx_idx"/>
		<result property="plKpxTime" 			column="pl_kpx_time"/>
		<result property="plKpxSmpShoreDate" 	column="pl_kpx_smp_shore_date"/>
		<result property="plKpxSmpShoreMax" 	column="pl_kpx_smp_shore_max"/>
		<result property="plKpxSmpShoreMin" 	column="pl_kpx_smp_shore_min"/>
		<result property="plKpxSmpShoreAvg" 	column="pl_kpx_smp_shore_avg"/>
		<result property="plKpxSmpJejuDate" 	column="pl_kpx_smp_jeju_date"/>
		<result property="plKpxSmpJejuMax" 		column="pl_kpx_smp_jeju_max"/>
		<result property="plKpxSmpJejuMin" 		column="pl_kpx_smp_jeju_min"/>
		<result property="plKpxSmpJejuAvg" 		column="pl_kpx_smp_jeju_avg"/>
		<result property="plKpxRecDate" 		column="pl_kpx_rec_date"/>
		<result property="plKpxRecTrade" 		column="pl_kpx_rec_trade"/>
		<result property="plKpxRecAvg" 			column="pl_kpx_rec_avg"/>
		<result property="plKpxRecMax" 			column="pl_kpx_rec_max"/>
		<result property="plKpxRecMin" 			column="pl_kpx_rec_min"/>
		<result property="plKpxRecEnd" 			column="pl_kpx_rec_end"/> 
	</resultMap>
	<resultMap type="PlantDepreciationDTO" id="plantDepreciationResultMap">
		<result property="plDepIdx" 		column="pl_dep_idx"/>
		<result property="bzPlCode" 		column="bz_pl_code"/>
		<result property="plDepPriceBased" 	column="pl_dep_price_based"/>
		<result property="plDepPrice" 		column="pl_dep_price"/>
		<result property="plDepStartDate" 	column="pl_dep_start_date"/>
		<result property="plDepBuyDate" 	column="pl_dep_buy_date"/>
		<result property="plDepMaintenance" column="pl_dep_maintenance"/>
		<result property="plDepUsed" 		column="pl_dep_used"/>
		<result property="plDepServicelife" column="pl_dep_servicelife"/>
	</resultMap>
	<!-- 운영발전소리스트(아이디) -->
	<select id="getOperPlantListById" resultMap="plantResultMap">
		SELECT 
			a.bz_pl_code
			, a.m_id
			, bz_code
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_addr_code
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
			, bz_pl_reg_date
			, bz_pl_mod_date
		FROM 
			tb_business_plant AS a
			LEFT JOIN 
			tb_bid_plant AS b
			ON a.bz_pl_code = b.bz_pl_code
			WHERE 
			b.b_pl_code IS NULL AND 
			a.bz_pl_check = 'Y' AND 
			a.m_id = #{mId}
	</select>
	<select id="getPlantDepreciationByBzCode" resultMap="plantDepreciationResultMap" parameterType="String">
		SELECT
			bz_pl_code
			,pl_dep_price_based
			,pl_dep_price
			,pl_dep_start_date
			,pl_dep_buy_date
			,pl_dep_maintenance
			,pl_dep_used
			,pl_dep_servicelife
		FROM
			tb_plant_depreciation
		WHERE
			bz_pl_code = #{bzPlCode};
	</select>
	<select id="getKpxTodayData" resultMap="plantKpxResultMap">
		SELECT
			pl_kpx_time
			,pl_kpx_smp_shore_date
			,pl_kpx_smp_shore_max
			,pl_kpx_smp_shore_min
			,pl_kpx_smp_shore_avg
			,pl_kpx_smp_jeju_date
			,pl_kpx_smp_jeju_max
			,pl_kpx_smp_jeju_min
			,pl_kpx_smp_jeju_avg
			,pl_kpx_rec_date
			,pl_kpx_rec_trade
			,pl_kpx_rec_avg
			,pl_kpx_rec_max
			,pl_kpx_rec_min
			,pl_kpx_rec_end
		FROM
			tb_plant_kpx
		ORDER BY 
			pl_kpx_time DESC
		LIMIT 1;
	</select>
	
	<insert id="crawLingKpxData" parameterType="PlantKpxDTO">
		INSERT INTO tb_plant_kpx
			(pl_kpx_time
			,pl_kpx_smp_shore_date
			,pl_kpx_smp_shore_max
			,pl_kpx_smp_shore_min
			,pl_kpx_smp_shore_avg
			,pl_kpx_smp_jeju_date
			,pl_kpx_smp_jeju_max
			,pl_kpx_smp_jeju_min
			,pl_kpx_smp_jeju_avg
			,pl_kpx_rec_date
			,pl_kpx_rec_trade
			,pl_kpx_rec_avg
			,pl_kpx_rec_max
			,pl_kpx_rec_min
			,pl_kpx_rec_end)
		VALUES
			(#{plKpxTime}
			,#{plKpxSmpShoreDate}
			,#{plKpxSmpShoreMax}
			,#{plKpxSmpShoreMin}
			,#{plKpxSmpShoreAvg}
			,#{plKpxSmpJejuDate}
			,#{plKpxSmpJejuMax}
			,#{plKpxSmpJejuMin}
			,#{plKpxSmpJejuAvg}
			,#{plKpxRecDate}
			,#{plKpxRecTrade}
			,#{plKpxRecAvg}
			,#{plKpxRecMax}
			,#{plKpxRecMin}
			,#{plKpxRecEnd});
	</insert>
	<update id="plantReturn" parameterType="BusinessPlantDTO">
		UPDATE tb_business_plant
		SET
			bz_pl_check = 'F'
		WHERE 
			bz_pl_code = #{bzPlCode}
	</update>
	
	<update id="plantAdmit" parameterType="BusinessPlantDTO">
		UPDATE tb_business_plant
		SET
			bz_pl_check = 'Y'
		WHERE 
			bz_pl_code = #{bzPlCode}
	</update>

	<select id="getPlantInfoBybzPlCode" resultMap="plantResultMap">
		SELECT 
			bz_pl_code
			, m_id
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
		FROM 
			tb_business_plant
		WHERE
			bz_pl_code = #{bzPlCode}
	</select>
	
	<select id="getAllPlantAdmitList" resultMap="plantResultMap">
		SELECT 
			bz_pl_code
			, m_id
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
		FROM 
			tb_business_plant;
	</select>
	<select id="getPlantListById" resultMap="plantResultMap" parameterType="String">
		SELECT 
			bz_pl_code
			, m_id
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
		FROM 
			tb_business_plant
		WHERE
			m_id = #{SID};
	</select>
	<select id="getPlantListByCode" resultMap="plantResultMap" parameterType="String">
		SELECT 
			bz_pl_code
			, m_id
			, bz_pl_check
			, bz_pl_name
			, bz_pl_zipcode
			, bz_pl_addr
			, bz_pl_detail_addr
			, bz_pl_photo
			, bz_pl_power
			, bz_pl_hardware
			, bz_pl_area
			, bz_pl_inv_power
			, bz_pl_inv_count
			, bz_pl_inv_maker
			, bz_pl_rec
		FROM 
			tb_business_plant
		WHERE
			bz_pl_code = #{bzCode};
	</select>
	
	
</mapper> 