<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="com.cafe24.kangk0269.dao.PolicyMapper">
  	
  		<resultMap type = "StandardDTO" id = "standardResultMap">
  		  		<result property="mId" column="m_id"/>
  		  	  	<result property="sCommissionIdx" column="s_commission_idx"/>
  		  	  	<result property="sCommissionType" column="s_commission_type"/>
  		  	  	<result property="sCommissionRate" column="s_commission_rate"/>
  		  	  	<result property="sCommissionDate" column="s_commission_date"/>
  				<result property="sCommissionUse" column="s_commission_use"/>
  				<result property="sCommissionLast" column="s_commission_last"/>
  		  		<result property="sDepositIdx" column="s_deposit_idx"/>
  		  		<result property="sDepositRate" column="s_deposit_rate"/>
  		  		<result property="sDepositDate" column="s_deposit_date"/>
  		  		<result property="sDepositType" column="s_deposit_type"/>
  		  		<result property="sDepositUse" column="s_deposit_use"/>
  		  		<result property="sDepositLast" column="s_deposit_last"/>
  		  		<result property="sTradeIdx" column="s_trade_idx"/>
  		  		<result property="sTradeType" column="s_trade_type"/>
  		  		<result property="sTradePeriod" column="s_trade_period"/>
  		  		<result property="sTradeDate" column="s_trade_date"/>
  		  		<result property="sTradeUse" column="s_trade_use"/>
  		  		<result property="sTradeLast" column="s_trade_last"/>
  		  		<result property="sReservation" column ="s_reservation"/>
  		</resultMap>
  		
  		<resultMap type = "FileDTO" id = "fileResultMap">
  		  		<result property="relatedTableCode" column="related_table_code"/>
  		  	  	<result property="originalFileName" column="original_file_name"/>
  		  	  	<result property="storedFilePath" column="stored_file_path"/>
  		  	  	<result property="fileSize" column="file_size"/>
  				<result property="createdDatetime" column="created_datetime"/>
  		  		<result property="creatorId" column="creator_id"/>
  		</resultMap>
  		<select id="getDepositNotUsedCount" resultType="int" parameterType="map">
  			SELECT
				count(1)
			FROM 
				tb_standard_deposit 
			WHERE
				 s_deposit_use ='N'
			AND 
				s_deposit_last IS not null
				
			<trim prefixOverrides="AND / OR ">
				<if test="searchValue!=null and ''.toString()">
					and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
				</if>
			</trim>
  			
  		</select>
  	
  		
  		<select id="getDepositNotUsed" resultMap="standardResultMap" parameterType="map">
  			SELECT
				s_deposit_idx, 
				s_deposit_type, 
				s_deposit_rate, 
				s_deposit_date, 
				s_deposit_use, 
				m_id, 
				s_deposit_last, 
				s_reservation
			FROM 
				tb_standard_deposit 
			WHERE
				 s_deposit_use ='N'
			AND 
				s_deposit_last IS not null
				
			<trim prefixOverrides="AND / OR ">
				<if test="searchValue!=null and ''.toString()">
					and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
				</if>
			</trim>
			LIMIT
				#{standardDTO.pagination.firstRecordIndex},#{standardDTO.recordsPerPage}
  			
  		</select>
  		
  		<select id="getCommissionNotUsedCount" resultType="int" parameterType="map">
  			SELECT 
				count(1)
			FROM
				 tb_standard_commission
			WHERE 
				s_commission_use = 'N'
			AND 
				s_commission_last IS not null
			<trim prefixOverrides="AND / OR ">
				<if test="searchValue!=null and ''.toString()">
					and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
				</if>
			</trim>
  		</select>
  		
  		<select id="getCommissionNotUsed" resultMap="standardResultMap" parameterType="map">
  			SELECT 
				s_commission_idx, 
				s_commission_type, 
				s_commission_rate, 
				s_commission_date, 
				s_commission_use, 
				m_id, 
				s_reservation,
				s_commission_last
			FROM
				 tb_standard_commission
			WHERE 
				s_commission_use = 'N'
			AND 
				s_commission_last IS not null
			<trim prefixOverrides="AND / OR ">
				<if test="searchValue!=null and ''.toString()">
					and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
				</if>
			</trim>
			LIMIT
				#{standardDTO.pagination.firstRecordIndex},#{standardDTO.recordsPerPage}
  		</select>
  		
  		<select id="getTradeNotUsedCount" resultType="int" parameterType="map">
  			SELECT 
				count(1)
			FROM 
				tb_standard_trade
			WHERE
				s_trade_use ='N'
			AND
				s_trade_last IS not null
				
			<trim prefixOverrides="AND / OR ">
				<if test="searchValue!=null and ''.toString()">
					and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
				</if>
			</trim>
  		</select>
  		
  		<select id="getTradeNotUsed" resultMap="standardResultMap" parameterType="map">
  			SELECT 
				s_trade_idx, 
				s_trade_type, 
				s_trade_period, 
				s_trade_date, 
				s_trade_use, 
				m_id, 
				s_trade_last, 
				s_reservation
			FROM 
				tb_standard_trade
			WHERE
				s_trade_use ='N'
			AND
				s_trade_last IS not null
			<trim prefixOverrides="AND / OR ">
				<if test="searchValue!=null and ''.toString()">
					and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
				</if>
			</trim>
			LIMIT
				#{standardDTO.pagination.firstRecordIndex},#{standardDTO.recordsPerPage}
  		</select>
  		
  		<select id="getDepositReservation" resultMap="standardResultMap">
  			SELECT
				s_deposit_idx, 
				s_deposit_type, 
				s_deposit_rate, 
				s_deposit_date, 
				s_deposit_use, 
				m_id, 
				s_deposit_last, 
				s_reservation
			FROM 
				tb_standard_deposit 
			WHERE
				 s_deposit_use ='N'
			AND 
				s_deposit_last IS null
  			
  		</select>
  		<select id="getCommissionReservation" resultMap="standardResultMap">
  			SELECT 
				s_commission_idx, 
				s_commission_type, 
				s_commission_rate, 
				s_commission_date, 
				s_commission_use, 
				m_id, 
				s_reservation,
				s_commission_last
			FROM
				 tb_standard_commission
			WHERE 
				s_commission_use = 'N'
			AND 
				s_commission_last IS null
  		</select>
  		<select id="getTradeReservation" resultMap="standardResultMap">
  			SELECT 
				s_trade_idx, 
				s_trade_type, 
				s_trade_period, 
				s_trade_date, 
				s_trade_use, 
				m_id, 
				s_trade_last, 
				s_reservation
			FROM 
			tb_standard_trade
			WHERE
			s_trade_use ='N'
			AND
			s_trade_last IS null
  		</select>
  		
  		
		<!-- 거래대금 수수료  스케쥴러-->
		
		<update id="updateCommissionStatusN" parameterType="map">
			UPDATE 
				tb_standard_commission
			SET
				s_commission_use='N',
				s_commission_last=#{sCommissionLast}
			WHERE 
				s_commission_type = #{type}
		</update>

		<update id="updateCommissionStatusY" parameterType="String">
			UPDATE 
				tb_standard_commission
			SET
				s_commission_use='Y'
			WHERE 
				s_reservation=#{sReservation}
		
		</update>
		
		<select id="getCommissionReservationDate" resultMap="standardResultMap">
			SELECT s_reservation,s_commission_type FROM tb_standard_commission WHERE s_commission_use = 'N'
		</select>



		<!-- 거래기간 스케쥴러  -->
		<update id="updateTradeStatusN" parameterType="StandardDTO">
				UPDATE
				 	tb_standard_trade
				SET
					s_trade_use='N',
					s_trade_last=#{sTradeLast}
				WHERE 	s_trade_use='Y' AND s_trade_type = #{sTradeType}
		</update>
		
		<update id="updateTradeStatusY" parameterType="String">
			UPDATE 
				tb_standard_trade
			SET
				s_trade_use='Y'
			WHERE 
				s_reservation=#{sReservation}
		
		</update>
		
		<select id="getTradeReservationDate" resultMap="standardResultMap">
			SELECT s_reservation,s_trade_type FROM tb_standard_trade WHERE s_trade_use = 'N'
		</select>
		
		<!-- 예치금 스케쥴러 -->
		<update id="updateDepositStatusN" parameterType="StandardDTO">
				UPDATE
				 	tb_standard_deposit
				SET
					s_deposit_use='N',
					s_deposit_last=#{sDepositLast}
				WHERE 	s_deposit_use='Y' AND s_deposit_type = #{sDepositType} 
		</update>
		<update id="updateDepositStatusY" parameterType="String">
			UPDATE 
				tb_standard_deposit
			SET
				s_deposit_use='Y'
			WHERE 
				s_reservation=#{sReservation}
		
		</update>

		<select id="getDepositReservationDate" resultMap="standardResultMap">
			SELECT s_reservation,s_deposit_type FROM tb_standard_deposit WHERE s_deposit_use = 'N'
		</select>

  		
  		<delete id="removeFile" parameterType="String">
  				DELETE FROM tb_file WHERE idx=${idx};
  		</delete>
  		
  		<select id="getFileInfo" parameterType="int" resultMap ="fileResultMap">
  		  		select
  		  			original_file_name,
  		  			stored_file_path,
  		  			file_size
  		  		from
  		  			tb_file
  		  		where
  		  		 	idx = ${idx}
  		  		and 
  		  			deleted_yn = 'N'
  		</select>
  		
  		<select id="getBidFileList"  resultMap="fileResultMap">
  			
			SELECT 
				f.idx,
				f.file_sort_name,
				f.original_file_name, 
				f.creator_id,
				f.created_datetime,
				format(ROUND(f.file_size/1024),0) AS file_size
			FROM 
				tb_file AS f
			inner JOIN 
				tb_member AS m	
			ON f.creator_id = m.m_id
			WHERE 
				f.deleted_yn ='N' 
			AND
				f.file_sort_idx = '2'
			AND 
				m.m_level=1
			AND 
				f.related_table_code='입찰서류'
				
  		</select>
  		
  		
  		<select id="getNoticeFileList"  resultMap="fileResultMap">
  			
			SELECT 
				f.idx,
				f.file_sort_name,
				f.original_file_name, 
				f.creator_id,
				f.created_datetime,
				format(ROUND(f.file_size/1024),0) AS file_size
			FROM 
				tb_file AS f
			inner JOIN 
				tb_member AS m	
			ON f.creator_id = m.m_id
			WHERE 
				f.deleted_yn ='N' 
			AND
				f.file_sort_idx = '1'
			AND 
				m.m_level=1
			AND 
				f.related_table_code='공고서류'	
				
  		</select>
  		
  		
  		 <insert id="addFile" parameterType="FileDTO">
  		  		INSERT 
  		  		INTO
  		  			 tb_file(related_table_code, original_file_name, stored_file_path, file_size, creator_id, created_datetime, file_sort_idx, file_sort_name)
				VALUES
			<foreach collection = "list" item="item" separator=",">
					 (#{item.relatedTableCode}, #{item.originalFileName}, #{item.storedFilePath}, #{item.fileSize}, #{item.creatorId}, NOW() ,#{item.fileSortIdx},#{item.fileSortName})
			</foreach>
				
  		  </insert>
  		
  		<select id="getCommissionHistory" resultMap = "standardResultMap">
  			SELECT 
	  			s_commission_idx, 
	  			s_commission_type, 
	  			s_commission_rate, 
	  			s_commission_date, 
	  			s_commission_use, 
	  			s_reservation,
	  			s_commission_last,
	  			m_id
			FROM 
				tb_standard_commission
			WHERE 
				s_commission_use ='Y'
			
  		</select>
  		
  		
  		<select id="getTradeHistory" resultMap ="standardResultMap">
  			SELECT 
				s_trade_idx, 
				s_trade_type, 
				s_trade_period, 
				s_trade_date, 
				s_trade_use, 
				m_id, 
				s_trade_last, 
				s_reservation
			FROM 
				tb_standard_trade
			WHERE s_trade_use = 'Y'

  		</select>
  		
  		<select id="getDepositHistory" resultMap = "standardResultMap">
  			SELECT 
  				s_deposit_idx, 
  				s_deposit_rate, 
  				s_deposit_date, 
  				s_deposit_use,
  				s_deposit_type, 
  				s_deposit_last, 
  				s_reservation,
  				m_id
			FROM 
				tb_standard_deposit
			WHERE 
				s_deposit_use ='Y'
			
				
  		</select>
  		
  		
  		<delete id="removeTrade" parameterType="int">
  			DELETE FROM tb_standard_trade WHERE s_trade_idx=#{sTradeIdx}
  			
  		</delete>
  		<delete id="removeDeposit" parameterType="int">
  			DELETE FROM tb_standard_deposit WHERE s_deposit_idx=#{sDepositIdx}
  			
  		</delete>
  		
  		<delete id="removeCommission" parameterType="int">
  			DELETE FROM tb_standard_commission WHERE s_commission_idx=#{sCommissionIdx}
  		</delete>
  		
  		<insert id="addNewCommission" parameterType="StandardDTO">
  			INSERT 
  			INTO 
  				tb_standard_commission(s_commission_type, s_commission_rate, s_commission_date, s_commission_use, m_id,s_reservation)
			VALUES (#{sCommissionType}, #{sCommissionRate}, NOW(), 'N', #{mId},#{sReservation})
  		</insert>
  		
  		<insert id="addNewTrade" parameterType="StandardDTO">
  			INSERT 
  			INTO 
  				tb_standard_trade(s_trade_type, s_trade_period, s_trade_date, s_trade_use, m_id,s_reservation)
			VALUES 
				(#{sTradeType}, #{sTradePeriod}, NOW(), 'N', #{mId},#{sReservation})
  		</insert>
  		
  		
  		<insert id="addNewDeposit" parameterType="StandardDTO">
  			INSERT 
  			INTO 
  				tb_standard_deposit(s_deposit_type, s_deposit_rate, s_deposit_date, s_deposit_use, m_id,s_reservation)
			VALUES (#{sDepositType}, #{sDepositRate}, NOW(), 'N', #{mId},#{sReservation})
  		</insert>
  		
  		
  		<insert id="addTradePolicy" parameterType="StandardDTO">
  			INSERT 
  			INTO
  				tb_standard_trade(s_trade_type, s_trade_period, s_trade_date, s_trade_use, m_id)
			VALUES 
				(#{sTradeType}, #{sTradePeriod}, NOW(), 'Y', #{mId})
  		
  		</insert>
  		
  		<insert id="addCommissionPolicy" parameterType="StandardDTO">
  			INSERT
  			INTO 
  				tb_standard_commission(s_commission_type, s_commission_rate, s_commission_date, s_commission_use,m_id)
			VALUES (#{sCommissionType}, #{sCommissionRate}, NOW(), 'Y',#{mId})
  		</insert>
  		
  		<insert id="addDepositPolicy" parameterType="StandardDTO">
  			INSERT
  			INTO 
  				tb_standard_deposit(s_deposit_type, s_deposit_rate, s_deposit_date, s_deposit_use, m_id)
	
			VALUES 
				(#{sDepositType}, #{sDepositRate}, NOW(), 'Y', #{mId})
  		
  		</insert>
  		
  		
  		<update id="modifyDepositPolicy" parameterType="String">
  			UPDATE 
  				tb_standard_deposit
			SET
				s_deposit_use='N',
				s_deposit_last=now()
			WHERE
				s_deposit_idx =#{sDepositIdx} 
  		
  		</update>
  		<update id="modifyTradePolicy" parameterType="String">
  			UPDATE 
  				tb_standard_trade
			SET
				s_trade_use='N',
				s_trade_last=now()
			WHERE s_trade_idx = #{sTradeIdx}
  		
  		</update>
  		<update id="modifyCommissionPolicy" parameterType="String">
  			UPDATE
  				tb_standard_commission
			SET
				s_commission_use='N',
				s_commission_last=now()
			WHERE
				s_commission_idx = #{sCommissionIdx}
  		
  		</update>
  		
  		
  		<select id="getDepositPolicy" resultMap = "standardResultMap">
  			SELECT 
  				s_deposit_idx, 
  				s_deposit_rate, 
  				s_deposit_date, 
  				s_deposit_use,
  				s_deposit_type, 
  				s_deposit_last,
  				s_reservation,
  				m_id
			FROM 
				tb_standard_deposit
			WHERE  
				s_deposit_use ='Y'
			ORDER BY  
				s_deposit_type asc
  		</select>
  		
  		<select id="getTradePolicy" resultMap = "standardResultMap">
  			SELECT 
  				s_trade_idx, 
  				s_trade_type, 
  				s_trade_period, 
  				s_trade_date, 
  				s_trade_use,
  				s_trade_last,
  				s_reservation,
  				m_id
			FROM 
				tb_standard_trade 
			WHERE 
				s_trade_use = 'Y' 
			ORDER BY 
				s_trade_type asc
  		</select>
  		
  		<select id="getCommissionPolicy" resultMap = "standardResultMap">
  			SELECT 
	  			s_commission_idx, 
	  			s_commission_type, 
	  			s_commission_rate, 
	  			s_commission_date, 
	  			s_commission_use, 
	  			s_commission_last,
	  			s_reservation,
	  			m_id
			FROM 
				tb_standard_commission
			WHERE 
				s_commission_use ='Y'
			ORDER BY 
				s_commission_type asc
  		</select>
  		<select id="getTradePeriod" resultType="int">
  			SELECT 
  				s_trade_period
			FROM tb_standard_trade
			WHERE 
				s_trade_type = '계약기간'
				AND s_trade_use = 'Y'
  		</select>
		  		  
  	</mapper>