<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="com.cafe24.kangk0269.dao.SellMapper">
  	
  		<resultMap type = "FileDTO" id = "fileResultMap">
  		  		<result property="relatedTableCode" column="related_table_code"/>
  		  	  	<result property="originalFileName" column="original_file_name"/>
  		  	  	<result property="storedFilePath" column="stored_file_path"/>
  		  	  	<result property="fileSize" column="file_size"/>
  				<result property="createdDatetime" column="created_datetime"/>
  		  		<result property="creatorId" column="creator_id"/>
  		</resultMap>
  		<resultMap type = "BidPlantDTO" id = "bidPlantResultMap">
  		  		<result property="bPlCode" column="b_pl_code"/>
  		  	  	<result property="bzPlCode" column="bz_pl_code"/>
  		  	  	<result property="mId" column="m_id"/>
  		  	  	<result property="bPlTitle" column="b_pl_title"/>
  				<result property="bPlContents" column="b_pl_contents"/>
  		  		<result property="bPlPrice" column="b_pl_price"/>
  		  		<result property="plDepDataResidual" column="pl_dep_data_residual"/>
  		  		<result property="plDepPrice" column="pl_dep_price"/>
  		  		<result property="plDepStartDate" column="pl_dep_start_date"/>
  		  		<result property="bPlDateRequest" column="b_pl_date_request"/>
  		  		<result property="bPlDateBidding1" column="b_pl_date_bidding1"/>
  		  		<result property="bPlDateBidding2" column="b_pl_date_bidding2"/>
  		  		<result property="bPlDateDecision1" column="b_pl_date_decision1"/>
  		  		<result property="bPlDateDecision2" column="b_pl_date_decision2"/>
  		  		<result property="bPlGroupcode" column="b_pl_groupcode"/>
  		  		<result property="bPlStatus" column="b_pl_status"/>
  		  		<result property="bPlNumberOfBidder" column="b_pl_number_of_bidder"/>
  		  		<association property="businessPlantDTO" javaType="BusinessPlantDTO">
  		  			<id property="bzPlName" column="bz_pl_Name"/>
  		  			<result property="bzPlName" column="bz_pl_name"/>
  		  			<result property="bzPlZipcode" column="bz_pl_zipcode"/>
  		  			<result property="bzPlAddr" column="bz_pl_addr"/>
  		  			<result property="bzPlDetailAddr" column="bz_pl_detail_addr"/>
  		  			<result property="bzPlPhoto" column="bz_pl_photo"/>
  		  			<result property="bzPlPower" column="bz_pl_power"/>
  		  			<result property="bzPlHardware" column="bz_pl_hardware"/>
  		  			<result property="bzPlArea" column="bz_pl_area"/>
  		  			<result property="bzPlInvPower" column="bz_pl_inv_power"/>
  		  			<result property="bzPlInvCount" column="bz_pl_inv_count"/>
  		  			<result property="bzPlInvMaker" column="bz_pl_inv_maker"/>
  		  			<result property="bzPlRec" column="bz_pl_rec"/>
  		  		</association>
  		</resultMap>
  		
  		<resultMap type="BusinessPlantDTO" id="BusinessPlantResultMap">
  		  		<result property="bzPlCode" column="bz_pl_code"/>
  		  		<result property="mId" column="m_id"/>
  		  		<result property="bzPlCheck" column="bz_pl_check"/>
  		  		<result property="bzPlName" column="bz_pl_name"/>
  		  		<result property="bzPlZipcode" column="bz_pl_zipcode"/>
  		  		<result property="bzPlAddr" column="bz_pl_addr"/>
  		  		<result property="bzPlDetail_addr" column="bz_pl_detail_addr"/>
  		  		<result property="bzPlPhoto" column="bz_pl_photo"/>
  		  		<result property="bzPlPower" column="bz_pl_power"/>
  		  		<result property="bzPlHardware" column="bz_pl_hardware"/>
  		  		<result property="bzPlArea" column="bz_pl_area"/>
  		  		<result property="bzPlInvPower" column="bz_pl_inv_power"/>
  		  		<result property="bzPlInvCount" column="bz_pl_inv_count"/>
  		  		<result property="bzPlInvMaker" column="bz_pl_inv_maker"/>
  		  		<result property="bzPlRec" column="bz_pl_rec"/>
  		  		<association property="plantDepreciationDTO" javaType="PlantDepreciationDTO">
  		  			<id property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="bzPlCode" column="bz_pl_code"/>
	  		  		<result property="plDepPrice" column="pl_dep_price"/>
	  		  		<result property="plDepStartDate" column="pl_dep_start_Date"/>
	  		  		<result property="plDepServicelife" column="pl_dep_servicelife"/>
  		  		</association>
  		  		<association property="plantDepDataDTO" javaType="PlantDepDataDTO">
  		  			<id property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="plDepDataMonth" column="pl_dep_data_month"/>
	  		  		<result property="plDepDataResidual" column="pl_dep_data_residual"/>
  		  		</association>
  		  </resultMap>
  		  <resultMap type="BidListDTO" id="BidListResultMap">
  		  		<result property="bPlCode" column="b_pl_code"/>
  		  		<result property="mId" column="m_id"/>
  		  		<result property="bPlTitle" column="b_pl_title"/>
  		  		<result property="bPlContents" column="b_pl_contents"/>
  		  		<result property="bPlPrice" column="b_pl_price"/>
  		  		<result property="bPlDocument" column="b_pl_document"/>
  		  		<result property="plResidual" column="pl_residual"/>
  		  		<result property="plDepStartDate" column="pl_dep_start_date"/>
  		  		<result property="bPlCode" column="b_pl_code"/>
  		  		<result property="plDepUsed" column="pl_dep_used"/>
  		  		<result property="bPlDateRequest" column="b_pl_date_request"/>
  		  		<result property="bPlDateBidding1" column="b_pl_date_bidding1"/>
  		  		<result property="bPlDateBidding2" column="b_pl_date_bidding2"/>
  		  		<result property="bPlDateDecision1" column="b_pl_date_decision1"/>
  		  		<result property="bPlDateDecision2" column="b_pl_date_decision2"/>
  		  		<result property="bPlGroupcode" column="b_pl_groupcode"/>
  		  		<result property="bPlReCount" column="b_pl_re_count"/>
  		  		<result property="bPlConfirm" column="b_pl_confirm"/>
  		  		<result property="bPlConfirmStatus" column="b_pl_confirm_status"/>
  		  		<result property="bPlRejectReason" column="b_pl_reject_reason"/>
  		  		<result property="bPlCancelReason" column="b_pl_cancel_date"/>
  		  		<result property="bPlCancelDate" column="b_pl_cancel_date"/>
  		  		<result property="acStatusCode" column="ac_status_code"/>
  		  </resultMap>
  		  
  		  <resultMap type="ComponentDTO" id="componentResultMap">
  		  		<result property ="cpCode" column = "cp_code"/>
  		  		<result property ="mId" column = "m_id"/>
  		  		<result property ="cpName" column = "cp_name"/>
  		  		<result property ="cpInfo" column = "cp_info"/>
  		  		<result property ="cpMaker" column = "cp_maker"/>
  		  		<result property ="cpMakedate" column = "cp_makedate"/>
  		  		<result property ="cpUsedate" column = "cp_usedate"/>
  		  		<result property ="cpDate" column = "cp_date"/>
  		  		<association property ="bidComponentDTO" javaType="BidComponentDTO">
  		  			<id property="cpCode" column="cp_code"/>
  		  		</association>
  		  </resultMap>
  		  
  		  <!--부품 코드로 부품 정보 조회  -->
  		  <select id="getComponentInformation" resultMap = "componentResultMap" parameterType="String">
  		  		SELECT 
					cp_code, 
					m_id, 
					cp_name, 
					cp_info, 
					cp_maker, 
					cp_makedate, 
					cp_usedate, 
					cp_date
				FROM
					 tb_component
				WHERE cp_code = #{cpCode}
  		  </select>
  		  
  		  <!--아이디로 가지고 있는 부품정보조회  -->
  		  <select id="getComponent" resultMap = "componentResultMap" parameterType="String">
				SELECT 
					c.cp_code, c.m_id, c.cp_name, c.cp_info, c.cp_maker, c.cp_makedate, c.cp_usedate, c.cp_date

				FROM 
					tb_component AS c
				left JOIN
					tb_bid_component AS b
				
				ON c.cp_code = b.cp_code
				
				WHERE 
					b_cp_code IS null 
				AND
					c.m_id = #{mId}
			 
				
  		  </select>
  		  <select id="getBidPlantDetail" resultMap ="bidPlantResultMap" parameterType="String">
	  		  	SELECT 
	  		  		bz.bz_pl_name,
	  		  		bz.bz_pl_zipcode,
	  		  		bz.bz_pl_addr,
	  		  		bz.bz_pl_detail_addr,
	  		  		bz.bz_pl_photo,
	  		  		bz.bz_pl_power,
	  		  		bz.bz_pl_hardware,
	  		  		bz.bz_pl_area,
	  		  		bz.bz_pl_inv_power,
	  		  		bz.bz_pl_inv_count,
	  		  		bz.bz_pl_inv_maker,
	  		  		bz.bz_pl_rec,
	  		  		b.b_pl_code,
	  		  		b.b_pl_title,
	  		  		b.b_pl_contents,
	  		  		b.b_pl_price,
	  		  		b.pl_dep_data_residual,
	  		  		b.pl_dep_start_date,
	  		  		b.b_pl_status,
	  		  		b.b_pl_number_of_bidder,
	  		  		b.b_pl_date_bidding1,
	  		  		b.b_pl_date_bidding2,
	  		  		b.b_pl_date_decision1,
	  		  		b.b_pl_date_decision2
	  		  	FROM
	 				tb_business_plant as bz 
				INNER JOIN 
				 	tb_bid_plant AS b
				ON 
				 	bz.bz_pl_code = b.bz_pl_code
				WHERE 
					b.b_pl_code = #{bPlCode}
  		  </select>
  		  
  		  <delete id="removePlantApply" parameterType="String">
  		  		DELETE FROM tb_bid_plant WHERE b_pl_code=#{bPlCode}
  		  </delete>
  		  
  		  <update id="modifyPlantApply" parameterType="BidPlantDto">
  		  		UPDATE
  		  			tb_bid_plant
				SET
					b_pl_title=#{bPlTitle},
					b_pl_contents=#{bPlContents},
					b_pl_price=#{bPlPrice},
					b_pl_date_bidding1=#{bPlDateBidding1}
				WHERE 
					b_pl_code = #{bPlCode}
  		  </update>
  		  
  		  <select id="getBidPlantbyCode" resultMap="bidPlantResultMap" parameterType="String">
  		  		SELECT           
					b.b_pl_code,
					b.bz_pl_code,
					b.b_pl_title,
					b.b_pl_contents, 
					b.b_pl_price,
					b.pl_dep_data_residual,
					b.pl_dep_price,
					b.pl_dep_start_date,
					b.b_pl_date_bidding1,
					bz.bz_pl_name 
				FROM 
					tb_bid_plant as b 
				inner JOIN 
					tb_business_plant AS bz
				ON 
					b.bz_pl_code = bz.bz_pl_code
				WHERE 
					b_pl_code=#{bPlCode}
  		  </select>
  		  <update id="modifyFile" parameterType="String">
  		  		UPDATE 
  		  			tb_file
				SET
					deleted_yn ='Y'
				WHERE
					related_table_code=#{bPlCode} 
  		  </update>
  		  <insert id="addFile" parameterType="FileDTO">
  		  		INSERT 
  		  		INTO
  		  			 tb_file(related_table_code, original_file_name, stored_file_path, file_size, creator_id, created_datetime, file_sort_idx, file_sort_name)
				VALUES
			<foreach collection = "list" item="item" separator=",">
					 (#{item.relatedTableCode}, #{item.originalFileName}, #{item.storedFilePath}, #{item.fileSize}, #{item.creatorId}, NOW() ,#{item.fileSortIdx},#{item.fileSortName})
			</foreach>
				
  		  </insert>
  		  
  		  <select id="getNumberOfBidder" resultType="int">
  		  		SELECT COUNT(1) FROM tb_bid_list WHERE announced_code = 'b_pl_210224_0001' AND b_deposit_check = 'Y'
  		  </select>
  		  
  		  <select id="getHighestPriceByCode" resultType="int">
  		  		SELECT max(b_price) FROM tb_bid_list WHERE announced_code = 'b_pl_210224_0001' AND b_deposit_check = 'Y'
  		  </select>
  		  <select id="getBidPlantbyId" resultMap="bidPlantResultMap" parameterType="String">
  		  		SELECT
				 	p.bz_pl_name,
				 	b.b_pl_code,
					b.b_pl_title,
					b.b_pl_price,
					b.b_pl_date_bidding1,
					b.b_pl_date_bidding2,
					b.b_pl_status,
					b.b_pl_number_of_bidder
				FROM 
					tb_bid_plant AS b
				left JOIN 
					tb_business_plant AS p 
				ON 
					b.bz_pl_code = p.bz_pl_code 
				WHERE b.m_id = #{mId}
  		  </select>
  		  <!--발전소 판매 공고 신청  -->
  		  <insert id="addPlantApply" parameterType="BidPlantDTO">
				INSERT 
				INTO
					tb_bid_plant(
					b_pl_code, 
					bz_pl_code,
				 	m_id,
				  	b_pl_title,
				   	b_pl_contents, 
					b_pl_price,
					pl_dep_data_residual,
					pl_dep_price,
					pl_dep_start_date, 
					b_pl_date_request,
					b_pl_date_bidding1,
					b_pl_date_bidding2,
					b_pl_date_decision1,
					b_pl_date_decision2,
					b_pl_groupcode)
					VALUES (
					sf_b_pl_code(), 
					#{bzPlCode}, 
					#{mId}, 
					#{bPlTitle},
					#{bPlContents},
					#{bPlPrice},
					#{plDepDataResidual},
					#{plDepPrice},
					#{plDepStartDate},
					curdate(),
					#{bPlDateBidding1},
					sf_bidding_date(#{bPlDateBidding1}),
					sf_bidding_date(#{bPlDateBidding1}),
					sf_decide_bidder_date(#{bPlDateBidding1}),
					concat(sf_b_pl_code(),'_group'))
  		  </insert>
  		  
  		  <select id="getPlantInformation" resultMap="BusinessPlantResultMap" parameterType="String">
  		  		SELECT
					p.bz_pl_code,
					p.pl_dep_data_residual,
					d.pl_dep_start_date,
					d.pl_dep_price
	
				FROM 
					tb_plant_dep_data AS p
				inner JOIN
					tb_plant_depreciation AS d
				ON 
					p.bz_pl_code = d.bz_pl_code
				WHERE 
					p.pl_dep_data_month = d.pl_dep_servicelife 
				AND 
					p.bz_pl_code = #{bzPlCode}
  		  
  		  </select>
  		  
  		  <select id="getPlantName" resultMap="BusinessPlantResultMap" parameterType="String">
  		  		SELECT
					p.bz_pl_code,
					p.bz_pl_name 
				FROM 
					tb_bid_plant AS b 
				right JOIN
					tb_business_plant AS p 
				ON
					b.bz_pl_code = p.bz_pl_code 
				WHERE
					b.bz_pl_code IS NULL 
				AND 
					p.m_id = #{mId}

  		  </select>
		  		  
  	</mapper>