<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="com.cafe24.kangk0269.dao.SellMapper">
  		<resultMap type="BusinessPlantDTO" id="BusinessPlantResultMap">
  		  		<result property="bzPlCode" column="bz_pl_code"/>
  		  		<result property="mId" column="m_id"/>
  		  		<result property="bzPlCheck" column="bz_pl_check"/>
  		  		<result property="bzPlName" column="bz_pl_name"/>
  		  		<result property="bzPlZipcode" column="bz_pl_zipcode"/>
  		  		<result property="bzPlAddr" column="bz_pl_addr"/>
  		  		<result property="bzPlDetail_addr" column="bz_pl_detail_addr"/>
  		  		<result property="bzPlPhoto" column="bz_pl_photo"/>
  		  		<result property="bzPlPower" column="bz_pl_power"/>
  		  		<result property="bzPlHardware" column="bz_pl_hardware"/>
  		  		<result property="bzPlArea" column="bz_pl_area"/>
  		  		<result property="bzPlInvPower" column="bz_pl_inv_power"/>
  		  		<result property="bzPlInvCount" column="bz_pl_inv_count"/>
  		  		<result property="bzPlInvMaker" column="bz_pl_inv_maker"/>
  		  		<result property="bzPlRec" column="bz_pl_rec"/>
  		  		<association property="plantDepreciationDTO" javaType="PlantDepreciationDTO">
  		  			<id property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="bzPlCode" column="bz_pl_code"/>
	  		  		<result property="plDepPrice" column="pl_dep_price"/>
	  		  		<result property="plDepStartDate" column="pl_dep_start_Date"/>
	  		  		<result property="plDepServicelife" column="pl_dep_servicelife"/>
  		  		</association>
  		  		<association property="plantDepDataDTO" javaType="PlantDepDataDTO">
  		  			<id property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="pl_dep_data_month" column="bz_dep_data_month"/>
	  		  		<result property="bzPlCode" column="bz_pl_code"/>
  		  		</association>
  		  	
  		  		
  		  </resultMap>
  		  <resultMap type="BidPlantDTO" id="BidListResultMap">
  		  		<result property="bPlCode" column="b_pl_code"/>
  		  		<result property="mId" column="m_id"/>
  		  		<result property="bPlTitle" column="b_pl_title"/>
  		  		<result property="bPlContents" column="b_pl_contents"/>
  		  		<result property="bPlPrice" column="b_pl_price"/>
  		  		<result property="bPlDocument" column="b_pl_document"/>
  		  		<result property="plResidual" column="pl_residual"/>
  		  		<result property="plDepStartDate" column="pl_dep_start_date"/>
  		  		<result property="bPlCode" column="b_pl_code"/>
  		  		<result property="plDepUsed" column="pl_dep_used"/>
  		  		<result property="bPlDateRequest" column="b_pl_date_request"/>
  		  		<result property="bPlDateBidding1" column="b_pl_date_bidding1"/>
  		  		<result property="bPlDateBidding2" column="b_pl_date_bidding2"/>
  		  		<result property="bPlDateDecision1" column="b_pl_date_decision1"/>
  		  		<result property="bPlDateDecision2" column="b_pl_date_decision2"/>
  		  		<result property="bPlGroupcode" column="b_pl_groupcode"/>
  		  		<result property="bPlReCount" column="b_pl_re_count"/>
  		  		<result property="bPlConfirm" column="b_pl_confirm"/>
  		  		<result property="bPlConfirmStatus" column="b_pl_confirm_status"/>
  		  		<result property="bPlRejectReason" column="b_pl_reject_reason"/>
  		  		<result property="bPlCancelReason" column="b_pl_cancel_date"/>
  		  		<result property="bPlCancelDate" column="b_pl_cancel_date"/>
  		  		<result property="acStatusCode" column="ac_status_code"/>
  		  		<result property="bPlStatus" column="b_pl_status"/>
  		  		<result property="bPlNumberOfBidder" column="b_pl_number_of_bidder"/>
  		  		
  			  	<association property="businessPlantDTO" javaType="BusinessPlantDTO">
  		  			<id property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="bzPlCode" column="bz_pl_code"/>
	  		  		<result property="bzPlName" column="bz_pl_name"/>
  		  		</association>
  		  		
  		  
  		  </resultMap>
  		  <select id="getNumberOfBidder" resultType="int">
  		  		SELECT COUNT(1) FROM tb_bid_list WHERE announced_code = 'b_pl_210224_0001' AND b_deposit_check = 'Y'
  		  </select>
  		  
  		  <select id="getHighestPriceByCode" resultType="int">
  		  		SELECT max(b_price) FROM tb_bid_list WHERE announced_code = 'b_pl_210224_0001' AND b_deposit_check = 'Y'
  		  </select>
  		  <select id="getBidPlantbyId" resultMap="BidListResultMap">
  		  		SELECT
  		  			b.b_pl_number_of_bidder,b.b_pl_price,p.bz_pl_name,b.b_pl_title, b.b_pl_date_bidding1,b.b_pl_date_bidding2,b.b_pl_status
  		  		FROM 
  		  			tb_bid_plant AS b
  		  		left JOIN 
  		  			tb_business_plant AS p 
  		  		ON b.bz_pl_code = p.bz_pl_code where p.m_id = 'id002' 
  		  </select>
  		  
  		  <insert id="addPlantApply" parameterType="BidPlantDTO">
				INSERT INTO 
					tb_bid_plant
					(b_pl_code,
					 bz_pl_code,
					 m_id,
					 b_pl_title,
					 b_pl_contents,
					 b_pl_price,
					 b_pl_specs,
					 b_pl_document,
					 pl_residual,
					 pl_dep_price,
					 pl_dep_start_date,
					 pl_dep_used,
					 b_pl_status,
					 ac_status_code,
					 b_pl_date_request,
					 b_pl_date_bidding1,
					 b_pl_date_bidding2,
					 b_pl_date_decision1,
					 b_pl_date_decision2,
					 b_pl_groupcode,
					 b_pl_re_count)
				VALUES 
				(sf_b_pl_code(), #{bzPlCode}, #{mId}, #{bPlTitle}, #{bPlContents}, #{bPlPrice},#{bPlStartDate} ,#{bPlSpecs}, #{bPlDocument}, 0, 0, NOW(), '', '', 0, NOW(), NOW(), NOW(), NOW(), NOW(), '', 0, NOW(), '', '', '', NOW())
  		  </insert>
  		  
  		  <select id="getPlantName" resultMap="BusinessPlantResultMap">
  		  		SELECT
					dd.pl_dep_data_residual,
					d.pl_dep_price,
					d.pl_dep_start_date,
					p.bz_pl_code,
					p.bz_pl_name 
				FROM 
					tb_bid_plant AS b 
				right JOIN
					tb_business_plant AS p 
				ON
					b.bz_pl_code = p.bz_pl_code 
				inner JOIN 
					tb_plant_depreciation AS d
				ON p.bz_pl_code = d.bz_pl_code
				INNER join
					tb_plant_dep_data AS dd
				ON d.pl_dep_servicelife = dd.pl_dep_data_month
				WHERE
					b.bz_pl_code IS NULL 
				AND 
					p.m_id = 'id013'
  		  </select>
		  		  
  	</mapper>