<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  	<mapper namespace="com.cafe24.kangk0269.dao.SellMapper">
  	
  		<resultMap type = "FileDTO" id = "fileResultMap">
  		  		<result property="relatedTableCode" column="related_table_code"/>
  		  	  	<result property="originalFileName" column="original_file_name"/>
  		  	  	<result property="storedFilePath" column="stored_file_path"/>
  		  	  	<result property="fileSize" column="file_size"/>
  				<result property="createdDatetime" column="created_datetime"/>
  		  		<result property="creatorId" column="creator_id"/>
  		  		<result property="fileSortIdx" column="file_sort_idx"/>
  		</resultMap>
  		<resultMap type = "BidPlantDTO" id = "bidPlantResultMap">
  		  		<result property="bPlCode" column="b_pl_code"/>
  		  	  	<result property="bzPlCode" column="bz_pl_code"/>
  		  	  	<result property="mId" column="m_id"/>
  		  	  	<result property="bPlTitle" column="b_pl_title"/>
  				<result property="bPlContents" column="b_pl_contents"/>
  		  		<result property="bPlPrice" column="b_pl_price"/>
  		  		<result property="plDepDataResidual" column="pl_dep_data_residual"/>
  		  		<result property="plDepPrice" column="pl_dep_price"/>
  		  		<result property="plDepStartDate" column="pl_dep_start_date"/>
  		  		<result property="bPlDateRequest" column="b_pl_date_request"/>
  		  		<result property="bPlDateBidding1" column="b_pl_date_bidding1"/>
  		  		<result property="bPlDateBidding2" column="b_pl_date_bidding2"/>
  		  		<result property="bPlDateDecision1" column="b_pl_date_decision1"/>
  		  		<result property="bPlDateDecision2" column="b_pl_date_decision2"/>
  		  		<result property="bPlGroupcode" column="b_pl_groupcode"/>
  		  		<result property="bPlStatus" column="b_pl_status"/>
  		  		<result property="bPlNumberOfBidder" column="b_pl_number_of_bidder"/>
  		  		<association property="businessPlantDTO" javaType="BusinessPlantDTO">
  		  			<id property="bzPlName" column="bz_pl_Name"/>
  		  			<result property="bzPlName" column="bz_pl_name"/>
  		  			<result property="bzPlZipcode" column="bz_pl_zipcode"/>
  		  			<result property="bzPlAddr" column="bz_pl_addr"/>
  		  			<result property="bzPlDetailAddr" column="bz_pl_detail_addr"/>
  		  			<result property="bzPlPhoto" column="bz_pl_photo"/>
  		  			<result property="bzPlPower" column="bz_pl_power"/>
  		  			<result property="bzPlHardware" column="bz_pl_hardware"/>
  		  			<result property="bzPlArea" column="bz_pl_area"/>
  		  			<result property="bzPlInvPower" column="bz_pl_inv_power"/>
  		  			<result property="bzPlInvCount" column="bz_pl_inv_count"/>
  		  			<result property="bzPlInvMaker" column="bz_pl_inv_maker"/>
  		  			<result property="bzPlRec" column="bz_pl_rec"/>
  		  		</association>
  		</resultMap>
  		
  		<resultMap type="BusinessPlantDTO" id="BusinessPlantResultMap">
  		  		<result property="bzPlCode" column="bz_pl_code"/>
  		  		<result property="mId" column="m_id"/>
  		  		<result property="bzPlCheck" column="bz_pl_check"/>
  		  		<result property="bzPlName" column="bz_pl_name"/>
  		  		<result property="bzPlZipcode" column="bz_pl_zipcode"/>
  		  		<result property="bzPlAddr" column="bz_pl_addr"/>
  		  		<result property="bzPlDetail_addr" column="bz_pl_detail_addr"/>
  		  		<result property="bzPlPhoto" column="bz_pl_photo"/>
  		  		<result property="bzPlPower" column="bz_pl_power"/>
  		  		<result property="bzPlHardware" column="bz_pl_hardware"/>
  		  		<result property="bzPlArea" column="bz_pl_area"/>
  		  		<result property="bzPlInvPower" column="bz_pl_inv_power"/>
  		  		<result property="bzPlInvCount" column="bz_pl_inv_count"/>
  		  		<result property="bzPlInvMaker" column="bz_pl_inv_maker"/>
  		  		<result property="bzPlRec" column="bz_pl_rec"/>
  		  		<association property="plantDepreciationDTO" javaType="PlantDepreciationDTO">
  		  			<id property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="bzPlCode" column="bz_pl_code"/>
	  		  		<result property="plDepPrice" column="pl_dep_price"/>
	  		  		<result property="plDepStartDate" column="pl_dep_start_Date"/>
	  		  		<result property="plDepServicelife" column="pl_dep_servicelife"/>
  		  		</association>
  		  		<association property="plantDepDataDTO" javaType="PlantDepDataDTO">
  		  			<id property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="bzPlCode" column="bz_pl_code"/>
  		  			<result property="plDepDataMonth" column="pl_dep_data_month"/>
	  		  		<result property="plDepDataResidual" column="pl_dep_data_residual"/>
  		  		</association>
  		  </resultMap>
  		  <resultMap type="BidListDTO" id="BidListResultMap">
  		  		<result property="bCode" column="b_code"/>
  		  		<result property="announcedCode" column="announced_code"/>
  		  		<result property="bTitle" column="b_title"/>
  		  		<result property="mId" column="m_id"/>
  		  		<result property="bPrice" column="b_price"/>
  		  		<result property="bDepositCheck" column="b_pl_document"/>
  		  		<result property="dcInstructions" column="dc_instructions"/>
  		  		<result property="dcApplication" column="dc_application"/>
  		  		<result property="dcProposal" column="dc_proposal"/>
  		  		<result property="bDate" column="b_date"/>
  		  		<result property="bCheck" column="b_check"/>
  		  		<result property="bRank" column="b_rank"/>
  		  		<association property="businessDTO">
  		  			<result property="mId" column="m_id"/>
  		  			<result property="bzCeoName" column="bz_ceo_name"/>
  		  			<result property="bzCompanyName" column="bz_company_name"/>
  		  			<result property="bzZipcode" column="bz_zipcode"/>
  		  			<result property="bzAddr" column="bz_addr"/>
  		  			<result property="bzDetailAddr" column="bz_detail_addr"/>
  		  		</association>
  		  		
  		  		
  		  		
  		  </resultMap>
  		  
  		  <resultMap type="ComponentDTO" id="componentResultMap">
  		  		<result property ="cpCode" column = "cp_code"/>
  		  		<result property ="mId" column = "m_id"/>
  		  		<result property ="cpName" column = "cp_name"/>
  		  		<result property ="cpInfo" column = "cp_info"/>
  		  		<result property ="cpMaker" column = "cp_maker"/>
  		  		<result property ="cpMakedate" column = "cp_makedate"/>
  		  		<result property ="cpUsedate" column = "cp_usedate"/>
  		  		<result property ="cpDate" column = "cp_date"/>
  		  		<association property ="bidComponentDTO" javaType="BidComponentDTO">
  		  			<id property="cpCode" column="cp_code"/>
  		  			<result property="cpCode" column="cp_code"/>
  		  		</association>
  		  </resultMap>
  		  
  		  <resultMap type="BidComponentDTO" id="bidComponentResultMap">
  				<result property = "mId" column = "m_id"/>
  		  		<result property = "bCpCode" column = "b_cp_code"/>
  		  		<result property = "cpCode" column = "cp_code"/>
  		  		<result property = "bCpTitle" column = "b_cp_title"/>
  		  		<result property = "bCpContents" column = "b_cp_contents"/>
  		  		<result property = "bCpPrice" column = "b_cp_price"/>
  		  		<result property = "bCpDateBidding1" column = "b_cp_date_bidding1"/>
  		  		<result property = "bCpDateBidding2" column = "b_cp_date_bidding2"/>
  		  		<result property = "bCpDateDecision1" column = "b_cp_date_decision1"/>
  		  		<result property = "bCpDateDecision2" column = "b_cp_date_decision2"/>
  		  		<result property = "bCpStatus" column = "b_cp_status"/>
  		  		<result property = "bCpBidderNumber" column = "b_cp_bidder_number"/>
  		  		
  		  		<association property ="componentDTO" javaType="ComponentDTO">
  		  			<id property = "cpCode" column="cp_code"/>
  		  			<result property ="cpName" column="cp_name"/>
  		  			<result property ="cpInfo" column="cp_info"/>
  		  			<result property ="cpMaker" column="cp_maker"/>
  		  			<result property ="cpUsedate" column="cp_usedate"/>
  		  		</association>
  		  	
  		  </resultMap>
  		  
  		  <resultMap type="TradePriorityDTO" id="tradePriorityResultMap" >
  		  		<result property ="trPrCode" column ="tr_pr_code"/>
  		  		<result property ="bCode" column ="b_code"/>
  		  		<result property ="bTypeCode" column ="b_type_code"/>
  		  		<result property ="announcedCode" column ="announced_code"/>
  		  		<result property ="announcedTitle" column ="announced_title"/>
  		  		<result property ="mIdSeller" column ="m_id_seller"/>
  		  		<result property ="mIdBuyer" column ="m_id_buyer"/>
  		  		<result property ="trPrPrice" column ="tr_pr_price"/>
  		  		<result property ="trPayoutCheck" column ="tr_payout_check"/>
  		  		<result property ="comissionRate" column ="comissionRate"/>
  		  		<result property ="commission" column ="commission"/>
  		  		<result property ="availableOut" column ="availableOut"/>
  		  		
  		  		
  		  		<association property ="tradePaymentInDTO" javaType="TradePaymentInDTO">
  		  			<id property ="bMoDate" column="b_mo_date"/>
  		  			<result property ="bMoDate" column="b_mo_date"/>
  		  		</association>
  		  		
  		  </resultMap>
  		  
  		  <resultMap type="MemberAccountDTO" id="memberAccountResultMap">
  		  	<result property="mId" column ="m_id"/>
  		  	<result property="mAccountNumber" column ="m_account_number"/>
  		  	<result property="mAccountName" column ="m_account_Name"/>
  		  	<result property="mAccountBank" column ="m_account_bank"/>
  		  </resultMap>
  		  
  		  <resultMap type="TradePaymentOutDTO" id="tradePaymentOutResultMap">
  		  	<result property="trPayoutCode" column ="tr_payout_code"/>
  		  	<result property="trPrCode" column ="tr_pr_code"/>
  		  	<result property="mId" column ="m_id"/>
  		  	<result property="trPayoutPrice" column ="tr_payout_price"/>
  		  	<result property="sCommissionRate" column ="s_commission_rate"/>
  		  	<result property="cTradeCm" column ="c_trade_cm"/>
  		  	<result property="trPayoutPriceReal" column ="tr_payout_price_real"/>
  		  	<result property="trPayoutBank" column ="tr_payout_bank"/>
  		  	<result property="trPayoutAccount" column ="tr_payout_account"/>
  		  	<result property="trPayoutAccountCheck" column ="tr_payout_account_check"/>
  		  	<result property="trPayoutAccountName" column ="tr_payout_account_name"/>
  		  	<result property="trPayoutDate" column ="tr_payout_date"/>
  		  	<result property="trPayoutCheck" column ="tr_payout_check"/>
  		  </resultMap>
  		  
  		  <resultMap type="businessDTO" id="businessResultMap">
  		  	<result property="mId" column ="m_id"/>
  		  	<result property="bzCompanyName" column ="bz_company_name"/>
  		  	<result property="bzCeoName" column ="bz_ceo_name"/>
  		  	<result property="bzZipcode" column ="bz_zipcode"/>
  		  	<result property="bzDetailAddr" column ="bz_detail_addr"/>
  		  	<result property="bzAddr" column ="bz_addr"/>
  		  </resultMap>
  		  
  		  <delete id="removeApplyFile" parameterType="String">
  		  	DELETE FROM tb_file WHERE related_table_code =#{bPlCode}
  		  
  		  </delete>
  		  
  		  <select id="getFileList"  parameterType ="FileDTO" resultMap="fileResultMap">
  			
			SELECT 
				idx,
				file_sort_name,
				original_file_name, 
				creator_id,
				created_datetime,
				format(ROUND(file_size/1024),0) AS file_size
			FROM tb_file  
			WHERE 
				file_sort_idx= #{fileSortIdx}
			AND 
				related_table_code = #{relatedTableCode}
				
  		</select>
  		  
  		  
  		  
  		  <select id="getBidPlantCode" parameterType="String" resultMap="bidPlantResultMap">
  		  	SELECT 
  		  		b_pl_code 
  		  	FROM 
  		  		tb_bid_plant 
  		  	WHERE 
  		  		bz_pl_code = #{bzPlCode}
  		 </select>
  		
  		  
  		  <update id="modifyDocumentCheck" parameterType="map">
  		  	UPDATE 
  		  		tb_bid_list
			SET
				b_check=#{bCheck}
			WHERE 
				b_code = #{bCode}
  		  
  		  </update>
  		  
  		  
  		  <select id="getBuyerInfoByCode" parameterType="String" resultMap="BidListResultMap">
  		  	SELECT 
				b.m_id,
				b.bz_ceo_name,
				b.bz_company_name,  
				b.bz_zipcode,b.bz_addr,b.bz_detail_addr,
				l.b_code,
				l.b_check,
				l.b_price	
			FROM 	
				tb_business AS b 
			INNER JOIN 
				tb_bid_list AS l
			ON
				l.m_id = b.m_id
			WHERE
				l.b_code=#{bCode}
  		  </select>
  		  
  		  <update id="modifyApplyYn" parameterType="String">
  		  		UPDATE tb_trade_priority
				SET
					tr_payout_check='Y'
				WHERE tr_pr_code=#{trPrCode}
			  		  	
  		  </update>
  		  
  		  <insert id="addApplyPayment"  parameterType="TradePaymentOutDTO">
				  		  			
				INSERT 
				INTO 
				tb_trade_payment_out(
					tr_payout_code, 
					tr_pr_code,
					m_id, 
					tr_payout_price, 
					s_commission_rate, 
					c_trade_cm, 
					tr_payout_price_real, 
					tr_payout_bank, 
					tr_payout_account, 
					tr_payout_account_check, 
					tr_payout_account_name, 
					tr_payout_date
					)
					VALUES (
					sf_tr_payout_code(),
					 #{trPrCode}, 
					 #{mId}, 
					 #{trPayoutPrice},
					 #{sCommissionRate},
					 #{cTradeCm},
					 #{trPayoutPriceReal}, 
					 #{trPayoutBank},
					 #{trPayoutAccount},
					 'Y',
					 #{trPayoutAccountName}, 
					 NOW()
					)
				  		  
  		  </insert>
  		  
  		  
  		    <select id="getAccountInfoByNumber" resultMap = "memberAccountResultMap" parameterType="String">
  		  		SELECT 
	  		  		m_id, 
	  		  		m_account_number, 
	  		  		m_account_name, 
	  		  		m_account_bank 
  		  		FROM 
  		  			tb_member_account
				WHERE 
					m_account_check = 'Y' 
				AND 
					m_account_number= #{mAccountNumber}
  		  </select>
  		  
  		  
  		  <select id="getMemberAccountById" resultMap = "memberAccountResultMap" parameterType="String">
  		  		SELECT 
	  		  		m_id, 
	  		  		m_account_number, 
	  		  		m_account_name, 
	  		  		m_account_bank 
  		  		FROM 
  		  			tb_member_account
				WHERE 
					m_account_check = 'Y' 
				AND 
					m_id= #{mId}
  		  </select>
  		  
  		  <select id="getPaymentOutByCode" resultMap = "tradePriorityResultMap" parameterType="String">
  		  		
				SELECT 
			
					p.tr_pr_code,
					p.announced_title,
					p.announced_code,
					p.m_id_buyer,
					p.tr_pr_price, 
					sf_get_commission(p.tr_pr_price) AS comissionRate,
					p.tr_pr_price*sf_get_commission(p.tr_pr_price)/100 AS commission,
					p.tr_pr_price-(p.tr_pr_price*sf_get_commission(p.tr_pr_price)/100) AS availableOut
		
				FROM 
					tb_trade_priority as p 
				
				WHERE 
					p.tr_type_code = 14 
				AND 
					p.tr_pr_code=#{trPrCode}
					

  		  </select>
  		  
  		  
  		  <!--출금신청 가능한 목록  -->
  		  <select id="getPaymentAvailable" resultMap = "tradePriorityResultMap" parameterType="String">
  		  		
				SELECT 
					pin.b_mo_date,
					p.tr_pr_code,
					p.announced_title,
					p.announced_code,
					p.m_id_buyer,
					p.tr_pr_price, 
					sf_get_commission(p.tr_pr_price) AS comissionRate,
					p.tr_pr_price*sf_get_commission(p.tr_pr_price)/100 AS commission,
					p.tr_pr_price-(p.tr_pr_price*sf_get_commission(p.tr_pr_price)/100) AS availableOut,
					p.tr_payout_check
				FROM 
					tb_trade_priority as p 
				INNER JOIN
					tb_trade_payment_in AS pin
				on
					pin.announced_code = p.announced_code
				
				WHERE 
					p.tr_type_code = 14 
				AND 
					p.m_id_seller=#{mIdSeller}
				AND 
					p.tr_payout_check='N'

  		  </select>
  		  <!-- 출금신청한 목록  -->
  		  	<select id="getPaymentApplyList" resultMap = "tradePriorityResultMap" parameterType="String">
  		  		SELECT 
					p.tr_pr_code,
					p.announced_title,
					p.announced_code,
					p.m_id_buyer,
					p.tr_pr_price, 
					sf_get_commission(p.tr_pr_price) AS comissionRate,
					p.tr_pr_price*sf_get_commission(p.tr_pr_price)/100 AS commission,
					p.tr_pr_price-(p.tr_pr_price*sf_get_commission(p.tr_pr_price)/100) AS availableOut,
					p.tr_payout_check,
					pout.tr_payout_check
			
				FROM 
					tb_trade_priority as p 
				
				INNER JOIN
					tb_trade_payment_out AS pout
				on
					p.m_id_seller = pout.m_id
				WHERE 
					p.m_id_seller='id002'
				AND 
					p.tr_payout_check = 'Y'
				AND 
					pout.tr_payout_check='N'
					
  		  	</select>
  		  
  		  
  		  
  		  <select id="getPlantBidderList" resultMap="BidListResultMap" parameterType="String">
  		  		  
  		  	SELECT 
					l.b_code, 
					l.announced_code, 
					l.m_id, 
					l.b_price,  
					l.dc_instructions, 
					l.dc_application, 
					l.dc_proposal,
					l.b_date, 
					l.b_check, 
					l.b_rank
					
				FROM 
					tb_bid_list AS l

				WHERE 
					b_type_code = 1 
				AND
					b_check ='Y'
				AND 
					announced_code =#{code}
  		  
  		  </select>
  		  
  	
  		  
  		  
  		  
  		  <!--부품 코드로 부품 정보 조회  -->
  		  <select id="getComponentInformation" resultMap = "componentResultMap" parameterType="String">
  		  		SELECT 
					cp_code, 
					m_id, 
					cp_name, 
					cp_info, 
					cp_maker, 
					cp_makedate, 
					cp_usedate, 
					cp_date
				FROM
					 tb_component
				WHERE cp_code = #{cpCode}
  		  </select>
  		  
  		  <!--아이디로 등록한 부품공고 조회 -->
  		  <select id="getBidComponentById" resultMap = "bidComponentResultMap" parameterType="String">
  		  		SELECT 
					c.cp_name,
					b.b_cp_code,
					b.cp_code, 
					b.b_cp_title,  
					b.b_cp_price, 
					b.b_cp_status,
					b.b_cp_date_bidding1,
					b.b_cp_date_bidding2
				FROM 
					tb_bid_component AS b
				inner JOIN 
					tb_component AS c 
				ON 
					b.cp_code = c.cp_code
				<trim prefix="WHERE" prefixOverrides="AND / OR ">
					<if test="mId!=null and ''.toString()">
						b.m_id = #{mId}
					</if>
					<if test="searchValueCp!=null and ''.toString()">
						and ${searchKeyCp} LIKE CONCAT ('%',#{searchValueCp},'%')
					</if>
				</trim>
					
								
  		  </select>
  		  <!--아이디로 가지고 있는 부품정보조회  -->
  		  <select id="getComponent" resultMap = "componentResultMap" parameterType="String">
				SELECT 
					c.cp_code, c.m_id, c.cp_name, c.cp_info, c.cp_maker, c.cp_makedate, c.cp_usedate, c.cp_date

				FROM 
					tb_component AS c
				left JOIN
					tb_bid_component AS b
				
				ON c.cp_code = b.cp_code
				
				WHERE 
					b_cp_code IS null 
				AND
					c.m_id = #{mId}
			 
				
  		  </select>
  		  
  		  <select id="getComponentDetail" resultMap="bidComponentResultMap" parameterType="String">
  		  		SELECT 
					b.b_cp_code,
					b.cp_code,
					b.b_cp_title,
					b.b_cp_contents,
					b.b_cp_price,
					b.cp_usedate,
					b.b_cp_status, 
					b.b_cp_date_bidding1,
					b.b_cp_date_bidding2,
					b.b_cp_date_decision1,
					b.b_cp_date_decision2,
					c.cp_name,
					c.cp_info,
					c.cp_maker,
					c.cp_usedate 
				FROM 
					tb_bid_component AS b 
				INNER JOIN 
					tb_component AS c
				ON 
					b.cp_code = c.cp_code
				WHERE 
					b.b_cp_confirm_status = 'Y'
				AND b.b_cp_code = #{bCpCode}
				 
  		  
  		  </select>
  		  
  		  <select id="getBidPlantDetail" resultMap ="bidPlantResultMap" parameterType="String">
	  		  	SELECT 
	  		  		bz.bz_pl_name,
	  		  		bz.bz_pl_zipcode,
	  		  		bz.bz_pl_addr,
	  		  		bz.bz_pl_detail_addr,
	  		  		bz.bz_pl_photo,
	  		  		bz.bz_pl_power,
	  		  		bz.bz_pl_hardware,
	  		  		bz.bz_pl_area,
	  		  		bz.bz_pl_inv_power,
	  		  		bz.bz_pl_inv_count,
	  		  		bz.bz_pl_inv_maker,
	  		  		bz.bz_pl_rec,
	  		  		b.b_pl_code,
	  		  		b.b_pl_title,
	  		  		b.b_pl_contents,
	  		  		b.b_pl_price,
	  		  		b.pl_dep_data_residual,
	  		  		b.pl_dep_start_date,
	  		  		b.b_pl_status,
	  		  		b.b_pl_number_of_bidder,
	  		  		b.b_pl_date_bidding1,
	  		  		b.b_pl_date_bidding2,
	  		  		b.b_pl_date_decision1,
	  		  		b.b_pl_date_decision2
	  		  	FROM
	 				tb_business_plant as bz 
				INNER JOIN 
				 	tb_bid_plant AS b
				ON 
				 	bz.bz_pl_code = b.bz_pl_code
				WHERE 
					b.b_pl_code = #{bPlCode}
  		  </select>
  		  
  		  <delete id="removePlantApply" parameterType="String">
  		  		DELETE FROM tb_bid_plant WHERE b_pl_code=#{bPlCode}
  		  </delete>
  		  
  		  <update id="modifyPlantApply" parameterType="BidPlantDto">
  		  		UPDATE
  		  			tb_bid_plant
				SET
					b_pl_title=#{bPlTitle},
					b_pl_contents=#{bPlContents},
					b_pl_price=#{bPlPrice},
					b_pl_date_bidding1=#{bPlDateBidding1}
				WHERE 
					b_pl_code = #{bPlCode}
  		  </update>
  		  
  		  <select id="getBidPlantbyCode" resultMap="bidPlantResultMap" parameterType="String">
  		  		SELECT           
					b.b_pl_code,
					b.bz_pl_code,
					b.b_pl_title,
					b.b_pl_contents, 
					b.b_pl_price,
					b.pl_dep_data_residual,
					b.pl_dep_price,
					b.pl_dep_start_date,
					b.b_pl_date_bidding1,
					bz.bz_pl_name 
				FROM 
					tb_bid_plant as b 
				inner JOIN 
					tb_business_plant AS bz
				ON 
					b.bz_pl_code = bz.bz_pl_code
				WHERE 
					b_pl_code=#{bPlCode}
  		  </select>
  		  <update id="modifyFile" parameterType="String">
  		  		UPDATE 
  		  			tb_file
				SET
					deleted_yn ='Y'
				WHERE
					related_table_code=#{bPlCode} 
  		  </update>
  		  <insert id="addFile" parameterType="FileDTO">
  		  		INSERT 
  		  		INTO
  		  			 tb_file(related_table_code, original_file_name, stored_file_path, file_size, creator_id, created_datetime, file_sort_idx, file_sort_name)
				VALUES
			<foreach collection = "list" item="item" separator=",">
					 (#{item.relatedTableCode}, #{item.originalFileName}, #{item.storedFilePath}, #{item.fileSize}, #{item.creatorId}, NOW() ,#{item.fileSortIdx},#{item.fileSortName})
			</foreach>
				
  		  </insert>
  		  
  		
  		
  		  <select id="getBidPlantbyId" resultMap="bidPlantResultMap" parameterType="String">
  		  		SELECT
				 	p.bz_pl_name,
				 	b.b_pl_code,
					b.b_pl_title,
					b.b_pl_price,
					b.b_pl_date_bidding1,
					b.b_pl_date_bidding2,
					b.b_pl_status,
					b.b_pl_number_of_bidder
				FROM 
					tb_bid_plant AS b
				left JOIN 
					tb_business_plant AS p 
				ON 
					b.bz_pl_code = p.bz_pl_code 
				 
				<trim prefix="WHERE" prefixOverrides="AND / OR ">
					<if test="mId!=null and ''.toString()">
						b.m_id = #{mId}
					</if>
					<if test="searchValue!=null and ''.toString()">
						and ${searchKey} LIKE CONCAT ('%',#{searchValue},'%')
					</if>
				</trim>
				
  		  </select>
  		  <!--발전소 판매 공고 신청  -->
  		  <insert id="addPlantApply" parameterType="BidPlantDTO">
				INSERT 
				INTO
					tb_bid_plant(
					b_pl_code, 
					bz_pl_code,
				 	m_id,
				  	b_pl_title,
				   	b_pl_contents, 
					b_pl_price,
					pl_dep_data_residual,
					pl_dep_price,
					pl_dep_start_date, 
					b_pl_date_request,
					b_pl_date_bidding1,
					b_pl_date_bidding2,
					b_pl_date_decision1,
					b_pl_date_decision2,
					b_pl_groupcode)
					VALUES (
					sf_b_pl_code(), 
					#{bzPlCode}, 
					#{mId}, 
					#{bPlTitle},
					#{bPlContents},
					#{bPlPrice},
					#{plDepDataResidual},
					#{plDepPrice},
					#{plDepStartDate},
					curdate(),
					#{bPlDateBidding1},
					sf_bidding_date(#{bPlDateBidding1}),
					sf_bidding_date(#{bPlDateBidding1}),
					sf_decide_bidder_date(#{bPlDateBidding1}),
					concat(sf_b_pl_code(),'_group'))
  		  </insert>
  		  
  		  <select id="getPlantInformation" resultMap="BusinessPlantResultMap" parameterType="String">
  		  		SELECT
					p.bz_pl_code,
					p.pl_dep_data_residual,
					d.pl_dep_start_date,
					d.pl_dep_price
	
				FROM 
					tb_plant_dep_data AS p
				inner JOIN
					tb_plant_depreciation AS d
				ON 
					p.bz_pl_code = d.bz_pl_code
				WHERE 
					p.pl_dep_data_month = d.pl_dep_servicelife 
				AND 
					p.bz_pl_code = #{bzPlCode}
  		  
  		  </select>
  		  
  		  <select id="getPlantName" resultMap="BusinessPlantResultMap" parameterType="String">
  		  		SELECT
					p.bz_pl_code,
					p.bz_pl_name 
				FROM 
					tb_bid_plant AS b 
				right JOIN
					tb_business_plant AS p 
				ON
					b.bz_pl_code = p.bz_pl_code 
				WHERE
					b.bz_pl_code IS NULL 
				AND 
					p.m_id = #{mId}

  		  </select>
  		 
  		  
		  		  
  	</mapper>