<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cafe24.kangk0269.dao.TradeMapper">
	<resultMap type="TradeDepositOutDTO" id="depositoutResultMap">
		<result property="trDepCode" 			column="tr_dep_code"/>
		<result property="bCode" 				column="b_code"/>
		<result property="mId" 					column="m_id"/>
		<result property="bDeposit" 			column="b_deposit"/>
		<result property="trDepDeposit" 		column="tr_dep_deposit"/>
		<result property="mAccountBankName" 	column="m_account_bank_name"/>
		<result property="mAccountNumber" 		column="m_account_number"/>
		<result property="trDepAccountCheck" 	column="tr_dep_account_check"/>
		<result property="mAccountName" 		column="m_account_name"/>
		<result property="trDepDate" 			column="tr_dep_date"/>
		<result property="trDepCheck" 			column="tr_dep_check"/>
		<result property="trDepWdDate" 			column="tr_dep_wd_date"/>
		<result property="bMoCode" 				column="b_mo_code"/>
	</resultMap>
	
	<resultMap type="TradePaymentOutDTO" id="paymentoutResultMap">
		<result property="trPayoutCode" 		column="tr_payout_code"/>
		<result property="trPrCode" 			column="tr_pr_code"/>
		<result property="mId" 					column="m_id"/>
		<result property="trPayoutPrice" 		column="tr_payout_price"/>
		<result property="sCommissionRate" 		column="s_commission_rate"/>
		<result property="cTradeCm" 			column="c_trade_cm"/>
		<result property="trPayoutPriceReal" 	column="tr_payout_price_real"/>
		<result property="trPayoutBank" 		column="tr_payout_bank"/>
		<result property="trPayoutAccount" 		column="tr_payout_account"/>
		<result property="trPayoutAccountCheck" column="tr_payout_account_check"/>
		<result property="trPayoutAccountName" 	column="tr_payout_account_name"/>
		<result property="trPayoutDate" 		column="tr_payout_date"/>
		<result property="trPayoutCheck" 		column="tr_payout_check"/>
		<result property="trPayoutWdDate" 		column="tr_payout_wd_date"/>
		<result property="bMoCode" 				column="b_mo_code"/>
	</resultMap>
	<resultMap type="TradePaymentInDTO" id="paymentInMap">
		<result property="trPayinCode" 				column="tr_payin_code"/>
		<result property="trPrCode" 				column="tr_pr_code"/>
		<result property="bCode" 					column="b_code"/>
		<result property="announcedCode" 			column="announced_code"/>
		<result property="mIdSeller" 				column="m_id_seller"/>
		<result property="mIdBuyer" 				column="m_id_buyer"/>
		<result property="bPrice" 					column="b_price"/>
		<result property="sDepositRate" 			column="s_deposit_rate"/>
		<result property="bDeposit" 				column="b_deposit"/>
		<result property="trPayinPrice" 			column="tr_payin_price"/>
		<result property="sCommissionRate" 			column="s_commission_rate"/>
		<result property="cTradeCm" 				column="c_trade_cm"/>
		<result property="trPayinDate1" 			column="tr_payin_date1"/>
		<result property="trPayinDate2" 			column="tr_payin_date2"/>
		<result property="trPayinCheck" 			column="tr_payin_check"/>
		<result property="bMoCode" 					column="b_mo_code"/>
		<result property="bMoDate" 					column="b_mo_date"/>
		<result property="trPayinStatus" 			column="tr_payin_status"/>
		<result property="mAccountBankName" 		column="m_account_bank_name"/>
		<result property="mAccountNumber" 			column="m_account_number"/>
		<result property="mPaymentName" 			column="m_payment_name"/>
	</resultMap>
	
	<!-- 월말정산 조회 -->
	<select id="getCalculateList" resultType="TradeFailDTO">
		SELECT
			SUM(cancelTotal)		AS 'failTotal'
			,SUM(successTotal)		AS 'sucTotal'
			,SUM(commissionTotal)	AS 'cmTotal'
			,result.ym				AS 'ymDate'
		from
				(
				SELECT
					SUM(f.b_cancel)	AS 'cancelTotal'
					, 0 AS 'successTotal'
					,SUM(f.b_cancel)	AS 'commissionTotal'
					,DATE_FORMAT(f.tr_fail_date,'%y년 %m월') AS 'ym'
				FROM
					tb_trade_fail AS f
				GROUP BY DATE_FORMAT(f.tr_fail_date,'%y%m')
				UNION
				SELECT
					0 AS 'cancelTotal'
					,SUM(o.c_trade_cm)	AS 'successTotal'
					,SUM(o.c_trade_cm)	AS 'commissionTotal'
					,DATE_FORMAT(i.b_mo_date,'%y년 %m월')	AS 'ym'
				FROM
					tb_trade_payment_out AS o
					LEFT join
					tb_trade_priority AS r
					ON 
					o.tr_pr_code = r.tr_pr_code
					LEFT JOIN 
					tb_trade_payment_in AS i
					ON 
					r.tr_pr_code = i.tr_pr_code
				GROUP BY DATE_FORMAT(i.b_mo_date,'%y%m')
				) AS result
		GROUP BY ym;
	</select>
	
	<!-- 거래수수료목록 -->
	<select id="getSuccessCommission" resultMap="paymentoutResultMap">
		SELECT 
			r.announced_code AS announcedCode
			, r.announced_title AS announcedTitle
			, if(r.b_type_code=1,'발전소','부품') AS bType
			, m_id
			, o.c_trade_cm
			, i.b_mo_date	AS bMoDate
		FROM 
			tb_trade_payment_out AS o
			LEFT join
			tb_trade_priority AS r
			ON 
			o.tr_pr_code = r.tr_pr_code
			LEFT JOIN 
			tb_trade_payment_in AS i
			ON 
			r.tr_pr_code = i.tr_pr_code
		ORDER BY i.b_mo_date
	</select>

	<!-- 취소수수료목록 -->
	<select id="getFailCommission" resultType="TradeFailDTO">
		SELECT
			tr_fail_code		AS	trFailCode
			, related_code		AS	relatedCode
			, tr_fail_type		AS	trFailType
			, m_id				AS	mId
			, announcedCode	
			, announcedTitle
			, bType		
			, bankName
			, accountNumber
			, paymentName
			, tr_fail_basis		AS	trFailBasis
			, b_cancel_rate		AS	bCancelRate
			, b_cancel			AS	bCancel
			, tr_fail_date		AS	trFailDate
		FROM
			(	
			SELECT 
				tr_fail_code	
				, related_code		
				, tr_fail_type	
				, a.m_id				
				, b.announced_code	AS announcedCode
				, b.announced_title	AS announcedTitle
				, if(b.b_type_code=1,'발전소','부품') AS bType	
				, e.m_account_bank_name	AS bankName
				, e.m_account_number		AS accountNumber
				, e.m_payment_name		AS paymentName
				, tr_fail_basis	
				, b_cancel_rate	
				, b_cancel			
				, tr_fail_date		
			FROM 
				tb_trade_fail AS a
				INNER JOIN 
				tb_trade_priority AS b
				ON 
				a.related_code = b.tr_pr_code
				LEFT JOIN 
				tb_bid_list AS e
				ON 
				b.b_code = e.b_code
			UNION ALL
			SELECT 
				tr_fail_code		
				, related_code		
				, tr_fail_type		
				, m_id				
				, d.announced_code	AS announcedCode
				, d.announced_title	AS announcedTitle
				, if(d.b_type_code=1,'발전소','부품')	AS bType
				, c.m_account_bank_name	AS bankName
				, c.m_account_number		AS accountNumber
				, c.m_payment_name		AS paymentName
				, tr_fail_basis	
				, b_cancel_rate
				, b_cancel		
				, tr_fail_date	
			FROM 
				tb_trade_fail AS a
				INNER JOIN 
				tb_trade_payment_in AS c
				ON 
				a.related_code = c.tr_payin_code
				LEFT JOIN 
				tb_trade_priority AS d
				ON 
				c.tr_pr_code = d.tr_pr_code
			) AS result
		ORDER BY tr_fail_date
	</select>
	
	<select id="getPaymentOutList" resultMap="paymentoutResultMap">
		SELECT 
			tr_payout_code
			, a.tr_pr_code
			, m_id
			, b.announced_code	AS announcedCode
			, b.announced_title	AS announcedTitle
			, if(b.b_type_code=1,'발전소','부품') AS bType
			, tr_payout_price
			, s_commission_rate
			, c_trade_cm
			, tr_payout_price_real
			, tr_payout_bank
			, tr_payout_account
			, tr_payout_account_check
			, tr_payout_account_name
			, tr_payout_date
			, a.tr_payout_check
			, tr_payout_wd_date
			, b_mo_code
		FROM 
			tb_trade_payment_out AS a
			LEFT JOIN 
			tb_trade_priority AS b
			ON 
			a.tr_pr_code = b.tr_pr_code
	</select>
	
	<select id="getDepositOutList" resultMap="depositoutResultMap">
		SELECT 
			tr_dep_code
			, a.b_code
			, a.m_id
			, b.announced_code					AS announcedCode
			, b.b_title							AS bTitle
			, if(b.b_type_code=1,'발전소','부품')	AS bTypeCode
			, a.b_deposit
			, tr_dep_deposit
			, a.m_account_bank_name
			, a.m_account_number
			, tr_dep_account_check
			, m_account_name
			, tr_dep_date
			, tr_dep_check
			, tr_dep_wd_date
			, a.b_mo_code
		FROM 
			tb_trade_deposit_out AS a
			LEFT JOIN
			tb_bid_list AS b
			ON 
			a.b_code = b.b_code
	</select>
	<!-- 대금납부 정보 -->
	<select id="getTradePaymentIn" parameterType="String" resultMap="paymentInMap">
		SELECT
			tr_payin_code, 
			tr_pr_code, 
			b_code, 
			announced_code, 
			m_id_seller, 
			m_id_buyer, 
			b_price, 
			s_deposit_rate, 
			b_deposit, 
			tr_payin_price, 
			s_commission_rate, 
			c_trade_cm, 
			tr_payin_date1, 
			tr_payin_date2, 
			tr_payin_check, 
			b_mo_code, 
			b_mo_date, 
			tr_payin_status,
			m_account_bank_name,
			m_account_number,
			m_payment_name
		FROM
			tb_trade_payment_in AS tp
		WHERE
			b_code = #{bCode}
	</select>
	<update id="modifyTradePaymentIn" parameterType="TradePaymentInDTO">
		UPDATE tb_trade_payment_in
		SET
			m_account_bank_name=#{mAccountBankName},
			m_account_number=#{mAccountNumber},
			m_payment_name=#{mPaymentName}
		WHERE 
			b_code=#{bCode}
	</update>
	<insert id="addRefundRequest" parameterType="TradeDepositOutDTO">
		INSERT INTO tb_trade_deposit_out
			(tr_dep_code, 
			 b_code, 
			 m_id, 
			 b_deposit, 
			 tr_dep_deposit, 
			 m_account_bank_name, 
			 m_account_number, 
			 m_account_name, 
			 tr_dep_date)
		VALUES 
			(sf_tr_dep_code(), 
			 #{bCode}, 
			 #{mId}, 
			 #{bDeposit}, 
			 #{bDeposit}, 
			 #{mAccountBankName}, 
			 #{mAccountNumber}, 
			 #{mAccountName}, 
			 NOW())
	</insert>
	<select id="getRefundInfo" parameterType="String" resultMap="depositoutResultMap">
		SELECT 
			tr_dep_code, 
			b_code, 
			m_id, 
			b_deposit, 
			tr_dep_deposit, 
			m_account_bank_name, 
			m_account_number, 
			tr_dep_account_check, 
			m_account_name, 
			tr_dep_date, 
			tr_dep_check, 
			tr_dep_wd_date, 
			b_mo_code
		FROM tb_trade_deposit_out
		WHERE
			b_code=#{bCode}
	</select>
</mapper>