<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head :: headFragment"></head>
	<th:block layout:fragment="customTitle">
		<title>입출금 입력</title>
	</th:block>
<body>
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
				<h4><i class="fa fa-angle-right"></i> 미확인 입출금</h4>
	              <section id="no-more-tables">
	              	<div class="pull-right">
	              		<a class="btn btn-info" th:href=@{/bidMoneyCheck}>돌아가기</a>
	              	</div>
					<table class="table table-condensed cf">
						<thead class="cf">
							<tr>
								<th>번호</th>
								<th>관련코드</th>
								<th>관련공고코드</th>
								<th>관련공고</th>
								<th>거래회원</th>
								<th>금액</th>
								<th>입출금구분</th>
								<th>입출금확인</th>
								<th>입출금시간</th>
								<th>거래회원계좌</th>
								<th>예금주명</th>
								<th>입출금코드</th>
								<th>입출금입력</th>
							</tr>
						</thead>
						<tbody>
							<th:block  th:each="l, status : ${moneyCheckList}">
							<tr th:if="${l.moCode == null}">
								<td>[[${status.count}]]</td>
								<td>
									[[${l.Code}]]
									<input type="hidden" id="Code" th:value="${check.Code}">
								</td>
								<td>[[${l.nCode}]]</td>
								<td>[[${l.nTitle}]]</td>
								<td>
									[[${l.Id}]]
									<input type="hidden" id="Id" th:value="${check.Id}">
								</td>
								<td>
									[[${l.money}]]
									<input type="hidden" id="money" th:value="${check.money}">
								</td>
								<td>
									[[${l.iOut}]]
									<input type="hidden" id="iOut" th:value="${check.iOut}">
								</td>
								<td>[[${l.inoutCheck}]]</td>
								<td th:if="${l.Code} == ${check.Code}">
									<input type="text" id="inoutDate" th:value="${check.inoutDate}">
								</td>
								<td th:unless="${l.Code} == ${check.Code}">
									[[${l.inoutDate}]]
								</td>
								<td>([[${l.bankName}]]) [[${l.accountNumber}]]</td>
								<td>[[${l.accountName}]]</td>
								<td>[[${l.moCode}]]</td>
								<td><button class="btn btn-success" type="button" onclick="checkFinish()">확인</button> </td>
							</tr>
							</th:block>
						</tbody>
					</table>
				</section>
			  </div>
		 	</div>
		 </div>
        
	
	<script type="text/javascript">
		
		function checkFinish(){
			var Code = $('#Code');
			var Id = $('#Id');
			var money = $('#money');
			var iOut = $('#iOut');
			var inoutDate = $('#inoutDate');
			
			var request = $.ajax({
				url: "/bidMoneyInsertSend",
				method: "post",
				data: { Code : Code.val(), 
						Id : Id.val(),
						money : money.val(),
						iOut : iOut.val(),
						inoutDate : inoutDate.val()	}
				
			});
			
			request.done(function(data){
				opener.document.location.href="/profit/balance";
				window.close();
			});
			
			request.fail(function( jqXHR, textStatus){
				alert( "Request failed: " + textStatus);
			});
		}
		
		
	</script>
	
</body>	
</body>
</html>