<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/head :: headFragment"></head>
	<th:block layout:fragment="customTitle">
		<title>입출금 확인</title>
	</th:block>
<body>
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel" style="padding : 30px; margin: 30px;">
				<h4><i class="fa fa-angle-right"></i> 입출금 확인</h4>
				<div style="text-align : right; margin-bottom: 10px;">
	              <form th:action="@{/bidMoneyCheck}">
	            	<select name="searchKey">
	            		<option value="">카테고리</option>
	            		<option value="Id">거래회원</option>
	            		<option value="iOut">입출금</option>
	            		<option value="nTitle">공고명</option>
	            	</select>
	            	<input type="text" placeholder="검색어" name="searchValue" th:value="${searchValue}">
	            	<input type="submit" value = "검색" class="btn btn-default btn-sm">
	               </form>
            	</div>
	              <section id="no-more-tables">
					<table class="table table-condensed cf">
						<thead class="cf">
							<tr>
								<th>번호</th>
								<th>목적</th>
								<th>거래회원</th>
								<th>관련공고</th>
								<th>시작일자</th>
								<th>마감일자</th>
								<th>금액</th>
								<th>입출금구분</th>
								<th>입출금시간</th>
								<th>거래회원계좌</th>
								<th>예금주명</th>
								<th>입출금입력</th>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(moneyCheckList) > 0}" th:each="l, status : ${moneyCheckList}">
								<td>[[${status.count+(page.curPage-1)*page.pageEnd}]]</td>
								<td th:if="${#strings.substring(l.Code,0,#strings.indexOf(l.Code,'_')) == 'b'}">
									예치금입금
								</td>
								<td th:if="${#strings.substring(l.Code,0,#strings.indexOf(l.Code,'_')) == 'payin'}">
									대금입금
								</td>
								<td th:if="${#strings.substring(l.Code,0,#strings.indexOf(l.Code,'_')) == 'payout'}">
									대금출금
								</td>
								<td th:if="${#strings.substring(l.Code,0,#strings.indexOf(l.Code,'_')) == 'deout'}">
									예치금환불
								</td>
								<td>[[${l.Id}]]</td>
								<td>[[${l.nTitle}]]</td>
								<td>[[${l.startDate}]]</td>
								<td>[[${l.endDate}]]</td>
								<td>[[${#numbers.formatInteger(l.money,3,'COMMA')}]]</td>
								<td>[[${l.iOut}]]</td>
								<td>[[${l.inoutDate}]]</td>
								<td>([[${l.bankName}]]) [[${l.accountNumber}]]</td>
								<td>[[${l.accountName}]]</td>
								<td><a class="btn btn-info" th:href=@{/bidMoneyInsert(Code=${l.Code},curPage=${page.curPage},searchKey=${searchKey},searchValue=${searchValue})}>입력</a> </td>
							</tr>
							<tr th:unless="${#lists.size(moneyCheckList) > 0}">
								<td colspan="12">조회된 내용이 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<div th:include="profit/page :: pageFragment"></div>
				</section>
			  </div>
		 	</div>
		 </div>
                
	
</body>
</html>