<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>월말정산</title>
	</th:block>
	
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>월말정산</strong></div>
	<div id="container-header-path">
	<a th:href="@{/}">메인화면</a> > 
	수익관리 > 
	<a th:href=@{/profit/calculate}>월말정산</a> > 
	[[${ymDate}]] 수수료 내역
	</div>
	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel" style="padding : 30px;">
				<h4><i class="fa fa-angle-right"></i> [[${ymDate}]] 수수료 내역</h4>
	              <section id="no-more-tables">
	              	<hr>
	                <table class="table table-condensed cf">
	                  <thead class="cf">
						<tr>
							<th>번호</th>
							<th>납부회원</th>
							<th>취소 수수료 금액</th>
							<th>거래 수수료 금액</th>
							<th>수수료 종류</th>
							<th>수수료 수취일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="l, status : ${calculateMonthList}">
							<td data-title="번호">[[${status.count}]]</td>
							<td data-title="납부회원">
									[[${l.id}]]
							</td>
							<td data-title="취소 수수료 금액">
								<th:block th:if="${l.type == '취소'}">
									[[${#numbers.formatInteger(l.money,3,'COMMA')}]]
								</th:block>
							</td>
							<td data-title="거래 수수료 금액">
								<th:block th:if="${l.type == '대금'}">
									[[${#numbers.formatInteger(l.money,3,'COMMA')}]]
								</th:block>
							</td>
							<td data-title="수수료 종류" th:text="${l.type}"></td>
							<td data-title="수수료 수취일" th:text="${l.inputDate}"></td>
						</tr>
						<tr>
							<td colspan="2"><strong>수수료별 합계</strong></td>
							<td>
								[[${#numbers.formatInteger(#aggregates.sum(calculateMonthList.?[type == '취소'].![money]),3,'COMMA')}]]
							</td>
							<td>
								[[${#numbers.formatInteger(#aggregates.sum(calculateMonthList.?[type == '대금'].![money]),3,'COMMA')}]]
							</td>
							<td><strong>총 수수료</strong></td>
							<td>[[${#numbers.formatInteger(#aggregates.sum(calculateMonthList.![money]),3,'COMMA')}]]</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</div>
				</section>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var profit = $('#profit');
			profit.addClass('active');
			profit.parent().find('.sub').css('display','block');
			profit.parent().find('.sub').children().eq(3).addClass('active');
		</script>
	</th:block>
</html>