<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>거래대금출금신청목록</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div class="content-panel">
			<div class="adv-table" style="overflow: scroll;">
				<table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
					<thead>
						<tr>
							<th>거래완료 출금 코드</th>
							<th>낙찰순위코드</th>
							<th>출금신청자아이디</th>
							<th>신청금액</th>
							<th>수수료율</th>
							<th>거래수수료</th>
							<th>출금금액</th>
							<th>은행명</th>
							<th>판매자 계좌</th>
							<th>계좌 확인</th>
							<th>예금주명</th>
							<th>신청시간</th>
							<th>출금여부</th>
							<th>출금시간</th>
							<th>입출금코드</th>
							<th>출금</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="l : ${paymentOutList}">
							<td th:text="${l.trPayoutCode}"></td>
							<td th:text="${l.trPrCode}"></td>
							<td th:text="${l.mId}"></td>
							<td th:text="${l.trPayoutPrice}"></td>
							<td th:text="${l.sCommissionRate}"></td>
							<td th:text="${l.cTradeCm}"></td>
							<td th:text="${l.trPayoutPriceReal}"></td>
							<td th:text="${l.trPayoutBank}"></td>
							<td th:text="${l.trPayoutAccount}"></td>
							<td th:text="${l.trPayoutAccountCheck}"></td>
							<td th:text="${l.trPayoutAccountName}"></td>
							<td th:text="${l.trPayoutDate}"></td>
							<td th:text="${l.trPayoutCheck}"></td>
							<td th:text="${l.trPayoutWdDate}"></td>
							<td th:text="${l.bMoCode}"></td>
							<td>
								<span th:if="${l.trPayoutCheck == 'Y'}">출금완료</span>
								<a th:if="${l.trPayoutCheck != 'Y'}" th:href=@{/}>출금</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var profit = $('#profit');
			profit.addClass('active');
			profit.parent().find('.sub').css('display','block');
			profit.parent().find('.sub').children().eq(5).addClass('active');
		</script>
	</th:block>
</html>