<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>거래대금출금신청목록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!--external css-->
	  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	  <!-- Custom styles for this template -->
	  <link th:href="@{/css/style.css}" rel="stylesheet">
	  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
	  <link th:href="@{/css/table-responsive.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>거래대금출금신청목록</strong></div>
	<div id="container-header-path">수익관리 > 거래대금출금신청목록</div>
	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel" style="padding : 30px;">
				<h4><i class="fa fa-angle-right"></i> 거래대금출금신청목록</h4>
	              <section id="no-more-tables">
	              	<hr>
	                <table class="table table-condensed cf">
	                  <thead class="cf">
						<tr>
							<th>번호</th>
							<th style="display: none;">거래완료 출금 코드</th>
							<th>출금신청회원</th>
							<th>신청금액</th>
							<th>출금금액</th>
							<th>판매자계좌</th>
							<th>예금주명</th>
							<th>관련공고</th>
							<th>신청시간</th>
							<th>출금시간</th>
							<th>출금</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="l, status : ${paymentOutList}">
							<td data-title="번호" th:text="${status.count}"></td>
							<td data-title="거래완료 출금 코드" style="display: none;">
								<input type="hidden" id="Code" th:value="${l.trPayoutCode}">
							</td>
							<td data-title="출금신청회원" th:text="${l.mId}"></td>
							<td data-title="신청금액">[[${#numbers.formatInteger(l.trPayoutPrice,3,'COMMA')}]] (-[[${#numbers.formatInteger(l.cTradeCm,3,'COMMA')}]])</td>
							<td data-title="출금금액" th:text="${#numbers.formatInteger(l.trPayoutPriceReal,3,'COMMA')}"></td>
							<td data-title="판매자계좌">([[${l.trPayoutBank}]]) [[${l.trPayoutAccount}]]</td>
							<td data-title="예금주명" th:text="${l.trPayoutAccountName}"></td>
							<td data-title="관련공고" style="cursor: pointer;">
								<form th:action="@{/notice/announcement}" method="post">
									<a class="announceTitle">[[${l.announcedTitle}]]</a>
			                      	<input type="hidden" name="announceCode" th:value="${l.announcedCode}">
			                      	<input type="hidden" name="announceType" th:value="${l.bType}">
								</form>
							</td>
							<td data-title="신청시간" th:text="${l.trPayoutDate}"></td>
							<td data-title="출금시간" th:text="${l.trPayoutWdDate}"></td>
							<td data-title="출금">
								<span th:if="${l.trPayoutCheck == 'Y'}">출금완료</span>
								<a th:if="${l.trPayoutCheck != 'Y'}" class="btn standardBtn" th:href="@{/profit/withDraw(Code=${l.trPayoutCode})}">출금</a>
							</td>
						</tr>
					</tbody>
				</table>
				</section>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<!-- js placed at the end of the document so the pages load faster -->
	  <script src="lib/jquery/jquery.min.js"></script>
	  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
	  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
	  <script src="lib/jquery.scrollTo.min.js"></script>
	  <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
	  <!--common script for all pages-->
	  <script src="lib/common-scripts.js"></script>
		<script type="text/javascript">
		
			var profit = $('#profit');
			profit.addClass('active');
			profit.parent().find('.sub').css('display','block');
			profit.parent().find('.sub').children().eq(5).addClass('active');
			
			$('.announceTitle').click(function(){
				$(this).parent().submit();
			});
		</script>
	</th:block>
</html>