<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>회원계좌조회</title>
	</th:block>
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>회원계좌조회</strong></div>
	<div id="container-header-path">
	<a th:href="@{/}">메인화면</a> > 
	회원관리 > 회원계좌조회</div>
	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel" style="padding : 30px;">
				<h4><i class="fa fa-angle-right"></i> 회원계좌</h4>
				<div style="text-align : right; margin-bottom: 10px;">
	              <form th:action="@{/member/account}">
	            	<select name="searchKey">
	            		<option value="">카테고리</option>
	            		<option value="mId">아이디</option>
	            		<option value="mAccountBank">은행</option>
	            		<option value="mAccountName">예금주명</option>
	            		<option value="mAccountCheck">사용여부</option>
	            	</select>
	            	<input id="sv1" type="text" placeholder="검색어" value="">
	            	<select id="sv2" style="display: none;">
	            		<option value="">::선택::</option>
	            		<option value="Y">사용</option>
	            		<option value="N">미사용</option>
	            	</select>
	            	<input type="submit" value = "검색" class="btn btn-default btn-sm">
	               </form>
            	</div>
	              <section id="no-more-tables">
	              	<hr>
	                <table class="table table-condensed cf">
	                  <thead class="cf">
						<tr>
							<th>번호</th>
							<th>아이디</th>
							<th>은행명</th>
							<th>계좌번호</th>
							<th>예금주명</th>
							<th>계좌등록일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(allBankAccountList) > 0}" th:each = "l, status : ${allBankAccountList}">
							<td data-title="번호" th:text="${status.count+(page.curPage-1)*page.pageEnd}"></td>
							<td data-title="아이디" th:text="${l.mId}"></td>
							<td data-title="은행명" th:text="${l.mAccountBank}"></td>
							<td data-title="계좌번호">
								<th:block th:if="${l.mAccountCheck == 'Y'}">
									[[${l.mAccountNumber}]]
								</th:block>
								<th:block th:if="${l.mAccountCheck == 'N'}">
									<del>[[${l.mAccountNumber}]]</del>
								</th:block>
							</td>
							<td data-title="예금주명" th:text="${l.mAccountName}"></td>
							<td data-title="계좌등록일" th:text="${l.mAccountRegDate}"></td>
						</tr>
						<tr th:unless="${#lists.size(allBankAccountList) > 0}">
							<td colspan="6">조회된 내용이 없습니다.</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
				  <ul class="pagination">
				    <li>
				      <a th:if="${page.curBlock > 1}" th:href="@{/member/account(curPage=${page.prevPage},searchKey=${searchKey},searchValue=${searchValue})}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
			    	<th:block th:each="num : ${#numbers.sequence(page.blockBegin, page.blockEnd)}">
			   		<li th:if="${num == page.curPage}" class="active">
			   			<a>[[${num}]]</a>
			   		</li>
			   		<li th:unless="${num == page.curPage}">
			   		<th:block th:if="${num} != 0">
			   			<a th:href="@{/member/account(curPage=${num},searchKey=${searchKey},searchValue=${searchValue})}">[[${num}]]</a>
			   		</th:block>
			   		</li>
			  		</th:block>
				    <li>
				      <a th:if="${page.curBlock <= page.totBlock}" th:href="@{/member/account(curPage=${page.nextPage},searchKey=${searchKey},searchValue=${searchValue})}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</div>
				</section>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			member.parent().find('.sub').children().eq(5).addClass('active');
			
			var searchKey = $('[name="searchKey"]')
			searchKey.click(function(){
				$('#sv1').removeAttr('name');
				$('#sv2').removeAttr('name');
				if(searchKey.val() == "mAccountCheck"){
					$('#sv2').attr("name","searchValue");
					$('[name="searchValue"]').css('display','inline-block');
					$('#sv1').css('display','none');
				}else{
					$('#sv1').attr("name","searchValue");
					$('[name="searchValue"]').css('display','inline-block');
					$('#sv2').css('display','none');
				}
			});
		</script>
	</th:block>
</html>