<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>사업자인증신청목록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!--external css-->
	  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	  <!-- Custom styles for this template -->
	  <link th:href="@{/css/style.css}" rel="stylesheet">
	  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
	  <link th:href="@{/css/table-responsive.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>사업자인증신청목록</strong></div>
	<div id="container-header-path">
	<a th:href="@{/}">메인화면</a> > 
	회원관리 > 사업자인증신청목록</div>
	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel" style="padding : 30px;">
				<h4><i class="fa fa-angle-right"></i> 사업자인증신청목록</h4>
				<div style="text-align : right; margin-bottom: 10px;">
	              <form th:action="@{/member/businessList}">
	            	<select name="searchKey">
	            		<option value="">카테고리</option>
	            		<option value="bzCode">사업자코드</option>
	            		<option value="mId">아이디</option>
	            		<option value="bzPlace">주소</option>
	            		<option value="bzType">권한</option>
	            		<option value="bzCheck">인증여부</option>
	            	</select>
	            	<input type="text" placeholder="검색어" name="searchValue" th:value="${searchValue}">
	            	<select name="searchValueLevel" style="display: none;">
	            		<option value="태양광">태양광</option>
	            		<option value="재활용">재활용</option>
	            	</select>
	            	<select name="searchValueCheck" style="display: none;">
	            		<option value="Y">승인</option>
	            		<option value="F">반려</option>
	            		<option value="N">미완료</option>
	            	</select>
	            	<input type="submit" value = "검색" class="btn btn-default btn-sm">
	               </form>
            	</div>
	              <section id="no-more-tables">
	              	<hr>
	                <table class="table table-condensed cf">
	                  <thead class="cf">
						<tr>
							<th>번호</th>
							<th>사업자 관리코드</th>
							<th>아이디</th>
							<th>법인명</th>
							<th>대표자</th>
							<th>사업장 소재지</th>
							<th>사업자 분류</th>
							<th>승인/반려</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(businessList) > 0}" th:each="l, status : ${businessList}">
							<td data-title="번호" th:text="${status.count+(page.curPage-1)*page.pageEnd}"></td>
							<td data-title="사업자 관리코드">
								<a th:href=@{/getBusinessInfoBybzCode(bzCode=${l.bzCode},curPage=${page.curPage},searchKey=${searchKey},searchValue=${searchValue})}>[[${l.bzCode}]]</a>
							</td>
							<td data-title="아이디" th:text="${l.mId}"></td>
							<td data-title="법인명" th:text="${l.bzCompanyName}"></td>
							<td data-title="대표자" th:text="${l.bzCeoName}"></td>
							<td data-title="사업장 소재지" th:text="${l.bzPlace}"></td>
							<td data-title="사업자 분류" th:text="${l.bzType}"></td>
							<td data-title="승인/반려" th:if="${l.bzCheck} == N">
								<a class="btn standardBtn" th:href=@{/getBusinessInfoBybzCode(bzCode=${l.bzCode},curPage=${page.curPage},searchKey=${searchKey},searchValue=${searchValue})} role="button">상세보기</a>
							</td>
							<td data-title="승인/반려" th:unless="${l.bzCheck} == N">
								<span th:if="${l.bzCheck} == Y">승인완료</span>
								<span th:if="${l.bzCheck} == F">반려</span>
							</td>
						</tr>
						<tr th:unless="${#lists.size(businessList) > 0}">
							<td colspan="8">조회된 내용이 없습니다.</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
				  <ul class="pagination">
				    <li>
				      <a th:if="${page.curBlock > 1}" th:href="@{/member/businessList(curPage=${page.prevPage},searchKey=${searchKey},searchValue=${searchValue})}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
			    	<th:block th:each="num : ${#numbers.sequence(page.blockBegin, page.blockEnd)}">
			   		<li th:if="${num == page.curPage}" class="active">
			   			<a>[[${num}]]</a>
			   		</li>
			   		<li th:unless="${num == page.curPage}">
			   		<th:block th:if="${num} != 0">
			   			<a th:href="@{/member/businessList(curPage=${num},searchKey=${searchKey},searchValue=${searchValue})}">[[${num}]]</a>
			   		</th:block>
			   		</li>
			  		</th:block>
				    <li>
				      <a th:if="${page.curBlock <= page.totBlock}" th:href="@{/member/businessList(curPage=${page.nextPage},searchKey=${searchKey},searchValue=${searchValue})}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</div>
				</section>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<!-- js placed at the end of the document so the pages load faster -->
	  <script src="lib/jquery/jquery.min.js"></script>
	  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
	  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
	  <script src="lib/jquery.scrollTo.min.js"></script>
	  <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
	  <!--common script for all pages-->
	  <script src="lib/common-scripts.js"></script>
		<script type="text/javascript">
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			member.parent().find('.sub').children().eq(3).addClass('active');
		</script>
	</th:block>
</html>