<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>사업자인증신청목록</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div class="content-panel">
			<div class="adv-table" style="overflow: scroll;">
				<table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
					<thead>
						<tr>
							<th>사업자 관리코드</th>
							<th>아이디</th>
							<th>법인명</th>
							<th>대표자</th>
							<th>사업장 우편번호</th>
							<th>사업장 도로명주소</th>
							<th>사업장 상세주소</th>
							<th>사업장 소재지</th>
							<th>사업자등록증 사본</th>
							<th>사업자 분류</th>
							<th>사업자 요청일</th>
							<th>사업자 확인일</th>
							<th>사업자 승인 상태</th>
							<th>사업자 승인 반려 사유</th>
							<th colspan="2">승인/반려</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="l : ${businessList}">
							<td th:text="${l.bzCode}"></td>
							<td th:text="${l.mId}"></td>
							<td th:text="${l.bzCompanyName}"></td>
							<td th:text="${l.bzCeoName}"></td>
							<td th:text="${l.bzZipcode}"></td>
							<td th:text="${l.bzAddr}"></td>
							<td th:text="${l.bzDetailAddr}"></td>
							<td th:text="${l.bzPlace}"></td>
							<td th:text="${l.bzLicense}"></td>
							<td th:text="${l.bzType}"></td>
							<td th:text="${l.bzRequestDate}"></td>
							<td th:text="${l.bzCheckDate}"></td>
							<td th:text="${l.bzCheck}"></td>
							<td th:text="${l.bzCheckReason}"></td>
							<td>
								<a th:href=@{/}>승인</a>
							</td>
							<td>
								<a th:href=@{/}>반려</a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			member.parent().find('.sub').children().eq(3).addClass('active');
		</script>
	</th:block>
</html>