<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>[[${member.mId}]] 회원정보</title>
	</th:block>
	
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>[[${member.mId}]] 회원정보</strong></div>
	<th:block th:if="${uri == '/member/memberList'}">
	<div id="container-header-path">회원관리 > <a th:href=@{/member/memberList}>회원리스트조회</a> > [[${member.mId}]] 회원정보</div>
	</th:block>
	<th:block th:unless="${uri == '/member/memberList'}">
	<div id="container-header-path">회원관리 > <a th:href=@{/member/memberWithdrawList}>탈퇴신청회원조회</a> > [[${member.mId}]] 회원정보</div>
	</th:block>
	<div id="container-header-space"></div>
	
	
	
	<div class="row mt">
        <div class="col-lg-12">
		<div role="tabpanel">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">[[${member.mId}]] 회원정보</a></li>
		    <!-- <li role="presentation"><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab">보유발전소</a></li>
		    <li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">보유부품</a></li>
		    <li role="presentation"><a href="#profile3" aria-controls="profile" role="tab" data-toggle="tab">등록공고</a></li>
		    <li role="presentation"><a href="#profile4" aria-controls="profile" role="tab" data-toggle="tab">참여공고</a></li> -->
		  </ul>
		
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
		            <div class="content-panel" style="padding : 30px;">
		              <h4 class="mb"><i class="fa fa-angle-right"></i> [[${member.mId}]] 회원정보</h4>
		              <hr>
		              <form class="form-horizontal style-form">
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">프로필 사진</label>
		                  <div class="col-sm-10">
			                  <div class="col-md-9">
			                    <div class="fileupload fileupload-new" data-provides="fileupload">
			                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
			                        <img th:if="${member.mPhoto == null}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
			                        <img th:if="${member.mPhoto == ''}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
			                        <img th:if="${member.mPhoto != null}" th:src="${member.mPhoto}" alt="" />
			                      </div>
			                    </div>
			                  </div>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">아이디</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mId}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">이름</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mName}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">비밀번호</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mPw}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">권한</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static" th:if="${member.mLevel} == 1">관리자</p>
		                    <p class="form-control-static" th:if="${member.mLevel} == 2">태양광사업자(판매자)</p>
		                    <p class="form-control-static" th:if="${member.mLevel} == 3">재활용 중고 사업자(구매자)</p>
		                    <p class="form-control-static" th:if="${member.mLevel} == 4">일반회원</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">우편번호</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mZipcode}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">도로명주소</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mAddr}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">상세주소</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mDetailAddr}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">연락처</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mPhone}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">이메일</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mEmail}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">등록 계좌</label>
		                  <div class="col-lg-10 col-sm-10">
			                  <th:block th:each="l : ${accountList}">
			                    <p th:if="${l.mAccountCheck == 'N'}" class="form-control-static"><del>([[${l.mAccountBank}]]) [[${l.mAccountNumber}]]</del></p>
			                    <p th:unless="${l.mAccountCheck == 'N'}" class="form-control-static">([[${l.mAccountBank}]]) [[${l.mAccountNumber}]]</p>
			                  </th:block>
		                  </div>
		                </div>
                		<div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">회원가입일</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mSubDate}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">회원정보수정일</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mSubDateModify}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">회원상태변경일</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mStateModifyDate}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <div class="col-lg-offset-2 col-lg-10">
		                    <a class="btn standardBtn" th:if="${uri == '/member/memberList'}" th:href="@{/modifyMember(mId=${member.mId})}" role="button">수정</a>
		                    <a class="btn standardBtn" th:if="${uri == '/member/memberList'}" th:href="@{/member/memberList(curPage1=${curPage1},searchKeyAM=${searchKeyAM},searchValueAM=${searchValueAM},curPage2=${curPage2},searchKeyRM=${searchKeyRM},searchValueRM=${searchValueRM})}" role="button">목록이동</a>
		                    <a class="btn standardBtn" th:if="${uri == '/member/memberWithdrawList'}" th:href="@{/member/memberWithdrawList(curPage1=${curPage1},searchKeyWAM=${searchKeyWAM},searchValueWAM=${searchValueWAM},searchValueWAMS=${searchValueWAMS},searchValueWAMF=${searchValueWAMF},curPage2=${curPage2},searchKeyWCM=${searchKeyWCM},searchValueWCM=${searchValueWCM},searchValueWCMS=${searchValueWCMS},searchValueWCMF=${searchValueWCMF})}" role="button">목록이동</a>
		                  	<input type="hidden" id="uri" th:value="${uri}"/>
		                  </div>
		                </div>
		              </form>
		            </div>
				</div>
		    
    			<!-- <div role="tabpanel" class="tab-pane" id="profile1">
    			
				</div>		
    			<div role="tabpanel" class="tab-pane" id="profile2">
    			
				</div>		
    			<div role="tabpanel" class="tab-pane" id="profile3">
    			
				</div>		
    			<div role="tabpanel" class="tab-pane" id="profile4">
    			
				</div>	 -->
					
			  </div>
		  </div>
		</div>
	</div>
	
	</th:block>
	<th:block layout:fragment="customScript">
	
		<script type="text/javascript">
			var uri = $('#uri').val();
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			if(uri == '/member/memberList'){
				member.parent().find('.sub').children().eq(0).addClass('active');
			}else{
				member.parent().find('.sub').children().eq(2).addClass('active');
			}
		</script>
	</th:block>
</html>