<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>[[${member.mId}]] 회원정보</title>
	</th:block>
	
	
	<th:block layout:fragment="Contents">
	<div hidden="">
		스크립트에서 사용하기 위한 세션 변수 세팅
		<div id="sessionID" th:data-session-id="${session.SID}"></div>
	</div>
	<div id="container-header-title">
		<strong>[[${member.mId}]] 회원정보</strong>
	</div>
	<th:block th:if="${uri == '/member/memberList'}">
	<div id="container-header-path">
		<a th:href="@{/}">메인화면</a> > 
		회원관리 > 
		<a th:href=@{/member/memberList}>회원리스트조회</a>
		 > [[${member.mId}]] 회원정보
	</div>
	</th:block>
	<th:block th:unless="${uri == '/member/memberList'}">
		<div id="container-header-path">
		<a th:href="@{/}">메인화면</a> > 
		회원관리 > 
		<a th:href=@{/member/memberWithdrawList}>탈퇴신청회원조회</a>
		 > [[${member.mId}]] 회원정보
		</div>
	</th:block>
	<div id="container-header-space"></div>
	
	
	
	<div class="row mt">
        <div class="col-lg-12">
		<div role="tabpanel">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist" id="myTab">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">[[${member.mId}]] 회원정보</a></li>
		    <th:block th:if="${member.mLevel == 2}">
			    <li role="presentation"><a href="#profile1" aria-controls="profile" role="tab" data-toggle="tab">보유발전소</a></li>
		    </th:block>
		    <th:block th:if="${member.mLevel == 2}">
			    <li role="presentation"><a href="#profile2" aria-controls="profile" role="tab" data-toggle="tab">보유부품</a></li>
		    </th:block>
		    <th:block th:if="${member.mLevel == 2}">
		    	<li role="presentation"><a href="#profile3" aria-controls="profile" role="tab" data-toggle="tab">등록공고</a></li>
		    </th:block>
		    <th:block th:if="${member.mLevel == 3}">
		    	<li role="presentation"><a href="#profile4" aria-controls="profile" role="tab" data-toggle="tab">입찰공고</a></li>
		    </th:block>
		  </ul>
		
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
		            <div class="content-panel" style="padding : 30px;">
		              <h4 class="mb"><i class="fa fa-angle-right"></i> [[${member.mId}]] 회원정보</h4>
		              <hr>
		              <form class="form-horizontal style-form">
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">프로필 사진</label>
		                  <div class="col-sm-10">
			                  <div class="col-md-9">
			                    <div class="fileupload fileupload-new" data-provides="fileupload">
			                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
			                        <img th:if="${member.mPhoto == null}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
			                        <img th:if="${member.mPhoto == ''}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
			                        <img th:if="${member.mPhoto != null}" th:src="${member.mPhoto}" alt="" />
			                      </div>
			                    </div>
			                  </div>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">아이디</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mId}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">이름</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mName}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">비밀번호</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mPw}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">권한</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static" th:if="${member.mLevel} == 1">관리자</p>
		                    <p class="form-control-static" th:if="${member.mLevel} == 2">태양광사업자(판매자)</p>
		                    <p class="form-control-static" th:if="${member.mLevel} == 3">재활용 중고 사업자(구매자)</p>
		                    <p class="form-control-static" th:if="${member.mLevel} == 4">일반회원</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">우편번호</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mZipcode}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-sm-2 col-sm-2 control-label">도로명주소</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mAddr}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">상세주소</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mDetailAddr}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">연락처</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mPhone}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">이메일</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mEmail}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">등록 계좌</label>
		                  <div class="col-lg-10 col-sm-10">
			                  <th:block th:each="l : ${accountList}">
			                    <p th:if="${l.mAccountCheck == 'N'}" class="form-control-static"><del>([[${l.mAccountBank}]]) [[${l.mAccountNumber}]]</del></p>
			                    <p th:unless="${l.mAccountCheck == 'N'}" class="form-control-static">([[${l.mAccountBank}]]) [[${l.mAccountNumber}]]</p>
			                  </th:block>
		                  </div>
		                </div>
                		<div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">회원가입일</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mSubDate}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">회원정보수정일</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mSubDateModify}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <label class="col-lg-2 col-sm-2 control-label">회원상태변경일</label>
		                  <div class="col-lg-10">
		                    <p class="form-control-static">[[${member.mStateModifyDate}]]</p>
		                  </div>
		                </div>
		                <div class="form-group">
		                  <div class="col-lg-offset-2 col-lg-10">
		                    <th:block th:if="${uri == '/member/memberList'}">
		                    	<th:block th:if="${searchKeyAM != null}">
			                    	<a class="btn standardBtn" th:href="@{/modifyMember(mId=${member.mId},curPage1=${curPage1},searchKeyAM=${searchKeyAM},searchValueAM=${searchValueAM},searchValueAMS=${searchValueAMS},searchValueAMF=${searchValueAMF})}" role="button">수정</a>
			                    	<a class="btn standardBtn" th:href="@{/member/memberList(curPage1=${curPage1},searchKeyAM=${searchKeyAM},searchValueAM=${searchValueAM},searchValueAMS=${searchValueAMS},searchValueAMF=${searchValueAMF})}" role="button">목록이동</a>
		                    	</th:block>
		                    	<th:block th:unless="${searchKeyAM != null}">
			                    	<a class="btn standardBtn" th:href="@{/modifyMember(mId=${member.mId},curPage2=${curPage2},searchKeyRM=${searchKeyRM},searchValueRM=${searchValueRM},searchValueRMS=${searchValueRMS},searchValueRMF=${searchValueRMF})}" role="button">수정</a>
			                    	<a class="btn standardBtn" th:href="@{/member/memberList(curPage2=${curPage2},searchKeyRM=${searchKeyRM},searchValueRM=${searchValueRM},searchValueRMS=${searchValueRMS},searchValueRMF=${searchValueRMF})}" role="button">목록이동</a>
		                    	</th:block>
		                    </th:block>
		                    <th:block th:if="${uri == '/member/memberWithdrawList'}">
		                    	<th:block th:if="${searchKeyWAM != null}">
		                    		<a class="btn standardBtn" th:href="@{/member/memberWithdrawList(curPage1=${curPage1},searchKeyWAM=${searchKeyWAM},searchValueWAM=${searchValueWAM},searchValueWAMS=${searchValueWAMS},searchValueWAMF=${searchValueWAMF})}" role="button">목록이동</a>
		                    	</th:block>
		                    	<th:block th:unless="${searchKeyWAM != null}">
		                    		<a class="btn standardBtn" th:href="@{/member/memberWithdrawList(curPage2=${curPage2},searchKeyWCM=${searchKeyWCM},searchValueWCM=${searchValueWCM},searchValueWCMS=${searchValueWCMS},searchValueWCMF=${searchValueWCMF})}" role="button">목록이동</a>
		                    	</th:block>
		                  	</th:block>
		                  	<input type="hidden" id="uri" th:value="${uri}"/>
		                  </div>
		                </div>
		              </form>
		            </div>
				</div>
		    
    			<div role="tabpanel" class="tab-pane" id="profile1">
    				<div id="container-header-space"></div>
						<div class="row mt col-xs-12" style="padding-bottom: 30px; margin:0 auto; color: #111; font-size: 17px;">
							<div th:if="${#lists.size(plantListById) > 0}" th:each="l : ${plantListById}">
							  <div th:if="${l.bzPlCheck} eq 'Y' and ${l.bzPlDelete} eq 'N'">
							  <div class="col-sm-6 col-md-3">
							    <div class="thumbnail">
							    <div class="thumbnail-wrapper1"> <div class="thumbnail1"> <div class="centered">
								  <a style="cursor: pointer;"><img alt="발전소 사진" th:src="${l.bzPlPhoto}" class="plantImg" th:data-bzCode="${l.bzPlCode}"></a>
							    </div></div></div>
							      <div class="caption">
							        <h3 style="font-weight: 600;">[[${l.bzPlName}]]</h3>
							        <div>
							        	<div>
							        		<strong>발전소용량</strong>
							        		<p>[[${l.bzPlPower}]] [kW]</p>
							        	</div>
							        	<div>
							        		<strong>발전소주소</strong>
							        		<p>([[${l.bzPlZipcode}]]) [[${l.bzPlAddr}]] [[${l.bzPlDetailAddr}]]</p>
							        	</div>
							        </div>
							        <div>
							        </div>
							      </div>
							    </div>
							  </div>
							  </div>
							</div>
							<div th:unless="${#lists.size(plantListById) > 0}">
								<div class="content-panel col-xs-12" style="min-height: 80vh; text-align: center;">
									<h2>조회된 내용이 없습니다.</h2>
								</div>
							</div>
						</div>
				</div>	
    			<div role="tabpanel" class="tab-pane" id="profile2">
    				<div id="container-header-space"></div>
					<div class="row mt col-xs-12" style="padding-bottom: 30px; margin:0 auto; color: #111; font-size: 17px; min-height: 80vh">
						<div th:if="${#lists.size(componentListById) > 0}" th:each="l : ${componentListById}">
						  <div th:if="${l.cpDeleteCheck eq 'N'}" class="col-sm-6 col-md-3">
						    <div class="thumbnail">
						    	<div class="thumbnail-wrapper1"> <div class="thumbnail1"> <div class="centered">
								  <a><img alt="부품 사진" th:src="${l.cpPhoto}" class="componentImg" th:data-cpCode="${l.cpCode}"></a>
							    </div></div></div>
						      <div class="caption">
						        <h3 style="font-weight: 600;">[[${l.cpName}]]</h3>
						        <div>
						        	<div>
						        		<strong>부품 정보</strong>
						        		<p>[[${l.cpInfo}]]</p>
						        	</div>
						        	<div>
						        		<strong>부품 제조사</strong>
						        		<p>[[${l.cpMaker}]]</p>
						        	</div>
						        	<div>
						        		<strong>부품 제조일</strong>
						        		<p>[[${l.cpMakedate}]]</p>
						        	</div>
						        	<div>
						        		<strong>부품 사용시작일</strong>
						        		<p>[[${l.cpUsedate}]]</p>
						        	</div>
						        </div>
						        <div>
						        </div>
						      </div>
						    </div>
						  </div>
						</div>
						<div th:unless="${#lists.size(componentListById) > 0}">
							<div class="content-panel col-xs-12" style="min-height: 80vh; text-align: center;">
								<h2>조회된 내용이 없습니다.</h2>
							</div>
						</div>
					</div>
				</div>	
				
					
    			<div role="tabpanel" class="tab-pane" id="profile3">
			            <div class="content-panel" style="padding: 30px;">
			              <h4><i class="fa fa-angle-right"></i>발전소공고목록</h4>
			              <hr>
			              <table class="table table-advance table-hover">
			                <thead>
			                  <tr>
			                  	<th>공고코드</th>
			                    <th><i class="fa fa-bullhorn"></i>발전소명</th>
			                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>공고명</th>
			                    <th><i class="fa fa-bookmark"></i>희망가격</th>
			                    <th><i class=" fa fa-edit"></i>공고시작일</th>
			                    <th><i class=" fa fa-edit"></i>공고마감일</th>
			                    <th><i class="fa fa-edit"></i>입찰자수</th>
			                    <th><i class=" fa fa-edit"></i>진행상황</th>
			                    <th></th>
			                  </tr>
			                </thead>
			                <tbody>
			                  <tr th:if="${bidPlantList2!=null and bidPlantList2.size()>0}" th:each="list:${bidPlantList2}">
			                  	<td class="groupCode" th:text=${list.bPlGroupcode} style="display:none"></td>
			                  	<td class="historyBPlCode" th:text=${list.bPlCode}></td>
			       				<td th:text="${list.businessPlantDTO.bzPlName}"></td>
			       				<!--here!  -->
			                    <td th:if="${list.bRecently=='Y'}"style="text-align:left"><a th:href="@{/sell/bidPlantDetail(bPlCode=${list.bPlCode})}">[[${list.bPlTitle}]]</a></td>
			                    <td th:if="${list.bRecently=='N'}" style="text-align:left"><a th:href="@{/sell/bidPlantDetail(bPlCode=${list.bPlCode})}"><i class="glyphicon glyphicon-registration-mark"></i>[[${list.bPlTitle}]]</a></td>
			                    <td th:text="${list.bPlPrice}" class="bPlPrice"></td>
			                    <td th:text="${list.bPlDateBidding1}"></td>
			                    <td th:text="${list.bPlDateBidding2}"></td>
			                    <td>[[${list.bPlNumberOfBidder}]]</td>
			                    <td class="historyStatus" th:text="${list.bPlStatus}"></td>
			                  </tr>
			                  <tr th:unless="${bidPlantList2!=null and bidPlantList2.size()>0}">
			                  	<td colspan="9" style="text-align : center">
			                  	등록 된 공고가 없습니다.
			                  	</td>
			                  </tr>
			                  </tbody>
			                  <tfoot>
			                  <tr>
			                  	<td colspan ="10" style="text-align:center;">
			                  		<th:block layout:fragment="paging">
			                  			<nav th:replace="fragments/pagination :: pagination"></nav>
			                  		</th:block>
			                  	</td>
			                  </tr>
			                </tfoot>
			              </table>
			            </div>
			        <div class="row mt">
			          <div class="col-md-12">
			            <div class="content-panel" style="padding: 30px;">
			              <h4><i class="fa fa-angle-right"></i>부품공고목록</h4>
			              <hr>
			              <table class="table table-advance table-hover">
			                <thead>
			                  <tr>
			                  	<th>공고코드</th>
			                    <th><i class="fa fa-bullhorn"></i>부품명</th>
			                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>공고명</th>
			                    <th><i class="fa fa-bookmark"></i>희망가격</th>
			                    <th><i class=" fa fa-edit"></i>공고시작일</th>
			                    <th><i class=" fa fa-edit"></i>공고마감일</th>
			                    <th><i class="fa fa-edit"></i>입찰자수</th>
			                    <th><i class=" fa fa-edit"></i>진행상황</th>
			                    <th></th>
			                  </tr>
			                </thead>
			                <tbody>
			                  <tr th:if="${bidComponentList2!=null and bidComponentList2.size()>0}" th:each="cp:${bidComponentList2}">
			                  	<td class="bCpCode"th:text=${cp.bCpCode}></td>
			            		<td th:text="${cp.componentDTO.cpName}"></td>
			                    <td th:if="${cp.bRecently=='Y'}" style="text-align:left"><a th:href="@{/sell/getBidComponentDetail(bCpCode=${cp.bCpCode})}">[[${cp.bCpTitle}]]</a></td>
			                    <td  th:if="${cp.bRecently=='N'}"style="text-align:left"><a th:href="@{/sell/getBidComponentDetail(bCpCode=${cp.bCpCode})}"><i class="glyphicon glyphicon-registration-mark"></i>[[${cp.bCpTitle}]]</a></td>
			                    <td th:text="${cp.bCpPrice}" class="bCpPrice"></td>
			                    <td th:text="${cp.bCpDateBidding1}"></td>
			                    <td th:text="${cp.bCpDateBidding2}"></td>
			                    <td>[[${cp.bCpBidderNumber}]]</td>
			                    <td class="cpStatus" th:text="${cp.bCpStatus}"></td>
			                  </tr>
							<tr th:unless="${bidComponentList2!=null and bidComponentList2.size()>0}">
								<td colspan="9" style="text-align : center">
								등록 된 공고가 없습니다.
								</td>
							</tr>
			                  </tbody>
			                  <tfoot>
			                   <tr>
			                   	<td colspan ="10" style="text-align:center;">
				                 	<th:block layout:fragment="paging">
			                  			<nav th:replace="fragments/pagination2 :: pagination"></nav>
			                  		</th:block>
			                  	</td>
			                  </tr>
			                  </tfoot>
			              </table>
			            </div>
			          </div>
			        </div>
				</div>
    			
    			<div role="tabpanel" class="tab-pane" id="profile4">
    				<div id="container-header-space"></div>
					<div class="row mt">
			          <div class="col-md-12 container">
			            <div class="content-panel" style="padding: 30px;">
		                <h4><i class="fa fa-angle-right"></i>입찰한 부품 공고</h4>
		                <hr>
			              <table class="table table-striped table-advance table-hover">
			                <thead>
			                  <tr>
			                    <th class="col-md-1">번호</th>
			                    <th class="col-md-5"><i class="fa fa-bullhorn"></i>공고 제목</th>
			                    <th class="col-md-2"><i class="fa fa-bullhorn"></i>판매자</th>
			                    <th class="col-md-2" style="width: 100px;"><i class="fa fa-question-circle"></i>나의 진행</th>
			   	                <th class="col-md-1"><i class="fa fa-bookmark"></i>공고 진행</th>
			       	            <th class="col-md-2"><i class="fa fa-bookmark"></i>입찰신청 날짜 </th>
			                  </tr>
			                </thead>
			                <tbody>
			                	<th:block th:if="${bidComponentList!=null or bidComponentList.size()>0}" th:each="l:${bidComponentList}">
			                		<th:block th:if="${bidComponentList!=null or bidComponentList.size()>0}" th:each="j:${l.bidListDTOList}">
					                  <tr>
					                    <td th:text="${j.num}"></td>
					                    <td>
					                    	<form th:action="@{/notice/announcement}" method="post">
						                      	<a class="announceTitle">[[${l.bCpTitle}]]</a>
						                      	<input type="hidden" name="announceCode" th:value="${l.bCpCode}">
						                      	<input type="hidden" name="announceType" value="부품">
						                      	<input type="hidden" name="bCode" th:value="${j.bCode}">
					                    	</form>
					                    </td>
					                    <td th:text="${l.mId}"></td>
					                    <td th:text="${j.trTypeName}"></td>
					                    <td th:text="${l.bCpStatus}"></td>
					                    <td th:text="${j.bDate}"></td>
					                  </tr>
					                  </th:block>
			                	</th:block>
			                	<th:block th:if="${bidComponentList==null or bidComponentList.size()==0}">
					                  <tr>
					                    <td colspan="6" style="text-align: center;">입찰 신청한 부품 공고가 없습니다.</td>		                 
					                  </tr>
			                	</th:block>
			                </tbody>
			                <tfoot>
			                   <tr>
			                   	<td colspan ="6" style="text-align:center;">
				                 	<th:block layout:fragment="paging">
			                  			<nav th:replace="fragments/pagination2 :: pagination"></nav>
			                  		</th:block>
			                  	</td>
			                  </tr>
			                </tfoot>
			              </table>
			            </div>
			          </div>
			        </div>
			        
					<div class="row mt">
			          <div class="col-md-12 container">
			            <div class="content-panel" style="padding: 30px;">
		                <h4><i class="fa fa-angle-right"></i>입찰한 발전소 공고</h4>
		                <hr>
			              <table class="table table-striped table-advance table-hover">
			                <thead>
			                  <tr>
			                    <th class="col-md-1">번호</th>
			                    <th class="col-md-5"><i class="fa fa-bullhorn"></i>공고 제목</th>
			                    <th class="col-md-2"><i class="fa fa-bullhorn"></i>판매자</th>
			                    <th class="col-md-2" style="width: 100px;"><i class="fa fa-question-circle"></i>나의 진행</th>
			   	                <th class="col-md-1"><i class="fa fa-bookmark"></i>공고 진행</th>
			       	            <th class="col-md-2"><i class="fa fa-bookmark"></i>입찰신청 날짜 </th>
			                  </tr>
			                </thead>
			                <tbody>
			                	<th:block th:if="${bidPlantList!=null or bidPlantList.size()>0}" th:each="l:${bidPlantList}">
				                	<th:block th:if="${bidPlantList!=null or bidPlantList.size()>0}" th:each="j:${l.bidListDTOList}">
					                  <tr>
					                    <td th:text="${j.num}"></td>
					                    <td>
					                    	<form th:action="@{/notice/announcement}" method="post">
						                      	<a class="announceTitle">[[${l.bPlTitle}]]</a>
						                      	<input type="hidden" name="announceCode" th:value="${l.bPlCode}">
						                      	<input type="hidden" name="announceType" value="발전소">
						                      	<input type="hidden" name="bCode" th:value="${j.bCode}">
					                    	</form>
					                    </td>
					                    <td th:text="${l.mId}"></td>
					                    <td th:text="${j.trTypeName}"></td>
					                    <td th:text="${l.bPlStatus}"></td>
					                    <td th:text="${j.bDate}"></td>
					                  </tr>
				                	</th:block>
			                	</th:block>
			                	<th:block th:if="${bidPlantList==null or bidPlantList.size()==0}">
					                  <tr>
					                    <td colspan="6" style="text-align: center;">입찰 신청한 발전소 공고가 없습니다.</td>		                 
					                  </tr>
			                	</th:block>
			                </tbody>
			                <tfoot>
			                  <tr>
			                  	<td colspan ="6" style="text-align:center;">
			                  		<th:block layout:fragment="paging">
			                  			<nav th:replace="fragments/pagination :: pagination"></nav>
			                  		</th:block>
			                  	</td>
			                  </tr>
			                </tfoot>
			              </table>
			            </div>
			          </div>
			        </div>
				</div>
					
			  </div>
		  </div>
		</div>
	</div>
	
	</th:block>
	<th:block layout:fragment="customScript">
	
		<script type="text/javascript">
			var uri = $('#uri').val();
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			if(uri == '/member/memberList'){
				member.parent().find('.sub').children().eq(0).addClass('active');
			}else{
				member.parent().find('.sub').children().eq(2).addClass('active');
			}
			
			$('.announceTitle').click(function(){
				$(this).parent().submit();
			});
			
			function comma(str) {
	  			 str = String(str);
	  		 	return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
			  	}
			
			$('document').ready(function(){
				$('.bCpPrice').each(function(){
					
					var bCpPrice = $('.bCpPrice');
					var i = bCpPrice.index(this);
					console.log(i);
					console.log(bCpPrice.eq(i).text());
					bCpPrice.eq(i).text(comma(bCpPrice.eq(i).text()));
				})
		
			})
			
			$('document').ready(function(){
				$('.bPlPrice').each(function(){
					
					var bPlPrice = $('.bPlPrice');
					var i = bPlPrice.index(this);
					console.log(i);
					console.log(bPlPrice.eq(i).text());
					bPlPrice.eq(i).text(comma(bPlPrice.eq(i).text()));
				})
		
			})
		</script>
		<script th:inline="javascript">
			var searchKey = '&searchKey='+/*[[${searchKey}]]*/;
			var searchValue= '&searchValue='+/*[[${searchValue}]]*/
			var searchKeyCp = '&searchKeyCp='+/*[[${searchKeyCp}]]*/;
			var searchValueCp= '&searchValueCp='+/*[[${searchValueCp}]]*/
			
			function movePage(uri, queryString) {
				location.href = uri + queryString+searchKey+searchValue+searchKeyCp+searchValueCp;
			}
			
			function movePage2(uri, queryString) {
				location.href = uri + queryString+searchKey+searchValue+searchKeyCp+searchValueCp;
			}

			$('#myTab a').click(function(e) {
			  e.preventDefault();
			  $(this).tab('show');
			});

			// store the currently selected tab in the hash value
			$("ul.nav-tabs > li > a").on("shown.bs.tab", function(e) {
			  var id = $(e.target).attr("href").substr(1);
			  window.location.hash = id;
			});
			
			
			// 새로 고침시 탭 유지
			var hash = window.location.hash;
			// on load of the page: switch to the currently selected tab
			$('#myTab a[href="' + hash + '"]').tab('show');

		</script>
	</th:block>
</html>