<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>[[${plant.bzPlCode}]] 상세정보</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
		<!-- Bootstrap core CSS -->
		  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		  <!--external css-->
		  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
		  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-fileupload/bootstrap-fileupload.css}" />
		  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
		  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-daterangepicker/daterangepicker.css}" />
		  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-timepicker/compiled/timepicker.css}" />
		  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datetimepicker/datertimepicker.css}" />
		  <!-- Custom styles for this template -->
		  <link th:href="@{/css/style.css}" rel="stylesheet">
		  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>[[${plant.bzPlCode}]] 상세정보</strong></div>
	<div id="container-header-path">회원관리 > <a th:href=@{/member/plantList}>발전소인증신청목록</a> > [[${plant.bzPlCode}]] 상세정보</div>
	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <h4 class="mb"><i class="fa fa-angle-right"></i> [[${plant.bzPlCode}]] 상세정보</h4>
              <hr>
              <form class="form-horizontal style-form">
              	 <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">발전소 사진</label>
                  <div class="col-sm-10">
	                  <div class="col-md-9">
	                    <div class="fileupload fileupload-new" data-provides="fileupload">
	                      <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
	                        <img th:if="${plant.bzPlPhoto == null}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
	                        <img th:if="${plant.bzPlPhoto == ''}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
	                        <img th:if="${plant.bzPlPhoto != null}" th:src="${plant.bzPlPhoto}" alt="" style="width: 100%; height: 100%" />
	                      </div>
	                    </div>
	                  </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">발전소사업자 코드</label>
                  <div class="col-lg-10">
                    <p class="form-control-static" th:text="${plant.bzPlCode}"></p>
                    <input id="bzPlCode" type="hidden" th:value="${plant.bzPlCode}"/>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">아이디</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.mId}]]</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">발전소명</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlName}]]</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">발전소 우편번호</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlZipcode}]]</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">발전소 도로명주소</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlAddr}]]</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">발전소 상세주소</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlDetailAddr}]]</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">발전소용량</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlPower}]] KW</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">발전소 하드웨어 여부</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlHardware}]]</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">부지면적</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlArea}]] 평</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">인버터용량</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlInvPower}]] V</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">인버터수량</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlInvCount}]] 개</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">인버터제조사</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlInvMaker}]]</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-lg-2 col-sm-2 control-label">계약REC</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlRec}]]</p>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-sm-2 col-sm-2 control-label">발전소 인증 상태</label>
                  <div class="col-lg-10">
                    <p class="form-control-static">[[${plant.bzPlCheck}]]</p>
                  </div>
                </div>
                <div class="form-group" th:if="${plant.bzPlCheck} == N">
                  <div class="col-lg-offset-2 col-lg-10">
                    <a id="admitBtn" class="btn btn-info" role="button">승인</a>
                    <a id="returnBtn" class="btn btn-danger" role="button">반려</a>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    <a class="btn btn-success" role="button" onclick="location.href='/member/plantList'">목록이동</a>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <!-- col-lg-12-->
        </div>
		
	</th:block>
	<th:block layout:fragment="customScript">
	
		<script type="text/javascript">
			var bzPlCode = $('#bzPlCode');
			
			$('#admitBtn').click(function(){
				var result = confirm('승인하시겠습니까?');
				if(result){
					console.log('승인완료');
					var request = $.ajax({
						url: "/plantAdmitSend",
						method: "post",
						data: { bzPlCode : bzPlCode.val() },
					});
					
					request.done(function(data){
						location.href="/getPlantInfoBybzPlCode?bzPlCode=" + bzPlCode.val();
					});
					
					request.fail(function( jqXHR, textStatus){
						alert( "Request failed: " + textStatus);
					})
				}else{
					console.log('승인실패');
				}
			});
			
			$('#returnBtn').click(function(){
				var result = confirm('반려하시겠습니까?');
				if(result){
					console.log('반려완료');
					var request = $.ajax({
						url: "/plantReturnSend",
						method: "post",
						data: { bzPlCode : bzPlCode.val() },
					});
					
					request.done(function(data){
						location.href="/getPlantInfoBybzPlCode?bzPlCode=" + bzPlCode.val();
					});
					
					request.fail(function( jqXHR, textStatus){
						alert( "Request failed: " + textStatus);
					})
				}else{
					console.log('반려실패');
				}
			});
			
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			member.parent().find('.sub').children().eq(4).addClass('active');
		</script>
	</th:block>
</html>