<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
		
		<!-- 컨텐츠 영역 시작 : 회원가입 -->
	<div id="signInContents" class="container" style="color: #111; font-size: 17px;">
		<h1 style="text-align: center;">회원가입</h1>
		<div class="row col-md-6 col-md-offset-3">
			<div class="form-group">
			  <input type="text" readonly="readonly" hidden="hidden" id="memberCodeCheckValue" value="">
			  <label for="memberId" style="margin-top: 13px;">아이디</label><br>
			  <input type="text" class="form-control" id="memberId" placeholder="아이디를 입력하세요" style="width: 70%; float: left; display: inline-block;">
			  <input type="button" class="btn btn-default" id="memberCodeCheckBtn" value="중복확인" onclick="userCodeCheck()" style="width: 25%; margin-left: 4%; float: right;">
			</div><br><br>
			<div class="form-group">
			  <label for="memberPassword">비밀번호</label>
			  <input type="password" class="form-control" id="memberPassword" placeholder="비밀번호를 입력하세요.">
			</div>
			<div class="form-group">
			  <label for="memberPasswordCheck">비밀번호 확인</label>
			  <input type="password" class="form-control" id="memberPasswordCheck" placeholder="비밀번호 확인을 입력하세요.">
			</div>
		    <label for="postcode">주소</label>
			<form class="form-inline">
			  <div class="form-group">
				<input type="text" id="postcode" class="form-control col-md-8 col-xs-7" placeholder="우편번호" readonly="readonly">
				<span class="col-xs-1"></span>
				<input type="button" onclick="execDaumPostcode()" class="btn btn-default col-md-4 col-xs-5" value="우편번호 찾기">
			  </div>
			</form><br>
			<div class="form-group">
			  <input type="text" id="roadAddress" class="form-control" placeholder="도로명주소">
			</div>
			<div class="form-group">
			  <input type="text" id="jibunAddress" class="form-control" placeholder="지번주소">
			</div>
			<div class="form-group">
			  <span id="guide" style="color:#999;display:none"></span>
			</div>
			<div class="form-group">  
			  <input type="text" id="detailAddress" class="form-control" placeholder="상세주소">
			</div>		  
			<div class="form-group">
				<label for="memberEmail">이메일</label>
				<input type="email" class="form-control" id="memberEmail" placeholder="이메일주소를 입력하세요.">
			</div>
			<form >
			  <div class="form-group" style="margin-top: 18px;">
			    <label for="memberName">이름</label>
			    <input type="password" class="form-control" id="memberName" placeholder="이름을 입력하세요.">
			  </div>
			  <label for="memberPhone">휴대전화번호</label>
				  <div class="form-group">
				    <input type="text" class="form-control memberPhone" id="memberPhone" placeholder="" value="010" style="width: 32%; float: left; display: inline-block;">
				    <input type="text" class="form-control memberPhone" placeholder="0000" value="" style="margin-left:1%; width: 32%; float: left; display: inline-block;"> 
				    <input type="text" class="form-control memberPhone" placeholder="0000" value="" style="margin-left:1%; width: 32%; float: left; display: inline-block;">
				  </div>
			  <br><br>
			  <div class="form-group">
			    <label for="inputFile">사진등록</label>
			    <input type="file" id="inputFile">
			  </div>
		      <img id="uploadImg" alt="" src="">
			</form>
		<button id="signInBtn" type="button" class="btn btn-default btn-lg col-lg-12 col-md-12 col-sm-12 col-xs-12" onclick="signInSubmit()">등 록 하 기</button>
		</div>
	</div>
	<!-- 컨텐츠 영역 끝 : 회원가입 -->
		
		
	</th:block>
	<th:block layout:fragment="customScript">
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript">
			//아이디 중복확인
			function userCodeCheck(){
				var mId = $('#memberId').val();
				console.log(mId);
				$.ajax({
			        url     : '/ajax/idCheck',
			        type    : 'POST',
			        data    : {mId : mId},
			        success : function(data) {
			        	console.log(data);
			        	if(data){
			        		Swal.fire({
								  title: '일치하는 아이디가 있습니다!',
								  text: '다른 아이디로 회원등록을 해주세요.',
								  icon: 'error'
								});
			        		$('#memberId').focus();
			        	}else{
			        		Swal.fire({
								  title: '가입이 가능한 아이디입니다.!',
								  text: '회원등록을 진행해주세요.',
								  icon: 'success'
								});
			        		$('#userCodeCheckValue').val(mId);
			        		$('#memberId').focus();
			        	}
			        },
			        error : function(xhr,status,error) {
			        	console.log("xhr: " + xhr);
			        	console.log("status: " + status);
			        	console.log("error: " + error);
			        }
			    });
			}
			
			//유효성 검사 & 회원가입AJAX
			function signInSubmit(){
				var memberId = $('#memberId');
				var memberCodeCheckValue = $('#memberCodeCheckValue');
				var memberPassword = $('#memberPassword');
				var memberPasswordCheck = $('#memberPasswordCheck');
				var postcode = $('#postcode');
				var roadAddress = $('#roadAddress');
				var jibunAddress = $('#jibunAddress');
				var detailAddress = $('#detailAddress');
				var memberEmail = $('#memberEmail');
				var memberName = $('#memberName');
				var memberPhone = $('.memberPhone');
				var inputFile = $('#inputFile');
				var memberPhoneSum = ($(memberPhone[0]).val() + '-' +  $(memberPhone[1]).val() + '-' + $(memberPhone[2]).val());
				
				if(memberId.val() == null || memberId.val() == "" || memberId.val() == 'undefined'){
					Swal.fire({
						  title: '아이디를 입력해주세요!',
						  icon: 'info'
						})
					memberId.focus();
					return;
				}else if(memberCodeCheckValue.val() == ""){
					Swal.fire({
						  title: '중복검사를 해주세요!',
						  icon: 'info'
						})
					memberId.focus();
					return;
				}else if(memberCodeCheckValue.val() != memberId.val()){
					Swal.fire({
						  title: '중복검사를 다시 진행해주세요!',
						  icon: 'info'
						})
					memberId.focus();
					return;
				}else if(memberPassword.val() == null || memberPassword.val() == "" || memberPassword.val() == 'undefined'){
					Swal.fire({
						  title: '비밀번호를 입력해주세요!',
						  icon: 'info'
						})
					memberPassword.focus();
					return;
				}else if(memberPasswordCheck.val() == null || memberPasswordCheck.val() == "" || memberPasswordCheck.val() == 'undefined'){
					Swal.fire({
						  title: '비밀번호 확인을 입력해주세요!',
						  icon: 'info'
						})
					memberPasswordCheck.focus();
					return;
				}else if(memberPasswordCheck.val() != memberPassword.val()){
					Swal.fire({
						  title: '비밀번호와 비밀번호확인이 일치하지 않습니다!',
						  icon: 'info'
						})
					memberPassword.focus();
					return;
				}else if(memberName.val() == null || memberName.val() == "" || memberName.val() == 'undefined'){
					Swal.fire({
						  title: '이름을 입력해주세요!',
						  icon: 'info'
						})
					memberName.focus();
					return;
				}else if(memberEmail.val() == null || memberEmail.val() == "" || memberEmail.val() == 'undefined'){
					Swal.fire({
						  title: '이메일을 입력해주세요!',
						  icon: 'info'
						})
					memberEmail.focus();
					return;
				}
				
				
				////////////////////////이메일 유효성검사//////////////////////////
				 var regex=/^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$/;
				 if(regex.test(memberEmail.val()) === false){
					 Swal.fire({
						  title: '잘못된 이메일 형식입니다!',
						  text: '이메일을 다시 입력 해주세요.',
						  icon: 'error'
						});
					 $('#e_mail').focus();
					 return false;
				 }

				////////////////////////휴대폰 유효성검사//////////////////////////
				 var phonenum = $('#phone').val();
				 var regPhone = /(01[0|1|6|9|7])[-](\d{3}|\d{4})[-](\d{4}$)/g;
				 if(!regPhone.test(phonenum)){
					 Swal.fire({
						  title: '잘못된 휴대전화번호 형식입니다!',
						  text: '휴대전화번호를 다시 입력 해주세요.',
						  icon: 'error'
						});
					 $('#phone').focus();
					 return false;
				 }
				
				
				//////////////////ajax를 통해 회원가입 데이터 전송//////////////////////
				$.ajax({
			        url     : '/ajax/signup',
			        type    : 'POST',
			        data    :   {memberId:memberId
			        			,memberPassword :memberPassword
			        			,postcode :postcode
			        			,roadAddress
			        			,detailAddress
			        			,memberEmail
			        			,memberName
			        			,memberPhoneSum
			        			,inputFile},
			        success : function(data) {
			        	console.log(data);
			        	if(data){
			        		Swal.fire({
								  title: '회원등록이 완료되었습니다!',
								  icon: 'success'
								});
			        	}else{
			        		Swal.fire({
								  title: '회원등록이 실패했습니다!',
								  icon: 'error'
								});
			        	}
			        },
			        error : function(xhr,status,error) {
			        	console.log("xhr: " + xhr);
			        	console.log("status: " + status);
			        	console.log("error: " + error);
			        }
			    });
			}
			
			
			
			//우편번호 api
			function execDaumPostcode() {
			    new daum.Postcode({
			        oncomplete: function(data) {
			            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

			            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
			            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			            var roadAddr = data.roadAddress; // 도로명 주소 변수
			            var extraRoadAddr = ''; // 참고 항목 변수

			            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
			            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
			            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
			                extraRoadAddr += data.bname;
			            }
			            // 건물명이 있고, 공동주택일 경우 추가한다.
			            if(data.buildingName !== '' && data.apartment === 'Y'){
			               extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
			            }
			            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
			            if(extraRoadAddr !== ''){
			                extraRoadAddr = ' (' + extraRoadAddr + ')';
			            }

			            // 우편번호와 주소 정보를 해당 필드에 넣는다.
			            document.getElementById('postcode').value = data.zonecode;
			            document.getElementById("roadAddress").value = roadAddr;
			            document.getElementById("jibunAddress").value = data.jibunAddress;
			            
			            // 참고항목 문자열이 있을 경우 해당 필드에 넣는다.
			            if(roadAddr !== ''){
			                document.getElementById("extraAddress").value = extraRoadAddr;
			            } else {
			                document.getElementById("extraAddress").value = '';
			            }

			            var guideTextBox = document.getElementById("guide");
			            // 사용자가 '선택 안함'을 클릭한 경우, 예상 주소라는 표시를 해준다.
			            if(data.autoRoadAddress) {
			                var expRoadAddr = data.autoRoadAddress + extraRoadAddr;
			                guideTextBox.innerHTML = '(예상 도로명 주소 : ' + expRoadAddr + ')';
			                guideTextBox.style.display = 'block';

			            } else if(data.autoJibunAddress) {
			                var expJibunAddr = data.autoJibunAddress;
			                guideTextBox.innerHTML = '(예상 지번 주소 : ' + expJibunAddr + ')';
			                guideTextBox.style.display = 'block';
			            } else {
			                guideTextBox.innerHTML = '';
			                guideTextBox.style.display = 'none';
			            }
			        }
			    }).open();
			}
		</script>
	</th:block>
</html>