<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div class="container">
		
			<h1>로그인 페이지</h1>	
			<div class="logo"><h2><b>KSMART<span>SOLAR</span></b></h2></div>
		
		</div>
		
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			member.parent().find('.sub').children().eq(1).addClass('active');
		</script>
	</th:block>
</html>