<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>탈퇴신청회원조회</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!--external css-->
	  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	  <!-- Custom styles for this template -->
	  <link th:href="@{/css/style.css}" rel="stylesheet">
	  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
	  <link th:href="@{/css/table-responsive.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>탈퇴신청회원리스트</strong></div>
	<div id="container-header-path">회원관리 > 탈퇴신청회원조회</div>
	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
          
          <div role="tabpanel">

		  <!-- Nav tabs -->
		  <ul class="nav nav-tabs" role="tablist">
		    <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">탈퇴신청회원리스트</a></li>
		    <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">탈퇴완료회원리스트</a></li>
		  </ul>
		
		  <!-- Tab panes -->
		  <div class="tab-content">
		    <div role="tabpanel" class="tab-pane active" id="home">
            <div class="content-panel" style="padding : 30px;">
				<h4><i class="fa fa-angle-right"></i> 탈퇴신청회원리스트</h4>
				<div style="text-align : right; margin-bottom: 10px;">
	              <form th:action="@{/member/memberWithdrawList}">
	            	<select name="searchKeyWAM">
	            		<option value="">카테고리</option>
	            		<option value="mId">아이디</option>
	            		<option value="mRevokeDate">탈퇴신청일자</option>
	            		<option value="mRevokeCancelDate">탈퇴취소일자</option>
	            	</select>
	            	<input type="text" placeholder="검색어" name="searchValueWAM" th:value="${searchValueWAM}">
	            	<input class="input-medium default-date-picker" size="14" type="text" placeholder="YYYY-MM-DD" name="searchValueWAMS" th:value="${searchValueWAMS}" style="display: none">
	            	<input class="input-medium default-date-picker" size="14" type="text" placeholder="YYYY-MM-DD" name="searchValueWAMF" th:value="${searchValueWAMF}" style="display: none">
	            	<input type="submit" value = "검색" class="btn btn-default btn-sm">
	               </form>
            	</div>
	              <section id="no-more-tables">
	              	<hr>
	                <table class="table table-condensed cf">
	                  <thead class="cf">
						<tr>
							<th>번호</th>
							<th>아이디</th>
							<th>탈퇴사유</th>
							<th>탈퇴신청일</th>
							<th>탈퇴취소일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(withdrawAdmitList) > 0}" th:each = "l, status : ${withdrawAdmitList}">
							<td data-title="번호" th:text="${status.count+(page1.curPage-1)*page1.pageEnd}"></td>
							<td data-title="아이디">
								<a th:href=@{/getMemberInfoById(mId=${l.mId},curPage1=${page1.curPage},searchKeyWAM=${searchKeyWAM},searchValueWAM=${searchValueWAM},searchValueWAMS=${searchValueWAMS},searchValueWAMF=${searchValueWAMF},uri=${uri})}>[[${l.mId}]]</a>
							</td>
							<td data-title="탈퇴사유" th:text="${l.mRevokeReason}"></td>
							<td data-title="탈퇴신청일" th:text="${l.mRevokeDate}"></td>
							<td data-title="탈퇴취소일" th:text="${l.mRevokeCancelDate}"></td>
						</tr>
						<tr th:unless="${#lists.size(withdrawAdmitList) > 0}">
							<td colspan="5">조회된 내용이 없습니다.</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
				  <ul class="pagination">
				    <li>
				      <a th:if="${page1.curBlock > 1}" th:href="@{/member/memberWithdrawList(curPage1=${page1.prevPage},searchKeyWAM=${searchKeyWAM},searchValueWAM=${searchValueWAM},searchValueWAMS=${searchValueWAMS},searchValueWAMF=${searchValueWAMF})}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
			    	<th:block th:each="num : ${#numbers.sequence(page1.blockBegin, page1.blockEnd)}">
			   		<li th:if="${num == page1.curPage}" class="active">
			   			<a>[[${num}]]</a>
			   		</li>
			   		<li th:unless="${num == page1.curPage}">
			   		<th:block th:if="${num} != 0">
			   			<a th:href="@{/member/memberWithdrawList(curPage1=${num},searchKeyAM=${searchKeyAM},searchValueAM=${searchValueAM})}">[[${num}]]</a>
			   		</th:block>
			   		</li>
			  		</th:block>
				    <li>
				      <a th:if="${page1.curBlock <= page1.totBlock}" th:href="@{/member/memberWithdrawList(curPage1=${page1.nextPage},searchKeyWAM=${searchKeyWAM},searchValueWAM=${searchValueWAM},searchValueWAMS=${searchValueWAMS},searchValueWAMF=${searchValueWAMF})}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</div>
				</section>
				</div>
			</div>
		<div role="tabpanel" class="tab-pane" id="profile">
            <div class="content-panel" style="padding : 30px;">
				<h4><i class="fa fa-angle-right"></i> 탈퇴완료회원리스트</h4>
				<div style="text-align : right; margin-bottom: 10px;">
	              <form th:action="@{/member/memberWithdrawList}">
	            	<select name="searchKeyWCM">
	            		<option value="">카테고리</option>
	            		<option value="mId">아이디</option>
	            		<option value="mRevokeDate">최종신청일자</option>
	            		<option value="mRevokeFinalDate">최종탈퇴일자</option>
	            	</select>
	            	<input type="text" placeholder="검색어" name="searchValueWCM" th:value="${searchValueWCM}">
	            	<input class="input-medium default-date-picker" size="14" type="text" placeholder="YYYY-MM-DD" name="searchValueWCMS" th:value="${searchValueWCMS}" style="display: none">
	            	<input class="input-medium default-date-picker" size="14" type="text" placeholder="YYYY-MM-DD" name="searchValueWCMF" th:value="${searchValueWCMF}" style="display: none">
	            	<input type="submit" value = "검색" class="btn btn-default btn-sm">
	               </form>
            	</div>
				
	              <section id="no-more-tables">
	              	<hr>
	                <table class="table table-condensed cf">
	                  <thead class="cf">
						<tr>
							<th>번호</th>
							<th>아이디</th>
							<th>탈퇴사유</th>
							<th>탈퇴신청일</th>
							<th>최종탈퇴일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:if="${#lists.size(withdrawCompleteList) > 0}" th:each = "l, status : ${withdrawCompleteList}">
							<td data-title="번호" th:text="${status.count+(page2.curPage-1)*page2.pageEnd}"></td>
							<td data-title="아이디">
								<a th:href=@{/getMemberInfoById(mId=${l.mId},curPage2=${page2.curPage},searchKeyWCM=${searchKeyWCM},searchValueWCM=${searchValueWCM},searchValueWCMS=${searchValueWCMS},searchValueWCMF=${searchValueWCMF},uri=${uri})}>[[${l.mId}]]</a>
							</td>
							<td data-title="탈퇴사유" th:text="${l.mRevokeReason}"></td>
							<td data-title="탈퇴신청일" th:text="${l.mRevokeDate}"></td>
							<td data-title="최종탈퇴일" th:text="${l.mRevokeFinalDate}"></td>
						</tr>
						<tr th:unless="${#lists.size(withdrawCompleteList) > 0}">
							<td colspan="5">조회된 내용이 없습니다.</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
				  <ul class="pagination">
				    <li>
				      <a th:if="${page2.curBlock > 1}" th:href="@{/member/memberWithdrawList(curPage2=${page2.prevPage},searchKeyWCM=${searchKeyWCM},searchValueWCM=${searchValueWCM},searchValueWCMS=${searchValueWCMS},searchValueWCMF=${searchValueWCMF})}" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
			    	<th:block th:each="num : ${#numbers.sequence(page2.blockBegin, page2.blockEnd)}">
			   		<li th:if="${num == page2.curPage}" class="active">
			   			<a>[[${num}]]</a>
			   		</li>
			   		<li th:unless="${num == page2.curPage}">
			   		<th:block th:if="${num} != 0">
			   			<a th:href="@{/member/memberWithdrawList(curPage2=${num},searchKeyWCM=${searchKeyWCM},searchValueWCM=${searchValueWCM},searchValueWCMS=${searchValueWCMS},searchValueWCMF=${searchValueWCMF})}">[[${num}]]</a>
			   		</th:block>
			   		</li>
			  		</th:block>
				    <li>
				      <a th:if="${page2.curBlock <= page2.totBlock}" th:href="@{/member/memberWithdrawList(curPage2=${page2.nextPage},searchKeyWCM=${searchKeyWCM},searchValueWCM=${searchValueWCM},searchValueWCMS=${searchValueWCMS},searchValueWCMF=${searchValueWCMF})}" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</div>
				</section>
				</div>
			</div>
			</div>
			</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
	<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
	  <script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
	  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/date.js}"></script>
	  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/daterangepicker.js}"></script>
		<script type="text/javascript">
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			member.parent().find('.sub').children().eq(2).addClass('active');
			
			var searchKeyWAM = $('select[name="searchKeyWAM"]');
			var searchKeyWCM = $('select[name="searchKeyWCM"]');
			searchKeyWAM.click(function(){
				if(searchKeyWAM.val() == "mId" || searchKeyWAM.val() == ""){
					$('[name="searchValueWAM"]').css('display','inline-block')
					$('[name="searchValueWAMS"]').css('display','none');
					$('[name="searchValueWAMF"]').css('display','none');
				}else if(searchKeyWAM.val() == "mRevokeDate" || searchKeyWAM.val() == "mRevokeCancelDate"){
					$('[name="searchValueWAM"]').css('display','none');
					$('[name="searchValueWAMS"]').css('display','inline-block');
					$('[name="searchValueWAMF"]').css('display','inline-block');
				}
			});
			searchKeyWCM.click(function(){
				if(searchKeyWCM.val() == "mId" || searchKeyWCM.val() == ""){
					$('[name="searchValueWCM"]').css('display','inline-block')
					$('[name="searchValueWCMS"]').css('display','none');
					$('[name="searchValueWCMF"]').css('display','none');
				}else if(searchKeyWCM.val() == "mRevokeDate" || searchKeyWCM.val() == "mRevokeFinalDate"){
					$('[name="searchValueWCM"]').css('display','none');
					$('[name="searchValueWCMS"]').css('display','inline-block');
					$('[name="searchValueWCMF"]').css('display','inline-block');
				}
			});
		</script>
	</th:block>
</html>