<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>발전소인증신청목록</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!--external css-->
	  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	  <!-- Custom styles for this template -->
	  <link th:href="@{/css/style.css}" rel="stylesheet">
	  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
	  <link th:href="@{/css/table-responsive.css}" rel="stylesheet">
	</th:block>
	
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>발전소인증신청목록</strong></div>
	<div id="container-header-path">회원관리 > 발전소인증신청목록</div>
	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
            <div class="content-panel">
				<h4><i class="fa fa-angle-right"></i> 발전소인증신청목록</h4>
	              <section id="no-more-tables">
	              	<hr>
	                <table class="table table-condensed cf">
	                  <thead class="cf">
						<tr>
							<th>발전소사업자 코드</th>
							<th>아이디</th>
							<th>발전소명</th>
							<th>발전소사진</th>
							<th>발전소 도로명주소</th>
							<th>발전소 인증 상태</th>
							<th>승인/반려</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="l : ${plantList}">
							<td data-title="발전소사업자 코드">
								<a th:href=@{/getPlantInfoBybzPlCode(bzPlCode=${l.bzPlCode})}>[[${l.bzPlCode}]]</a>
							</td>
							<td data-title="아이디" th:text="${l.mId}"></td>
							<td data-title="발전소명" th:text="${l.bzPlName}"></td>
							<td data-title="발전소사진">
								<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
									<img th:if="${l.bzPlPhoto == null}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
									<img th:if="${l.bzPlPhoto == ''}" src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&text=no+image" alt="" />
		                        	<img th:if="${l.bzPlPhoto != null}" th:src="${l.bzPlPhoto}" alt="" style="width: 100%; height: 100%" />
		                        </div>
							</td>
							<td data-title="발전소 도로명주소" th:text="${l.bzPlAddr}"></td>
							<td data-title="발전소 인증 상태" th:text="${l.bzPlCheck}"></td>
							<td data-title="승인/반려" th:if="${l.bzPlCheck} == N">
								<a class="btn btn-info" th:href=@{/getPlantInfoBybzPlCode(bzPlCode=${l.bzPlCode})} role="button">상세보기</a>
							</td>
							<td data-title="승인/반려" th:unless="${l.bzPlCheck} == N">
								<span th:if="${l.bzPlCheck} == Y">승인완료</span>
								<span th:if="${l.bzPlCheck} == F">반려</span>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="text-center">
				  <ul class="pagination">
				    <li>
				      <a href="#" aria-label="Previous">
				        <span aria-hidden="true">&laquo;</span>
				      </a>
				    </li>
				    <li><a href="#">1</a></li>
				    <li><a href="#">2</a></li>
				    <li><a href="#">3</a></li>
				    <li><a href="#">4</a></li>
				    <li><a href="#">5</a></li>
				    <li>
				      <a href="#" aria-label="Next">
				        <span aria-hidden="true">&raquo;</span>
				      </a>
				    </li>
				  </ul>
				</div>
				</section>
				</div>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<!-- js placed at the end of the document so the pages load faster -->
	  <script src="lib/jquery/jquery.min.js"></script>
	  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
	  <script class="include" type="text/javascript" src="lib/jquery.dcjqaccordion.2.7.js"></script>
	  <script src="lib/jquery.scrollTo.min.js"></script>
	  <script src="lib/jquery.nicescroll.js" type="text/javascript"></script>
	  <!--common script for all pages-->
	  <script src="lib/common-scripts.js"></script>
		<script type="text/javascript">
			var member = $('#member');
			member.addClass('active');
			member.parent().find('.sub').css('display','block');
			member.parent().find('.sub').children().eq(4).addClass('active');
		</script>
	</th:block>
</html>