<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
		
	<th:block th:fragment="addDeposit">
		<form th:method="post" th:action="@{/policy/addNewDeposit}" id="depositFromModal">
						<div class="form-group">
							<label for="sDepositTypeModal" class="control-label">예치금종류</label>
							<select class="form-control" name="sDepositType" id="depositSelect">
								<option value="0">::선택::</option>
								<th:block th:each="d:${deposit}">
									<option th:text="${d.sDepositType}" th:value="${d.sDepositType}"></option>
								</th:block>
							</select>
						</div>
						<div class="form-group">
							<label for="sDepositRateModal" class="control-label">수수료율</label>
							<input type="text" class="form-control" id = "sDepositRateModal" name="sDepositRate">
						</div>
						<div class="form-group date-picker-z-index" >
							<label for="sReservation" class="control-label">정책적용일</label>
							<input type="text" class="form-control nomal-date-picker hasDatepicker" id = "sReservationModal" name="sReservation">
						</div>
						
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="sDepositBtnModal" >추가</button>
							</div>
		</form>
	</th:block>
	
</html>