<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
				<title>예치금 정책 히스토리</title>
	</th:block>
	
	
	<th:block layout:fragment="customCss">
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/advanced-datatable/css/jquery.dataTables.css}" />	
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
	</th:block>
	
	
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>예치금히스토리</strong></div>
     	<div id="container-header-path">정책관리 > <a th:href="@{/policy/policyList}">정책리스트</a> >예치금히스토리</div>
      	<div id="container-header-space"></div>		
		
				<div class="col-md-12 mt">
			          <div class="content-panel" style="padding: 30px; padding-bottom : 50px;">
			          <div style="text-align : right; margin-bottom: 20px;">
						<a class="btn btn-sm pull-right standardBtn" style="margin-bottom : 15px;" data-toggle="modal" data-target="#depositModal" data-whatever="@mdo">정책예약</a>
					  </div>
			           <h4><i class="fa fa-angle-right"></i>예약 중인 정책</h4>
			           <hr>
			              <table class="table table-hover">
			                <thead>
			                  <tr>
			                    <th>#</th>
			                    <th>예치금종류</th>
			                    <th>예치금율(%)</th>
			                    <th>적용예정일</th>
			                    <th>등록자</th>
			                    <th>등록일</th>
			                    <th>삭제</th>
			                  </tr>
			                </thead>
			                <tbody id="depositBody">
								<tr th:if="${reservation.size()>0}"  th:each="r, index:${reservation}">
				                  	<td th:text="${index.count}"></td>
				                  	<td th:text="${r.sDepositType}" class="depositType"></td>
				                  	<td th:text="${r.sDepositRate}"></td>
				                  	<td th:text="${r.sReservation}"></td>
				                  	<td th:text="${r.mId}"></td>
				                    <td th:text="${r.sDepositDate}"></td>
				                    <td><a th:href="@{/policy/removeDeposit(idx=${r.sDepositIdx})}" class="btn btn-default btn-xs">삭제</a></td>
				                 </tr>
				                 <tr th:unless="${reservation.size()>0}">
				                 	<td colspan="7">예약중인 정책이 없습니다.</td>
				                 </tr>
			                </tbody>
			              </table>
			           </div>
			        </div> 
		
				
		<div class="col-md-12 mt">
				
            <div class="content-panel" style="padding: 30px; padding-bottom : 50px;">
			<h4><i class="fa fa-angle-right"></i>사용 중인 정책</h4>
			<hr>
              <table class="table table-hover" id="historyTable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>예치금종류</th>
                    <th>예치금율(%)</th>
                    <th>사용여부</th>
                    <th>시작일</th>
                    <th>등록자</th>
                    <th>수정일</th>
                  </tr>
                </thead>
    
                
                <tbody id="depositBody">
					<tr th:if="${h.sDepositUse=='Y'}" th:each="h, index:${depositHistory}">
	                  	<td th:text="${index.count}"></td>
	                  	<td th:text="${h.sDepositType}" class="depositType"></td>
	                  	<td th:text="${h.sDepositRate}"></td>
	                  	<td th:text="사용"></td>
	                  	<td th:text="${h.sReservation}"></td>
	                  	<td th:text="${h.mId}"></td>
	                    <td th:text="${h.sDepositDate}"></td>
	                 </tr>
                </tbody>
              </table>
             </div>
           </div> 
            
             
          <div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">예치금 정책 변경하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewDeposit}" id="depositFromModal">
						<div class="form-group">
							<label for="sDepositTypeModal" class="control-label">예치금종류</label>
							<select class="form-control" name="sDepositType" id="depositSelect">
								<option value="0">::선택::</option>
								<th:block th:each="d:${depositHistory}">
									<option th:if="${d.sDepositUse=='Y'}"th:text="${d.sDepositType}" th:value="${d.sDepositType}"></option>
								</th:block>
							</select>
						</div>
						<div class="form-group">
							<label for="sDepositRateModal" class="control-label">수수료율</label>
							<input type="text" class="form-control" id = "sDepositRateModal" name="sDepositRate">
						</div>
						<div class="form-group date-picker-z-index" >
							<label for="sReservation" class="control-label">정책적용일</label>
							<input type="text" class="form-control nomal-date-picker " id = "sReservationModal" name="sReservation">
						</div>
						
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="sDepositBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		
				<div class="col-md-12 mt">
			          <div class="content-panel" style="padding: 30px; padding-bottom : 50px;">
			              <h4><i class="fa fa-angle-right"></i>예치금 히스토리</h4>
			              <hr>
			              <div style="text-align : right; margin-bottom: 10px;">
				              <form th:action="@{/policy/depositHistory}" id="searchForm">
				            	<select name="searchKey" id="searchSelect">
				            		<option value="0">카테고리</option>
				            		<option value="sdepositType">기준금액</option>
				            		<option value="sdepositRate">수수료율</option>
				            		<option value="sReservation">적용시작일</option>
				            		<option value="sDepositLast">마지막사용일일</option>
				            		<option value="mId">등록자</option>
				            	</select>
				            	<input type="text" placeholder="검색어" name="searchValue">
				            	<input type="button" value = "검색" class="btn btn-default btn-sm" id="searchBtn">
				               </form>
			               </div>
			            	
			              <table class="table table-hover">
			                <thead>
			                  <tr>
				                   <th>#</th>
				                    <th>예치금종류</th>
				                    <th>예치금율(%)</th>
				                    <th>사용여부</th>
				                    <th>적용시작일</th>
				                    <th>마지막사용일</th>
				                    <th>등록자</th>
				                    <th>등록일</th>
				                 </tr>
			                </thead>
			                <tbody id="depositBody">
								<tr th:each="n, index:${notUsed}" th:if="${notUsed.size()>0}">
				                	<td th:text="${index.count}"></td>
				                  	<td th:text="${n.sDepositType}" class="depositType"></td>
				                  	<td th:text="${n.sDepositRate}"></td>
									<td>미사용</td>
				                  	<td th:text="${n.sReservation}"></td>
				                    <td th:text="${n.sDepositLast}"></td>
				                  	<td th:text="${n.mId}"></td>
				                    <td th:text="${n.sDepositDate}"></td>
				                 </tr>
				                 <tr th:unless="${notUsed.size()>0}">
				                 	<td colspan="8">예치금 히스토리가 없습니다.</td>
				                 </tr>
			                </tbody>
			                 <tfoot>
			                	<tr>
			                		<td colspan ="8" style="text-align:center;">
				                 		<th:block layout:fragment="paging">
			                  				<nav th:replace="fragments/standardPagination :: pagination"></nav>
			                  			</th:block>
			                  		</td>
			                	</tr>
			                </tfoot>
			              </table>
			           </div>
			        </div> 
		
		
             
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var policy = $('#policy');
			policy.addClass('active');
			policy.parent().find('.sub').css('display','block');
			policy.parent().find('.sub').children().eq(0).addClass('active');
		</script>
		
		<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
		<script th:src="@{/lib/advanced-datatable/js/jquery.dataTables.js}"></script>
		<script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
		<script>
			function getDateFromToday(i){
		 	    //i=0: today, -1:yesterday, 1: tomorrow .. .etc..
		 	    today = new Date();
		 	    ty = today.getFullYear();
		 	    tm = today.getMonth()+1;
		 	    td = today.getDate();
		 	    if(tm<10) tm = "0" + tm;
		 	    if(td<10) td = "0" + td;
		 	    
		 	    targetDay = new Date(today.valueOf()+(24*60*60*1000)*i);
		 	        ty = targetDay.getFullYear();
		 	        tm = targetDay.getMonth()+1;
		 	        td = targetDay.getDate();
		 	    if(tm<10) tm = "0" + tm;
	
		 	    if(td<10) td = "0" + td;       
	
		 	    return ty + tm + td;
		 	  }
		
		
			function movePage(uri, queryString) {
				location.href = uri + queryString;
			}
		//검색 유효성
		 	$('#searchBtn').click(function(){
		 		if($('#searchSelect option:selected').val()=='0'){
		 			alert('검색 카테고리를 선택해주세요.');
		 			return;
		 		}
		 		$('#searchForm').submit();
		 		
		 	})
		 	
		 	
		//예치금 변경
			$('#sDepositBtnModal').click(function(){
		         		var depositRate = $('#sDepositRateModal');
		      			var sReservationModal = $('#sReservationModal')
		         		if($('#depositSelect option:selected').val()=='0'){
		         			alert('예치금 종류를 선택해주세요.');
		         			return;
		         		}
		         		if(depositRate.val()==''){
		         			alert('예치금율을 입력해주세요.');
		         			depositRate.focus();
		         			return;
		         		}
		         		
		         		if(sReservationModal.val()==''){
		         			alert('적용일을 입력해주세요.');
		         			depositRate.focus();
		         			return;
		         			
		         		}if($('#sReservationModal').val().replaceAll('-','')<getDateFromToday(1)){
							alert('정책 적용일은 신청일로부터 1일 후부터 선택 가능합니다.');
							return;
						}
		        		
		         		$('#depositFromModal').submit();
		       })
		</script>
	</th:block>
</html>