<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>정책리스트</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />	
	</th:block>
	
	
	
	
	<th:block layout:fragment="Contents">
			
		<style>
			.date-picker-z-index{
			z-index: 9999999;}
		
		</style>
		<div id="container-header-title"><strong>정책리스트</strong></div>
     	<div id="container-header-path">정책관리 > <a th:href="@{/policy/policyList}">정책리스트</a></div>
      	<div id="container-header-space"></div>
		<div class="col-md-12 mt">
            <div class="content-panel" style="padding: 30px;">
              <h4><i class="fa fa-angle-right"></i>예치금리스트</h4>
              <p>　　※ 예치금종류 누르면 역대 정책을 확인 할 수 있습니다.</p>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>
	                    <a th:href="@{/policy/depositHistory}">예치금종류</a>	
					</th>
                    <th>예치금율(%)</th>
                    <th>등록자</th>
                    <th>적용일</th>
                  </tr>
                </thead>
    
                
                <tbody id="depositBody">
					<tr th:each="d, index:${deposit}">
	                  	<td style ="display : none" th:text = "${d.sDepositIdx}" class="depositIdx"></td>
	                  	<td th:text="${index.count}"></td>
	                    <td th:text="${d.sDepositType}" class="depositType"></td>
	                    <td class="depositRate" th:text ="${d.sDepositRate}"></td>
	                    <td th:text ="${d.mId}"></td>
	                    <td th:text ="${d.sDepositDate}"></td>
	                 </tr>
                 	 <tr>
                 	 	<td colspan="4" id="modifyDepositMsg"></td>
	                  	<td colspan="2">
	                  	 <div class=" add-task-row">
							<a class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#depositModal" data-whatever="@mdo">정책변경</a>
				  		  </div>
				  		</td>
                	  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <!--///////////////////////////////////예치금추가모달창 //////////////////////////////////////////// -->
		<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">예치금 정책 변경하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewDeposit}" id="depositFromModal">
						<div class="form-group">
							<label for="sDepositTypeModal" class="control-label">예치금종류</label>
							<select class="form-control" name="sDepositType" id="depositSelect">
								<option value="0">::선택::</option>
								<th:block th:each="d:${deposit}">
									<option th:text="${d.sDepositType}" th:value="${d.sDepositType}"></option>
								</th:block>
							</select>
						</div>
						<div class="form-group">
							<label for="sDepositRateModal" class="control-label">수수료율</label>
							<input type="text" class="form-control" id = "sDepositRateModal" name="sDepositRate">
						</div>
						<div class="form-group date-picker-z-index" >
							<label for="sReservation" class="control-label">정책적용일</label>
							<input type="text" class="form-control nomal-date-picker hasDatepicker" id = "sReservationModal" name="sReservation">
						</div>
						
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="sDepositBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
         <!--///////////////////////////////////예치금모달창끝 //////////////////////////////////////////// -->
         
          
           <div class="col-md-12 mt">
            <div class="content-panel" style="padding: 30px;">
              <h4><i class="fa fa-angle-right"></i>거래대금수수료</h4>
               <p>　　※ 기준거래금액를 누르면 역대 정책을 확인 할 수 있습니다.</p>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th><a th:href="@{/policy/commissionHistory}">기준거래금액</a></th>
                    <th>수수료율(%)</th>
                    <th>등록자</th>
                    <th>적용일</th>
                    <th>수정</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody id="comissionBody">
                  <tr th:each="c,index:${commission}">
                  	<td style ="display : none" th:text = "${c.sCommissionIdx}" class="commissionIdx"></td>
                  	<td th:text = "${index.count}"></td>
                    <td class="commissionType" th:text = "${c.sCommissionType}"></td>
                    <td class="commissionRate" th:text = "${c.sCommissionRate}"></td>
                    <td th:text = "${c.mId}"></td>
                    <td th:text = "${c.sCommissionDate}"></td>
                    <td><button class="modifyCommssion"  data-attr = "0">수정</button></td>
                    <td><a th:href="@{/policy/removeCommission(sCommissionIdx=${c.sCommissionIdx})}">삭제</a></td>
                  </tr>
                  <tr>
                  	<td colspan="4" id="modifyCommissionMsg"></td>
                  	<td colspan="3">
                  	 <div class="add-task-row">
						<a class="btn btn-default btn-sm pull-right" data-toggle="modal" id="sCommissionBtn" data-target="#commissionModal" data-whatever="@mdo">정책추가</a>
			  		  </div>
			  		</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <!--///////////////////////////////////모달창 //////////////////////////////////////////// -->
		<div class="modal fade" id="commissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">거래 수수료 정책 추가하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewCommission}" id="commissionFromModal">
						<div class="form-group">
							<label for="sCommssionTypeModal" class="control-label">기준거래금액(미만)</label>
							<input type="text" class="form-control" id="sCommssionTypeModal" name="sCommissionType">
						</div>
						<div class="form-group">
							<label for="sCommissionRateModal" class="control-label">수수료율(%)</label>
							<input type="text" class="form-control" id = "sCommissionRateModal" name="sCommissionRate">
						</div>
						
						<div class="form-group date-picker-z-index" >
							<label for="sReservation" class="control-label">정책적용일</label>
							<input type="text" class="form-control nomal-date-picker hasDatepicker" id = "sCommissionReservation" name="sReservation">
						</div>
						
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="sCommissionBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
          <!--///////////////////////////////////모달창 //////////////////////////////////////////// -->
         
          
          <div class="col-md-12 mt">
            <div class="content-panel" style="padding: 30px;">
              <h4><i class="fa fa-angle-right"></i>기간리스트</h4>
               <p>　　※ 거래종류를 누르면 역대 정책을 확인 할 수 있습니다.</p>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th><a th:href="@{/policy/tradeHistory}">거래종류</a></th>
                    <th>기간</th>
                    <th>등록자</th>
                    <th>적용일</th>
                  </tr>
                </thead>
                <tbody id="tradeBody">
                  <tr th:each ="t,index:${trade}">
                  	<td style ="display : none" th:text = "${t.sTradeIdx}" class="tradeIdx"></td>
                  	<td th:text ="${index.count}"></td>
                    <td class="tradeType" th:text ="${t.sTradeType}"></td>
                    <td class="tradePeriod" th:text ="${t.sTradePeriod}"></td>
                    <td th:text = "${t.mId}"></td>
                    <td th:text = "${t.sTradeDate}"></td>
                  </tr>
                  <tr>
                  	<td colspan="4" id="modifyTradeMsg"></td>
                  	<td colspan="2">
                  	 <div class="add-task-row">
						<a class="btn btn-default btn-sm pull-right" data-toggle="modal" id="" data-target="#tradenModal" data-whatever="@mdo">정책변경</a>
			  		  </div>
			  		</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          
 <!--///////////////////////////////////거래기간모달창 //////////////////////////////////////////// -->
		<div class="modal fade" id="tradeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">거래 기간 정책 변경하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewTrade}" id="tradeFromModal">
						<div class="form-group">
							<label for="sTradeTypeModal" class="control-label">거래종류</label>
							<select class="form-control" name="sTradeType" id="tradeSelect">
								<option value="0">::선택::</option>
								<th:block th:each="t:${trade}">
									<option th:text="${t.sTradeType}" th:value="${t.sTradeType}"></option>
								</th:block>
							</select>
						</div>
						<div class="form-group">
							<label for="sTradePeriodModa" class="control-label">기간</label>
							<input type="text" class="form-control" id = "sTradePeriodModal" name="sTradePeriod">
						</div>
						<div class="form-group date-picker-z-index" >
							<label for="sReservation" class="control-label">정책적용일</label>
							<input type="text" class="form-control nomal-date-picker hasDatepicker" id = "sTradeReservationModal" name="sReservation">
						</div>
						
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="sTradeBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
   <!--///////////////////////////////////모달창 //////////////////////////////////////////// -->
          
          
          
	</th:block>
	
	<th:block layout:fragment="customScript">
		<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
		<script th:src="@{/lib/advanced-datatable/js/jquery.dataTables.js}"></script>
	  	<script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
	 	<script th:src="@{/lib/advanced-form-components.js}"></script>
	
		<script type="text/javascript">
			var policy = $('#policy');
			policy.addClass('active');
			policy.parent().find('.sub').css('display','block');
			policy.parent().find('.sub').children().eq(0).addClass('active');
		</script>
		
		<script>
		
			function comma(str) {
       			 str = String(str);
       		 	return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
  		  	}

			$('document').ready(function(){
				$('.commissionType').each(function(){
					
					var commissionType = $('.commissionType');
					var i = commissionType.index(this);
					console.log(i);
					console.log(commissionType.eq(i).text());
					commissionType.eq(i).text(comma(commissionType.eq(i).text()));
				})
				
				
			})
			
	
			
			//거래대금 수수료 추가
			$('#sCommissionBtnModal').click(function(){
				var commssionTypeModal = $('#sCommssionTypeModal');
				var commissionRate= $('#sCommissionRateModal');
				var sReservationModal = $('#sCommissionReservation')
				var isCommissionPrice = false;
				
				if(commssionTypeModal.val()==''){
					alert('기준금액을 입력해주세요.');
					commssionTypeModal.focus();
					return false;
				}
				
				if(commissionRate.val()==''){
					alert('수수료율을 입력해주세요.');
					commissionRate.focus();
					return false;
				}
				
				if(sReservationModal.val()==''){
         			alert('적용일을 입력해주세요.');
         			return false;
         		}

				$.ajax({
					url : '/ajax/commissionCheck',
         			type : 'POST',
         			data : {commissionPrice : commssionTypeModal.val()},
         			success : function(data){
		         				if(data){
				         			alert('이미 존재하는 기준 금액입니다.');
				         			return false;
				         		}else{
				         			$('#commissionFromModal').submit();
				         		}
		         			}
						});
		
			});
			
			//예치금 변경
			$('#sDepositBtnModal').click(function(){
		         		var depositRate = $('#sDepositRateModal');
		      			var sReservationModal = $('#sReservationModal')
		         		if($('#depositSelect option:selected').val()=='0'){
		         			alert('예치금 종류를 선택해주세요.');
		         			return;
		         		}
		         		if(depositRate.val()==''){
		         			alert('예치금율을 입력해주세요.');
		         			depositRate.focus();
		         			return;
		         		}
		         		
		         		if(sReservationModal.val()==''){
		         			alert('적용일을 입력해주세요.');
		         			depositRate.focus();
		         			return;
		         		}
		        		
		         		$('#depositFromModal').submit();
		       })
		       
			//거래기간변경
		   	$('#sTradeBtnModal').click(function(){
		         		var tradePeriod = $('#sTradePeriodModal');
		      			var reservation = $('#sTradeReservationModal');
		      			
		         		if($('#tradeSelect option:selected').val()=='0'){
		         			alert('거래기간 종류를 선택해주세요.');
		         			return;
		         		}
		         		if(tradePeriod.val()==''){
		         			alert('기준 기간을 입력해주세요.');
		         			tradePeriod.focus();
		         			return;
		         		}
		         		
		         		if(reservation.val()==''){
		         			alert('적용일을 입력해주세요.');
		         			return;
		         		}
		        		
		         		$('#tradeFromModal').submit();
		       })    
		       
		       

			
			//수수료수정
			
			$('.modifyCommssion').click(function(){
				var i = $('.modifyCommssion').index(this);
				console.log(i);
				
				var commissionRate = $('.commissionRate');
				var commissionType = $('.commissionType');
				
				if($('.modifyCommssion').eq(i).attr('data-attr')==0){
					$('.modifyCommssion').eq(i).attr('data-attr','1');
					$('.modifyCommssion').eq(i).text('수정완료');
					//html()을 사용해서, input 박스로 바꿔주고 value 값은 text()를 통해서 가져옴
					commissionRate.eq(i).html('<input type="text" value="'+commissionRate.eq(i).text()+'" class="commissionRate">');
					commissionType.eq(i).html('<input type="text" value="'+commissionType.eq(i).text()+'" class="commissionType">');
	
				}else{		
					//수정가능한 상태 data-attr = 1 이면 실행
					//
					$('.modifyCommssion').eq(i).attr('data-attr','0');
					$('.modifyCommssion').eq(i).text('수정');
					$('#modifyCommssionMsg').text('');
					var type = $('#comissionBody tr input').eq(0).val();
					var rate = $('#comissionBody tr input').eq(1).val();
					var commissionIdx = $('.commissionIdx').eq(i).text();
					
					console.log(rate);
					console.log(type);
					console.log(commissionIdx);
					
					
					commissionRate.eq(i).html(rate);
					commissionType.eq(i).html(type);
					
			       //ajax 비동기 통신
					 
					 $.ajax({
						url : '/ajax/modifyCommission',
						type : 'POST',
						data : {idx : commissionIdx, rate:rate , type : type},
						success : function(data){
							console.log(data);
						}
					})  
				}	
			})
			
		
		</script>
	</th:block>
</html>