<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>정책리스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div class="col-md-12 mt">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>수수료리스트</h4>
              <p>　　※ 예치금종류 누르면 역대 정책을 확인 할 수 있습니다.</p>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>예치금종류</th>
                    <th>예치금율(%)</th>
                    <th>등록자</th>
                    <th>업데이트날짜</th>
                    <th>수정</th>
                  </tr>
                </thead>
                <tbody id="depositBody">
                  <tr th:each="d, index:${deposit}">
                  	<td style ="display : none" th:text = "${d.sDepositIdx}" class="depositIdx"></td>
                  	<td th:text="${index.count}"></td>
                    <td th:text="${d.sDepositType}" class="depositType"></td>
                    <td class="depositRate" th:text ="${d.sDepositRate}"></td>
                    <td th:text ="${d.mId}"></td>
                    <td th:text ="${d.sDepositDate}"></td>
                    <td><button class="modifyDeposit"  data-attr = "0">수정</button></td>
                  </tr>
                  <tr>
                  	<td colspan="4" id="modifyDepositMsg"></td>
                  	<td colspan="2">
                  	 <div class=" add-task-row">
						<a class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#depositModal" data-whatever="@mdo">정책추가</a>
			  		  </div>
			  		</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <!--///////////////////////////////////모달창 //////////////////////////////////////////// -->
		<div class="modal fade" id="depositModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">예치금 정책 추가하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewDeposit}" id="depositFromModal">
						<div class="form-group">
							<label for="sDepositTypeModal" class="control-label">예치금종류</label>
							<input type="text" class="form-control" id="sDepositTypeModal" name="sDepositType">
						</div>
						<div class="form-group">
							<label for="sDepositRateModal" class="control-label">수수료율</label>
							<input type="text" class="form-control" id = "sDepositRateModal" name="sDepositRate">
						</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="sDepositBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
         <!--모달 끝 -->
         
          
           <div class="col-md-12 mt">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>거래대금수수료</h4>
               <p>　　※ 거래종류를 누르면 역대 정책을 확인 할 수 있습니다.</p>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>거래금액(미만)</th>
                    <th>수수료율(%)</th>
                    <th>등록자</th>
                    <th>업데이트날짜</th>
                    <th>수정</th>
                  </tr>
                </thead>
                <tbody id="comissionBody">
                  <tr th:each="c,index:${commission}">
                  	<td style ="display : none" th:text = "${c.sCommissionIdx}" class="commissionIdx"></td>
                  	<td th:text = "${index.count}"></td>
                    <td class="commissionType" th:text = "${c.sCommissionType}"></td>
                    <td class="commissionRate" th:text = "${c.sCommissionRate}">1</td>
                    <td th:text = "${c.mId}">1</td>
                    <td th:text = "${c.sCommissionDate}">1</td>
                    <td><button class="modifyCommssion"  data-attr = "0">수정</button></td>
                  </tr>
                  <tr>
                  	<td colspan="4" id="modifyCommissionMsg"></td>
                  	<td colspan="2">
                  	 <div class="add-task-row">
						<a class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#commissionModal" data-whatever="@mdo">정책추가</a>
			  		  </div>
			  		</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
                   <!--///////////////////////////////////모달창 //////////////////////////////////////////// -->
		<div class="modal fade" id="commissionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">거래 수수료 정책 추가하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewCommission}" id="depositFromModal">
						<div class="form-group">
							<label for="sCommssionTypeModal" class="control-label">거래금액(미만)</label>
							<input type="text" class="form-control" id="sCommssionTypeModal" name="sCommissionType">
						</div>
						<div class="form-group">
							<label for="sCommissionRateModal" class="control-label">수수료율(%)</label>
							<input type="text" class="form-control" id = "sCommissionRateModal" name="sCommissionRate">
						</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="submit" class="btn btn-primary" id="sCommissionBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
         <!--모달 끝 -->
         
          
          <div class="col-md-12 mt">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>기간리스트</h4>
               <p>　　※ 거래종류를 누르면 역대 정책을 확인 할 수 있습니다.</p>
              <hr>
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>거래종류</th>
                    <th>기간</th>
                    <th>등록자</th>
                    <th>업데이트날짜</th>
                    <th>수정</th>
                  </tr>
                </thead>
                <tbody id="tradeBody">
                  <tr th:each ="t,index:${trade}">
                  	<td style ="display : none" th:text = "${t.sTradeIdx}" class="tradeIdx"></td>
                  	<td th:text ="${index.count}"></td>
                    <td class="tradeType" th:text ="${t.sTradeType}"></td>
                    <td class="tradePeriod" th:text ="${t.sTradePeriod}"></td>
                    <td th:text = "${t.mId}"></td>
                    <td th:text = "${t.sTradeDate}"></td>
                    <td><button class = "modifyTrade" data-attr = "0">수정</button></td>
                  </tr>
                  <tr>
                  	<td colspan="4" id="modifyTradeMsg"></td>
                  	<td colspan="2">
                  	 <div class="add-task-row">
						<a class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#tradenModal" data-whatever="@mdo">정책추가</a>
			  		  </div>
			  		</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          
                     <!--///////////////////////////////////모달창 //////////////////////////////////////////// -->
		<div class="modal fade" id="tradenModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">거래 기간 정책 추가하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewTrade}" id="depositFromModal">
						<div class="form-group">
							<label for="sTradeTypeModal" class="control-label">거래종류</label>
							<input type="text" class="form-control" id="sTradeTypeModal" name="sTradeType">
						</div>
						<div class="form-group">
							<label for="sTradePeriodModa" class="control-label">기간</label>
							<input type="text" class="form-control" id = "sTradePeriodModa" name="sTradePeriod">
						</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="submit" class="btn btn-primary" id="sTradeBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
         <!--모달 끝 -->
          
          
          
	</th:block>
	
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var policy = $('#policy');
			policy.addClass('active');
			policy.parent().find('.sub').css('display','block');
			policy.parent().find('.sub').children().eq(0).addClass('active');
		</script>
		
		<script>
			//숫자에 콤마 > 수정 or 삭제필요
			function comma(str) {
       			 str = String(str);
       		 	return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
  		  	}

			$('document').ready(function(){
				var commissionType = $('.commissionType');
				console.log(commissionType);
				console.log(commissionType.val());
				commissionType.val(comma(commissionType.val()));
				
			})
			
			$('#sCommissionBtnModal').click(function(){
				var commissionPrice = $('#sCommssionTypeModal');
				
				$.ajax({
					url : '/ajax/CommissionCheck',
         			type : 'POST',
         			data : {depositName : commissionPrice.val()},
         			success : function(data){
         				console.log(data);
         			}
				})
			})
			
			
			$('#sDepositBtnModal').click(function(){
		         		var depositType = $('#sDepositTypeModal');
		         		var depositRate = $('#sDepositRateModal');
		         
		         		if(depositType.val()==''){
		         			alert('예치금 종류를 입력해주세요.');
		         			depositType.focus();
		         			return;
		         		}
		         		if(depositRate.val()==''){
		         			alert('예치금율을 입력해주세요.');
		         			depositRate.focus();
		         			return;
		         		}
		        		
		         		$.ajax({
		         			url : '/ajax/depositCheck',
		         			type : 'POST',
		         			data : {depositName : depositType.val()},
		         			success : function(data){
		         				console.log(data);
		         				if(data){
		         					$('#depositFromModal').submit();
		         					
		         				}else{
		         					alert('이미 존재하는 예치금 종류입니다.');
		         				}
		         			}
		         			
		         			
		         		}) 
		         		
		         		
		         		
		         		
		         		
		       })
				
			
			
			//예치금 수정
			$('.modifyDeposit').click(function(){
				var i = $('.modifyDeposit').index(this);
				console.log(i);
				
				var depositRate = $('.depositRate');
				
				if($('.modifyDeposit').eq(i).attr('data-attr')==0){
					$('.modifyDeposit').eq(i).attr('data-attr','1');
					$('.modifyDeposit').eq(i).text('수정완료');
					//html()을 사용해서, input 박스로 바꿔주고 value 값은 text()를 통해서 가져옴
					depositRate.eq(i).html('<input type="text" value="'+depositRate.eq(i).text()+'" class="depositRate">');
					$('#modifyDepositMsg').text('등록자와 업데이트 날짜는 자동으로 갱신됩니다.');
				}else{		
					//수정가능한 상태 data-attr = 1 이면 실행
					//
					$('.modifyDeposit').eq(i).attr('data-attr','0');
					$('.modifyDeposit').eq(i).text('수정');
					$('#modifyDepositMsg').text('');
					var rate = $('#depositBody tr input').eq(0).val();
					var depositIdx = $('.depositIdx').eq(i).text();
					var type = $('.depositType').eq(i).text();
					console.log("나와라");
					console.log(depositIdx)
					depositRate.eq(i).html(rate);
					
			       //ajax 비동기 통신
					
					 $.ajax({
						url : '/ajax/modifyDeposit',
						type : 'POST',
						data : {idx : depositIdx, rate:rate , type :type },
						success : function(data){
							console.log(data);
						}
					}) 
				}	
			})
			
			//수수료수정
			
			$('.modifyCommssion').click(function(){
				var i = $('.modifyCommssion').index(this);
				console.log(i);
				
				var commissionRate = $('.commissionRate');
				var commissionType = $('.commissionType');
				
				if($('.modifyCommssion').eq(i).attr('data-attr')==0){
					$('.modifyCommssion').eq(i).attr('data-attr','1');
					$('.modifyCommssion').eq(i).text('수정완료');
					//html()을 사용해서, input 박스로 바꿔주고 value 값은 text()를 통해서 가져옴
					commissionRate.eq(i).html('<input type="text" value="'+commissionRate.eq(i).text()+'" class="commissionRate">');
					commissionType.eq(i).html('<input type="text" value="'+commissionType.eq(i).text()+'" class="commissionType">');
					$('#modifyCommssionMsg').text('등록자와 업데이트 날짜는 자동으로 갱신됩니다.');
				}else{		
					//수정가능한 상태 data-attr = 1 이면 실행
					//
					$('.modifyCommssion').eq(i).attr('data-attr','0');
					$('.modifyCommssion').eq(i).text('수정');
					$('#modifyCommssionMsg').text('');
					var type = $('#comissionBody tr input').eq(0).val();
					var rate = $('#comissionBody tr input').eq(1).val();
					var commissionIdx = $('.commissionIdx').eq(i).text();
					
					console.log(rate);
					console.log(type);
					console.log(commissionIdx);
					
					
					commissionRate.eq(i).html(rate);
					commissionType.eq(i).html(type);
					
			       //ajax 비동기 통신
					 
					 $.ajax({
						url : '/ajax/modifyCommission',
						type : 'POST',
						data : {idx : commissionIdx, rate:rate , type : type},
						success : function(data){
							console.log(data);
						}
					})  
				}	
			})
			
			
			//거래기간수정
			$('.modifyTrade').click(function(){
				var i = $('.modifyTrade').index(this);
				console.log(i);
				
				var tradePeriod = $('.tradePeriod');
				
				if($('.modifyTrade').eq(i).attr('data-attr')==0){
					$('.modifyTrade').eq(i).attr('data-attr','1');
					$('.modifyTrade').eq(i).text('수정완료');
					//html()을 사용해서, input 박스로 바꿔주고 value 값은 text()를 통해서 가져옴
					tradePeriod.eq(i).html('<input type="text" value="'+tradePeriod.eq(i).text()+'" class="tradePeriod">');
					$('#modifyTradeMsg').text('등록자와 업데이트 날짜는 자동으로 갱신됩니다.');
				}else{		
					//수정가능한 상태 data-attr = 1 이면 실행
					//
					$('.modifyTrade').eq(i).attr('data-attr','0');
					$('.modifyTrade').eq(i).text('수정');
					$('#modifyTradeMsg').text('');
					var period = $('#tradeBody tr input').eq(0).val();
					var tradeIdx = $('.tradeIdx').eq(i).text();
					var type = $('.tradeType').eq(i).text();
					
					console.log("나와라");
					console.log(tradeIdx)
					console.log(period+"<--기간");
					console.log(type);
					tradePeriod.eq(i).html(period);
					
			       //ajax 비동기 통신
					
				 $.ajax({
						url : '/ajax/modifyTrade',
						type : 'POST',
						data : {idx : tradeIdx, type : type , period : period},
						success : function(data){
							console.log(data);
						}
					})   
				}	
			})
		
		</script>
	</th:block>
</html>