<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  
	<th:block layout:fragment="customTitle">
				<title>거래 정책 히스토리</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/advanced-datatable/css/jquery.dataTables.css}" />	
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />	
	</th:block>
	
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>거래기간히스토리</strong></div>
     	<div id="container-header-path">정책관리 > <a th:href="@{/policy/policyList}">정책리스트</a> >거래기간히스토리</div>
      	<div id="container-header-space"></div>
		<style>
			table{
				text-align : center;}
		</style>
	
		<div class="col-md-12 mt">
            <div class="content-panel" style="padding: 30px; padding-bottom : 50px;">
				<div style="text-align : right; margin-bottom: 20px;">
					<a class="btn btn-default btn-sm pull-right" data-toggle="modal" data-target="#tradeModal" data-whatever="@mdo">정책변경</a>
				</div>          
              <table class="table table-hover" id="historyTable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>거래종류</th>
                    <th>기간</th>
                    <th>사용여부</th>
                 	<th>적용일</th>
                    <th>마지막사용일</th>
                    <th>등록자</th>
                    <th>등록일</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
					<tr th:each="h, index:${tradeHistory}">
	                  	<td th:text="${index.count}"></td>
	                  	<td style="text-align:left;"th:text="${h.sTradeType}"></td>
	                  	<td th:text="${h.sTradePeriod}"></td>
	                  	<td th:if="${h.sTradeUse=='Y'}"th:text="사용"></td>
	                  	<td th:if="${h.sTradeUse=='N'}"th:text="미사용"></td>
	                    <td th:text="${h.sReservation}"></td>
	                    <td th:text="${h.sTradeLast}"></td>
	                  	<td th:text="${h.mId}"></td>
	                    <td th:text="${h.sTradeDate}"></td>
	                    <td th:if="${h.sTradeLast == null and h.sTradeUse=='N'}"><a th:href="@{/policy/removeTrade(idx=${h.sTradeIdx})}" class="btn btn-default btn-xs">삭제</a></td>
	                    <td th:if="${h.sTradeUse=='Y' or h.sTradeLast!=null}">-</td>
	                 </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          
          
          
          <!--//////////////////////////////////////////////// 모달창 시작 ////////////////////////////////////////// -->
          <div class="modal fade" id="tradeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">거래 기간 정책 변경하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewTrade}" id="tradeFromModal">
						<div class="form-group">
							<label for="sTradeTypeModal" class="control-label">거래종류</label>
							<select class="form-control" name="sTradeType" id="tradeSelect">
								<option value="0">::선택::</option>
								<th:block th:each="h:${tradeHistory}">
									<option th:if = "${h.sTradeUse=='Y'}" th:text="${h.sTradeType}" th:value="${h.sTradeType}"></option>
								</th:block>
							</select>
						</div>
						<div class="form-group">
							<label for="sTradePeriodModa" class="control-label">기간</label>
							<input type="text" class="form-control" id = "sTradePeriodModal" name="sTradePeriod">
						</div>
						<div class="form-group date-picker-z-index" >
							<label for="sReservation" class="control-label">정책적용일</label>
							<input type="text" class="form-control nomal-date-picker hasDatepicker" id = "sTradeReservationModal" name="sReservation">
						</div>
						
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="sTradeBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		       <!--//////////////////////////////////////////////// 모달창 끝 ////////////////////////////////////////// -->

	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var policy = $('#policy');
			policy.addClass('active');
			policy.parent().find('.sub').css('display','block');
			policy.parent().find('.sub').children().eq(1).addClass('active');
		</script>
		
		<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
		<script th:src="@{/lib/advanced-datatable/js/jquery.dataTables.js}"></script>
		<script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
		
		<script>
		$(function(){
			$('#historyTable').DataTable();
		
			//거래기간변경
		   	$('#sTradeBtnModal').click(function(){
		         		var tradePeriod = $('#sTradePeriodModal');
		      			var reservation = $('#sTradeReservationModal');
		      			
		         		if($('#tradeSelect option:selected').val()=='0'){
		         			alert('거래기간 종류를 선택해주세요.');
		         			return;
		         		}
		         		if(tradePeriod.val()==''){
		         			alert('기준 기간을 입력해주세요.');
		         			tradePeriod.focus();
		         			return;
		         		}
		         		
		         		if(reservation.val()==''){
		         			alert('적용일을 입력해주세요.');
		         			return;
		         		}
		        		
		         		$('#tradeFromModal').submit();
		       });    
		});
		</script>
		
	</th:block>
</html>