<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	  
	<th:block layout:fragment="customTitle">
				<title>거래 정책 히스토리</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/advanced-datatable/css/jquery.dataTables.css}" />	
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />	
	</th:block>
	
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>거래기간히스토리</strong></div>
     	<div id="container-header-path">정책관리 > <a th:href="@{/policy/policyList}">정책리스트</a> >거래기간히스토리</div>
      	<div id="container-header-space"></div>
		<style>
			table{
				text-align : center;}
		</style>
	
		<div class="col-md-12 mt">
            <div class="content-panel" style="padding: 30px; padding-bottom : 50px;">
			<div style="text-align : right; margin-bottom: 20px;">
				<a class="btn btn-sm pull-right standardBtn" style="margin-bottom : 15px;" data-toggle="modal" data-target="#tradeModal" data-whatever="@mdo">정책변경</a>
			</div>     
			<h4><i class="fa fa-angle-right"></i>예약 중인 정책</h4>	
			<hr>  
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>거래종류</th>
                    <th>기간</th>
                 	<th>적용일</th>
                    <th>등록자</th>
                    <th>등록일</th>
                    <th>삭제</th>
                  </tr>
                </thead>
                <tbody>
					<tr th:if="${reservation.size()>0}"  th:each="r, index:${reservation}">
	                  	<td th:text="${index.count}"></td>
	                  	<td style="text-align:left;"th:text="${r.sTradeType}"></td>
	                  	<td th:text="${r.sTradePeriod}"></td>
	                    <td th:text="${r.sReservation}"></td>
	                  	<td th:text="${r.mId}"></td>
	                    <td th:text="${r.sTradeDate}"></td>
	                    <td><a th:href="@{/policy/removeTrade(idx=${r.sTradeIdx})}" class="btn btn-default btn-xs">삭제</a></td>
	                 </tr>
	                 <tr th:unless="${reservation.size()>0}">
				          <td colspan="7">예약중인 정책이 없습니다.</td>
				     </tr>
                </tbody>
              </table>
            </div>
          </div>
	
		<div class="col-md-12 mt">
            <div class="content-panel" style="padding: 30px; padding-bottom : 50px;">
			 <h4><i class="fa fa-angle-right"></i>사용중인 정책</h4>
			 <hr>	     
              <table class="table table-hover" >
                <thead>
                  <tr>
                    <th>#</th>
                    <th>거래종류</th>
                    <th>기간</th>
                    <th>사용여부</th>
                 	<th>적용일</th>
                    <th>등록자</th>
                    <th>등록일</th>
                  </tr>
                </thead>
                <tbody>
					<tr th:each="h, index:${tradeHistory}">
	                  	<td th:text="${index.count}"></td>
	                  	<td style="text-align:left;"th:text="${h.sTradeType}"></td>
	                  	<td th:text="${h.sTradePeriod}"></td>
	                  	<td th:if="${h.sTradeUse=='Y'}"th:text="사용"></td>
	                  	<td th:if="${h.sTradeUse=='N'}"th:text="미사용"></td>
	                    <td th:text="${h.sReservation}"></td>
	                  	<td th:text="${h.mId}"></td>
	                    <td th:text="${h.sTradeDate}"></td>
	                 </tr>
                </tbody>
              </table>
            </div>
          </div>
          
          <div class="col-md-12 mt">
            <div class="content-panel" style="padding: 30px; padding-bottom : 50px;">
			<h4><i class="fa fa-angle-right"></i>기간 히스토리</h4>	  
			<hr>
			<div style="text-align : right; margin-bottom: 10px;">
	              <form th:action="@{/policy/tradeHistory}" id="searchForm"> 
	            	<select name="searchKey" id="searchSelect">
	            		<option value="0">카테고리</option>
	            		<option value="sTradeType">기간종류</option>
	            		<option value="sTradePeriod">기간</option>
	            		<option value="sReservation">적용시작일</option>
	            		<option value="sTradeLast">마지막사용일일</option>
	            		<option value="mId">등록자</option>
	            	</select>
	            	<input type="text" placeholder="검색어" name="searchValue">
	            	<input type="button" value = "검색" class="btn btn-default btn-sm" id="searchBtn">
	               </form>
               </div>    
              <table class="table table-hover">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>거래종류</th>
                    <th>기간</th>
                 	<th>사용여부</th>
                 	<th>적용시작일</th>
                    <th>마지막사용일</th>
                    <th>등록자</th>
                    <th>등록일</th>
                  </tr>
                </thead>
                <tbody>
					<tr th:each="n, index:${notUsed}" th:if="${#lists.size(notUsed)}>0">
	                  	<td th:text="${index.count}"></td>
	                  	<td style="text-align:left;"th:text="${n.sTradeType}"></td>
	                  	<td th:text="${n.sTradePeriod}"></td>
	                  	<td>미사용</td>
	                    <td th:text="${n.sReservation}"></td>
	                    <td th:text="${n.sTradeLast}"></td>
	                  	<td th:text="${n.mId}"></td>
	                    <td th:text="${n.sTradeDate}"></td>
	                 </tr>
	                  <tr th:unless="${#lists.size(notUsed)}>0">
				          <td colspan="8">미사용 정책이 없습니다.</td>
				     </tr>
				   </tbody>
				   <tfoot>
	                	<tr>
	                		<td colspan ="8" style="text-align:center;">
		                 		<th:block layout:fragment="paging">
	                  				<nav th:replace="fragments/standardPagination :: pagination"></nav>
	                  			</th:block>
	                  		</td>
	                	</tr>
                	</tfoot>
         
              </table>
            </div>
          </div>
          
          
          <!--//////////////////////////////////////////////// 모달창 시작 ////////////////////////////////////////// -->
          <div class="modal fade" id="tradeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<h4 class="modal-title" id="exampleModalLabel">거래 기간 정책 변경하기</h4>
					</div>
				<div class="modal-body">
					<form th:method="post" th:action="@{/policy/addNewTrade}" id="tradeFromModal">
						<div class="form-group">
							<label for="sTradeTypeModal" class="control-label">거래종류</label>
							<select class="form-control" name="sTradeType" id="tradeSelect">
								<option value="0">::선택::</option>
								<th:block th:each="h:${tradeHistory}">
									<option th:if = "${h.sTradeUse=='Y'}" th:text="${h.sTradeType}" th:value="${h.sTradeType}"></option>
								</th:block>
							</select>
						</div>
						<div class="form-group">
							<label for="sTradePeriodModa" class="control-label">기간</label>
							<input type="text" class="form-control" id = "sTradePeriodModal" name="sTradePeriod">
						</div>
						<div class="form-group date-picker-z-index" >
							<label for="sReservation" class="control-label">정책적용일</label>
							<input type="text" class="form-control nomal-date-picker " id = "sTradeReservationModal" name="sReservation">
						</div>
						
							<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">닫기</button>
								<button type="button" class="btn btn-primary" id="sTradeBtnModal" >추가</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		       <!--//////////////////////////////////////////////// 모달창 끝 ////////////////////////////////////////// -->

	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var policy = $('#policy');
			policy.addClass('active');
			policy.parent().find('.sub').css('display','block');
			policy.parent().find('.sub').children().eq(1).addClass('active');
		</script>
		
		<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
		<script th:src="@{/lib/advanced-datatable/js/jquery.dataTables.js}"></script>
		<script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
		
		<script>
		
		function getDateFromToday(i){
	 	    //i=0: today, -1:yesterday, 1: tomorrow .. .etc..
	 	    today = new Date();
	 	    ty = today.getFullYear();
	 	    tm = today.getMonth()+1;
	 	    td = today.getDate();
	 	    if(tm<10) tm = "0" + tm;
	 	    if(td<10) td = "0" + td;
	 	    
	 	    targetDay = new Date(today.valueOf()+(24*60*60*1000)*i);
	 	        ty = targetDay.getFullYear();
	 	        tm = targetDay.getMonth()+1;
	 	        td = targetDay.getDate();
	 	    if(tm<10) tm = "0" + tm;

	 	    if(td<10) td = "0" + td;       

	 	    return ty + tm + td;
	 	  }
		
		
		function movePage(uri, queryString) {
			location.href = uri + queryString;
		}
		
		//검색 유효성
	 	$('#searchBtn').click(function(){
	 		if($('#searchSelect option:selected').val()=='0'){
	 			alert('검색 카테고리를 선택해주세요.');
	 			return;
	 		}
	 		$('#searchForm').submit();
	 		
	 	})
		$(function(){
			
			//거래기간변경
		   	$('#sTradeBtnModal').click(function(){
		         		var tradePeriod = $('#sTradePeriodModal');
		      			var reservation = $('#sTradeReservationModal');
		      			
		         		if($('#tradeSelect option:selected').val()=='0'){
		         			alert('거래기간 종류를 선택해주세요.');
		         			return;
		         		}
		         		if(tradePeriod.val()==''){
		         			alert('기준 기간을 입력해주세요.');
		         			tradePeriod.focus();
		         			return;
		         		}
		         		
		         		if(reservation.val()==''){
		         			alert('적용일을 입력해주세요.');
		         			return;
		         		}if($('#sTradeReservationModal').val().replaceAll('-','')<getDateFromToday(7)){
							alert('공고 시작일은 신청일로부터 7일 후부터 선택 가능합니다.');
							return;
						}
		         		
		        		
		         		$('#tradeFromModal').submit();
		       });    
		});
		</script>
		
	</th:block>
</html>