<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
	  
	<th:block layout:fragment="customTitle">
				<title>거래 정책 히스토리</title>
	</th:block>
	
	<th:block layout:fragment="customCss">
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/advanced-datatable/css/jquery.dataTables.css}" />	
	</th:block>
	
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>거래기간히스토리</strong></div>
     	<div id="container-header-path">정책관리 > <a th:href="@{/policy/policyList}">정책리스트</a> >거래기간히스토리</div>
      	<div id="container-header-space"></div>
	
	
		<div class="col-md-12 mt">
            <div class="content-panel" style="padding: 30px; padding-bottom : 50px;">
				              
              <table class="table table-hover" id="historyTable">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>거래종류</th>
                    <th>기간</th>
                    <th>사용여부</th>
                 	<th>적용일</th>
                    <th>마지막사용일</th>
                    <th>등록자</th>
                    <th>수정일</th>
                  </tr>
                </thead>
                <tbody>
					<tr th:each="h, index:${tradeHistory}">
	                  	<td th:text="${index.count}"></td>
	                  	<td th:text="${h.sTradeType}"></td>
	                  	<td th:text="${h.sTradePeriod}"></td>
	                  	<td th:if="${h.sTradeUse=='Y'}"th:text="사용"></td>
	                  	<td th:if="${h.sTradeUse=='N'}"th:text="미사용"></td>
	                    <td th:text="${h.sReservation}"></td>
	                    <td th:text="${h.sTradeLast}"></td>
	                  	<td th:text="${h.mId}"></td>
	                    <td th:text="${h.sTradeDate}"></td>
	                 </tr>
                </tbody>
              </table>
            </div>
          </div>

	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var policy = $('#policy');
			policy.addClass('active');
			policy.parent().find('.sub').css('display','block');
			policy.parent().find('.sub').children().eq(0).addClass('active');
		</script>
		
		<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
		<script th:src="@{/lib/advanced-datatable/js/jquery.dataTables.js}"></script>
		
		<script>
		$(function(){
			$('#historyTable').DataTable();
		});
		</script>
		
	</th:block>
</html>