<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

		<th:block layout:fragment="customTitle">
			<title>프로젝트 소개</title>
		</th:block>
		<th:block layout:fragment="Contents">
		  <!--main content start-->
       
       		 <div class="col-md-12 mt">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>프로젝트소개</h4>
              <span>　　배포일 : 2021-04-14</span>
              <hr>

				<p>정부의 ‘재생에너지 2030’ 계획에 따라 태양광 모듈의 생산과 소비가 증가함에 따라</p>
				<p>계획의 목표 연도인 2030년에는 수명이 다 된 폐모듈이 1,900톤, 2040년에는 85,000톤을 넘어 설거라 예상된다.</p>  
				<p>발전 개시 후 25년이 지나면 모듈은 교체되는데 이의 80% 이상 재활용이 가능하며, 성능이 확인 된 모듈은 재가공 후 가정용으로 활용 및 해외수출이 가능하다.</p>
					
				<p>하지만, 그에 반해 태양광사업에 대한 거래 시스템 및 시장이 턱없이 부족한 상황이다.</p>
				<p>이러한 문제를 해결하기 위해 우리는 전력량 모니터링을 통해 태양광의 사업성을 분석하여 모듈의 재사용 혹은 폐기 여부를 컨설팅하고 발전소 매각 시 관련 업체들(발전소 사업자, 재활용 사업자)이 입찰을 통해 거래할 수 있는 시스템을 구축하여태양광사업의 거래를 더욱 활성화할 수 있는 시스템을 만들고자 한다.</p> 
				   
            </div>
          </div>

		</th:block>
		<th:block layout:fragment="customScript">

		  
		</th:block>
</html>