<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>공고</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div class="chat-room mt">
          <aside class="mid-side">
            <div class="chat-room-head">
              <h3>공고</h3>
              <form action="#" class="pull-right position">
                <input type="text" placeholder="Search" class="form-control search-btn ">
              </form>
            </div>
            <div class="group-rom">
              <div class="first-part odd">공고 제목</div>
              <div class="second-part">Hi Mark, have a minute?</div>
              <div class="third-part">12:30</div>
            </div>
          </aside>
          
        </div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var notice = $('#notice');
			notice.addClass('active');
			notice.parent().find('.sub').css('display','block');
			notice.parent().find('.sub').children().eq(0).addClass('active');
		</script>
	</th:block>
</html>