<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>입찰 신청</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>입찰 신청</strong></div>
		<div id="container-header-path">
			<a href="/" style="text-decoration: none;"> 메인화면 </a>>
			<a href="#" id="firstUrl" style="text-decoration: none;"> </a>>
			<a href="#" id="secondUrl" style="text-decoration: none;"> </a>>
			<a href="#"  style="text-decoration: none;"> 공고정보 </a>>
			<a href="#" id="thirdUrl" style="text-decoration: none;"> 입찰신청 </a>
			<input type="hidden" id="url" th:value="${url}">
		</div>
		<div id="container-header-space"></div>
       	<div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <div class="form">
                <form class="cmxform form-horizontal style-form" method="post" th:action="@{/notice/addbidRequest}" enctype="multipart/form-data">
                	<input type="hidden" name="announcedCode" th:value="${announcedCode}">			
					<input type="hidden" name="bTypeCode" th:value="${announcedType}">		
					<input type="hidden" name="bTitle" th:value="${announcedTitle}">
					<input type="hidden" name="sDepositRate">
					<input  type="hidden" name="mId" th:value="${session.SID}">
		              <h4><i class="fa fa-angle-right"></i>입찰 신청</h4>
		              <hr>
	                  <div class="form-group">
	                    <label class="control-label col-lg-2">공고 제목</label>
	                    <div class="col-lg-10">
	                       <div th:text="${announcedTitle}"></div>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label class="control-label col-lg-2">입찰시작가</label>
	                    <div class="col-lg-10">
		              		<div id="bidPrice" th:text="${announcedPrice}+'원'"></div>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label class="control-label col-lg-2">입찰금액</label>
	                    <div class="col-lg-10">
	                    	<input type="hidden" name="bPrice">
	              			<input type="text" id="bPrice" placeholder="0">원
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label class="control-label col-lg-2">예치금</label>
	                    <div class="col-lg-10">
	                    	<div>
	                    		<span id="bDeposit">0</span>원
	                    	</div>
			              	<input type="hidden" name="bDeposit">
	                    </div>
	                  </div>
	                 <div class="form-group">
		                 <label class="control-label col-lg-2">관리자 계좌 은행</label>
			             <div class="col-lg-10" >
				             <select id="bank" style="width: 30%; text-align-last:center;">
				             	<option style="text-align: center;">:::::은행선택:::::</option>
				             </select>
			              	<input type="hidden" name="mAccountBankName">
			             </div>
	                </div>
	                  <div class="form-group ">
			            <label class="control-label col-lg-2">관리자 계좌 번호</label>
			            <div class="col-lg-10" id="accountNumber"></div>
			            <input type="hidden" name="mAccountNumber">
	                  </div>
	                 <div class="form-group">
				         <label class="control-label col-lg-2">입금자 성명</label>
				         <div class="col-lg-10" >
				         	<input name="mPaymentName" style="width: 30%;" type="text" >
				         </div>
	                 </div>
	                 <div class="form-group">
						<div class="control-label col-lg-2">파일 첨부</div>
						<div class="col-lg-10">
							<input type="file" id="files" class="default" name="files" multiple="multiple">
						</div>
					</div>                 
                </form>
              </div>
            </div>
          </div>
        </div>
		<div class="row" style="margin: 5px 0px;">
			<div class="form-inline" style="text-align: center;">
				<button id="bidResultBtn" class="btn btn-theme" type="button" style="width: 80px;">신청</button>
				<button id="bidResultCancelBtn" class="btn btn-danger" type="button" style="width: 80px;">취소</button>
			</div>
		</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript">
			
			$(function(){
				var url = $('#url');
				link2 = url.val();
				console.log(link2);
				var firstUrl = $('#firstUrl');
				var secondUrl = $('#secondUrl');
				var thirdUrl = $('#thirdUrl');
				var a = $('a');
				a.each(function(){
					if($(this).attr('href')==link2){
						$(this).parent().parent().parent().children().eq(0).addClass('active');
						$(this).parent().parent().css('display','block');
						$(this).parent().addClass('active');
						firstUrl.text($(this).parent().parent().parent().children().eq(0).text());
						secondUrl.text($(this).parent().text());
						secondUrl.attr('href',$(this).prop('href'));
					}
				});
				
				//입금자 이름
				var mPaymentName = $('[name="mPaymentName"]');			
				var form = $('form');
				//입찰금액
				var bPrice = $('#bPrice');
				var bPrice1 = $('[name="bPrice"]');
				//예치금
				var bDeposit = $('[name="bDeposit"]');
				//보여지는 예치금
				var bDepositText = $('#bDeposit');
				//예치금율
				var sDepositRate = 0;			
				//은행명
				var bank = $('#bank');
				//해당 은행 계좌 번호
				var accountNumber = $('#accountNumber');
				//입찰 시작가
				var bidPrice = $('#bidPrice');
				bidPrice.text(bidPrice.text().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
				//예치금율
				var DepositRate = $('[name="sDepositRate"]');
				//은행명
				var mAccountBankName = $('[name="mAccountBankName"]');
				//계좌 번호
				var AccountNumber = $('[name="mAccountNumber"]');
				var bidResultBtn = $('#bidResultBtn');
				//예치금율 가져오는 비동기호출
				$.ajax({
					  url: '/sDepositRateCheck', 
					  method: 'POST',
					  async:false,
					  success: function(data){
						  if(data != null){
							  sDepositRate = data;
							  DepositRate.val(data);
						  }
					  },
					  error : function(xhr,status,error){
						  console.log("xhr: " + xhr);
						  console.log("status: " + status);
						  console.log("error: " + error);
					  }
				});
				//관리자 계좌 은행 리스트
				var mAccountBank = [];
				//관리자 계좌번호 리스트
				var mAccountNumber = [];
				//관리자 계좌 가져오기
				$.ajax({
					  url: '/bankCheck', 
					  method: 'POST',
					  //ajax가 실행이 끝날때까지 스크립트를 기다리게 한다.
				      async:false,
					  success: function(data){
						  if(data != null){
							 var option = "";
							 for(i=0; i<data.length;i++){
								 option += "<option>"+data[i].mAccountBank+"</option>"
								 mAccountBank.push(data[i].mAccountBank);
								 mAccountNumber.push(data[i].mAccountNumber);
								 console.log(data[i].mAccountNumber);
							 }
							 bank.append(option);
						  }
					  },
					  error : function(xhr,status,error){
						  console.log("1xhr: " + xhr);
						  console.log("1status: " + status);
						  console.log("1error: " + error);
					  }
				});
				//은행 선택시 해당 은행의 관리자 계좌 번호 보여주기
				bank.change(function(){
					for(i=0;i<mAccountBank.length;i++){						
						if($(this).val()==mAccountBank[i]){
							mAccountBankName.val(mAccountBank[i]);
							AccountNumber.val(mAccountNumber[i]);
							accountNumber.text(mAccountNumber[i]);
							break;
						}else{
							accountNumber.text("");
						}
					}
				});
				//숫자에 콤마찍는 플러그인
				$.fn.transPrice = function(){
					var price = $(this).val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
					$(this).val(price);
				}
				//숫자만 입력하게 하는 플러그인
				$.fn.onlyNumber = function(){
					$(this).val($(this).val().replace(/[^0-9]/g,''));
				}
				//입찰금액을 입력할 때 
				bPrice.keyup(function(){
					//입찰금액에 숫자만 가능하게
					$(this).onlyNumber();
					var num = $(this).val();
					//입력한 입찰금액에 예치금 계산
					var sDeposit = num/100*sDepositRate;
					//소숫점은 반올림
					sDeposit = Math.round(sDeposit);
					//계산한 예치금을 bDeposit파라미터에 담기
					bDeposit.val(sDeposit);
					//입찰금액에 콤마찍기
					$(this).transPrice();
					//예치금에 콤마찍기
					bDeposit.transPrice();
					//보여지는 예치금
					bDepositText.text(bDeposit.val());
					
				});
				
				bidResultBtn.click(function(){
					console.log(bPrice.val());
					if(bPrice.val()==""){
						Swal.fire({
							  title: '입찰실패!',
							  text: '입찰 가격을 입력해주세요.',
							  icon: 'info'
							});
						bPrice.focus();
						return false;
					}
					if(Number(bPrice.val().replace(/,/g,''))<Number(bidPrice.text().replace(/,/g,''))){
						Swal.fire({
							  title: '입찰실패!',
							  text: '입찰가격이 낮습니다.',
							  icon: 'info'
							});
						bPrice.focus();
						return false;
					}
					if(accountNumber.text()==""){
						Swal.fire({
							  title: '입찰실패!',
							  text: '은행을 선택해주세요.',
							  icon: 'info'
							});
						return false;
					}
					if(mPaymentName.val()==""){
						Swal.fire({
							  title: '입찰실패!',
							  text: '이름을 입력해주세요.',
							  icon: 'info'
							});
						mPaymentName.focus();
						return false;
					}
					//예치금에 콤마지워서 보내기
					bDeposit.val(Number(bDeposit.val().replace(/,/g,'')));
					//입찰금액에 콤마지워서 보내기
					bPrice1.val(Number(bPrice.val().replace(/,/g,'')));
					console.log(bPrice1.val());
					console.log(bDeposit.val());
					Swal.fire({
						  title: '입찰성공!',
						  icon: 'success'
						});
					form.submit();
				});
				var bidResulCanceltBtn = $('#bidResultCancelBtn')
				bidResulCanceltBtn.click(function(){
					console.log('취소');
					location.href = link2;
				});
			});
		</script>
	</th:block>
</html>