<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>입찰 신청</title>
	</th:block>
	<th:block layout:fragment="Contents">
   		<form class="cmxform form-horizontal style-form" id="plantSellForm" method="post" th:action="@{/notice/bidRequestResult}" enctype="multipart/form-data">
			<input type="hidden" name="announcedCode" th:value="${announcedCode}">			
			<input type="hidden" name="bTypeCode" th:value="${announcedType}">		
			<input type="hidden" name="bTitle" th:value="${announcedTitle}">		
			<div class="chat-room mt">
	          <div class="mid-side container">
	          	<div class="row">
		            <div class="chat-room-head">
		              <h3>입찰 신청</h3>
		            </div>
		            <div class="group-rom">
		              <div class="first-part odd">공고 제목</div>
		              <div class="second-part" >[[${announcedTitle}]]</div>
		            </div>
		            <div class="group-rom">
		              <div class="first-part odd">입찰 시작가</div>
		              <div class="second-part">
		              	[[${announcedPrice}]]
		              </div>
		            </div>
		            <div class="group-rom">
		              <div class="first-part odd">입찰금액</div>
		              <div class="second-part">
		              	<input type="text" name="bPrice" placeholder="0">
		              </div>
		            </div>
		            <div class="group-rom">
		              <div class="first-part odd">예치금</div>
		              <div class="second-part" id="bDeposit">0
		              	<input type="hidden" name="bDeposit">
		              </div>
		            </div>
		            <div class="group-rom">
		              <div class="first-part odd">입금 은행</div>
		              <div class="second-part" >
		              	<select>
		              		<option>:::::은행선택:::::</option>
		              		<option>국민</option>
		              	</select>
		              </div>
		            </div>
		            <div class="group-rom">
		              <div class="first-part odd">관리자계좌번호</div>
		              <div class="second-part">해당 은행의 계좌번호</div>
		            </div>
		            <div class="group-rom">
		              <div class="first-part odd">입금자 성명</div>
		              <div class="second-part" ><input type="text"></div>
		            </div>
					<div class="group-rom">
						<div class="first-part odd">파일 첨부</div>
						<div class="second-part">
							<input type="file" id="files" class="default" name="files" multiple="multiple">
						</div>
					</div>
		         
	            </div>
	          </div>
	        </div>
          	<div class="row" style="margin: 5px 0px;">
				<div class="form-inline" style="text-align: center;">
	            	<button class="btn btn-default" type="submit" style="width: 80px;">신청</button>
				</div>
			</div>
       	</form>
	</th:block>
	<th:block layout:fragment="customScript">
		
		<script type="text/javascript">
			var notice = $('#notice');
			notice.addClass('active');
			notice.parent().find('.sub').css('display','block');
			notice.parent().find('.sub').children().eq(0).addClass('active');			
			
			$(function(){
				//입찰금액
				var bPrice = $('[name="bPrice"]');
				//예치금
				var bDeposit = $('[name="bDeposit"]');
				//보여지는 예치금
				var bDepositText = $('#bDeposit');
				//예치금율
				var sDepositRate = 0;			
				//예치금율 가져오는 비동기호출
				$.ajax({
					  url: '/sDepositRateCheck', 
					  method: 'POST',
					  success: function(data){
						  if(data != null){
							  sDepositRate = data;
						  }
					  },
					  error : function(xhr,status,error){
						  console.log("xhr: " + xhr);
						  console.log("status: " + status);
						  console.log("error: " + error);
					  }
				});
				//관리자 계좌 가져오기
				$.ajax({
					  url: '/bankCheck', 
					  method: 'POST',
					  success: function(data){
						  if(data != null){
						  }
					  },
					  error : function(xhr,status,error){
						  console.log("1xhr: " + xhr);
						  console.log("1status: " + status);
						  console.log("1error: " + error);
					  }
				});
				//숫자에 콤마찍는 플러그인
				$.fn.transPrice = function(){
					var price = $(this).val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
					$(this).val(price);
				}
				//숫자만 입력하게 하는 플러그인
				$.fn.onlyNumber = function(){
					$(this).val($(this).val().replace(/[^0-9]/g,''));
				}
				//입찰금액을 입력할 때 
				bPrice.keyup(function(){
					$(this).onlyNumber();
					var num = $(this).val();
					var sDeposit = num/100*sDepositRate;
					sDeposit = Math.round(sDeposit);
					bDeposit.val(sDeposit);
					$(this).transPrice();
					bDeposit.transPrice();
					bDepositText.text(bDeposit.val());
				});
				
			});
		</script>
	</th:block>
</html>