<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="bidResultFragment">
	<div class="chat-room mt" >
		<aside class="mid-side container">
            <div class="chat-room-head">
              <h3>입찰 정보</h3>
            </div>
            <div class="group-rom">
              <div class="first-part odd">입찰금액</div>
              <div class="second-part price" th:text="${bidListDTO.bPrice}"></div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">예치금</div>
              <div class="second-part price" th:text="${bidListDTO.bDeposit}"></div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">입금 은행</div>
              <div class="second-part" th:text="${bidListDTO.mAccountBankName}"></div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">관리자계좌번호</div>
              <div class="second-part" th:text="${bidListDTO.mAccountNumber}"></div>
            </div>
            <div class="group-rom" th:if="${bidListDTO.trTypeCode>5}">
              <div class="first-part odd">순위</div>
              <div class="second-part" th:text="${bidListDTO.bRank+'순위'}"></div>
            </div>
            <div class="group-rom">
              <div class="first-part odd">내 진행 상태</div>
              <div class="second-part" th:text="${bidListDTO.trTypeName}"></div>
            </div>
			<div class="group-rom">
				<div class="first-part odd">파일 첨부</div>
				<div class="second-part">
					<input type="file" id="files" class="default" name="files" multiple="multiple">
				</div>
			</div>
         </aside>
	</div>
</div>

</html>