<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="componentInfoFragment">
	<div class="chat-room mt" >
		<div class="mid-side container">
        	<div class="row">
				<div class="chat-room-head">
             		<h3>부품 정보</h3>
           		</div>
           		<div class="group-rom">
		            <div class="first-part odd">부품 이름</div>
		            <div class="second-part">xxx판넬</div>
				</div>
				<div class="group-rom">
		           <div class="first-part odd">부품 정보</div>
		           <div class="second-part" >판넬</div>
		        </div>
	          	<div class="group-rom">
		           <div class="first-part odd">제조일</div>
		           <div class="second-part" >2020-02-15</div>
	          	</div>
	          	<div class="group-rom">
		           <div class="first-part odd">제조사</div>
		           <div class="second-part">인정이네부품가게</div>
	          	</div>
	          	<div class="group-rom">
		           <div class="first-part odd">부품사용시작일</div>
		           <div class="second-part">2020-03-15</div>
	          	</div>
          </div>
        </div>
	</div>
</div>

</html>