<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>종료된 공고 리스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div class="row mt">
          <div class="col-md-12 container">
            <div class="content-panel">
              <table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> 마감한 부품 공고</h4>
                <hr>
                <thead>
                  <tr>
                    <th class="col-md-1">번호</th>
                    <th class="col-md-5"><i class="fa fa-bullhorn"></i> 공고 제목</th>
                    <th class="col-md-2 hidden-phone"><i class="fa fa-question-circle"></i>판매자</th>
                    <th class="col-md-2"><i class="fa fa-bookmark"></i>상태</th>
                    <th class="col-md-2"><i class="fa fa-bookmark"></i>입찰 마감일 </th>
                  </tr>
                </thead>
                <tbody>
                	<th:block th:if="${bidComponentList != null}" th:each="l:${bidComponentList}">
		                  <tr>
		                    <td th:text="${l.num}"></td>
		                    <td>
		                    	<form th:action="@{/notice/announcement}" method="post">
			                      	<a class="announceTitle">[[${l.bCpTitle}]]</a>
			                      	<input type="hidden" name="announceTitle" th:value="${l.bCpCode}">
			                      	<input type="hidden" name="announceType" value="부품">
		                   		</form>
		                    </td>
		                    <td th:text="${l.mId}"></td>
		                    <td th:text="${l.bCpStatus}"></td>
		                    <td th:text="${l.bCpDateBidding2}"></td>
		                  </tr>
                	</th:block>
                	<th:block th:if="${bidComponentList==null || bidComponentList.size()==0}">
		                  <tr>
		                    <td colspan="5" style="text-align: center;">마감된 공고가 없습니다.</td>		                 
		                  </tr>
                	</th:block>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <div class="row mt">
          <div class="col-md-12 container">
            <div class="content-panel">
              <table class="table table-striped table-advance table-hover">
                <h4><i class="fa fa-angle-right"></i> 마감한 발전소 공고</h4>
                <hr>
                <thead>
                  <tr>
                    <th class="col-md-1">번호</th>
                    <th class="col-md-5"><i class="fa fa-bullhorn"></i> 공고 제목</th>
                    <th class="col-md-2 hidden-phone"><i class="fa fa-question-circle"></i>판매자</th>
                    <th class="col-md-2"><i class="fa fa-bookmark"></i>상태</th>
                    <th class="col-md-2"><i class="fa fa-bookmark"></i>입찰 마감일 </th>
                  </tr>
                </thead>
                <tbody>
                	<th:block th:if="${bidPlantList != null}" th:each="l:${bidPlantList}">
		                  <tr>
		                  	<td th:text="${l.num}"></td>
		                    <td>
			                    <form th:action="@{/notice/announcement}" method="post">
				                      	<a class="announceTitle">[[${l.bPlTitle}]]</a>
				                      	<input type="hidden" name="announceTitle" th:value="${l.bPlCode}">
				                      	<input type="hidden" name="announceType" value="발전소">
			                    </form>
		                    </td>
		                    <td th:text="${l.mId}"></td>
		                    <td th:text="${l.bPlStatus}"></td>
		                    <td th:text="${l.bPlDateBidding2}"></td>
		                  </tr>
                	</th:block>
                	<th:block th:if="${bidPlantList==null || bidPlantList.size()==0}">
		                  <tr>
		                    <td colspan="5" style="text-align: center;">마감된 공고가 없습니다.</td>		                 
		                  </tr>
                	</th:block>
                </tbody>
              </table>
            </div>
          </div>
        </div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var notice = $('#notice');
			notice.addClass('active');
			notice.parent().find('.sub').css('display','block');
			notice.parent().find('.sub').children().eq(1).addClass('active');
			
			$('.announceTitle').click(function(){
				$(this).parent().submit();
			});
		</script>
	</th:block>
</html>