<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>대금납부 신청</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>대금납부 신청</strong></div>
		<div id="container-header-path">
			<a href="/" style="text-decoration: none;"> 메인화면 </a>>
			<a href="#" id="firstUrl" style="text-decoration: none;"> </a>>
			<a href="#" id="secondUrl" style="text-decoration: none;"> </a>>
			<a href="#"  style="text-decoration: none;"> 공고정보 </a>>
			<a href="#" id="thirdUrl" style="text-decoration: none;"> 대금납부 신청 </a>
			<input type="hidden" id="url" th:value="${url}">
		</div>
		<div id="container-header-space"></div>
		
       	<div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel" style="padding: 30px;">
              <div class="form">
                <form class="cmxform form-horizontal style-form" id="paymentInForm" method="post" th:action="@{/notice/addpaymentInRequest}">
                	<input type="hidden" name="bCode" th:value="${bidListDTO.bCode}">
		              <h4><i class="fa fa-angle-right"></i>대금 신청</h4>
		              <hr>
	                  <div class="form-group">
	                    <label class="control-label col-lg-2">공고 제목</label>
	                    <div class="col-lg-10">
	                       <div th:text="${bidListDTO.bTitle}"></div>
	                    </div>
	                  </div>
	                  <div class="form-group">
	                    <label class="control-label col-lg-2">입찰금액</label>
	                    <div class="col-lg-10">
		              		<div class="second-part" id="bPrice" th:text="${tradePaymentInDTO.bPrice}+'원'"></div>
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label class="control-label col-lg-2">예치금</label>
	                    <div class="col-lg-10">
			              <div id="bDeposit" th:text="${tradePaymentInDTO.bDeposit}+'원'"></div>
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label class="control-label col-lg-2">납부 금액</label>
	                    <div class="col-lg-10">
		                    <div id="trPayinPrice" th:text="${tradePaymentInDTO.trPayinPrice}+'원'"></div>
	                    </div>
	                  </div>
	                 <div class="form-group">
		                 <label class="control-label col-lg-2">관리자 계좌 은행</label>
			             <div class="col-lg-10" >
				             <select id="bank" style="width: 30%; text-align-last:center;">
				             	<option style="text-align: center;">:::::은행선택:::::</option>
				             </select>
				             <input type="hidden" name="mAccountBankName">
			             </div>
	                </div>
	                  <div class="form-group ">
			             <label class="control-label col-lg-2">관리자 계좌 번호</label>
			             <div class="col-lg-10" id="accountNumber"></div>
			             <input type="hidden" name="mAccountNumber">
	                  </div>
	                 <div class="form-group">
				         <label class="control-label col-lg-2">입금자 성명</label>
				         <div class="col-lg-10" >
				         	<input name="mPaymentName" style="width: 30%;" type="text" >
				         </div>
	                 </div>                  
                </form>
              </div>
            </div>
          </div>
        </div>
		<div class="row" style="margin: 5px 0px;">
			<div class="form-inline" style="text-align: center;">
				<button id="bidResultBtn" class="btn btn-theme" type="button" style="width: 80px;">신청</button>
				<button id="bidResultCancelBtn" class="btn btn-danger" type="button" style="width: 80px;">취소</button>
			</div>
		</div>
       	
	</th:block>
	
	<th:block layout:fragment="customScript">
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript">
			
			$(function(){
				var url = $('#url');
				link2 = url.val();
				console.log(link2);
				var firstUrl = $('#firstUrl');
				var secondUrl = $('#secondUrl');
				var thirdUrl = $('#thirdUrl');
				var a = $('a');
				a.each(function(){
					if($(this).attr('href')==link2){
						$(this).parent().parent().parent().children().eq(0).addClass('active');
						$(this).parent().parent().css('display','block');
						$(this).parent().addClass('active');
						firstUrl.text($(this).parent().parent().parent().children().eq(0).text());
						secondUrl.text($(this).parent().text());
						secondUrl.attr('href',$(this).prop('href'));
					}
				});
				
				
				//입금자 이름
				var mPaymentName = $('[name="mPaymentName"]');			
				var form = $('form');
				//입찰금액
				var bPrice = $('#bPrice');
				//은행명
				var bank = $('#bank');
				//해당 은행 계좌 번호
				var accountNumber = $('#accountNumber');
				//예치금
				var bDeposit = $('#bDeposit');
				//납부해야할 금액
				var trPayinPrice = $('#trPayinPrice');
				
				bPrice.text(bPrice.text().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
				bDeposit.text(bDeposit.text().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
				trPayinPrice.text(trPayinPrice.text().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ','));
				//예치금율
				var DepositRate = $('[name="sDepositRate"]');
				//은행명
				var mAccountBankName = $('[name="mAccountBankName"]');
				//계좌 번호
				var AccountNumber = $('[name="mAccountNumber"]');
				var bidResultBtn = $('#bidResultBtn');
				//예치금율 가져오는 비동기호출
				$.ajax({
					  url: '/ajax/sDepositRateCheck', 
					  method: 'POST',
					  async:false,
					  success: function(data){
						  if(data != null){
							  sDepositRate = data;
							  DepositRate.val(data);
						  }
					  },
					  error : function(xhr,status,error){
						  console.log("xhr: " + xhr);
						  console.log("status: " + status);
						  console.log("error: " + error);
					  }
				});
				//관리자 계좌 은행 리스트
				var mAccountBank = [];
				//관리자 계좌번호 리스트
				var mAccountNumber = [];
				//관리자 계좌 가져오기
				$.ajax({
					  url: '/ajax/bankCheck', 
					  method: 'POST',
					  //ajax가 실행이 끝날때까지 스크립트를 기다리게 한다.
				      async:false,
					  success: function(data){
						  if(data != null){
							 var option = "";
							 for(i=0; i<data.length;i++){
								 option += "<option>"+data[i].mAccountBank+"</option>"
								 mAccountBank.push(data[i].mAccountBank);
								 mAccountNumber.push(data[i].mAccountNumber);
								 console.log(data[i].mAccountNumber);
							 }
							 bank.append(option);
						  }
					  },
					  error : function(xhr,status,error){
						  console.log("1xhr: " + xhr);
						  console.log("1status: " + status);
						  console.log("1error: " + error);
					  }
				});
				//은행 선택시 해당 은행의 관리자 계좌 번호 보여주기
				bank.change(function(){
					for(i=0;i<mAccountBank.length;i++){						
						if($(this).val()==mAccountBank[i]){
							mAccountBankName.val(mAccountBank[i]);
							AccountNumber.val(mAccountNumber[i]);
							accountNumber.text(mAccountNumber[i]);
							break;
						}else{
							accountNumber.text("");
						}
					}
				});
				//숫자에 콤마찍는 플러그인
				$.fn.transPrice = function(){
					var price = $(this).val().toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
					$(this).val(price);
				}
				//숫자만 입력하게 하는 플러그인
				$.fn.onlyNumber = function(){
					$(this).val($(this).val().replace(/[^0-9]/g,''));
				}
				$('#bidResultCancelBtn').click(function(){
					location.href = link2 ;
				});

				bidResultBtn.click(function(){
					console.log(bPrice.val());
					
					if(accountNumber.text()==""){
						Swal.fire({
							  title: '대금납부 실패!',
							  text: '은행을 선택해주세요.',
							  icon: 'info'
							});
						return false;
					}
					if(mPaymentName.val()==""){
						Swal.fire({
							  title: '대금납부 실패!',
							  text: '이름을 입력해주세요.',
							  icon: 'info'
							});
						mPaymentName.focus();
						return false;
					}
					Swal.fire({
						  title: '대금납부 신청 완료!',
						  icon: 'success'
						});
					setTimeout(function(){
	        			//document.location.href = '/';
	        		}, 3000);
					form.submit();
				});
				
			});
		</script>
	</th:block>
</html>