<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<div th:fragment="plantInfoFragment">
		<div class="row">
          <div class="col-md-12">
            <div class="content-panel" style="padding: 30px;">
              <h4><i class="fa fa-angle-right"></i>발전소</h4>
              <hr>
              <table class="table">
                <tbody>
                	<tr>
                		<td>발전소사진</td>
                		<td colspan="5">
                			<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
								<a class="fancybox" th:href="${businessPlantDTO.bzPlPhoto}"  style="width: 200px; height: 150px;">
									<img class="img-responsive" th:src="${businessPlantDTO.bzPlPhoto}" alt="발전소사진" style="width: 100%; height: 100%" >
								</a>
								<div class="overlay"></div>
							</div>
                		</td>
                	</tr>
                  <tr>
                    <td>발전소명</td>
                    <td colspan="5" th:text="${businessPlantDTO.bzPlName}"></td>
                  </tr>
                  <tr>
                    <td>주소</td>
                    <td>[[${businessPlantDTO.bzPlZipcode}]] [[${businessPlantDTO.bzPlAddr}]] [[${businessPlantDTO.bzPlDetailAddr}]]</td>
                  	<td>부지면적</td>
                  	<td class="price" th:text="${businessPlantDTO.bzPlArea}"></td>
                  	<td>하드웨어여부</td>
                    <td th:text="${businessPlantDTO.bzPlHardware}"></td>
                  </tr>
                  <tr>
                    <td>발전소용량</td>
                    <td id="bzPlPowerD" th:text="${businessPlantDTO.bzPlPower}"></td>
                    <td>잔존가치</td>
                    <td class="price" th:text="${bidPlantdto.plDepDataResidual+'원'}"></td>
                    <td>계약REC</td>
                    <td class="price" th:text="${businessPlantDTO.bzPlRec}+'원'"></td>
                  </tr>
                  <tr>
                  	<td>인버터용량</td>
	                <td id="bzPlInvPowerD" th:text="${businessPlantDTO.bzPlInvPower}"></td>
	                <td>인버터수량</td>
	                <td class="price" th:text="${businessPlantDTO.bzPlInvCount}+'개'"></td>
                  	<td>인버터제조사</td>
                  	<td id= "bzPlInvMakerD" th:text="${businessPlantDTO.bzPlInvMaker}"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div> 
</div>

</html>