<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
	
		<div id="container-header-title"><strong>출금신청</strong></div>
     	<div id="container-header-path">판매관리 > <a th:href="@{/sell/applyPayment}">거래대금리스트</a>  >출금신청</div>
      	<div id="container-header-space"></div>
      	
      	<div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <div class="form">
 
      			 <form class="cmxform form-horizontal style-form" id="applyPaymentForm" method="post" th:action="@{/sell/applyPayment}">
					<th:block th:each="a:${applyPayment}">	
						<input type="hidden" name="mId" th:value="${session.SID}">
						<input type="hidden" name="trPrCode" th:value="${a.trPrCode}">
				
						<div class="form-group">
		                    <label  class="control-label col-lg-2">공고코드</label>
		                    <div class="col-lg-10">
		                     	<input class=" form-control"  type="text"   th:value = "${a.announcedCode}" readonly>
		                    </div>
						</div>
		                  <div class="form-group">
		                    <label class="control-label col-lg-2">신청금액</label>
		                    <div class="col-lg-10">
		                      <input class=" form-control"  id="trPayoutPrice" name="trPayoutPrice" th:value="${a.trPrPrice}" type="text" readonly>
		                    </div>
		                  </div>
		                  <div class="form-group ">
		                    <label class="control-label col-lg-2">수수료율</label>
		                    <div class="col-lg-10">
		                      <input class=" form-control"  name="sCommissionRate" type="text"  th:value = "${a.comissionRate}" readonly>
		                    </div>
		                  </div>
		                  <div class="form-group">
		                    <label class="control-label col-lg-2">거래수수료</label>
		                    <div class="col-lg-10">
		                      <input class=" form-control" th:value="${a.commission}" id="cTradeCm" name="cTradeCm" type="text" readonly>
		                    </div>
		                  </div>
		                 <div class="form-group">
		                 	<label class="control-label col-lg-2">출금금액</label>
		                  	<div class="col-lg-10">
		                    	<input class=" form-control"  id="trPayoutPriceReal" name="trPayoutPriceReal" th:value="${a.availableOut}" type="text" readonly>
		                  	</div>
		                </div>
		                
		            </th:block>
		                  <div class="form-group">
		                    <label for="trPayoutBank" class="control-label col-lg-2">은행명</label>
		                    <div class="col-lg-10">
		                 	 <select class="form-control" id="accountBankSelect">
			                      	<option value="0">은행을 선택해주세요.</option>
			                      	<option value="1">직접입력</option>
			                        <th:block th:if="${#lists.size(account)}>0" th:each="ac : ${account}">
									 	<option th:value="${ac.mAccountNumber}">[[${ac.mAccountBank}]]:[[${ac.mAccountNumber}]]</option>
									</th:block> 
									</select> 
		                    </div>
		                  </div>
		                  
		                <div class="form-group">
		                  <label for ="trPayoutBank" class="control-label col-lg-2">은행명</label>
		                  <div class="col-lg-10">
		                	  <input class=" form-control" id="trPayoutBank"   name="trPayoutBank" type="text">
		                  </div>
		                </div> 
		                  
		                 <div class="form-group">
		                  <label for ="trPayoutAccount" class="control-label col-lg-2">계좌</label>
		                  <div class="col-lg-10">
		                	  <input class=" form-control" id="trPayoutAccount"   name="trPayoutAccount" type="text">
		                  </div>
		                </div> 
		                 <div class="form-group">
		                  <label for ="trPayoutAccountName" class="control-label col-lg-2">예금주명</label>
		                  <div class="col-lg-10">
		                     <input class=" form-control" id="trPayoutAccountName"   name="trPayoutAccountName" type="trPayoutAccountName">
		                  </div>
		                </div>        
		               
		                  <div class="form-group">
		                    <div class="col-lg-offset-2 col-lg-10">
		                      <button class="btn btn-theme" type="button" id="ApplyPaymentBtn">신청</button>
		                      
		                      <button class="btn btn-theme04" type="button" id="cancelBtnApplyPayment">취소</button>
		                    </div>
		                  </div>
		                  
               		 </form>
              
                 </div>
              </div>
            </div>
          </div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(3).addClass('active');
		</script>
		
		<script>
			//콤마
			function comma(str) {
	   			 str = String(str);
	   		 	return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
			  	}
			
			//콤마 없애기
			function rm_comma(num){
				 	   var number = num + "";
				 	   return number.replace(/,/g,"");
				 	}
	
			var trPayoutPrice = $('#trPayoutPrice'); //출금가능금액
			var cTradeCm = $('#cTradeCm'); //수수료
			var trPayoutPriceReal =$('#trPayoutPriceReal'); //실제출금금액
			$('document').ready(function(){
			
				trPayoutPrice.val(comma(trPayoutPrice.val()));
				cTradeCm.val(comma(cTradeCm.val()));
				trPayoutPriceReal.val(comma(trPayoutPriceReal.val()));
				
				})
		
		
		
			//은행선택
				var trPayoutBank = $('#trPayoutBank');//은행명
				var trPayoutAccount = $('#trPayoutAccount');//계좌번호
				var trPayoutAccountName = $('#trPayoutAccountName');//예금주명
			
			
			$('#accountBankSelect').change(function(){
				var bankAccount = $('select option:selected').val();
				console.log(bankAccount);
				
				if(bankAccount!=0||bankAccount!=1){
				
					$.ajax({
						url : '/ajax/getAccountInfoByNumber',
						type : 'POST',
						data : {bankAccount : bankAccount},
						success : function(data){
							console.log('성공');
							
							trPayoutBank.val(data.mAccountBank);
							trPayoutAccount.val(data.mAccountNumber);
							trPayoutAccountName.val(data.mAccountName);
						}
						
					})
				}
			})
			
			//유효성체크
			$('#ApplyPaymentBtn').click(function(){
				if(trPayoutBank.val()==''){
					alert('은행명을 입력해주세요.');
					trPayoutBank.focus();
					return;
				}
				if(trPayoutAccount.val()==''){
					alert('계좌번호를 입력해주세요.');
					trPayoutAccount.focus();
					return;
				}
				
				if(trPayoutAccountName.val()==''){
					alert('예금주명을 입력해주세요.');
					trPayoutAccountName.focus();
					return;
				}
				//콤마없애기
				rm_comma
				trPayoutPrice.val(rm_comma(trPayoutPrice.val()));
				cTradeCm.val(rm_comma(cTradeCm.val()));
				trPayoutPriceReal.val(rm_comma(trPayoutPriceReal.val()));
				$('#applyPaymentForm').submit();
				
			})
			
			//취소버튼
			$('#cancelBtnApplyPayment').click(function(){
				$('#accountBankSelect').val('0').prop("selected",true);
				trPayoutBank.val('');
				trPayoutAccount.val('');
				trPayoutAccountName.val('');
			})
		
		</script>
		
	</th:block>
</html>