<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>공고신청</strong></div>
     	<div id="container-header-path">판매관리 > 공고신청</div>
      	<div id="container-header-space"></div>
      	

	 <div class="form-horizontal form-inline " >
	 	<div class="container-fluid">
		<div class="row" >
		  <div class="form-group col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6" >
		    <div class="thumbnail col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2" >
		      <div class="caption" style="text-align:center; min-height:400px" >
		        <h3>발전소판매</h3>
		        <p><a th:href="@{/sell/plantSell(mId=${session.SID})}" class="btn standardBtn" role="button">바로가기</a></p>
		      </div>
		    </div>
		  </div>
		  <div class="form-group col-md-6 col-sm-6 col-md-offset-6 col-sm-offset-6">
		    <div class="thumbnail col-md-10 col-md-offset-2 col-sm-10 col-sm-offset-2" >
		      <div class="caption" style="text-align:center; min-height:400px">
		        <h3>부품 판매</h3>
		        <p><a th:href="@{/sell/componentSell(mId=${session.SID})} "class="btn standardBtn">바로가기</a></p>
		      </div>
		    </div>
		  </div>
		 </div>
		 </div>
	</div>	 		
		
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(0).addClass('active');
		</script>
		
		<script th:inline="javascript">
		
		
		$(document).ready(function(){
			var plant = /*[[${plant}]]*/
			var component = /*[[${component}]]*/
			
			console.log(plant)
			console.log(plant.length)
			
			if(plant.length!=0||component.length!=0){
				if(getCookie('openPopup') !='Y'){
						window.open('/sell/failureBid','재공고안내','width=800, height=600,left=100, top = 100, scrollbar=no')
						
					}
			}
				
				function getCookie(cname) {
			           var name = cname + "=";
			           var ca = document.cookie.split(';');
			           for(var i = 0; i < ca.length; i++) {
			             var c = ca[i];
			             while (c.charAt(0) == ' ') {
			               c = c.substring(1);
			             }
			             if (c.indexOf(name) == 0) {
			               return c.substring(name.length, c.length);
			             }
			           }
			           return "";
			         }

				
				
			})
		

		</script>
	</th:block>
</html>