<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
	
		<div id="container-header-title"><strong>거래대금리스트</strong></div>
     	<div id="container-header-path">판매관리 > 거래대금리스트</div>
      	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i>공고코드</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>공고명</th>
                    <th>구매자</th>
                    <th><i class="fa fa-bookmark"></i>거래대금</th>
                    <th><i class=" fa fa-edit"></i>수수료율</th>
                    <th><i class=" fa fa-edit"></i>수수료</th>
                    <th><i class="fa fa-edit"></i>출금가능액</th>
                    <th><i class=" fa fa-edit"></i>출금가능날짜</th>
                    <th><i class=" fa fa-edit"></i>출금신청여부</th>
                    <th>출금신청버튼</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                   <td>b_pl_code</td>
                   <td>판매합니다.</td>
                   <td>id005</td>
                   <td>1000000</td>
                   <td>4%</td>
                   <td>40000</td>
                   <td>960000</td>
                   <td>2021-03-24</td>
                   <td>N</td>
                   <td>출금신청</td>
                   
               
                  </tr>
                 
                </tbody>
              </table>
            </div>
            <!-- /content-panel -->
          </div>
          <!-- /col-md-12 -->
        </div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(3).addClass('active');
		</script>
	</th:block>
</html>