<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	<th:block layout:fragment="customCss">
	  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!-- Custom styles for this template -->
	  <link th:href="@{/css/style.css}" rel="stylesheet">
	  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customTitle">
				<title>발전소 공고 조회</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<style>
			body{
			position : relative;
			}
		</style>
		
	
		<div id="container-header-title"><strong>공고조회</strong></div>
     	<div id="container-header-path">판매관리 > <a th:href="@{/sell/myHistory}">내공고목록</a> > 부품공고조회</div>
      	<div id="container-header-space"></div>
      	
      	 <div>
	      	<ul class="nav nav-tabs nav-justified" id="myNav" >
			  <li role="presentation" class="active" ><a href="#section1">부품정보</a></li>
			  <li role="presentation"><a href="#section2">공고정보</a></li>
			  <li role="presentation"><a href="#section3">계약정보</a></li>
			  <li role="presentation"><a href="#section4">문의글</a></li>
			</ul>
		</div>
      	
      	
	<th:block th:each="d:${detail}">

			<div class="row" id="section1">
	          <div class="col-md-12">
	            <div class="content-panel" style="padding: 30px;">
						<h4><i class="fa fa-angle-right"></i>부품정보</h4>
						<hr>
						<table class="table" style="text-align:left">
							<tbody>
								<tr>
			                		<td>부품사진</td>
			                		<td colspan="3">
			                			<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
				                        	<img th:src="${d.componentDTO.cpPhoto}" alt="부품사진" style="width: 100%; height: 100%">
				                        </div>
			                		</td>
	                			</tr>
								<tr>
									<td>부품명</td>
									<td colspan="3" th:text="${d.componentDTO.cpName}"></td>
								</tr>
								<tr>
									<td>부품제조사</td>
									<td th:text="${d.componentDTO.cpMaker}"></td>
									<td>부품사용시작일</td>
									<td th:text="${d.componentDTO.cpUsedate}"></td>
								</tr>
									<tr>
									<td>부품정보</td>
									<td colspan="3" th:text="${d.componentDTO.cpInfo}"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	       
      		     	 <div class="row" id="section2">
	         			 <div class="col-md-12">
	          			  <div class="content-panel" style="padding: 30px;">
	          
							<h4><i class="fa fa-angle-right"></i>공고정보</h4>
							<hr>
							<table class="table" style="text-align:left">
								<tbody>
									<tr>
										<td>공고코드</td>
										<td colspan="3" th:text="${d.bCpCode}" id="bCpCode"></td>
									</tr>
									<tr>
										<td>공고제목</td>
										<td colspan="3" th:text = "${d.bCpTitle}"></td>
									</tr>
									<tr>
										<td>공고내용</td>
										<td colspan="3" th:text = "${d.bCpContents}"></td>
									</tr>
									<tr>
										<td>입찰시작가</td>
										<td colspan="3"  th:text = "${d.bCpPrice}" id="bCpPrice"></td>
									</tr>
									<tr>
										<td>공고시작일</td>
										<td th:text="${d.bCpDateBidding1}"></td>
										<td>마감일</td>
										<td th:text="${d.bCpDateBidding2}"></td>
									</tr>
									<tr>
										<td>입찰자결정시작일</td>
										<td th:text="${d.bCpDateDecision1}"></td>
										<td>입찰자결정마감일</td>
										<td th:text="${d.bCpDateDecision2}"></td>
									</tr>
									<tr>
										<td>진행상태</td>
										<td th:text="${d.bCpStatus}"></td>
										<td>입찰자수</td>
										<td id="bidderNumber" style="color :blue;">[[${d.bCpBidderNumber}]]</td>
									</tr>
									
									<tr>
										<td>공고서류</td>
					                  	<th:block  th:if="${#lists.size(file)}>0" th:each="f:${file}">
					                  		<td colspan="2"><a th:href="@{/policy/downloadFile(idx=${f.idx})}">[[${f.originalFileName}]]</a></td>
					                  	</th:block>
					                  	<th:block th:unless="${#lists.size(file)}>0" >
					                  		<td>등록 된 파일이 없습니다.</td>
					                  	</th:block>
									</tr>
									<tr>
					                  	<td>공고서류</td>
					                  	<td colspan="3">
					              			<th:block  th:if="${#lists.size(file)}>0" th:each="f:${file}">
						                  		<a th:href="@{/policy/downloadFile(idx=${f.idx})}">[[${f.originalFileName}]]</a><br>
					              			</th:block>
					              			<th:block th:if="${file.size()==0}" >
					                  	  		등록 된 파일이 없습니다.
					              			</th:block>
					                  	</td>
					                  </tr>
									<tr>
										<td colspan="4">
											<div class=" add-task-row">
												<a class="btn btn-default btn-sm pull-right" th:href="@{/sell/myHistory}">목록</a>
											</div>
										</td>
									</tr>
								</tbody>
							</table>
							</div>
						</div>
					</div>
					
					  <div class="row" id="section3">
	        			  <div class="col-md-12">
	           				 <div class="content-panel" style="padding: 30px;">
			              <h4><i class="fa fa-angle-right"></i>계약정보</h4>
			              <hr>
			              <th:block th:if="${#lists.size(trade)}>0" th:each="t:${trade}">
			              	
				              <table class="table" style="text-align:left">
				               	<tbody>
				               		<tr>
				               			<td colspan="4" style="text-align:center;"><strong> [[${t.trPrRank}]]순위 </strong></td>
				               		</tr>
				               		<tr>
				               			<td>입찰자</td>
				               			<td th:text="${t.mIdBuyer}"></td>
				               			<td>거래순위</td>
				               			<td th:text="${t.trPrRank}"></td>
				               		</tr>
				               		<tr>
				               			<td>입찰금액</td>
				               			<td class="trPrPrice" th:text="${t.trPrPrice}"></td>
				               			<td>거래상태</td>
				               			<td th:text="${t.trTypeName}"></td>
				               		</tr>
				               		<tr>
				               			<td>계약체결기간</td>
				               			<td th:if="${t.trPrConclusionDate1 !=null and t.trPrConclusionDate2 !=null}" colspan="3" th:text="${t.trPrConclusionDate1+' ~ '+t.trPrConclusionDate1}"></td>
				               			<td th:if="${t.trPrConclusionDate1 ==null and t.trPrConclusionDate2 ==null}" colspan="3">-</td>
				               		</tr>
				               	 </tbody>
			              	</table>
			              </th:block>
			              
				          <th:block th:unless="${#lists.size(trade)}>0">
		         			 <table style="width: 100%;">
		            	   		<tbody>
			            	   		<tr><td colspan="4" style="text-align:center;">진행중인 거래가 없습니다.</td></tr>
		               			</tbody>
		               		</table>
		          		  </th:block>
		          		  
			          </div>
		          </div>
		         </div> 
		          
		   
		          <div class="row" id="section4">
	        		<div class="col-md-12">
	          		  <div class="content-panel" style="padding: 30px;">
			              <h4><i class="fa fa-angle-right"></i>문의글</h4>
			              <hr>
			              <table class="table" id="qnaTable">
			               	<thead>
			               		<tr>
			               			<th>번호</th>
			               			<th>제목</th>
			               			<th>조회수</th>
			               			<th>작성자</th>
			               			<th>작성일</th>
			               			<th>댓글수</th>
			               		</tr>
			               	</thead>
			               	<tbody>
			               		<tr th:if="${#lists.size(qna)}>0" th:each="q,index:${qna}">
			               			<td th:text="${index.count}"></td>
			               			<td class="subject"><a th:href="@{/sell/qnaDetail(idx=${q.bIdx})}">[[${q.bSubject}]]</a></td>         			
			               			<td th:text="${q.bView}"></td>
			               			<td th:text="${q.mIdBuyer}"></td>
			               			<td th:text="${q.bRegDate}"></td>
			               			<td class="cmtCount"></td>
			               		</tr>
			               		<tr th:unless="${#lists.size(qna)}>0"><td colspan="6" style="text-align:center">문의내역이 없습니다</td></tr>
			                </tbody>
			              </table>
			            </div>
			          </div>
		          </div>
							
	
	
	</th:block>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(1).addClass('active');
		</script>
		<script th:inline="javascript">
			//숫자에 콤마 찍는 함수
			 function comma(str) {
	       		 str = String(str);
	       		 return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	  		  }
		 	
		 	$(document).ready(function(){
		 		$('#bCpPrice').text(comma($('#bCpPrice').text()));
		 		
		 		$('.trPrPrice').each(function(){
		 			var i = $('.trPrPrice').index(this);
		 			console.log(i+"<----i");
		 			$('.trPrPrice').eq(i).text(comma($('.trPrPrice').eq(i).text()));
		 		})
		 		
		 		$('body').attr('data-spy','scroll');
		 		$('body').attr('data-target','.nabvar');
		 		$('body').attr('data-offset','50');
		 		
		 		//스크롤스파이 시작		
				$('body').scrollspy({target: ".navbar", offset: 50}); 
				
				$("#myNav a").on('click', function(event) {
			 		if (this.hash !== "") {
						event.preventDefault();
			 			var hash = this.hash;
			
						$('html, body').animate({scrollTop: $(hash).offset().top}, 800, function(){
			 
							 window.location.hash = hash;
						 });
					 } 
				 });
				//스크롤스파이 끝
					var qna = /*[[${qna}]]*/
			 		$('.cmtCount').each(function(){
			 			var i = $('.cmtCount').index(this);
			 			 $.ajax({
				 			url : '/ajax/getCmtCount',
				 			type : 'post',
				 			data : {bIdx : qna[i].bIdx},
			 			 	success : function(data){
			 			 		console.log(data);
			 			 		$('.cmtCount').text(data);
			 			 	}
				 		}) 
			 		})
				
			});
			 	
		 	
		 	var bidderNumber = $('#bidderNumber');
		 	bidderNumber.click(function(){
			if($(this).text()=='0'){
				alert('아직 입찰자가 없습니다.');
			}else{
				location.href='/sell/componentBidderList?bCpCode='+$('#bCpCode').text();
			}
		})	
		</script>
		
	</th:block>
</body>

</html>
					
