<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">
	<th:block layout:fragment="customCss">
	  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!-- Custom styles for this template -->
	  <link th:href="@{/css/style.css}" rel="stylesheet">
	  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
	  
	</th:block>
	<th:block layout:fragment="customTitle">
				<title>발전소 공고 조회</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<style>
			body{
			position : relative;
			}
			
			
		</style>
		
		<div id="container-header-title"><strong>공고조회</strong></div>
     	<div id="container-header-path">판매관리 > <a th:href="@{/sell/myHistory}">내공고목록</a> > 공고조회</div>
      	<div id="container-header-space"></div>
      	<div class="navbar1">
      	<div>
	      	<ul class="nav nav-tabs nav-justified" id="myNav" >
			  <li role="presentation" class="active" ><a href="#section1">발전소정보</a></li>
			  <li role="presentation"><a href="#section2">공고정보</a></li>
			  <li role="presentation"><a href="#section3">계약정보</a></li>
			  <li role="presentation"><a href="#section4">문의글</a></li>
			</ul>
		</div>
		</div>
      	
        <th:block th:each="detail:${bidPlantDetail}">
	       <div class="row" id="section1">
	          <div class="col-md-12">
	            <div class="content-panel" style="padding: 30px;">
	              <h4><i class="fa fa-angle-right"></i>발전소</h4>
	              <hr>
	              <table class="table" style="text-align : left">
	                <tbody>
	                	<tr>
	                		<td>발전소사진</td>
	                		<td colspan="5">
	                			<div class="fileupload-new thumbnail" style="width: 200px; height: 150px;">
		                        	<img th:src="${detail.businessPlantDTO.bzPlPhoto}" alt="발전소사진" style="width: 100%; height: 100%">
		                        </div>
	                		</td>
	                	</tr>
	                  <tr>
	                    <td>발전소명</td>
	                    <td colspan="5" th:text="${detail.businessPlantDTO.bzPlName}"></td>
	                  </tr>
	                  <tr>
	                    <td>주소</td>
	                    <td>[[${detail.businessPlantDTO.bzPlZipcode}]] [[${detail.businessPlantDTO.bzPlAddr}]] [[${detail.businessPlantDTO.bzPlDetailAddr}]]</td>
	                  	<td>부지면적</td>
	                  	<td id="bzPlAreaD" th:text="${detail.businessPlantDTO.bzPlArea}"></td>
	                  	<td>하드웨어여부</td>
	                    <td th:text="${detail.businessPlantDTO.bzPlHardware}"></td>
	                  </tr>
	                  <tr>
	                    <td>발전소용량</td>
	                    <td id="bzPlPowerD" th:text="${detail.businessPlantDTO.bzPlPower}"></td>
	                    <td>잔존가치</td>
	                    <td id ="plDepDataResidualD" th:text="${detail.plDepDataResidual}"></td>
	                    <td>계약REC</td>
	                    <td id="bzPlRecD" th:text="${detail.businessPlantDTO.bzPlRec}"></td>
	                  </tr>
	                  <tr>
	                  	<td>인버터용량</td>
		                <td id="bzPlInvPowerD" th:text="${detail.businessPlantDTO.bzPlInvPower}"></td>
		                <td>인버터수량</td>
		                <td id="bzPlInvCountD" th:text="${detail.businessPlantDTO.bzPlInvCount}"></td>
	                  	<td>인버터제조사</td>
	                  	<td id= "bzPlInvMakerD" th:text="${detail.businessPlantDTO.bzPlInvMaker}"></td>
	                  </tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
	        </div> 
	        
           <div class="row" id="section2">
	          <div class="col-md-12">
	            <div class="content-panel" style="padding: 30px;">
	              <h4><i class="fa fa-angle-right"></i>공고정보</h4>
	              <hr>
	              <table class="table" style="text-align : left">
	                <tbody>
	                  <tr>
	                    <td>공고코드</td>
	                    <td colspan="3" th:text="${detail.bPlCode}"></td>
	                  </tr>
	                  <tr>
	                    <td>공고제목</td>
	                    <td colspan="3" th:text = "${detail.bPlTitle}"></td>
	                  </tr>
	                  <tr>
	                    <td>공고내용</td>
	                    <td colspan="3" th:text = "${detail.bPlContents}"></td>
	                  </tr>
	                  <tr>
	                  	<td>입찰시작가</td>
	                  	<td colspan="3" id="bPlPriceD" th:text = "${detail.bPlPrice}"></td>
	                  </tr>
	                  <tr>
	                  	<td>공고시작일</td>
	               		<td th:text="${detail.bPlDateBidding1}"></td>
	                  	<td>마감일</td>
	                  	<td th:text="${detail.bPlDateBidding2}"></td>
	                  </tr>
	                  <tr>
	                  	<td>입찰자결정시작일</td>
	               		<td th:text="${detail.bPlDateDecision1}"></td>
	                  	<td>입찰자결정마감일</td>
	                  	<td th:text="${detail.bPlDateDecision2}"></td>
	                  </tr>
	                  <tr>
	                  	<td>진행상태</td>
	                  	<td th:text=${detail.bPlStatus}></td>
	                  	<td>입찰자수</td>
	                  	<td><a th:href="@{/sell/plantBidderList(bPlCode=${detail.bPlCode})}">[[${detail.bPlNumberOfBidder}]]</a></td>
	                  </tr>
	                  
	                  
	                  <tr>
	                  	<td>공고서류</td>
	                  	<td colspan="3">
	              			<th:block  th:if="${#lists.size(file)}>0" th:each="f:${file}">
		                  		<a  th:href="@{/policy/downloadFile(idx=${f.idx})}">[[${f.originalFileName}]]</a><br>
	              			</th:block>
	              			<th:block th:if="${file.size()==0}" >
	                  	  		등록 된 파일이 없습니다.
	              			</th:block>
	                  	</td>
	                  </tr>
	                  <tr>
	                  	<td colspan="4">
	                  		<div class=" add-task-row">
                  				<a class="btn btn-default btn-sm pull-right" th:href="@{/sell/myHistory}">목록</a>
                 			 </div>
                 		</td>
	                  </tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
          </div>
          
           <div class="row" id="section3">
	          <div class="col-md-12">
	            <div class="content-panel" style="padding: 30px;">
	              <h4><i class="fa fa-angle-right"></i>거래정보</h4>
	              <hr>
	              <th:block th:if="${#lists.size(trade)}>0" th:each="t:${trade}">
		              <table class="table" style="text-align:left">
		               	<tbody>
		               		<tr>
		               			<td colspan="4" style="text-align:center;"><strong> [[${t.trPrRank}]]순위 </strong></td>
		               		</tr>
		               		<tr>
		               			<td>입찰자</td>
		               			<td th:text="${t.mIdBuyer}"></td>
		               			<td>거래순위</td>
		               			<td th:text="${t.trPrRank}"></td>
		               		</tr>
		               		<tr>
		               			<td>입찰금액</td>
		               			<td class="trPrPrice" th:text="${t.trPrPrice}"></td>
		               			<td>거래상태</td>
		               			<td th:text="${t.trTypeName}"></td>
		               		</tr>
		               		<tr>
		               			<td>계약체결기간</td>
		               			<td th:if="${t.trPrConclusionDate1 !=null and t.trPrConclusionDate2 !=null}" colspan="2" th:text="${t.trPrConclusionDate1+' ~ '+t.trPrConclusionDate1}"></td>
		               			<td th:if="${t.trPrConclusionDate1 ==null and t.trPrConclusionDate2 ==null}" colspan="2">-</td>
		               			<td></td>
		               		</tr>
		               	 </tbody>
	              	</table>
	              </th:block>
	              
		          <th:block th:unless="${#lists.size(trade)}>0">
		               <table style="width: 100%;">
		               		<tbody>
			               		<tr><td colspan="4" style="text-align:center;">진행중인 거래가 없습니다.</td></tr>
		               		</tbody>
		               </table>
		          </th:block>
	          
	            </div>
	          </div>
          </div>
          
          
            <div class="row" id="section4">
	          <div class="col-md-12">
	            <div class="content-panel" style="padding: 30px;">
	              <h4><i class="fa fa-angle-right"></i>문의글</h4>
	              <hr>
	              <table class="table" id="qnaTable">
	               	<thead>
	               		<tr>
	               			<th>번호</th>
	               			<th>제목</th>
	               			<th>조회수</th>
	               			<th>작성자</th>
	               			<th>작성일</th>
	               			<th>댓글수</th>
	               		</tr>
	               	</thead>
	               	<tbody>
	               		<tr th:if="${#lists.size(qna)}>0" th:each="q,index:${qna}">
	               			<td th:text="${index.count}"></td>
	               			<td class="subject" style="text-align:left"><a th:href="@{/sell/qnaDetail(idx=${q.bIdx})}">[[${q.bSubject}]]</a></td>         			
	               			<td th:text="${q.bView}"></td>
	               			<td th:text="${q.mIdBuyer}"></td>
	               			<td th:text="${q.bRegDate}"></td>
	               			<td class="cmtCount"></td>
	        
	               		</tr>
	               		<tr th:unless="${#lists.size(qna)}>0"><td colspan="5" style="text-align:center">문의내역이 없습니다</td></tr>
	                </tbody>
	              </table>
	            </div>
	          </div>
          </div>
          
          
        </th:block>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(1).addClass('active');
		</script>
		<script th:inline="javascript">
			//숫자에 콤마 찍는 함수
			 function comma(str) {
	       		 str = String(str);
	       		 return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
	  		  }
		 	
		 	$(document).ready(function(){
		 		
		 		$('.trPrPrice').each(function(){
		 			var i = $('.trPrPrice').index(this);
		 			console.log(i+"<----i");
		 			$('.trPrPrice').eq(i).text(comma($('.trPrPrice').eq(i).text()));
		 		})
		 		
		 		$('#bzPlAreaD').text(comma($('#bzPlAreaD').text()));
		 		$('#bzPlPowerD').text(comma($('#bzPlPowerD').text()));
		 		$('#plDepDataResidualD').text(comma($('#plDepDataResidualD').text()));
		 		$('#bzPlRecD').text(comma($('#bzPlRecD').text()));
		 		$('#bzPlInvPowerD').text(comma($('#bzPlInvPowerD').text()));
		 		$('#bzPlInvCountD').text(comma($('#bzPlInvCountD').text()));
		 		$('#bzPlInvMakerD').text(comma($('#bzPlInvMakerD').text()));
		 		$('#bPlPriceD').text(comma($('#bPlPriceD').text()));
		 		$('#bidderNumberD').text(comma($('#bidderNumberD').text()));
		 		
		 		$('body').attr('data-spy','scroll');
		 		$('body').attr('data-target','.nabvar');
		 		$('body').attr('data-offset','50')
		 		
		 		
		 		var qna = /*[[${qna}]]*/
		 		$('.cmtCount').each(function(){
		 			var i = $('.cmtCount').index(this);
		 			console.log(qna[i].bIdx+"<---인덱스");
		 			 $.ajax({
			 			url : '/ajax/getCmtCount',
			 			type : 'post',
			 			data : {bIdx : qna[i].bIdx},
		 			 	success : function(data){
		 			 		console.log(data);
		 			 		$('.cmtCount').eq(i).text(data);
		 			 	}
			 		}) 
		 		})
		 		
		 		
		 	
				
		 	})	 
		 	
		 	
		 			
		</script>
		
		<script>
			$(document).ready(function(){
			 // Add scrollspy to <body>
			 $('body').scrollspy({target: ".navbar", offset: 50}); 
			
			 // Add smooth scrolling on all links inside the navbar
			 $("#myNav a").on('click', function(event) {
			 // Make sure this.hash has a value before overriding default behavior
			 if (this.hash !== "") {
			 // Prevent default anchor click behavior
			 event.preventDefault();
			
			 // Store hash
			 var hash = this.hash;
			
			 // Using jQuery's animate() method to add smooth page scroll
			 // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
			 $('html, body').animate({
			 scrollTop: $(hash).offset().top
			 }, 800, function(){
			 
			 // Add hash (#) to URL when done scrolling (default click behavior)
			 window.location.hash = hash;
			 });
			 } // End if
			 });
			});
	</script>
			
	</th:block>
</body>

</html>
					
