<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	<th:block layout:fragment="customCss">
		<!-- Bootstrap core CSS -->
	  <link href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!--external css-->
	  <link href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-fileupload/bootstrap-fileupload.css}" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-daterangepicker/daterangepicker.css}" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-timepicker/compiled/timepicker.css}" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-datetimepicker/datertimepicker.css}" />
	  <!-- Custom styles for this template -->
	  <link href="@{/css/style.css}" rel="stylesheet">
	  <link href="@{/css/style-responsive.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customTitle">
				<title>부품 판매 공고 신청</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>부품판매공고신청</strong></div>
     	<div id="container-header-path">판매관리 > 부품판매공고신청</div>
      	<div id="container-header-space"></div>
		<div class="row mt">
          <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i>부품 판매 공고 신청</h4>
            <div class="form-panel">
              <div class="form">
                <form class="cmxform form-horizontal style-form" id="signupForm" method="post" th:action="@{sell/applyComponentSell}" enctype="application/form-data">
                  <input type="hidden" name="m_id" th:value="${session.SID}">
              
					<div class="radio">
						<label>
                  			<input type="radio" name="optionsRadios" id="oldComponent" value="option1" checked="">기존부품
                		 </label>
                		 <label>
                  			<input type="radio" name="optionsRadios" id="newComponent" value="option1" >새로운부품
                		 </label>
              		</div>
              		
              		<div class="form-group" id="selectInvisible">
	                   <label for="username" class="control-label col-lg-2">부품선택</label>
	                    <div class="col-lg-10">
	                      <select class="form-control" id="componentSelect">
	                      	<option value="0">부품을 선택해주세요.</option>
	                        <th:block th:if="${#lists.size(component)}>0" th:each="c : ${component}">
							 	<option th:value="${c.cpCode}" th:text="${c.cpName}"></option>
							  </th:block> 
								  <th:block th:unless="${#lists.size(component)}>0">
							 	<option>현재 판매 할 수 있는 부품이 없습니다.</option>
							 </th:block> 
							</select>
	                    </div>
	                  </div>
              		
              		
					<div class="form-group ">
						<label for="b_cp_title" class="control-label col-lg-2">부품이름</label>
						<div class="col-lg-10">
							<input class=" form-control" id="cpName" name="cpName" type="text">
						</div>
					</div>
					<div class="form-group ">
						<label for="b_cp_title" class="control-label col-lg-2">부품제조사</label>
						<div class="col-lg-10">
							<input class=" form-control" id="cpMaker" name="cpMaker" type="text">
						</div>
					</div>
					<div class="form-group ">
						<label for="b_cp_title" class="control-label col-lg-2">부품제조일</label>
						<div class="col-lg-10">
							<input class=" form-control" id="cpMakedate" name="cpMakedate" type="text">
						</div>
					</div>
					
					
					
					<div class="form-group ">
						<label for="b_cp_title" class="control-label col-lg-2">부품정보</label>
						<div class="col-lg-10">
							<textarea class="form-control" id="cpInfo" name="cpInfo"></textarea>
						</div>
					</div>
					<div class="form-group ">
						<label for="b_cp_title" class="control-label col-lg-2">부품사용시작날짜</label>
						<div class="col-lg-10">
							<input class=" form-control" id="cpUsedate" name="cpUsedate" type="text">
						</div>
					</div>
              		
              	
                  
                  <div class="form-group ">
                    <label for="b_cp_title" class="control-label col-lg-2">공고제목</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="b_cp_title" name="b_cp_title" type="text">
                    </div>
                  </div>
                  
                  <div class="form-group ">
                    <label for="b_cp_price" class="control-label col-lg-2">희망가</label>
                    <div class="col-lg-10">
                      <input class=" form-control" id="b_cp_price" name="b_cp_price" type="text">
                    </div>
                  </div>
                  
                 <div class="form-group">
                 	<label for="files" class="control-label col-lg-2">공고신청파일</label>
                  	<div class="col-lg-10">
                    	<input type="file" id="files" class="default" name="files" multiple="multiple">
                  	</div>
                </div>
                  <div class="form-group ">
                    <label for="componentDetail" class="control-label col-lg-2">상세설명</label>
                    <div class="col-lg-10">
                      <textarea id = "componentDetail"class="form-control"></textarea>
                    </div>
                  </div>
                 <div class="form-group">
                  <label class="control-label col-lg-2">공고시작일</label>
                  <div class="col-lg-10">
                    <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" name="b_cp_date_bidding1">
                    <span class="help-block"></span>
                  </div>
                </div>                  
                  <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10">
                      <button class="btn btn-theme" type="submit">신청</button>
                      <button class="btn btn-theme04" type="button">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(0).addClass('active');
		</script>
		
		<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
		  <script type="text/javascript" th:src="@{/lib/bootstrap-fileupload/bootstrap-fileupload.js}"></script>
		  <script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
		  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/date.js}"></script>
		  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/daterangepicker.js}"></script>
		  <script type="text/javascript" th:src="@{/lib/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js}"></script>
		  <script type="text/javascript" th:src="@{/lib/bootstrap-daterangepicker/moment.min.js}"></script>
		  <script type="text/javascript" th:src="@{/lib/bootstrap-timepicker/js/bootstrap-timepicker.js}"></script>
		  <script th:src="@{/lib/advanced-form-components.js}"></script>
		<script>
			
			$('#newComponent').click(function(){
				$('#selectInvisible').attr('style','display:none;');
				$('#cpName').val('');
				$('#cpTitle').val('');
				$('#cpMaker').val('');
				$('#cpMakedate').val('');
				$('#cpUsedate').val('');
				$('#cpInfo').text('');
			})
			
			$('#oldComponent').click(function(){
				$('#selectInvisible').removeAttr('style');
			
			})
			
			
			$('#componentSelect').change(function(){
				var cpCode = $('select option:selected').val();
				
				$.ajax({
					url : '/ajax/componentInformation',
					type : 'POST',
					data : {cpCode : cpCode},
					success : function(data){
						if(data){
							var cpName = data.cpName;
							var cpTitle = data.cpTitle;
							var cpMaker = data.cpMaker;
							var cpMakedate = data.cpMakedate;
							var cpUsedate = data.cpUsedate;
							var cpInfo = data.cpInfo;
							console.log(cpName);
							$('#cpName').val(cpName);
							$('#cpTitle').val(cpTitle);
							$('#cpMaker').val(cpMaker);
							$('#cpMakedate').val(cpMakedate);
							$('#cpUsedate').val(cpUsedate);
							$('#cpInfo').text(cpInfo);
						}
						
						
					},
					error : function(xhr,status,error) {
		        	console.log("xhr: " + xhr);
		        	console.log("status: " + status);
		        	console.log("error: " + error);
		       		}
				});				
			})
			
		</script>
				
	</th:block>
</body>

</html>
					
