<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
<head>
		 <!-- Bootstrap core CSS -->
<link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <link th:href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" th:href="@{/css/zabuto_calendar.css}">
  <link rel="stylesheet" type="text/css" th:href="@{/lib/gritter/css/jquery.gritter.css}" />
<script th:src="@{/lib/jquery/jquery-3.5.1.min.js}"></script>

  
	<style>
		body{
		background-color :#eaeaea; }
	</style>

</head>

	 <div class="row" id="section1">
	       <div class="col-md-12 panel panel-default">
	            <div class="panel-body" style="padding: 30px;; text-align : center;">
	            	<div style="background-color : #4ECDC4; color : white;">
			            	
					      <p>	실패한 공고 목록이 있습니다.  	</p>
					      <p>	재공고를 신청하시려면,아래의 목록에서 신청을 눌러주세요. </p>
			      	</div>
			      <hr>
			  	<input type="hidden" th:value="${session.SID}" id="session">
					<p>[발전소]</p>
					<table class="table table-hover">
						<thead>
							<tr>
								<td>공고코드</td>
								<td>발전소이름</td>
								<td>공고제목</td>
								<td>공고상태</td>
								<td>신청</td>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(plant)}>0" th:each = "p:${plant}">
								<td th:text=${p.bPlCode}></td>
								<td th:text=${p.businessPlantDTO.bzPlName}></td>
								<td th:text=${p.bPlTitle}></td>
								<td th:text=${p.bPlStatus}></td>
								<td><a class="applyPlant">신청</a></td>
							</tr>
							<tr th:unless="${#lists.size(plant)}>0">
								<td colspan="5">재공고 신청 할 발전소가 없습니다.</td>
							</tr>
						</tbody>
					</table>
					<p>[부품]</p>
					<table class="table table-hover">
						<thead>
							<tr>
								<td>공고코드</td>
								<td>부품이름</td>
								<td>공고제목</td>
								<td>공고상태</td>
								<td>신청</td>
							</tr>
						</thead>
						<tbody>
							<tr th:if="${#lists.size(component)}>0" th:each="c:${component}">
								<td th:text = "${c.bCpCode}"></td>
								<td th:text = "${c.componentDTO.cpName}"></td>
								<td th:text = "${c.bCpTitle}"></td>
								<td th:text = "${c.bCpStatus}"></td>
								<td class="applyCp">신청</td>
							
							</tr>
							<tr th:unless="${#lists.size(component)}>0">
								<td colspan="5">재공고 신청 할 발전소가 없습니다.</td>
							</tr>
						</tbody>
					</table>
					
					<div style="float: right;">
						<input type="checkbox" id="cancelCheck">하루동안 열지 않기  <a id="closeBtn">닫기</a>
					</div>
	</div>
</div>
</div>
	<script th:inline="javascript">
	
	//팝업세션
	 function setCookie(cname, cvalue, exdays) {
	        var d = new Date();
	        d.setTime(d.getTime() + (exdays * 24 * 60 * 60 * 1000));
	        var expires = "expires="+d.toUTCString();
	        document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/";
	      }

	 
	 $(document).ready(function(){
		 /*<![CDATA[*/
			var plant = /*[[${plant}]]*/
			var component=/*[[${component}]]*/
		 	$('.applyPlant').click(function(){
		 		var i = $('.applyPlant').index(this);
		 		console.log(i);
		 		console.log(plant[i].mId);
		 		console.log(plant[i].bzPlCode)
		 		window.open('/sell/addNewPlantSell?mId='+plant[i].mId+'&bzPlcode='+plant[i].bzPlCode);
		 		window.close();
		 	})
		 	
		 	$('.applyCp').click(function(){
		 		var i = $('.applyCp').index(this);
		 		window.open('/sell/addNewComponentSell?mId='+component[i].mId+'&cpCode='+component[i].cpCode);
		 		window.close();
		 	})
		 	
		 	
			$('#closeBtn').click(function(){
				
				if($('#cancelCheck').is(':checked')){
					console.log("체크");
					setCookie('openPopup','Y',1);
				}else{
					console.log("체크X")
				} 
				window.close();
		
	 })
	 
	 
		/*]]>*/
		})
		
		
	</script>

</html>