<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>내공고목록</strong></div>
     	<div id="container-header-path">판매관리 > 내공고목록</div>
      	<div id="container-header-space"></div>		
	
		<div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>내발전소공고목록</h4>
        			  <p>※해당 공고의 입찰자 수를 클릭하면 입찰자 목록을 확인 할 수 있습니다.</p>      
              <hr>
              <form th:action="@{/sell/myHistory}">
            	<select name="searchKey">
            		<option value="bPlCode">공고코드</option>
            		<option value="bzPlName">발전소명</option>
            		<option value="bzPlTitle">공고명</option>
            		<option value="bPlDateBidding1">공고시작일</option>
            		<option value="bPlStatus">진행상황</option>
            	</select>
            	<input type="text" placeholder="검색어" name="searchValue">
            	<input type="submit" value = "검색">
               </form>
              <table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                  	<th>공고코드</th>
                    <th><i class="fa fa-bullhorn"></i>발전소명</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>공고명</th>
                    <th><i class="fa fa-bookmark"></i>희망가격</th>
                    <th><i class=" fa fa-edit"></i>공고시작일</th>
                    <th><i class=" fa fa-edit"></i>공고마감일</th>
                    <th><i class="fa fa-edit"></i>입찰자수</th>
                    <th><i class=" fa fa-edit"></i>진행상황</th>
                    <th><i class=" fa fa-edit"></i>수정</th>
                    <th><i class=" fa fa-edit"></i>삭제</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="list:${bidPlantList}">
                  	<td class="historyBPlCode" th:text=${list.bPlCode}></td>
       				<td th:text="${list.businessPlantDTO.bzPlName}"></td>
                    <td><a th:href="@{/sell/getBidPlantDetail(bPlCode=${list.bPlCode})}">[[${list.bPlTitle}]]</a></td>
                    <td th:text="${list.bPlPrice}" class="bPlPrice"></td>
                    <td th:text="${list.bPlDateBidding1}"></td>
                    <td th:text="${list.bPlDateBidding2}"></td>
                    <td><a th:href="@{/sell/plantBidderList(bPlCode=${list.bPlCode})}">[[${list.bPlNumberOfBidder}]]</a></td>
                    <td class="historyStatus" th:text="${list.bPlStatus}"></td>
                    <td><button class="HistoryModifyBtn">수정</button></td>
                    <td><button class="HisotryDeleteBtn">삭제</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
        <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel">
              <h4><i class="fa fa-angle-right"></i>내부품공고목록</h4>
              <hr>
              <form>
            	<select name="searchKeyCp">
            		<option value="bCpCode">공고코드</option>
            		<option value="cpName">부품명</option>
            		<option value="bCpTitle">공고명</option>
            		<option value="bCpDateBidding1">공고시작일</option>
            		<option value="bCpStatus">진행상황</option>
            	</select>
            	<input type="text" placeholder="검색어" name="searchValueCp">
            	<input type="submit" value="검색">
               </form>
              
              <table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                  	<th>공고코드</th>
                    <th><i class="fa fa-bullhorn"></i>부품명</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>공고명</th>
                    <th><i class="fa fa-bookmark"></i>희망가격</th>
                    <th><i class=" fa fa-edit"></i>공고시작일</th>
                    <th><i class=" fa fa-edit"></i>공고마감일</th>
                    <th><i class="fa fa-edit"></i>입찰자수</th>
                    <th><i class=" fa fa-edit"></i>진행상황</th>
                    <th><i class=" fa fa-edit"></i>수정</th>
                    <th><i class=" fa fa-edit"></i>삭제</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:each="cp:${bidComponentList}">
                  	<td class="bCpCode"th:text=${cp.bCpCode}></td>
            		<td th:text="${cp.componentDTO.cpName}"></td>
                    <td><a th:href="@{/sell/getBidComponentDetail(bCpCode=${cp.bCpCode})}">[[${cp.bCpTitle}]]</a></td>
                    <td th:text="${cp.bCpPrice}" class="bCpPrice"></td>
                    <td th:text="${cp.bCpDateBidding1}"></td>
                    <td th:text="${cp.bCpDateBidding2}"></td>
                    <td th:text="${cp.bCpBidderNumber}"></td>
                    <td class="cpStatus" th:text="${cp.bCpStatus}"></td>
                    <td><button class="cpModifyBtn">수정</button></td>
                    <td><button class="cpDeleteBtn">삭제</button></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(1).addClass('active');
		</script>
			
		<script>
			function comma(str) {
	  			 str = String(str);
	  		 	return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
			  	}
	
			$('document').ready(function(){
				$('.bCpPrice').each(function(){
					
					var bCpPrice = $('.bCpPrice');
					var i = bCpPrice.index(this);
					console.log(i);
					console.log(bCpPrice.eq(i).text());
					bCpPrice.eq(i).text(comma(bCpPrice.eq(i).text()));
				})
		
			})
			
			$('document').ready(function(){
				$('.bPlPrice').each(function(){
					
					var bPlPrice = $('.bPlPrice');
					var i = bPlPrice.index(this);
					console.log(i);
					console.log(bPlPrice.eq(i).text());
					bPlPrice.eq(i).text(comma(bPlPrice.eq(i).text()));
				})
		
			})
		
		
		
			$('.HistoryModifyBtn').click(function(){
				console.log($('.HistoryModifyBtn').index(this));
				var i = $('.HistoryModifyBtn').index(this);
				var status = $('.HistoryModifyBtn').eq(i).parent().parent().children('.historyStatus').text();
				if(status !='공고신청'){
					alert('현재는 공고를 수정 할 수 없습니다.');
					return;
				}
				console.log($('.historyStatus').text())
				var path = '/sell/modifyPlantSell?bPlCode='+$('.historyBPlCode').eq(i).text();
				
				location.href= path;
			})
			
			$('.HisotryDeleteBtn').click(function(){
				console.log($('.HisotryDeleteBtn').index(this));
				var i = $('.HisotryDeleteBtn').index(this);
				var status = $('.HisotryDeleteBtn').eq(i).parent().parent().children('.historyStatus').text();
				if(status !='공고신청'){
					alert('현재는 공고를 삭제 할 수 없습니다.');
					return;
				}
				location.href='/sell/removePlantSell?bPlCode='+$('.historyBPlCode').eq(i).text();
			})
			
			
			
			$('.cpModifyBtn').click(function(){
				console.log($('.cpModifyBtn').index(this));
				var i = $('.cpModifyBtn').index(this);
				var status = $('.cpModifyBtn').eq(i).parent().parent().children('.cpStatus').text();
				if(status !='공고신청'){
					alert('현재는 공고를 수정 할 수 없습니다.');
					return;
				}
				var path = '/sell/modifyComponentSell?bCpCode='+$('.bCpCode').eq(i).text();
				
				location.href= path;
			})
			
			$('.cpDeleteBtn').click(function(){
				console.log($('.cpDeleteBtn').index(this));
				var i = $('.cpDeleteBtn').index(this);
				var status = $('.cpDeleteBtn').eq(i).parent().parent().children('.cpStatus').text();
				if(status !='공고신청'){
					alert('현재는 공고를 삭제 할 수 없습니다.');
					return;
				}
				var path = '/sell/removeComponentSell?bCpCode='+$('.bCpCode').eq(i).text();
				location.href=path;
			})
			
			
		</script>
	</th:block>
</html>