<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
	
		<div id="container-header-title"><strong>거래대금리스트</strong></div>
     	<div id="container-header-path">판매관리 > 거래대금리스트</div>
      	<div id="container-header-space"></div>
      	
      	 <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel" style="padding: 30px;">
              <h4><i class="fa fa-angle-right"></i>출금 신청 가능 목록</h4><hr><table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i>공고코드</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>공고명</th>
                    <th>구매자</th>
                    <th><i class="fa fa-bookmark"></i>거래대금</th>
                    <th><i class=" fa fa-edit"></i>수수료율</th>
                    <th><i class=" fa fa-edit"></i>수수료</th>
                    <th><i class="fa fa-edit"></i>출금가능액</th>
                    <th><i class=" fa fa-edit"></i>출금가능날짜</th>
                    <th><i class=" fa fa-edit"></i>출금신청여부</th>
                    <th><i class=" fa fa-edit"></i>출금신청버튼</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:if = "${#lists.size(available)}>0"th:each="a:${available}">
	                   <td th:text="${a.announcedCode}"></td>
	                   <td style="text-align:left" th:text="${a.announcedTitle}"></td>
	                   <td th:text="${a.mIdBuyer}"></td>
	                   <td th:text="${a.trPrPrice}" class="trPrPrice"></td>
	                   <td th:text="${a.comissionRate}" ></td>
	                   <td th:text="${a.commission}" class="commission"></td>
	                   <td th:text="${a.availableOut}" class="availableOut"></td>
	                   <td th:text ="${a.tradePaymentInDTO.bMoDate}"></td>
	                   <td th:text="${a.trPayoutCheck}"></td>
	                   <td><a th:href="@{/sell/applyPayment(trPrCode=${a.trPrCode})}">출금신청</a></td>
	               </tr>
	            	<tr th:unless = "${#lists.size(available)}>0">
	               		<td colspan ="10" style="text-align : center;">출금 신청 가능 내역이 없습니다.</td>
	               </tr> 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      	
      	 <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel" style="padding: 30px;">
              <h4><i class="fa fa-angle-right"></i>출금 신청 완료 목록</h4><hr><table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i>공고코드</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>공고명</th>
                    <th>구매자</th>
                    <th><i class="fa fa-bookmark"></i>거래대금</th>
                    <th><i class=" fa fa-edit"></i>수수료율</th>
                    <th><i class=" fa fa-edit"></i>수수료</th>
                    <th><i class="fa fa-edit"></i>출금가능액</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:if = "${#lists.size(apply)}>0" th:each="ap:${apply}">
	                   <td th:text="${ap.announcedCode}"></td>
	                   <td style="text-align:left" th:text="${ap.announcedTitle}"></td>
	                   <td th:text="${ap.mIdBuyer}"></td>
	                   <td th:text="${ap.trPrPrice}" class="trPrPrice"></td>
	                   <td th:text="${ap.comissionRate}" ></td>
	                   <td th:text="${ap.commission}" class="commission"></td>
	                   <td th:text="${ap.availableOut}" class="availableOut"></td>
	
	               </tr>
	            	<tr th:unless = "${#lists.size(apply)}>0">
	               		<td colspan ="7" style="text-align : center;">출금 신청한 내역이 없습니다. </td>
	               </tr> 
	                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
      	
      	 	<div class="row mt">
          <div class="col-md-12">
            <div class="content-panel" style="padding: 30px;">
              <h4><i class="fa fa-angle-right"></i>출금  완료 목록</h4><hr><table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i>공고코드</th>
                    <th class="hidden-phone"><i class="fa fa-question-circle"></i>공고명</th>
                    <th>구매자</th>
                    <th><i class="fa fa-bookmark"></i>거래대금</th>
                    <th><i class=" fa fa-edit"></i>수수료율</th>
                    <th><i class=" fa fa-edit"></i>수수료</th>
                    <th><i class="fa fa-edit"></i>출금액</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:if = "${#lists.size(finish)}>0" th:each="f:${finish}">
	                   <td th:text="${f.announcedCode}"></td>
	                   <td style="text-align:left" th:text="${f.announcedTitle}"></td>
	                   <td th:text="${f.mIdBuyer}"></td>
	                   <td th:text="${f.trPrPrice}" class="trPrPrice"></td>
	                   <td th:text="${f.comissionRate}" ></td>
	                   <td th:text="${f.commission}" class="commission"></td>
	                   <td th:text="${f.availableOut}" class="availableOut"></td>
	
	               </tr>
	            	<tr th:unless = "${#lists.size(finish)}>0">
	               		<td colspan ="10" style="text-align : center;">출금 완료 목록이 없습니다. </td>
	               </tr> 
	                 
                </tbody>
              </table>
            </div>
          </div>
        </div>
 
      	
      	
      	
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(2).addClass('active');
		</script>
		
		<script>
			function comma(str) {
	  			 str = String(str);
	  		 	return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
			  	}
	
			$('document').ready(function(){
				$('.trPrPrice').each(function(){
					
					var trPrPrice = $('.trPrPrice');
					var i = trPrPrice.index(this);
					console.log(i);
					console.log(trPrPrice.eq(i).text());
					trPrPrice.eq(i).text(comma(trPrPrice.eq(i).text()));
				})
		
			})
			
			$('document').ready(function(){
				$('.commission').each(function(){
					
					var commission = $('.commission');
					var i = commission.index(this);
					console.log(i);
					console.log(commission.eq(i).text());
					commission.eq(i).text(comma(commission.eq(i).text()));
				})
		
			})
			$('document').ready(function(){
				$('.availableOut').each(function(){
					
					var availableOut = $('.availableOut');
					var i = availableOut.index(this);
					console.log(i);
					console.log(availableOut.eq(i).text());
					availableOut.eq(i).text(comma(availableOut.eq(i).text()));
				})
		
			})
		
		</script>
		
	</th:block>
</html>