<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	<th:block layout:fragment="customCss">
		<!-- Bootstrap core CSS -->
	  <link href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!--external css-->
	  <link href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-fileupload/bootstrap-fileupload.css}" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-daterangepicker/daterangepicker.css}" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-timepicker/compiled/timepicker.css}" />
	  <link rel="stylesheet" type="text/css" href="@{/lib/bootstrap-datetimepicker/datertimepicker.css}" />
	  <!-- Custom styles for this template -->
	  <link href="@{/css/style.css}" rel="stylesheet">
	  <link href="@{/css/style-responsive.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customTitle">
				<title>부품 판매 공고 신청</title>
	</th:block>
	<th:block layout:fragment="Contents">

		<div class="row mt">
          <div class="col-lg-12">
            <h4><i class="fa fa-angle-right"></i>발전소 판매 공고 신청</h4>
            <div class="form-panel">
              <div class="form">
                <form class="cmxform form-horizontal style-form" id="signupForm" method="post" th:action="@{sell/plantSell}" enctype="application/form-data">
	                  <div class="form-group">
	                    <label for="username" class="control-label col-lg-2">발전소</label>
	                    <div class="col-lg-10">
	                      <select class="form-control">
	                        <th:block th:if="${#lists.size(plantList)}>0" th:each="plantList : ${plantList}">
	                        	<option>발전소를 선택해주세요.</option>
							 	<option th:value="${plantList.bzPlCode}" th:text="${plantList.bzPlName}"></option>
							  </th:block> 
								  <th:block th:unless="${#lists.size(plantList)}>0">
							 	<option>등록 된 발전소가 없습니다.</option>
							 </th:block> 
							</select>
	                    </div>
	                  </div>
	                  	<input type="hidden" name="m_id" th:value="${session.SID}">
	               
	                 	<!-- <input type="text" th:value="${plantList.plantDepreciationDTO.plDepPrice}" name="plDepPrice">
	                 	<input type="text" th:value ="${plantList.plantDepreciationDTO.plDepStartDate}" name="plDepStartDate">
	             	    <input type="text" th:value ="${plantList.plantDepDataDTO.plDepDataResidual}" name="plDepDataResidual"> -->
	                
	                  <div class="form-group">
	                    <label for="b_cp_title" class="control-label col-lg-2">제목</label>
	                    <div class="col-lg-10">
	                      <input class=" form-control" id="bPlTitle" name="b_cp_title" type="text">
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label for="b_cp_price" class="control-label col-lg-2">희망가</label>
	                    <div class="col-lg-10">
	                      <input class=" form-control" id="bPlPrice" name="bPlPrice" type="text">
	                    </div>
	                  </div>
	                 <div class="form-group">
	                 	<label for="files" class="control-label col-lg-2">공고신청파일</label>
	                  	<div class="col-lg-10">
	                    	<input type="file" id="files" class="default" name="files" multiple="multiple">
	                  	</div>
	                </div>
	                  <div class="form-group ">
	                    <label for="componentDetail" class="control-label col-lg-2">상세설명</label>
	                    <div class="col-lg-10">
	                      <textarea id = "componentDetail"class="form-control" name="bPlContents"></textarea>
	                    </div>
	                  </div>
	                 <div class="form-group">
	                  <label class="control-label col-lg-2">공고시작일</label>
	                  <div class="col-lg-10">
	                    <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" name="bPlDateBidding1" >
	                  </div>
	                </div>                  
	                  <div class="form-group">
	                    <div class="col-lg-offset-2 col-lg-10">
	                      <button class="btn btn-theme" type="button" id="selectPlant">신청</button>
	                      
	                      <button class="btn btn-theme04" type="button">Cancel</button>
	                    </div>
	                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
        
        
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(0).addClass('active');
		</script>
		
		<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
	  	<script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
	 	<script th:src="@{/lib/advanced-form-components.js}"></script>
	 	
	 	<script>
	 	$('#selectPlant').click(function(){
	 		console.log($('select option:selected').val());
	 		var plantCode = $('select option:selected').val();
	 		
	 		$.ajax({
		        url     : '/ajax/plantInformation',
		        type    : 'POST',
		        data    : {plantCode : plantCode},
		        dataType : "json",
		        success : function(data) {
		        	console.log(data);
		        	if(data){
		        	
		
		        	}else{
		        		
		        	}
		        },
		        error : function(xhr,status,error) {
		        	console.log("xhr: " + xhr);
		        	console.log("status: " + status);
		        	console.log("error: " + error);
		        }
		    });
	 		
	 		
	 	 })
	 	 
	 	 
	 	</script>
		
	</th:block>
</body>

</html>
					
