<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">
	<th:block layout:fragment="customCss">
		<!-- Bootstrap core CSS -->
	  <link th:href="@{/lib/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
	  <!--external css-->
	  <link href="@{/lib/font-awesome/css/font-awesome.css}" rel="stylesheet" />
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-fileupload/bootstrap-fileupload.css}" />
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datepicker/css/datepicker.css}" />
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-daterangepicker/daterangepicker.css}" />
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-timepicker/compiled/timepicker.css}" />
	  <link rel="stylesheet" type="text/css" th:href="@{/lib/bootstrap-datetimepicker/datertimepicker.css}" />
	  <!-- Custom styles for this template -->
	  <link th:href="@{/css/style.css}" rel="stylesheet">
	  <link th:href="@{/css/style-responsive.css}" rel="stylesheet">
	</th:block>
	<th:block layout:fragment="customTitle">
				<title>부품 판매 공고 신청</title>
	</th:block>
	<th:block layout:fragment="Contents">
	
	<div id="container-header-title"><strong>공고신청</strong></div>
     	<div id="container-header-path">판매관리 > 공고신청</div>
      	<div id="container-header-space"></div>
      	
		<div class="row mt">
          <div class="col-lg-12">
            <div class="form-panel">
              <div class="form">
                <form class="cmxform form-horizontal style-form" id="plantSellForm" method="post" th:action="@{/sell/plantSell}" enctype="multipart/form-data">
	                  <div class="form-group">
	                    <label for="username" class="control-label col-lg-2">발전소  커밋</label>
	                    <div class="col-lg-10">
	                      <select class="form-control" id="plantSellSelect">
	                      	<option value="0">발전소를 선택해주세요.</option>
	                        <th:block th:if="${#lists.size(plantList)}>0" th:each="plantList : ${plantList}">
							 	<option th:value="${plantList.bzPlCode}" th:text="${plantList.bzPlName}"></option>
							  </th:block> 
								  <th:block th:unless="${#lists.size(plantList)}>0">
							 	<option>현재 판매 할 수 있는 발전소가 없습니다.</option>
							 </th:block> 
							</select>
	                    </div>
	                  </div>
	                  
	                  	<input type="text" name="mId" th:value="${session.SID}">
	                 	<input type="text"  name="plDepPrice" id="plDepPrice">
	                 	<input type="text"  name="plDepStartDate" id="plDepStartDate">
	                 	<input type="text"  name="bzPlCode" id="bzPlCode">
	                  <div class="form-group">
	                    <label for="bPlTitle" class="control-label col-lg-2">제목</label>
	                    <div class="col-lg-10">
	                      <input class=" form-control" id="bPlTitle" name="bPlTitle" type="text">
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label for="plDepDataResidual" class="control-label col-lg-2">잔존가치</label>
	                    <div class="col-lg-10">
	                      <input class=" form-control" id="plDepDataResidual" name="plDepDataResidual" type="text" readonly>
	                    </div>
	                  </div>
	                  <div class="form-group ">
	                    <label for="b_cp_price" class="control-label col-lg-2">입찰시작가</label>
	                    <div class="col-lg-10">
	                      <input class=" form-control" id="bPlPrice" name="bPlPrice" type="text">
	                    </div>
	                  </div>
	                 <div class="form-group">
	                 	<label for="files" class="control-label col-lg-2">공고신청서</label>
	                  	<div class="col-lg-10">
	                    	<input type="file" id="files" class="default" name="files" multiple="multiple">
	                  	</div>
	                </div>
	          <!--       <div class="form-group">
	                 	<label for="files" class="control-label col-lg-2">물건명세서</label>
	                  	<div class="col-lg-10">
	                    	<input type="file" id="files" class="default" name="files" multiple="multiple">
	                  	</div>
	                </div> -->
	                
	                
	                  <div class="form-group ">
	                    <label for="bPlContents" class="control-label col-lg-2">상세설명</label>
	                    <div class="col-lg-10">
	                      <textarea id = "bPlContents"class="form-control" name="bPlContents"></textarea>
	                    </div>
	                  </div>
	                 <div class="form-group">
	                  <label for ="bPlDateBidding1" class="control-label col-lg-2">공고시작일</label>
	                  <div class="col-lg-10">
	                    <input class="form-control form-control-inline input-medium default-date-picker" size="16" type="text" name="bPlDateBidding1" id="bPlDateBidding1">
	                  </div>
	                </div>                  
	                  <div class="form-group">
	                    <div class="col-lg-offset-2 col-lg-10">
	                      <button class="btn btn-theme" type="button" id="btnPlantSell">신청</button>
	                      
	                      <button class="btn btn-theme04" type="button" id="cancelBtnPlantSell">취소</button>
	                    </div>
	                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        
        
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(0).addClass('active');
		</script>
		
		<script type="text/javascript">
	 	
  			var bPlPrice = document.getElementById('bPlPrice');
  			var plDepDataResidual = document.getElementById('plDepDataResidual');
  			bPlPrice.onkeyup = function(){
			//정규표현식 숫자만 입력하게,
            this.value = this.value.replace(/[^0-9]/g,'');
            //1000단위 콤마
			this.value = this.value.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ',');
			}
  			
 		</script>
 		

		<script th:src="@{/lib/jquery-ui-1.9.2.custom.min.js}"></script>
	  	<script type="text/javascript" th:src="@{/lib/bootstrap-datepicker/js/bootstrap-datepicker.js}">
	  	 $('.default-date-picker').datepicker({ dateFormat: 'yy-mm-dd', minDate: 7 });
	  	</script>
	 	<script th:src="@{/lib/advanced-form-components.js}"></script>

	 	<script>
	 	//발전소 잔존 가치에 콤마 찍는 함수
	 	 function comma(str) {
       		 str = String(str);
       		 return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
  		  }
	 	//콤마 없애는 함수
	 	function rm_comma(num){
	 	   var number = num + "";
	 	   return number.replace(/,/g,"");
	 	}

	 	$('#plantSellSelect').change(function(){
	 		var plantCode = $('select option:selected').val();
	 		var plDepDataResidual;
	 		var plDepPrice;
	 		var plDepStartDate;
	 		
	 		$('#plDepDataResidual').val('');
			$('#plDepPrice').val('');
			$('#plDepStartDate').val('');
			$('#bzPlCode').val('');
	 		
	 		
	 		//ajax 시작
	 		$.ajax({
		        url     : '/ajax/plantInformation',
		        type    : 'POST',
		        data    : {plantCode : plantCode},
		       
		        success : function(data) {
		        	console.log(data);
		        	if(data){
						plDepDataResidual = data.residualValue;
						plDepPrice = data.plantDepreciationDTO.plDepPrice;
						plDepStartDate = data.plantDepreciationDTO.plDepStartDate;
						bzPlCode = data.plantDepreciationDTO.bzPlCode;
						//숫자에 콤마 찍는 함수 호출
						plDepDataResidual = comma(plDepDataResidual);
						
		        		console.log(plDepDataResidual);
						console.log(plDepPrice);
						console.log(plDepStartDate);
						console.log(bzPlCode);
						
						
						$('#plDepDataResidual').val(plDepDataResidual);
						$('#plDepPrice').val(plDepPrice);
						$('#plDepStartDate').val(plDepStartDate);
						$('#bzPlCode').val(bzPlCode);
		        	}else{
		        		
		        	}
		        },
		        error : function(xhr,status,error) {
		        	console.log("xhr: " + xhr);
		        	console.log("status: " + status);
		        	console.log("error: " + error);
		        }
		    });
		   //ajax 끝 
	 	 })
	 	 
	 	 
	 	 $('#btnPlantSell').click(function(){
	 	
	 		 
	 		 	//유효성검사
			 	if($('select option:selected').val()==0){
					alert('발전소를 선택해주세요.');
					return;
				}if($('#bPlTitle').val()==''){
					alert('공고 제목을 입력해주세요.')
					$('#bPlTitle').focus();
					return;
				}if($('#bPlPrice').val()==''){
					alert('희망 가격을 입력해주세요.')
					$('#bPlPrice').focus();
					return;
				}if($('#files').val()==''){
					alert('파일을 첨부해주세요.');
					return;
				}if($('#bPlContents').val().length==0){
					alert('상세정보를 입력해주세요.');
					return;
				}if($('#bPlDateBidding1').val()==''){
					alert('희망 공고 시작 날짜를 입력해주세요.');
					return;
				}
				
				
				$('#bPlPrice').val(rm_comma($('#bPlPrice').val()));
				$('#plDepDataResidual').val(rm_comma($('#plDepDataResidual').val()));
			
	
				$('#plantSellForm').submit();
				
	 	 })
	 	 
	 	 
	 	 $('#cancelBtnPlantSell').click(function(){
	 		 console.log('취소버튼');
	 		$("#plantSellSelect").val("0").prop("selected", true);
	 		$('#bPlTitle').val('');
	 		$('#bPlPrice').val('');
	 		$('#files').val('');
	 		$('#componentDetail').val('');
	 		$('#bPlDateBidding1').val('');
	 		$('#plDepDataResidual').val('');
	 		
	 	 })
	 	 
	 
	 	 
	 	</script>

		
	</th:block>
</body>

</html>
					
