<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
				<title>테스트</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>문의받은내역</strong></div>
		<div id="container-header-path">
			<a href="/" style="text-decoration: none;">매인화면</a>>
			<a href="#" style="text-decoration: none;">판매관리</a>>
			<a href="/sell/qna" style="text-decoration: none;">문의받은내역</a>
		</div>
		<div id="container-header-space"></div>
		 <div class="row mt">
          <div class="col-md-12">
            <div class="content-panel" style="padding: 30px;">
              <h4><i class="fa fa-angle-right"></i>문의내역</h4><hr>
               <div style="text-align : right; margin-bottom: 10px;">
	              <form th:action="@{/sell/qna}">
	            	<select name="searchKey">
	            		<option value="0">카테고리</option>
	            		<option value="bSubject">제목</option>
	            		<option value="mIdBuyer">작성자</option>
	            		<option value="bBidType">구분</option>
	            	</select>
	            	<input type="text" placeholder="검색어" name="searchValue">
	            	<input type="submit" value = "검색" class="btn btn-default btn-sm" id="searchBtn">
	               </form>
               </div>
              <table class="table table-striped table-advance table-hover">
                <thead>
                  <tr>
                    <th><i class="fa fa-bullhorn"></i>공고코드</th>
                    <th>구분</th>
                    <th><i class="fa fa-bookmark"></i>문의제목</th>
					<th class="hidden-phone"><i class="fa fa-question-circle"></i>문의자</th>
                    <th><i class=" fa fa-edit"></i>문의시간</th>
                    <th><i class=" fa fa-edit"></i>조회수</th>
                  </tr>
                </thead>
                <tbody>
                  <tr th:if="${qnaList!=null and qnaList.size()>0}" th:each="list:${qnaList}">
	                   <td th:text="${list.announcedCode}"></td>
	                   <td th:if="${list.bBidType == 1}">발전소</td>
	                   <td th:if="${list.bBidType == 2}">부품</td>
	                   <td style="text-align:left"><a th:href="@{/sell/qnaDetail(idx=${list.bIdx})}">[[${list.bSubject}]]</a></td>
	                   
	                   
	                   <td th:text="${list.mIdBuyer}"></td>
	                   <td th:text="${list.bRegDate}"></td>
	                   <td th:text="${list.bView}"></td>
	                   
                 </tr>
                 <tr th:unless="${qnaList!=null and qnaList.size()>0}">
	                	<td colspan="6">문의글이 없습니다.</td>
                 </tr>
                </tbody>
                <tfoot>
                	 <tr>
                  	<td colspan ="10" style="text-align:center;">
                  		<th:block layout:fragment="paging">
                  			<nav th:replace="fragments/boardSellerPagination :: pagination"></nav>
                  		</th:block>
                  	</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var sell = $('#sell');
			sell.addClass('active');
			sell.parent().find('.sub').css('display','block');
			sell.parent().find('.sub').children().eq(3).addClass('active');
		</script>
		
		<script>
				$('#searchBtn').click(function(){
					var selected = $('select option:selected');
					if(selected.val()==0){
						alert('카테고리를 선택해주세요.');
					}
					console.log(selected.val());
					
				})
				
				function movePage(uri, queryString) {
					location.href = uri + queryString;
				}
			
		
		</script>
	</th:block>
</html>