<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>발전소 인증 신청</title>
	</th:block>
	<th:block layout:fragment="Contents">
	<div id="container-header-title"><strong>발전소 인증 신청</strong></div>
	<div id="container-header-path">메인화면 > 내 발전소 관리 > 발전소 인증 신청</div>
	<div id="container-header-space"></div>
	<div class="container">
	
	</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript">
			var plant = $('#plant');
			plant.addClass('active');
			plant.parent().find('.sub').css('display','block');
			plant.parent().find('.sub').children().eq(2).addClass('active');
		</script>
	</th:block>
</html>