<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>발전소 정보 수정</title>
	</th:block>
	<th:block layout:fragment="Contents">
	<style>
		.badge{
			margin-left: 5px;
		}
	</style>
	<div id="container-header-title"><strong>발전소 정보 수정</strong></div>
	<div id="container-header-path">메인화면 > 내 발전소 관리 > 발전소 리스트 > 발전소 상세정보 > 발전소 정보 수정</div>
	<div id="container-header-space"></div>
	<div class="row mt col-xs-12" style="padding-bottom: 30px; margin:0 auto; color: #111; font-size: 17px; min-height: 80vh">
		<div class="content-panel">
			<div id="inputForm">
				<form id="solarEntrepreneurForm" method="post">
					<div class="form-group">
						<label for="bzPlName" style="margin-top: 13px;">발전소명 </label><span class="badge">!</span>
						<input type="text" class="form-control" id="bzPlName" placeholder="발전소명 입력하세요">
					</div>
					<div class="form-group" style="margin-top: 30px;">
						<label for="bzPlPhoto">발전소 사진</label>
						<input type="file" id="bzPlPhoto">
					</div>
					<div class="form-group">
						<label for="bzPlDetailAddr" style="margin-top: 25px;">발전소 주소 </label>
						<input type="text" class="form-control" id="bzPlDetailAddr" placeholder="발전소 주소 입력하세요">
						<p class="help-block" style="font-size: 10px;">사업장 주소와 다르면 입력해주세요.</p>
					</div>
					<label for="bzPlPower" style="margin-top: 25px;">발전소 용량 </label><span class="badge">!</span>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlPower" placeholder="발전소 용량을 입력하세요" aria-describedby="addon1">
	  					<span class="input-group-addon" id="addon1">kW</span>
					</div>
					<label for="bzPlArea" style="margin-top: 25px;">발전소 면적</label>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlArea" placeholder="발전소 면적 입력하세요" aria-describedby="addon2">
						<span class="input-group-addon" id="addon2">㎡</span>
					</div>
					<label for="bzPlInvPower" style="margin-top: 25px;">인버터 단위 용량</label><br>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlInvPower" placeholder="인버터 단위 용량 입력하세요" aria-describedby="addon3">
						<span class="input-group-addon" id="addon3">kW</span>
					</div>
					<label for="bzPlInvCount" style="margin-top: 25px;">인버터 총 수량</label><br>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlInvCount" placeholder="인버터 총 수량 입력하세요" aria-describedby="addon4">
						<span class="input-group-addon" id="addon4">EA</span>
					</div>
					<div class="form-group">
						<label for="bzPlInvMaker" style="margin-top: 25px;">인버터 제조사</label><br>
						<input type="text" class="form-control" id="bzPlInvMaker" placeholder="아이디를 입력하세요">
					</div>
					<label for="bzPlRec" style="margin-top: 15px;">REC 정액 계약 </label><span class="badge">!</span>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlRec" placeholder="REC 계약 금액을 입력하세요" aria-describedby="addon5">
						<span class="input-group-addon" id="addon5">원/REC</span>
					</div>
					<div class="form-group">
						<label for="bzPlHardware" style="margin-top: 25px;">발전소 모니터링 시스템 </label><span class="badge">!</span>
						<input type="text" class="form-control" id="bzPlHardware" placeholder="아이디를 입력하세요">
					</div>
					  
					<button class="btn btn-info btn-lg col-xs-12" type="button" id="solarEntrepreneurBtn" style="margin-top: 40px;">수정하기</button>
				</form>
			</div>
		</div>
	</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript">
			function recycleEntrepreneur(){
				var bzCompanyName = $('#bzCompanyName').val();
				var bzCeoName = $('#bzCeoName').val();
				var bzZipcode = $('#postcode').val();
				var bzAddr = $('#roadAddress').val();
				var bzDetailAddr = $('#detailAddress').val();
				var bzLicense = $('#bzLicense').val();
				
				//필수 입력 유효성 검사
				if(bzCompanyName == null || bzCompanyName == "" || bzCompanyName == 'undefined'){
					Swal.fire({
						  title: '사업자명 입력해주세요!',
						  icon: 'info'
						})
					bzCompanyName.focus();
					return;
				}else if(bzCeoName == null || bzCeoName == "" || bzCeoName == 'undefined'){
					Swal.fire({
						  title: '대표자명 입력해주세요!',
						  icon: 'info'
						})
					bzCeoName.focus();
					return;
				}else if(bzZipcode == null || bzZipcode == "" || bzZipcode == 'undefined'){
					Swal.fire({
						  title: '주소를 입력해주세요!',
						  icon: 'info'
						})
					bzDetailAddr.focus();
					return;
				}else if(bzDetailAddr == null || bzDetailAddr == "" || bzDetailAddr == 'undefined'){
					Swal.fire({
						  title: '상세주소를 입력해주세요!',
						  icon: 'info'
						})
					bzDetailAddr.focus();
					return;
				}
				
				
				$.ajax({
			        url     : '/ajax/recycleEntrepreneur',
			        type    : 'POST',
			        data    : {bzCompanyName:bzCompanyName, bzCeoName:bzCeoName, bzZipcode:bzZipcode, bzAddr:bzAddr, bzDetailAddr:bzDetailAddr, bzLicense:bzLicense},
			        success : function(data) {
			        	console.log(data);
			        	if(data){
			        		Swal.fire({
								  title: '신청이 완료되었습니다.!',
								  icon: 'success'
								});
			        		setTimeout(function(){
			        			document.location.href = '/';
			        		}, 1000);
			        	}else{
			        		Swal.fire({
								  title: '신청에 실패했습니다!',
								  text: '다시 시도해주세요.',
								  icon: 'error'
								});
			        		setTimeout(function(){
				        		document.location.href = '/';
			        		}, 1000);
			        	}
			        },
			        error : function(xhr,status,error) {
			        	console.log("xhr: " + xhr);
			        	console.log("status: " + status);
			        	console.log("error: " + error);
			        }
			    });
			}
		
			//우편번호 api
			function execDaumPostcode() {
			    new daum.Postcode({
			        oncomplete: function(data) {
			            // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

			            // 도로명 주소의 노출 규칙에 따라 주소를 표시한다.
			            // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
			            var roadAddr = data.roadAddress; // 도로명 주소 변수
			            var extraRoadAddr = ''; // 참고 항목 변수

			            // 법정동명이 있을 경우 추가한다. (법정리는 제외)
			            // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
			            if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
			                extraRoadAddr += data.bname;
			            }
			            // 건물명이 있고, 공동주택일 경우 추가한다.
			            if(data.buildingName !== '' && data.apartment === 'Y'){
			               extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
			            }
			            // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
			            if(extraRoadAddr !== ''){
			                extraRoadAddr = ' (' + extraRoadAddr + ')';
			            }

			            // 우편번호와 주소 정보를 해당 필드에 넣는다.
			            document.getElementById('postcode').value = data.zonecode;
			            document.getElementById("roadAddress").value = roadAddr;
			            document.getElementById("jibunAddress").value = data.jibunAddress;
			        }
			    }).open();
			}
			
		</script>
	</th:block>
</html>