<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>발전소 상세정보</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>발전소 리스트</strong></div>
		<div id="container-header-path">메인화면 > 내 발전소 관리 > 발전소 리스트 > 발전소 상세정보</div>
		<div id="container-header-space"></div>
		<div class="row mt col-xs-12" style="padding-bottom: 30px; margin:0 auto; color: #111; font-size: 15px; min-height: 80vh">
			<div class="content-panel">
				<div class="h2 col-md-4">발전소 이름
					<button type="button" id="plantModify" class="btn btn-info btn-xs">수정</button>
					<button type="button" id="plantDelete" class="btn btn-danger btn-xs">삭제</button>
				</div>
				<div class="h2 col-md-8">
					<input type="button" id="" class="btn btn-primary btn-md benefitAnalysis" value="수익 예상 분석" style="width: 29%; margin-bottom: 10px;">
					<!-- 발전량 분석은 하드웨어가 있는 것만 하드웨어 없는 것은 폼을 다시 만들어야함 -->
					<input type="button" id="" class="btn btn-primary btn-md generationAnalysis"  value="발전량 분석" style="width: 29%; margin-bottom: 10px; margin-left: 5%;">
					<input type="button" id="" class="btn btn-primary btn-md generationPredict"  value="예상 발전량" style="width: 29%; margin-bottom: 10px; margin-left: 5%;">
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="h4">발전소 지역</div>
					<p>전주시 </p>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="h4">발전소 용량</div>
					<p>ㅇㅁㄹ나ㅣㅓㅁㄴㅇㄹ</p>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="h4">발전소 지역</div>
					<p>ㅇㅁㄹ나ㅣㅓㅁㄴㅇㄹ</p>
				</div>
				<div class="col-lg-3 col-md-4 col-sm-6">
					<div class="h4">발전소 지역</div>
					<p>ㅇㅁㄹ나ㅣsdfsdfasdfasdfaefasdfawefdasefdfㅓㅁㄴㅇㄹ</p>
				</div>
				
				
	            <div id="map" style="width:100%;height:350px;"></div>
			</div>
		</div>
		
	</th:block>
	<th:block layout:fragment="customScript">
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d3788a7edce4414e28e5cab2a0ac6ca7&libraries=services"></script>
		<script>
		$('.benefitAnalysis').click(function(){
			document.location.href = '/plant/plantDetail/benefitAnalysis';
			
		});
		$('.generationAnalysis').click(function(){
			document.location.href = '/plant/plantDetail/generationAnalysis';
			
		});
		$('.generationPredict').click(function(){
			document.location.href = '/plant/plantDetail/generationPredict';
			
		});
		
		
		///////////////////////////////////////////		
		//////////////카카오 맵 api///////////////////
		///////////////////////////////////////////		
		// 마커를 클릭하면 장소명을 표출할 인포윈도우 입니다
		var infowindow = new kakao.maps.InfoWindow({zIndex:1});
		
		var mapContainer = document.getElementById('map'), // 지도를 표시할 div 
		    mapOption = {
		        center: new kakao.maps.LatLng(37.566826, 126.9786567), // 지도의 중심좌표
		        level: 3 // 지도의 확대 레벨
		    };  
		
		// 지도를 생성합니다    
		var map = new kakao.maps.Map(mapContainer, mapOption); 
		
		// 장소 검색 객체를 생성합니다
		var ps = new kakao.maps.services.Places(); 
		
		// 키워드로 장소를 검색합니다
		ps.keywordSearch('이태원 맛집', placesSearchCB); 
		
		// 키워드 검색 완료 시 호출되는 콜백함수 입니다
		function placesSearchCB (data, status, pagination) {
		    if (status === kakao.maps.services.Status.OK) {
		
		        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
		        // LatLngBounds 객체에 좌표를 추가합니다
		        var bounds = new kakao.maps.LatLngBounds();
		
		        for (var i=0; i<data.length; i++) {
		            displayMarker(data[i]);    
		            bounds.extend(new kakao.maps.LatLng(data[i].y, data[i].x));
		        }       
		
		        // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
		        map.setBounds(bounds);
		    } 
		}
		
		// 지도에 마커를 표시하는 함수입니다
		function displayMarker(place) {
		    
		    // 마커를 생성하고 지도에 표시합니다
		    var marker = new kakao.maps.Marker({
		        map: map,
		        position: new kakao.maps.LatLng(place.y, place.x) 
		    });
		
		    // 마커에 클릭이벤트를 등록합니다
		    kakao.maps.event.addListener(marker, 'click', function() {
		        // 마커를 클릭하면 장소명이 인포윈도우에 표출됩니다
		        infowindow.setContent('<div style="padding:5px;font-size:12px;">' + place.place_name + '</div>');
		        infowindow.open(map, marker);
		    });
		}
		</script>
	</th:block>
	
</html>