<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="layout/default">

	<th:block layout:fragment="customTitle">
		<title>발전소 정보 수정</title>
	</th:block>
	<th:block layout:fragment="Contents">
	<style>
		.badge{
			margin-left: 5px;
		}
	</style>
	<div id="container-header-title"><strong>발전소 정보 수정</strong></div>
	<div id="container-header-path">
			<a href="/" style="text-decoration: none;">메인화면 </a>>
			<a href="/plant/plantList" style="text-decoration: none;"> 내 발전소 관리 </a>>
			<a href="/plant/plantList" style="text-decoration: none;"> 발전소 리스트 </a>>
			<a href="/plant/plantDetail" style="text-decoration: none;"> 발전소 상세정보 </a>>
			<a href="/plant/plantModify" style="text-decoration: none;"> 발전소 정보 수정 </a>
	</div>
	<div id="container-header-space"></div>
	<div class="row mt col-xs-12" style="padding-bottom: 30px; margin:0 auto; color: #111; font-size: 17px; min-height: 80vh">
		<div class="content-panel">
			<div id="inputForm">
				<form id="solarEntrepreneurForm" method="post">
					<div class="form-group">
						<label for="bzPlName" style="margin-top: 13px;">발전소명 </label><span class="badge">!</span>
						<input type="text" class="form-control" id="bzPlName" placeholder="발전소명 입력하세요" th:value="${bp.bzPlName}">
					</div>
					<div class="form-group" style="margin-top: 30px;">
						<label for="bzPlPhoto">발전소 사진</label>
						<input type="file" id="bzPlPhoto">
					</div>
					<div class="form-group">
						<label for="bzPlDetailAddr" style="margin-top: 25px;">발전소 주소 </label>
						<input type="text" class="form-control" id="bzPlDetailAddr" placeholder="발전소 주소 입력하세요" th:value="${bp.bzPlDetailAddr}">
						<p class="help-block" style="font-size: 10px;">사업장 주소와 다르면 입력해주세요.</p>
					</div>
					<label for="bzPlPower" style="margin-top: 25px;">발전소 용량 </label><span class="badge">!</span>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlPower" placeholder="발전소 용량을 입력하세요" aria-describedby="addon1" th:value="${bp.bzPlPower}">
	  					<span class="input-group-addon" id="addon1">kW</span>
					</div>
					<label for="bzPlArea" style="margin-top: 25px;">발전소 면적</label>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlArea" placeholder="발전소 면적 입력하세요" aria-describedby="addon2" th:value="${bp.bzPlArea}">
						<span class="input-group-addon" id="addon2">㎡</span>
					</div>
					<label for="bzPlInvPower" style="margin-top: 25px;">인버터 단위 용량</label><br>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlInvPower" placeholder="인버터 단위 용량 입력하세요" aria-describedby="addon3" th:value="${bp.bzPlInvPower}">
						<span class="input-group-addon" id="addon3">kW</span>
					</div>
					<label for="bzPlInvCount" style="margin-top: 25px;">인버터 총 수량</label><br>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlInvCount" placeholder="인버터 총 수량 입력하세요" aria-describedby="addon4" th:value="${bp.bzPlInvCount}">
						<span class="input-group-addon" id="addon4">EA</span>
					</div>
					<div class="form-group">
						<label for="bzPlInvMaker" style="margin-top: 25px;">인버터 제조사</label><br>
						<input type="text" class="form-control" id="bzPlInvMaker" placeholder="인버터 제조사를 입력하세요" th:value="${bp.bzPlInvMaker}">
					</div>
					<label for="bzPlRec" style="margin-top: 15px;">REC 정액 계약 </label><span class="badge">!</span>
					<div class="input-group">
						<input type="number" class="form-control" id="bzPlRec" placeholder="REC 계약 금액을 입력하세요" aria-describedby="addon5" th:value="${bp.bzPlRec}">
						<span class="input-group-addon" id="addon5">원/REC</span>
					</div>
					<button class="standardBtn btn btn-lg col-xs-12" type="button" id="solarEntrepreneurBtn" th:data-bzPlCode="${plCode}" onclick="solarEntrepreneurBtn()" style="margin-top: 40px;">수정하기</button>
				</form>
			</div>
		</div>
	</div>
	</th:block>
	<th:block layout:fragment="customScript">
		<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript">
			$('#solarEntrepreneurBtn').click(function(){
				var bzPlName = $('#bzPlName').val();
				var bzPlPhoto = $('#bzPlPhoto').val();
				var bzPlDetailAddr = $('#bzPlDetailAddr').val();
				var bzPlArea = $('#bzPlArea').val();
				var bzPlPower = $('#bzPlPower').val();
				var bzPlInvPower = $('#bzPlInvPower').val();
				var bzPlInvCount = $('#bzPlInvCount').val();
				var bzPlInvMaker = $('#bzPlInvMaker').val();
				var bzPlRec = $('#bzPlRec').val();
				var bzPlCode = $('#solarEntrepreneurBtn').val();
				
				$.ajax({
			        url     : '/ajax/plantModify',
			        type    : 'POST',
			        data    : {bzPlCode:bzPlCode, bzPlName : bzPlName,bzPlPhoto:bzPlPhoto, bzPlDetailAddr : bzPlDetailAddr, bzPlArea : bzPlArea, bzPlPower : bzPlPower, bzPlInvPower:bzPlInvPower, bzPlInvCount:bzPlInvCount, bzPlInvMaker:bzPlInvMaker, bzPlRec:bzPlRec},
			        success : function(data) {
			        	console.log(data);
			        	if(data){
			        		Swal.fire({
								  title: '수정이 완료되었습니다.!',
								  icon: 'success'
								});
			        		setTimeout(function(){
			        			document.location.href = '/plant/plantList';
			        		}, 1000);
			        	}else{
			        		Swal.fire({
								  title: '수정이 실패했습니다!',
								  text: '다시 시도해주세요.',
								  icon: 'error'
								});
			        		setTimeout(function(){
				        		document.location.href = '/plant/plantList';
			        		}, 1000);
			        	}
			        },
			        error : function(xhr,status,error) {
			        	console.log("xhr: " + xhr);
			        	console.log("status: " + status);
			        	console.log("error: " + error);
			        }
			    });
			});
		</script>
	</th:block>
</html>