<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="@{layout/default}">

	<th:block layout:fragment="customTitle">
		<title>발전소 상세정보</title>
	</th:block>
	<th:block layout:fragment="Contents">
		<div id="container-header-title"><strong>발전소 상세정보</strong></div>
		<div id="container-header-path">
			<a href="/" style="text-decoration: none;">메인화면 </a>>
			<a href="/plant/plantList" style="text-decoration: none;"> 내 발전소 관리 </a>>
			<a href="/plant/plantList" style="text-decoration: none;"> 발전소 리스트 </a>>
			<a href="/plant/plantDetail" style="text-decoration: none;"> 발전소 상세정보 </a>
		</div>
		<div id="container-header-space"></div>
		<div class="row mt col-xs-12" style="padding-bottom: 30px; margin:0 auto; color: #111; font-size: 15px; min-height: 80vh">
			<div class="content-panel col-xs-12">
				<div th:if="${#lists.size(plantListByCode) > 0}" th:each="l : ${plantListByCode}" style="margin:20px 5% 20px 5%; width:90%;">
					<div>
						<div class="h1 col-md-6">
							<span style="font-weight:900; margin-right: 10px;">[[${l.bzPlName}]]</span>
							<button type="button" id="plantModify" th:data-plName="${l.bzPlName}" th:data-plCode="${l.bzPlCode}" class="btn btn-info btn-xs">수정</button>
							<button type="button" id="plantDelete" th:data-plName="${l.bzPlName}" th:data-plCode="${l.bzPlCode}" class="btn btn-danger btn-xs">삭제</button>
						</div>
						<div class="h2 col-md-6 col-xs-12" style="margin: 20px 0 15px 0; padding: 0;">
							<div class="col-xs-6">
								<input type="button" id="" class="standardBtn btn btn-md benefitAnalysis" value="수익 분석" style="width: 90%;">
							</div>
							<div class="col-xs-6">
								<input type="button" id="" class="standardBtn btn btn-md generationAnalysis" value="발전량 분석" style="width: 90%;">
							</div>
						</div>
					</div><br>
					<div class="col-xs-12"></div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">금일 발전량</div>
						<p class="h3">[[${dayGen}]] <small>[kWh]</small></p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">금일 예상 수익</div>
						<p class="h3">[[${datBenefit}]] <small>[원]</small></p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">금일 REC</div>
						<p class="h3">[[${rec}]] <small>[원/REC]</small></p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">금일 SMP</div>
						<p class="h3">[[${smp}]] <small>[원/kWh]</small></p>
					</div>
					
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">금월 발전량</div>
						<p class="h3">[[${monthGen}]] <small>[kWh]</small></p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">금월 예상 수익</div>
						<p class="h3">[[${monthBenefit}]] <small>[원]</small></p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">발전소 초기금액</div>
						<p class="h3">[[${depPrice}]] <small>[원]</small></p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">발전소 매입금액</div>
						<p class="h3">[[${basedPrice}]] <small>[원]</small></p>
					</div>
					
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">발전소 용량</div>
						<p class="h3">[[${power}]] <small>[kW]</small></p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">발전소 부지면적</div>
						<p class="h3">[[${area}]] <small>[㎡]</small></p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">발전 시작일</div>
						<p class="h3">[[${plantDepreciation.plDepStartDate}]]</p>
					</div>
					<div class="col-lg-3 col-md-4 col-sm-6" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">발전소 매입일</div>
						<p class="h3">[[${plantDepreciation.plDepBuyDate}]]</p>
					</div>
					
					
		            <div class="col-lg-12" style="margin: 40px 0 0 0;">
						<div class="h3" style="font-weight: 600;">발전소 주소</div>
						<p id="plAddr" th:data-plAddr="${l.bzPlAddr}">([[${l.bzPlZipcode}]]) [[${l.bzPlAddr}]] [[${l.bzPlDetailAddr}]]</p>
		            </div>
		            <div id="map" style="width:100%;height:350px; padding: 0 15"></div>
		        </div>
			</div>
		</div>
		<form id="plCodeForm" method="post" hidden="" action="/plant/plantModify">
			<input id="plCode" name="plCode" value="">
		</form>
	</th:block>
	<th:block layout:fragment="customScript">
		<script src="/js/plant.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d3788a7edce4414e28e5cab2a0ac6ca7&libraries=services"></script>
		<script>
		kakaoMap();
		$('#plantDelete').click(function(){
			var plName = $(this).attr('data-plName');
			var plCode = $(this).attr('data-plCode');
			console.log(plName);
			console.log(plCode);
			Swal.fire({
				  title: plName +' 정보를 삭제 하시겠습니까?',
				  showDenyButton: true,
				  confirmButtonText: `Yes`,
				  denyButtonText: `No`,
				  customClass: {
				    cancelButton: 'order-1 right-gap',
				    confirmButton: 'order-2',
				    denyButton: 'order-3',
				  }
				}).then((result) => {
				  if (result.isConfirmed) {
					  Swal.fire({
						  title: '정말 삭제 하시겠습니까?',
						  showDenyButton: true,
						  confirmButtonText: `Yes`,
						  denyButtonText: `No`,
						  customClass: {
						    cancelButton: 'order-1 right-gap',
						    confirmButton: 'order-2',
						    denyButton: 'order-3',
						  }
						}).then((result) => {
						  if (result.isConfirmed) {
							//plCode 발전소 코드로 삭제 처리 (ajax로 처리)
							$.ajax({
						        url     : '/ajax/plantDelete',
						        type    : 'POST',
						        data    : {plCode : plCode},
						        success : function(data) {
						        	console.log(data);
						        	if(data == 1){
						        		Swal.fire({
											  title: '삭제처리가 완료되었습니다.!',
											  icon: 'success'
											});
						        		setTimeout(function(){
						        			document.location.href = '/plant/plantList';
						        		}, 2000);
						        	}else{
						        		Swal.fire({
											  title: '삭제처리가 실패했습니다!',
											  text: '다시 시도해주세요.',
											  icon: 'error'
											});
						        		setTimeout(function(){
							        		document.location.href = '/plant/plantList';
						        		}, 2000);
						        	}
						        },
						        error : function(xhr,status,error) {
						        	console.log("xhr: " + xhr);
						        	console.log("status: " + status);
						        	console.log("error: " + error);
						        }
						    });
						  } else if (result.isDenied) {
						    Swal.fire('취소되었습니다.', '', 'info')
						  }
						})
				  } else if (result.isDenied) {
				    Swal.fire('취소되었습니다.', '', 'info')
				  }
				})
		});
		$('#plantModify').click(function(){
			var plName = $(this).attr('data-plName');
			var plCode = $(this).attr('data-plCode');
			console.log(plName);
			console.log(plCode);
			Swal.fire({
				  title: plName +' 정보를 수정 하시겠습니까?',
				  showDenyButton: true,
				  confirmButtonText: `Yes`,
				  denyButtonText: `No`,
				  customClass: {
				    cancelButton: 'order-1 right-gap',
				    confirmButton: 'order-2',
				    denyButton: 'order-3',
				  }
				}).then((result) => {
				  if (result.isConfirmed) {
				    Swal.fire('수정화면으로 이동합니다.', '', 'info');
					$('#plCode').val(plCode);
					setTimeout(() => {
						$('#plCodeForm').submit();
					},2000);
				  } else if (result.isDenied) {
				    Swal.fire('취소되었습니다.', '', 'info');
				  }
				});
		});
		
		
		</script>
	</th:block>
	
</html>