<!DOCTYPE html>
<html xmlns:th="http://www.tyhmeleaf.org">
	 <!--sidebar start-->
<div th:fragment="leftmenuFragment">
    <aside>
      <div id="sidebar" class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
          <p class="centered"><a href="profile.html"><img src="img/ui-sam.jpg" class="img-circle" width="80"></a></p>
          <h5 class="centered">Sam Soffes</h5>
          <li class="mt">
            <a class="active" th:href="@{#}">
              <i class="fa fa-bar-chart-o"></i>
              <span>#프로젝트 소개</span>
             </a>
          </li>
          
         <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>#내 발전소 관리(판매자)-강석인</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/plant/plantList}">#발전소리스트</a></li>
              <li><a th:href="@{/plant/componentList}">#부품리스트</a></li>
            </ul>
          </li>
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-desktop"></i>
              <span>#MY PAGE - 이상룡</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/mypage/myInfo}">#내 정보 관리/계좌</a></li>             
              <li><a th:href="@{/mypage/business}">#사업자 인증 신청</a></li>             
              <li><a th:href="@{/mypage/wishlist}">#관심목록</a></li>
              <li><a th:href="@{/mypage/withdraw}">#탈퇴 신청</a></li>
            </ul>
          </li>
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>#회원관리(관리자) - 김지숙</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/member/memberList}">#회원리스트조회</a></li>
              <li><a th:href="@{/member/memberLogin}">#회원로그인기록조회</a></li>
              <li><a th:href="@{/member/memberWithdrawList}">#탈퇴신청회원조회</a></li>
              <li><a th:href="@{/member/businessList}">#사업자인증신청목록</a></li>       
              <li><a th:href="@{/member/plantList}">#발전소인증신청목록</a></li>       
            </ul>
          </li>
          
           <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>#수익관리(관리자) - 김지숙</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/profit/cancel}">#취소수수료관리</a></li>
              <li><a th:href="@{/profit/commission}">#대금수수료관리</a></li>
              <li><a th:href="@{/profit/balance}">#입출금내역</a></li>
              <li><a th:href="@{/profit/calculate}">#월말정산</a></li>
              <li><a th:href="@{/profit/depositList}">#예치금출금신청목록</a></li>
              <li><a th:href="@{/profit/commissionList}">#대금출금신청목록</a></li>
            </ul>
          </li>
          
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>#정책관리(관리자) - 천인정</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/policy/memberLevel}">#회원권한정책</a></li>       
              <li><a th:href="@{/policy/deposit}">#예치금정책</a></li>
              <li><a th:href="@{/policy/commission}">#수수료율정책</a></li>            
              <li><a th:href="@{/policy/period}">#거래기간정책</a></li>            
              <li><a th:href="@{/policy/type}">#거래물품정보</a></li>            
              <li><a th:href="@{/policy/document}">#필요서류등록</a></li>            
            </ul>
          </li>
          
           <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>#판매관리(판매자) - 천인정</span>
              </a>
            <ul class="sub">
            
              <li><a th:href="@{/sell/apply}">#공고신청</a></li>       
              <li><a th:href="@{/sell/myHistory}">#내공고목록</a></li> <!--진행중 공고 + 종료된 목록까지  -->       
              <li><a th:href="@{/sell/mySell}">#거래진행중인공고</a></li>       
              <li><a th:href="@{/sell/applyPayment}">#거래대금출금신청</a></li>
              <li><a th:href="@{/sell/paymentList}">#거래대금출금내역</a></li>
              <li><a th:href="@{/sell/qna}">#문의받은내역</a></li>
            </ul>
          </li>
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>#구매관리(구매자) - 심재학</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/buy/myHistory}">#내입찰목록</a></li>       
              <li><a th:href="@{/buy/applyRefund}">#예치금환불가능한목록</a></li>
              <li><a th:href="@{/buy/depositList}">#예치금환불내역</a></li>
              <li><a th:href="@{/buy/qna}">#문의한내역</a></li>
            </ul>
          </li>
          
           <li class="sub-menu">
              <a href="javascript:;">
	              <i class="fa fa-dashboard"></i>
	              <span>#공고리스트 - 심재학</span>
              </a>
			  <ul class="sub">
              	<li><a th:href="@{/notice/list}">#진행중공고리스트</a></li>       
             	<li><a th:href="@{/notice/history}">#종료된공고리스트</a></li>
            </ul>
          </li>
          
          <li class="sub-menu">
            <a href="javascript:;">
              <i class="fa fa-dashboard"></i>
              <span>#고객센터 - 이상룡</span>
              </a>
            <ul class="sub">
              <li><a th:href="@{/help/notice}">#공지사항</a></li>       
              <li><a th:href="@{/help/qna}">#문의s하기</a></li>
            </ul>
          </li>
        <!-- sidebar menu end-->
      </div>
    </aside>
 </div>   
</html>